[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "==1.0.1"
nose = "*"

[packages]
Jinja2 = "==2.7.2"
iml-common = {editable = true, path = "./../iml-common"}
lockfile = "==0.9.1"
netaddr = "*"
pkginfo = "*"
requests = "==2.6.0"
scapy = "*"
toolz = "*"

[requires]
python_version = "2.7"
