/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}


/* General Typography
 ---------------------------------------------------------------------*/
/*html, body
{
	font-size: 12px;
	line-height: 21px;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background:#f3f3f3;
	background-image:url(../images/linebig.png);
	background-repeat:repeat-x;
}*/

html, body
{
	font-size: 12px;
	line-height: 21px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	/*background-image:url(../images/linebig.png);
	background-repeat:repeat-x;*/
	background-color:#eeeeee;
	
}


h1
{
	font-weight: bold;
	color: #007ac3;
	font-size: 2em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

h2
{
	color: #1371aa;
	font-weight: bold;
	font-size: 1.6666em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

h3
{
	color: #1371aa;
	font-size: 1.41667em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .75em 0;
}

h4
{
	color: #000;
	font-size: 1.1667em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

h5
{
	color: #000;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

h6
{
	color: #000;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
	line-height: 1.75em;
}

p
{
	font-size: 1em;
	line-height: 1.75em;
	margin: .25em 0 1.5em;
}


blockquote
{
	margin: .416em 0 .416em 1.1667em;
}

a
{
	color: #0e82c7;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}

a:hover
{
	text-decoration: underline;
}

ul, ol
{
	margin: .833em 0;
	padding-left: 2em;
}
ul
{
	list-style-type: disc;
}
ol
{
	list-style-type: decimal;
}
ul li, ol li
{
	line-height: 1.5em;
}

dt
{
	margin: .416em 0 0 0;
}

dd
{
	margin: .416em 0 .416em 1.1667em;
}

pre, code, tt
{
	font-family: "Andale Mono" , "Lucida Console" , "Courier New" , Courier, monospace;
	margin: .833em 0;
}
sub
{
	vertical-align: sub;
	font-size: smaller;
	line-height:inherit;
}

sup
{
	vertical-align: super;
	font-size: smaller;
	line-height:inherit;
}

/* Page Specific
 ---------------------------------------------------------------------*/

#container 
{
text-align:left;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
	}
	
#container1 
{
text-align:left;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
	}
#container2 
{
text-align:left;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
	}
#container3
{
text-align:left;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
	}

.round-table
{
text-align:left;
height:100%;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
width: 250px;
height: 202px;
margin: 0 auto;
padding-left:20px;
padding-right:20px;
padding-top:1px;
background-color:#e9e9ef;
/*background-image:url(../images/line.jpg);
background-repeat:repeat-x;*/

}
	
.breadCrumbHolder
{
	/*margin:0 0 20px 0;
	margin:0 0 2px 0;*/
	
}
pre
{
	background:#ddd;
	border:solid 1px #fff;
	padding:10px;
	color:#111;
}
.description
{
	float:left;
	width:700px;
	margin-right:20px;
}
.sideBar
{
	float:left;
	background:#fff;
	border:solid 1px #dedede;
	padding:20px;
	width:238px;
	margin:50px 0 0 0;
}
.license p
{
	font-size:0.83333em;
	color:#888;
}

.leftPanelTD{
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #333333;
}

.fontStyle {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; /*font-weight: bold;*/ }
.open-close {
cursor:pointer;
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
.open-close:hover {
text-decoration:underline;
cursor:pointer;
}
.alertsDiv
  {
  width:800px;
  /*height:180px;
  margin:30px 50px;*/
  background-color:#ffffff;
  /*border:1px solid black;*/
  opacity:1.0;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  position: absolute;
  z-index: 10;
  }
/*.maincontainer{
	min-width:1270px;
}*/
.line1{
	background-image:url(../images/line1.jpg);
	background-repeat:repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.closebutton{
	
	vertical-align:middle;
	margin-top:-3px;
	padding-left:6px;
	padding-right:6px;
}
.border{
	border-bottom:1px solid #5e8bc0;
}
.border1{
	border:1px solid #5e8bc0;
}
.spacetop{
	margin-top:3px;
}
.brightyellow{
	background-color:#ffbf00;
}
.darkblue{
	background-color:#19ade4;
}
.paleblue{
	background-color:#b8e9ff;
}
.palered{
	background-color:#cc5555;
}
.bg{
	background-image: url(../images/line.jpg);
	background-repeat:repeat-y;
	background-color:#eeeeee;
	/*position:absolute;*/
	margin:auto;
	min-height:836px;
	
	
}
.wrapper{
	margin:auto;
	width:100%;
}
.logohead{
	width:100%;
	height:35px;
	background-color:#009bff;
	
}
.logo{
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	width:80px;
	height:32px;
	float:left;
	margin-left:10px;
	margin-bottom:3px;
	margin-right:50px;
}
.buttonspacer{
	margin-top:5px;
	margin-bottom:5px;
}
.fntsize{
	font-size:14px;
}
.magni{
	float:right;
	height:16px;
	/*margin-right:12px;*/
	margin-left:185px;
	margin-top:1px;
	width:100px;
	padding-bottom:5px;
	position:absolute;
	
	
}
.timeint{
	float:right;
	color:#FFFFFF;
	background-color:#bbbbbb;
	height:31px;
	position:relative;
	/*margin-top:-31px;*/
	padding-left:10px;
}
.magbutton{
	background-image: url(../images/mglass.png); 
	background-repeat:no-repeat; 
	background-position:right center; 
	background-color: #eeeeee; 
	color:#000000; 
	width:80px; 
	text-align:left; 
	padding-bottom:-18px;
}
.blueheader{
	background-image:url(../static/images/line1.jpg); 
	background-repeat:repeat-x;
	height:29px;
}


.leftpanel{
	float:left;
	width:23px;
	height:100%;
	background-color:#cccccc
}
.rightpanel{
	float:right;
	width:98%;
}
a.btnsignin, a.btnsignout {
	
	/*padding:5px 8px;*/
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
a.btnsignin:hover, a.btnsignout:hover {
	
}
a.btnsigninon {
	/*background:#ccc!important;*/
	color:#666!important;
	outline:none;
}
#frmsignin {
	display:none;
	position:absolute;
	top: 73px;
	width:355px;
	padding:2px;
	*margin-top: 5px;
	font-size:11px;
	-moz-border-radius:5px;
	-moz-border-radius-topleft:0;
	-webkit-border-radius:5px;
	-webkit-border-top-left-radius:0;
	border-radius:5px;
	border-top-left-radius:0;
	z-index:100;
	
}
#frmsignin input[type=text], #frmsignin input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #666;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#frmsignin p {
	margin:0;
}
#frmsignin label {
	font-weight:normal;
}
#submitbtn {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	
	border:1px solid #fff;
	color:#fff;
	padding:5px 8px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#submitbtn:hover, #submitbtn:focus {
	border:1px solid #000;
	cursor:pointer;
}
.submit {
	padding-top:5px;
}
#msg {
	color:#F00;
}
#msg img {
	margin-bottom:-3px;
}
#msg p {
	margin:5px 0;
}
#msg p:last-child {
	margin-bottom:0px;
}
.top_links{
	color:#fff;
	padding-left:20px;
	padding-top:5px;
}
.top_links a{
	color:#fff;
	text-decoration:none;padding:4px;
	font-weight:bold;
}
.top_links a:hover{
	color:#fff;
	text-decoration:none;
	/*background-color:#5ed6ff;*/
	background-color:#054358;
	padding:4px;
}
.top_links a.active{
	color:#fff;
	text-decoration:none;
	background-color:#054358;
	padding:4px;
}
tr.odd {
	/*background-color: #E2E4FF;*/
	background-color: #f0f0f0;
	text-align:center;

	
}

tr.even {
	background-color: white;
	text-align:center;
	
}
td.bor{
	border-bottom:1px solid #c3c0c0;
	font-weight:bold
}
td.borleft{
	border-left:1px solid #c3c0c0;
}
td.borright{
	border-right:1px solid #c3c0c0;
}
td.bortop{
	border-top:1px solid #c3c0c0;
}