/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}


html, body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#eeeeee;
	
}


h1
{
	font-weight: bold;
	color: #007ac3;
	font-size: 2em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

h2
{
	color: #1371aa;
	font-weight: bold;
	font-size: 1.6666em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

h3
{
	color: #1371aa;
	font-size: 1.41667em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .75em 0;
}

h4
{
	color: #000;
	font-size: 1.1667em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

h5
{
	color: #000;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

h6
{
	color: #000;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
}

p
{
	margin: .25em 0 1.5em;
}


blockquote
{
	margin: .416em 0 .416em 1.1667em;
}

a
{
	color: #4c4c4c;
	text-decoration: underline;
	font-size: inherit;
	font-weight: inherit;
}

a:hover
{
	text-decoration: none;
	color: #000000;
}

ul, ol
{
	margin: .833em 0;
	padding-left: 2em;
}
ul
{
	list-style-type: disc;
}
ol
{
	list-style-type: decimal;
}
ul li, ol li
{
}

dt
{
	margin: .416em 0 0 0;
}

dd
{
	margin: .416em 0 .416em 1.1667em;
}

pre, code, tt
{
	font-family: "Andale Mono" , "Lucida Console" , "Courier New" , Courier, monospace;
	margin: .833em 0;
}
sub
{
	vertical-align: sub;
	font-size: smaller;
	line-height:inherit;
}

sup
{
	vertical-align: super;
	font-size: smaller;
	line-height:inherit;
}
img{
	border:none;
}

/* Page Specific
 ---------------------------------------------------------------------*/

#container 
{
text-align:left;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
	}
	
#container1 
{
text-align:left;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
	}
#container2 
{
text-align:left;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
	}
#container3
{
text-align:left;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
	}

.round-table
{
text-align:left;
height:100%;
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #848484;
width: 250px;
height: 202px;
margin: 0 auto;
padding-left:20px;
padding-right:20px;
padding-top:1px;
background-color:#f9f9ff;
/*background-image:url(../images/loading.gif) center no-repeat;*/
background-image:url(../images/wait_progress.gif);
background-repeat: no-repeat;
background-position:center 40% ;
}
	
.breadCrumbHolder
{
	/*margin:0 0 20px 0;
	margin:0 0 2px 0;*/
	
}
pre
{
	background:#ddd;
	border:solid 1px #fff;
	padding:10px;
	color:#111;
}
.description
{
	float:left;
	width:700px;
	margin-right:20px;
}
.sideBar
{
	float:left;
	background:#fff;
	border:solid 1px #dedede;
	padding:20px;
	width:238px;
	margin:50px 0 0 0;
}
.license p
{
	font-size:0.83333em;
	color:#888;
}

.leftPanelTD{
border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em; 
border:1px solid #333333;
}

.fontStyle {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; /*font-weight: bold;*/ }
.open-close {
cursor:pointer;
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
.open-close:hover {
text-decoration:underline;
cursor:pointer;
}
.alertsDiv
  {
  width:800px;
  /*height:180px;
  margin:30px 50px;*/
  background-color:#ffffff;
  /*border:1px solid black;*/
  opacity:1.0;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  position: absolute;
  z-index: 10;
  }
/*.maincontainer{
	min-width:1270px;
}*/
.closebutton{
	
	vertical-align:middle;
	margin-top:-3px;
	padding-left:6px;
	padding-right:6px;
}
.border{
	border-bottom:1px solid #5e8bc0;
    font-size:10px;
}
.border1{
	border:1px solid #5e8bc0;
    font-size:10px;
}
.border_red{
     border-bottom:1px solid red;
     font-size:10px;
}
.spacetop{
	margin-top:3px;
}
.brightyellow{
	background-color:#ffbf00;
}
.darkblue{
	background-color:#19ade4;
}
.paleblue{
	background-color:#b8e9ff;
}
.palered{
	background-color:#cc5555;
}

.bg{
	margin:auto;
	min-height:600px;
}

.wrapper{
	margin:auto;
	width:100%;
}
.logohead{
	width:100%;
	height:35px;
	background-color: black;
	
}
.logo{
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	width:80px;
	height:31px;
	float:left;
	margin-left:5px;
	margin-bottom:3px;
	margin-right:50px;
}
.buttonspacer{
	margin-top:5px;
	margin-bottom:5px;
}
.fntsize{
	font-size:14px;
}
.magni{
	float:right;
	height:16px;
	/*margin-right:12px;*/
	margin-left:235px;
	margin-top:1px;
	width:100px;
	padding-bottom:5px;
	position:absolute;
	
	
}
.timeint{
	float:right;
	color:#FFFFFF;
	background-color:#bbbbbb;
	height:31px;
	position:relative;
	/*margin-top:-31px;*/
	padding-left:10px;
	border:1px solid #848484;
    font-size: 12px;
}
.magbutton{
	background-image: url(../images/mglass.png); 
	background-repeat:no-repeat; 
	background-position:right center; 
	background-color: #eeeeee; 
	color:#000000; 
	width:16px; 
	text-align:left; 
	padding-bottom:-18px;
}


.leftpanel{
	float:left;
	width:23px;
	height:600px;
    border-right: 1px solid #d6d6d6;
    font-size:10px;
    /*background-color: #e6e6e6;*/
    background-color: black;
    background-image: url(../images/ui-bg_glass_75_e6e6e6_400x1.png);
    background-repeat: repeat-y;
    background-position: 0% 50%;
}

.notification_icon {
    margin-left: 4px;
    margin-top: 4px;
    display: none;
}

.rightpanel{
	float:right;
	width:98%;
}
a.btnsignin, a.btnsignout {
	
	/*padding:5px 8px;*/
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
a.btnsignin:hover, a.btnsignout:hover {
	
}
a.btnsigninon {
	/*background:#ccc!important;*/
	color:#666!important;
	outline:none;
}
#frmsignin {
	display:none;
	position:absolute;
	top: 73px;
	width:355px;
	padding:2px;
	*margin-top: 5px;
	font-size:11px;
	-moz-border-radius:5px;
	-moz-border-radius-topleft:0;
	-webkit-border-radius:5px;
	-webkit-border-top-left-radius:0;
	border-radius:5px;
	border-top-left-radius:0;
	z-index:100;
	
}
#frmsignin input[type=text], #frmsignin input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #666;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#frmsignin p {
	margin:0;
}
#frmsignin label {
	font-weight:normal;
}
#submitbtn {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	
	border:1px solid #fff;
	color:#fff;
	padding:5px 8px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#submitbtn:hover, #submitbtn:focus {
	border:1px solid #000;
	cursor:pointer;
}
.submit {
	padding-top:5px;
}
#msg {
	color:#F00;
}
#msg img {
	margin-bottom:-3px;
}
#msg p {
	margin:5px 0;
}
#msg p:last-child {
	margin-bottom:0px;
}
.top_links{
    font-size: 12pt;
	color:#fff;
	padding-left:20px;
	padding-top:7px;
    font-size: 12px;
}
.top_links a{
	color:#ccc;
	text-decoration:none;padding:4px;
	font-weight:bold;
}
.top_links a:hover{
	color:#fff;
	text-decoration:none;
	/*background-color:#5ed6ff;*/
	background-color:#054358;
	padding:4px;
}
.top_links a.active{
	color:#fff;
	text-decoration:none;
	background-color:#054358;
	padding:4px;
    border-radius: 4px;
}
tr.odd {
	/*background-color: #E2E4FF;*/
	background-color: #f0f0f0;
	text-align:center;

	
}

tr.even {
	background-color: white;
	text-align:center;
	
}
td.bor{
	border-bottom:1px solid #c3c0c0;
	font-weight:bold
}
td.borleft{
	border-left:1px solid #c3c0c0;
}
td.borright{
	border-right:1px solid #c3c0c0;
}
td.bortop{
	border-top:1px solid #c3c0c0;
}
td.bt{
	border-top:1px solid #848484;
	font-size:12px;
}
td.bb{
	border-bottom:1px solid #848484;
	font-size:12px;
}
td.bl{
	border-left:1px solid #848484;
	font-size:12px;
}
td.br{
	border-right:1px solid #848484;
	font-size:12px;
}
.spaceright{
	padding-right:4px;
}
.spaceleft{
	padding-left:4px;
}
.scroll_display{
	margin-left:5px; 
	height:400px; 
	overflow:auto;
}
.noti_links{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight:bold; 
	padding-left:5px;
}
.bracket{
	border:1px solid #828282;
	font-size:12px;
}
.iconslinks{
	margin-left:3px;
	margin-right:3px;
}
.greybgcol{
	background-color:#eeeeee;
    font-size: 12px;
    font-weight: bold;
}

table.fs {
	font-size:12px;
    border-collapse: collapse;
    width: 100%;
}

table.fs td {
	font-size:12px;
    padding: 2px;
    border: 1px solid #ddd;
}

table.fs th:first-child {
    text-align: right;
}

.fw{
	font-weight:bold;
}
.txtleft{
	text-align:left;
	padding-left:10px;
	font-weight:normal;
    font-size: 12px;
}
.txtright{
	text-align:right;
	padding-right:17px;
	font-weight:normal;
    font-size: 12px;
}
.txtcenter{
	text-align:center;
	font-weight:bold;
}
.tblContent{
    font-weight: normal;
    font-size: 12px;
}
.status_stopped{
    border: 1px solid red; background-color: #4F0F0F; font-weight: bold; color: red;
    padding-right:10px;width:50%;text-align:center;
    border-radius:3px 3px 3px 3px;
}
.status_warning{
    border: 1px solid #DFC137; background-color: #6F4B0D; font-weight: bold; color: #DFC137;
    padding-right:10px;width:50%;text-align:center;
    border-radius:3px 3px 3px 3px;
}
.status_ok{
    border: 1px solid #00FE00; background-color: #00AA00; font-weight: bold; color: #00FE00;
    padding-right:10px;width:50%;text-align:center;
    border-radius:3px 3px 3px 3px;
}
.alert_labels{
    color:#1C76AD;
    font-weight:bold;
}
.polling_checkbox_margin{
    margin-top: 6px;
}

h2.section_header {
    font-size: 12pt;
    font-weight: bold;
    text-shadow: #aaa 2px 2px 3px;
    color: #333;
    margin-top: 12px;
}

.vertical {
    font-size: 8pt;
    color: black;
    text-shadow: #aaa 1px 1px 2px;
    padding-left: 8px;
    padding-bottom: 2px;
    font-weight: normal;

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.vertical:hover {
    text-shadow: #FFFFCC 1px 1px 2px;
}

.log_line {
    font-family: courier;
    font-size: 12px;
    margin: 0;
    padding-left: 3px;
    text-align:left;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
