@charset "utf-8";
/* CSS Document */
.yui-skin-sam .yui-button .first-child {
    border-color: #808080;
    border-style: solid;
    border-width: 0 1px;
    margin: 0 -1px;
}

#launch_instance_btn.yui-button button {
    background-image: url(../images/icon_launchinstances.png);
    padding-left: 10px;
    width: 120px;
}

.cpanel-header {
	/*background: url(../images/unit_header_bg.png) repeat-x scroll 0 0 transparent;*/
	background: url(../images/line1.jpg) repeat-x scroll 0 0 transparent;
    border: 1px solid #5A7EAA;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
				height:29px;
}

.cpanel-border {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #B9B8B6;
    border-left: 1px solid #B9B8B6;
    border-right: 1px solid #B9B8B6;
    border-bottom: 1px solid #B9B8B6;
    border-style: none solid;
    border-width: medium 1px;
    text-align: left;
}

.button-span {
    background-color: transparent;
    background-image: url(../images/button_backgrounds._V222446819_.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 23px;
    text-align: left;
}
.yui-skin-sam {
    border: medium none;
    margin: auto 2px;
}
