
div.resource_graph_canvas {
  background: white; position: relative; border: 1px solid gray;
}

div.block {
  padding: 2px; border-radius: 4px; border: 1px solid gray; box-shadow: 4px 4px 2px #ccc;
}

div.block_header {
  border-bottom: 2px solid gray;margin-bottom: 3px; padding-bottom: 2px;
}

span.block_body {
  font-size: 8pt;
}

span.block_title {
  margin-top: -3px; margin-left: 3px; font-size: 8pt; font-weight: bold;
}
