body { background:none !important }
         
.legendClass
{
	font-size: 14px;
	font-weight:bold;
	background-color:#CFCFCF;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em; 
}
         
#leftnav li a {
	font:bold 12px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#fff;
	display:block;
	padding:5px;
	color:#7a848b;
	padding-left:10px;
}
#leftnav li a:hover {
	color:#697a84;		/**/
	display:block;
	background:#fff url(../static/images/arrowmenu.png) no-repeat 96% 10px;
	padding:5px 0px 5px 10px;
}
#leftnav li .active {
	color:#697a84;
	display:block;
	background:#98aab6 url(../static/images/arrowmenu.png) no-repeat 96% 10px;
	padding:5px 0px 5px 10px;
	color:#fff;
}
#leftnav li .active:hover {
	color: #697a84;
	display:block;
	background:#fff url(../static/images/arrowmenu.png) no-repeat 96% 10px;
	padding:5px 0px 5px 10px;
}


ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}