[package]
name = "iml-warp-drive"
version = "0.3.0"
authors = ["IML Team <iml@whamcloud.com>"]
edition = "2018"

[dependencies]
futures = "0.3"
im = { version = "14.3", features = ["serde"] }
iml-manager-client = { path = "../iml-manager-client", version = "0.3" }
iml-manager-env = { path = "../iml-manager-env", version = "0.3" }
iml-postgres = { path = "../iml-postgres", version = "0.3" }
iml-rabbit = { path = "../iml-rabbit", version = "0.3" }
iml-tracing = { version = "0.2", path="../iml-tracing"}
iml-wire-types = { path = "../iml-wire-types", version = "0.3", features = ["postgres-interop"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "0.2", features = ["macros"] }
tokio-runtime-shutdown = { path = "../tokio-runtime-shutdown", version = "0.3" }
tracing = "0.1"
uuid = { version = "0.8", features = ["v4"] }
warp = "0.2"