{{! http://handlebarsjs.com }}

<!DOCTYPE html>
<html lang="en">

<head>
  <base href="{{htmlWebpackPlugin.options.base_path}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta charset="utf-8" />
  {{> favicons}}
  {{> head_scripts}}
</head>

<body class="fade-in font-body text-base bg-gray-1 w-screen">
  <section id="app">
    {{> loading_page}}
  </section>
</body>

</html>