html, body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  html body {
    padding: 0;
  }
}

strong {
	font-weight: bold;
}

em
{
	font-style: italic;
}

p
{
	margin: .25em 0 1.5em;
}

abbr, .abbr {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: blue;
	cursor: help;
}

blockquote
{
	margin: .416em 0 .416em 1.1667em;
}

a
{
	color: #4c4c4c;
	text-decoration: underline;
	font-size: inherit;
	font-weight: inherit;
}

a:hover
{
	text-decoration: none;
	color: #000000;
}

ul, ol
{
	margin: .833em 0;
	padding-left: 2em;
}
ul
{
	list-style-type: disc;
}
ol
{
	list-style-type: decimal;
}
ul li, ol li
{
}

dt
{
	margin: .416em 0 0 0;
}

dd
{
	margin: .416em 0 .416em 1.1667em;
}

pre, code, tt
{
	font-family: "Andale Mono" , "Lucida Console" , "Courier New" , Courier, monospace;
	margin: .833em 0;
}
sub
{
	vertical-align: sub;
	font-size: smaller;
	line-height:inherit;
}

sup
{
	vertical-align: super;
	font-size: smaller;
	line-height:inherit;
}
img{
	border:none;
}

/* Page Specific
 ---------------------------------------------------------------------*/

.breadCrumbHolder
{
	/*margin:0 0 20px 0;
	margin:0 0 2px 0;*/

}
pre
{
	background:#ddd;
	border:solid 1px #fff;
	padding:10px;
	color:#111;
}
.description
{
	float:left;
	width:700px;
	margin-right:20px;
}

.border{
	border-bottom:1px solid #AAAAAA;
    font-size:10px;
}

.spacetop{
	margin-top:3px;
}
.brightyellow{
	background-color:#ffbf00;
}
.darkblue{
	background-color:#19ade4;
}
.paleblue{
	background-color:#b8e9ff;
}
.palered{
	background-color:#cc5555;
}

.buttonspacer {
	margin-top:5px;
	margin-bottom:20px;
}

.magni{
    width: 16px;
	height:16px;
	padding-bottom:5px;
	position:absolute;
    z-index: 999;
    right: 16px;
    top: 4px;
}

.magbutton {
    padding: 0px;
    width: 24px;
    height: 24px;
}

.magbutton img {
    margin-left: -11px;
    margin-top: -1px;
}

.timeint{
	float:right;
	color:#222;
	background-color:#bbbbbb;
	position:relative;
    border-radius: 4px;
	/*margin-top:-31px;*/
	padding-left:10px;
    padding-bottom: 1px;
	border:1px solid #848484;
    font-size: 12px;
    white-space: nowrap;
}

.notification_icon {
    margin-left: 4px;
    margin-top: 4px;
    display: none;
}

.submit {
	padding-top:5px;
}
#msg {
	color:#F00;
}
#msg img {
	margin-bottom:-3px;
}
#msg p {
	margin:5px 0;
}
#msg p:last-child {
	margin-bottom:0px;
}

tr.odd {
	background-color: #f0f0f0;
	text-align:center;
}

tr.even {
	background-color: white;
	text-align:center;

}

#conf_wrapper {
  width: 98%;
}

table.fs {
	font-size:12px;
    border-collapse: collapse;
}

table.fs td {
	font-size:12px;
    padding: 2px;
    border: 1px solid #ddd;
}

table.fs th:first-child {
    text-align: right;
}

.txtleft{
	text-align:left;
	padding-left:10px;
	font-weight:normal;
    font-size: 12px;
}
.txtright{
	text-align:right;
	padding-right:17px;
	font-weight:normal;
    font-size: 12px;
}
.txtcenter{
    text-align:center;
    font-weight:normal;
    font-size: 12px;
}
.tblContent{
    font-weight: normal;
    font-size: 12px;
}

.polling_checkbox_margin{
    margin-top: 6px;
}

h1.page-header {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 500;
  background-color: #0067B4;
  padding: 15px 20px;
  margin: 0;
}

h2.section_header {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 12pt;
  color: #0067B4;
}

h1.page-header,
h2.section_header {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

#conf_wrapper h1.page-header {
  margin-top: 15px;
}

.vertical {
    font-size: 8pt;
    color: black;
    text-shadow: #aaa 1px 1px 2px;
    padding-left: 8px;
    padding-bottom: 2px;
    font-weight: normal;

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.vertical:hover {
    text-shadow: #FFFFCC 1px 1px 2px;
}

.log_line {
    font-family: courier;
    font-size: 12px;
    margin: 0;
    padding-left: 3px;
    text-align:left;
    vertical-align: top;
}

tr.log_error {
    color: #990000;
    margin-right: 2px;
}

tr.log_info {
    border-right: 2px solid green;
}

.log_line a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
}

.log_line a:hover {
    text-decoration: underline;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.no_notification {
  background-color: #F0F0F0;
  font-family:'Verdana, Arial, Helvetica, sans-serif';
  font-size:12px;
}

.notification_table{
  display:none;
  margin-left:5px;
  height:300px;
  overflow:auto;
}

div.toplevel, div.relative {
    position: relative;
    background-color: white;
}

.resource_alert {
  color: #ff0000;
}

.notification_job_buttons{
  width: 50px;
  height: 20px;
  font-size: 9px;
}

/* Only visible for users who can read from the API */
.read_enabled_only {
  display: none;
}

.page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding-bottom: 60px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Only visible for users in the filesystem administration group */
.fsadmin_only {
  display: none;
}

/* Only visible for superusers */
.superuser_only {
  display: none;
}

.icon_column{
  padding:2px;
  width: 20px;
  background-color: transparent;
}

table.validated_form th {
    font-size: 10pt;
    white-space: nowrap;
    font-weight: normal;
    text-align: left;
}

table.validated_form td {
    font-size: 10pt;
}

.validated_form span.error {
    color: red;
    font-style: italic;
    display: block;
}

.validated_form input.error {
    border: 1px solid red;
}


div.command_job_list {
  font-size: 9pt;
}

ul.job {
  list-style-type: none;
  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.command_job_list img {
  margin-bottom: -3px;
}

div.command_job_list span.job_description {
  height: 100%;
  padding-left: 2px;
}

div.job_step_list h3 a {
  text-decoration: none;
  font-size: 11pt;
}

div.job_step_list h3 img {
  margin-right: 6px;
}

span.job_row img {
  margin-right: 6px;
}

div.job_summary {
  margin-bottom: 12px;
}

div.job_summary ul {
  list-style-type: none;
  padding-left: 6px;
}

div.step_header {
    margin-bottom: 12px;
}

div.step_body {
    padding-left: 12px;
}

span.step_number {
    font-size: 14pt;
    font-weight: bold;
    text-shadow: #aaa 2px 2px 3px;
}

span.step_caption {
    font-size: 12pt;
}

span.volume_chooser_selected {
    margin-left: 6px;
}

span.volume_chooser_selected {
    margin-left: 6px;
}

.volume_chooser_background {
    border-radius: 3px;
    margin-bottom: 6px;
}

.volume_chooser_background table {
    width: 100%;
}

.volume_chooser_background table .rowhighlight {
    background-color: #09f !important;
}

.volume_chooser_expander {
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

#mdt_advanced {
    display: none;
}

#enable_dne_wrap {
  margin: 10px 0;
}

table.properties {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    margin-top: 12px;
    width: 100%;
    font-size: 10pt;
}

table.properties tr {
    border: 1px solid #c0c0c0;
}

table.properties tr.odd {
    background: #ffffff;
}

table.properties tr.even {
    background: #f9f9f9;
}

table.properties th {
    font-weight: 550;
    text-align: left;
    padding-left: 3px;
    border-right: 1px solid #c0c0c0;
    white-space: nowrap;
}

table.properties td {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

table.properties td ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.job_row a.navigation {
    text-decoration: none;
}

.job_row a.navigation:hover {
    text-decoration: underline;
}

footer {
  height: 60px;
}

footer small {
  color: #888888;
}

footer .row {
  text-align: center;
  position: relative;
  height: 60px;
}

footer .row .span12 {
  position: absolute;
  bottom: 0;
}

div.about_box {
    width: 600px;
    margin: 12px auto 0 auto;
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    box-shadow: gray 3px 3px 6px;
}

div.about_box_logo {
    background-image: url(../images/intel-logo-blue-trans-160x62.png);
    width: 160px;
    height: 62px;
    margin: 12px auto 12px auto;
}

.contextual_help_icon {
	margin: 0.75em 0 0.75em 0.75em;
	float: left;
}

.contextual_help {
	margin: auto;
	margin-left: 2em;
}

.contextual_help p {
	margin: .75em 0.25em .75em .75em;
}

a.help_hover {
  cursor: default;
  text-decoration: none;
}

div.dataTables_wrapper th {
    white-space: nowrap;
}

/*
 * Sort arrow icon positioning
 */
div.DataTables_sort_wrapper {
  position: relative;
  padding-right: 20px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

div.DataTables_sort_wrapper span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
}

/* This tooltip styling is necessary to prevent big tooltips getting
 * clipped at the edge of the chart */
.highcharts-container
{
    overflow: visible !important;
}

div.chart_tooltip {
    position: relative;
    z-index: 50;
    background-color: white;
    border: 2px solid rgb(0, 108, 169);
    border-radius: 5px;
    padding: 5px;
    font-size: 9pt;
}

span.small_links {
    font-size: 90%;
}

span.small_links a {
    color: blue;
}

p.host_selection_prompt {
    margin-bottom: 3px;
}

div.host_selection_list {
    max-height: 300px;
}

ul.host_selection_list {
    overflow-y: auto;
    list-style-type: none;
}

ul.alert_selection_list {
    list-style-type: none;
}

div.content {
  padding: 0 25px;
}

table.layout {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

div.help_loaded {
    padding: 0 6px 6px 6px;
    max-width: 400px;
}

.technical_name {
    font-family: Courier, monospace;
    font-weight: bold;
}

.actions-cell div.dropdown {
  width: 100px;
}

.actions-cell .dropdown-menu {
  left: -30px;
}

li.nav div.dropdown ul.dropdown-menu {
    background-color: #2C2C2C;
    margin-top: 0;
}

li.nav div.dropdown ul.dropdown-menu li {
    float: none;
    font-size: 12px;
}

li.nav div.dropdown:hover > ul.dropdown-menu {
    display: block;
}

li.nav div.dropdown ul.dropdown-menu li a:hover {
    background: #0067B4;
}

.qtip p {
    margin: 4px 0 4px 0;
}
