.status-menu-container {
  position: relative;
}

.status-menu-container .tooltip {
  width: 200px;
}

a[ng-controller="BigGreenButtonCtrl"] span {
  transition: all .1s ease-in-out;

  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 10px;
  line-height: 1;
  box-sizing: border-box;
  text-shadow: none;
}

a[ng-controller="BigGreenButtonCtrl"] span sup {
  top: -.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media screen and (max-width: 900px) {
  a[ng-controller="BigGreenButtonCtrl"] span {
    margin-left: 0;
  }
}

a[ng-controller="BigGreenButtonCtrl"] span.GOOD {
  background-color: #5cb85c;
  border: 1px solid #449d44;
}

.status-nav.active a[ng-controller="BigGreenButtonCtrl"] span.GOOD,
.status-nav:hover a[ng-controller="BigGreenButtonCtrl"] span.GOOD {
  background-color: #80c780;
  border: 1px solid #5cb85c;
}

a[ng-controller="BigGreenButtonCtrl"] span.WARNING {
  background-color: #f0ad4e;
  border: 1px solid #ec971f;
}

.status-nav.active a[ng-controller="BigGreenButtonCtrl"] span.WARNING,
.status-nav:hover a[ng-controller="BigGreenButtonCtrl"] span.WARNING {
  background-color: #f4c37d;
  border: 1px solid #f0ad4e;
}

a[ng-controller="BigGreenButtonCtrl"] span.ERROR {
  background-color: #d9534f;
  border: 1px solid #c9302c;
}

.status-nav.active a[ng-controller="BigGreenButtonCtrl"] span.ERROR,
.status-nav:hover a[ng-controller="BigGreenButtonCtrl"] span.ERROR {
  background-color: #e27c79;
  border: 1px solid #d9534f;
}
