.status-nav {
  position: relative;
}

.status-nav .status-text {
  margin-left: 16px;
}

span[ng-controller="BigGreenButtonCtrl"] {
    position: absolute;
    top: 12.5px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 900px) {
    span[ng-controller="BigGreenButtonCtrl"] {
        margin-left: 0;
    }
}

span[ng-controller="BigGreenButtonCtrl"] a {
    height: 20px;
    width: 20px;
    display: inline-block;
}

span[ng-controller="BigGreenButtonCtrl"].GOOD {
    background-color: #2C9600;
    box-shadow: 0 0 6px 0 #55C624;
}

.status-nav:hover span[ng-controller="BigGreenButtonCtrl"].GOOD {
    background-color: #30A300;
}

span[ng-controller="BigGreenButtonCtrl"].WARNING {
    background-color: #FFBF00;
    box-shadow: 0 0 6px 0 #FFDF80;
}

.status-nav:hover span[ng-controller="BigGreenButtonCtrl"].WARNING {
    background-color: #FFD866;
}

span[ng-controller="BigGreenButtonCtrl"].ERROR {
    background-color: #FF362B;
    box-shadow: 0 0 6px 0 #F44847;
}

.status-nav:hover span[ng-controller="BigGreenButtonCtrl"].ERROR {
    background-color: #F44847;
}
