
.logohead{
    width: 100%;
    height: 37px;
    color: #ccc;

    background-color: #2C2C2C;
}

.logohead a {
    color: #ccc;
}

.logo{
    background-image: url(../images/intel-logo-white-trans-80x31.png);
    background-repeat: no-repeat;
    background-size: 80px 31px;
    width: 80px;
    height: 31px;
    float: left;
    margin: 3px 10px 2px 5px;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
    .logo {
        background-image: url(../images/intel-logo-white-trans-160x62.png);
    }
}


span#user_info{
    float: right;
    font-size: 9pt;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
}

span#authenticated{
    float: left;
}

span.header_version {
    float: right;
    font-size: 9pt;
    margin-top: 10px;
}

span.header_version a {
    color: #777;
    text-decoration: none;
}

span.account_links {
    font-size: 9pt;
    float: left;
    margin-left: 6px;
}

span#username {
    font-size: 9pt;
    font-weight: bold;
    float: left;
}

.top_links ul.navigation {
    font-size: 14px;
    padding-left: 20px;
}

.top_links ul.navigation li {
    border: none;
    padding: 0;
}

.top_links ul.navigation a {
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    height: 37px;
    line-height: 37px;
    padding: 0px 13px 0px 13px;
}

.top_links ul.navigation a:hover {
    color: #fff;
    text-decoration: none;

    background-color: #0067B0;
    border-left: solid 1px #004372;
    border-right: solid 1px #004372;
    padding: 0px 12px 0px 12px;
}

.top_links ul.navigation a.active {
    color: #fff;
    text-decoration: none;

    background-color: #0067B0;
    border-left: solid 1px #004372;
    border-right: solid 1px #004372;
    padding: 0px 12px 0px 12px;

}
