.logohead {
  width: 100%;
  height: 37px;
  color: #ccc;

  background-color: #2C2C2C;
}

.logohead .logo {
  margin-top: 5px;
  margin-left: 5px;
}

.logohead a {
  color: #ccc;
}

.logo {
  display: inline-block;
  background-image: url(../images/intel-logo-white-small.png);
  background-repeat: no-repeat;
  background-size: 38px 25px;
  width: 38px;
  height: 25px;
  float: left;
  font-size: 18px;
  line-height: 20px;
}

.navbar.navbar-inverse .brand {
  margin-left: -15px;
  padding: 12px 15px 13px;
}

.navbar.navbar-inverse .btn.btn-navbar {
  margin-top: 11px;
}

.navbar.navbar-inverse .logo {
  margin: 0;
}

.navbar.navbar-inverse .nav {
  padding-left: 0;
}

.navbar.navbar-inverse .nav a,
.navbar.navbar-inverse #username {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar.navbar-inverse .account_links a:hover {
  color: #FFFFFF;
  background-color: #080808;
}

.navbar.navbar-inverse .navbar-inner {
  border-radius: 0;
  padding: 0 15px;
}

.navbar.navbar-inverse .header_version,
.navbar.navbar-inverse .account_links a,
.navbar.navbar-inverse #username,
.navbar.navbar-inverse .nav > li > .dropdown-menu a {
  color: #999999;
}

.navbar.navbar-inverse .account_links a {
  text-decoration: none;
}

.navbar.navbar-inverse {
  margin-bottom: 0;
}

.navbar.navbar-inverse .nav > li > .dropdown-menu:before,
.navbar.navbar-inverse .nav > li > .dropdown-menu:after {
  display: none;
  border: 0;
}

.navbar.navbar-inverse .nav > li > .dropdown-menu {
  background-color: #222222;
  margin-top: 0;
}

.navbar.navbar-inverse .nav > li > .dropdown-menu li a {
  font-size: 12px;
  line-height: 20px;
  padding: 10px 15px;
}

.navbar.navbar-inverse .nav > li > .dropdown-menu li a:hover {
  background-color: transparent;
  color: #FFFFFF;
  background-image: none;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
    .logo {
        background-image: url(../images/intel-logo-white-large.png);
    }
}

span#user_info {
    float: right;
    font-size: 9pt;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
}

span#authenticated {
    float: left;
}

span.header_version {
    float: right;
    font-size: 9pt;
    margin-top: 10px;
}

span.header_version a {
    color: #777;
    text-decoration: none;
}

span.account_links {
    font-size: 9pt;
    float: left;
    margin-left: 6px;
}

span#username {
    font-size: 9pt;
    font-weight: bold;
    float: left;
}

.top_links ul.navigation {
    font-size: 14px;
    padding-left: 20px;
}

.top_links ul.navigation li {
    border: none;
    height: 50px;
    padding: 0;
}

.top_links ul.navigation a {
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
}

.top_links ul.navigation a i {
    margin-right: 2px;
}

.top_links ul.navigation a:hover {
    color: #fff;
    text-decoration: none;

    background-color: #0067B0;
    border-left: solid 1px #004372;
    border-right: solid 1px #004372;
    padding: 0px 9px;
}

.top_links ul.navigation a.active {
    color: #fff;
    text-decoration: none;

    background-color: #0067B0;
    border-left: solid 1px #004372;
    border-right: solid 1px #004372;
    padding: 0px 9px;

}
