
span.alert_indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: center;
  border-radius: 3px;

  background-repeat: no-repeat;
  background-position: 2px;
}

span.alert_indicator::before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  padding-right: 5px;
}

span.alert_indicator_large {
  width: 65px;
  height: 20px;
  padding-left: 3px;
  padding-top: 3px;
  vertical-align: center;
  font-size: 8pt;
  text-align: left;
  border-radius: 3px;
  line-height: normal;
}


span.alert_indicator_active {
  font-weight: bold;
}

span.alert_indicator_active::before {
  content: "\f06a";
  color: #D9534F;
}

span.alert_indicator_inactive {
  font-weight: normal;
}

span.alert_indicator_inactive::before {
  content: "\f00c";
  color: #4CAF50;
}

span.alert_indicator_list.alert_indicator_inactive {
  padding-left: 24px;
  padding-top: 3px;
}
span.alert_indicator_list {
  overflow-y: auto;
  width: auto;
  height: auto;
}

span.alert_indicator_list ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

span.alert_indicator_list ul li::before {
  font-family: 'FontAwesome';
  content: "\f06a";
  color: #D9534F;
}


span.alert_indicator_list.alert_indicator_active {
  background-image: none;
}

span.notification_object_icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  width: 24px;
  height: 24px;
}

.busy_icon::before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  content: "\f110";
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

.locked_icon::before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  content: "\f023";
  animation: none;
}

span.notification_icons {
  white-space: nowrap;
}
