
span.alert_indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: center;
  border-radius: 3px;

  background-repeat: no-repeat;
  background-position: 2px;
}

span.alert_indicator_large {
  width: 65px;
  height: 20px;
  padding-left: 24px;
  padding-top: 3px;
  vertical-align: center;
  font-size: 8pt;
  text-align: left;
  border-radius: 3px;
  line-height: normal;
}


span.alert_indicator_active {
  /*
  color: #664f00;
  background-color: #FFBF00;
  */
  font-weight: bold;

  background-image: url(../images/fugue/exclamation-red.png);
}

span.alert_indicator_inactive {
  /*
  color: #444;
  background-color: #efe;
  */
  font-weight: normal;

  background-image: url(../images/fugue/tick.png);
}

span.alert_indicator_list.alert_indicator_inactive {
  padding-left: 24px;
  padding-top: 3px;
}
span.alert_indicator_list {
  overflow-y: auto;
  width: auto;
  height: auto;
}

span.alert_indicator_list ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

span.alert_indicator_list ul li {
  padding-left: 24px;
  background-image: url(../images/fugue/exclamation-red.png);
  background-repeat: no-repeat;
  background-position: 2px;
}


span.alert_indicator_list.alert_indicator_active {
  background-image: none;
}

span.notification_object_icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  width: 24px;
  height: 24px;
}

.busy_icon {
  background-image: url(../images/loading.gif);
}

.locked_icon {
  background-image: url(../images/fugue/lock.png);
}

span.notification_icons {
  white-space: nowrap;
}

img.fugue_icon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
