/* General page styles start */

div[ng-controller="PowerCtrl"] .page-header {
  margin-bottom: 50px;
}

div[ng-controller="PowerCtrl"] .button-row {
  margin-top: 25px;
  margin-bottom: 15px;
}

div[ng-controller="PowerCtrl"] table {
  table-layout: fixed;
}

div[ng-controller="PowerCtrl"] th {
  background-color: #DDDDDD;
  color: #999999;
}

div[ng-controller="PowerCtrl"] th a {
  float: right;
  cursor: pointer;
  text-decoration: none;
  color: #777777;
}

div[ng-controller="PowerCtrl"] th a:first-child {
  margin-left: 5px;
}

div[ng-controller="PowerCtrl"] th a:hover {
  color: #00B0E9;
}

div[ng-controller="PowerCtrl"] th a .tooltip {
  font-weight: normal;
  font-size: 12px;
}

div[ng-controller="PowerCtrl"] tbody td:first-child {
  vertical-align: middle;
}

div[ng-controller="PowerCtrl"] .well {
  text-align: center;
  height: 300px;
}

div[ng-controller="PowerCtrl"] .well .row {
  margin-top: 142px;
}

div[ng-controller="PowerCtrl"] .well span {
  color: #AAAAAA;
  font-size: 20px;
  vertical-align: middle;
}

/* General page styles end */


/* Power State dropdown start */
div[ng-controller="PowerCtrl"] .power-states-container {
  position: relative;
}

div[ng-controller="PowerCtrl"] .power-states {
  display: inline-block;
  list-style-type: none;
  border: 1px solid #CCCCCC;
  padding-left: 0;
  padding-right: 14px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: #FFFFFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown.active {
  display: block;
}

div[ng-controller="PowerCtrl"] .power-states.active,
div[ng-controller="PowerCtrl"] .power-states-dropdown {
  border-color: rgba(82, 168, 236, 0.8);
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

div[ng-controller="PowerCtrl"] .power-states:hover {
  cursor: text;
}

div[ng-controller="PowerCtrl"] .power-states:after {
  font-family: FontAwesome;
  content: "\f0d7";
  position: absolute;
  right: 5px;
  height: 100%;
  font-size: 14px;
  color: #777777;
  display: block;
  top: -webkit-calc(50% - 6px);
  top: -moz-calc(50% - 6px);
  top: calc(50% - 6px);
  line-height: 14px;
}

div[ng-controller="PowerCtrl"] .power-state {
  display: inline-block;
  border-radius: 3px;
  color: #FFFFFF;
  height: 20px;
  padding: 2px;
  margin: 5px 5px;
}

div[ng-controller="PowerCtrl"] .power-state i.icon- {
  margin-right: 5px;
}

div[ng-controller="PowerCtrl"] .power-state.on {
  background-color: #1AAB47;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown .choice.on i.icon-:before {
  color: #1AAB47;
}

div[ng-controller="PowerCtrl"] .power-state.unknown {
  background-color: #F3B600;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown .choice.unknown i.icon-:before {
  color: #F3B600;
}

div[ng-controller="PowerCtrl"] .power-state.off {
  background-color: #555555;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown .choice.off i.icon-:before {
  color: #555555;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown .choice.active i.icon-:before {
  color: #FFFFFF;
}

div[ng-controller="PowerCtrl"] .power-state.on i.icon-:before,
div[ng-controller="PowerCtrl"] .power-states-dropdown .choice.on i.icon-:before {
  content: "\f011";
}

div[ng-controller="PowerCtrl"] .power-state.unknown i.icon-:before,
div[ng-controller="PowerCtrl"] .power-states-dropdown .choice.unknown i.icon-:before {
  content: "\f059";
}

div[ng-controller="PowerCtrl"] .power-state.off i.icon-:before,
div[ng-controller="PowerCtrl"] .power-states-dropdown .choice.off i.icon-:before {
  content: "\f10c";
}

div[ng-controller="PowerCtrl"] .power-state .close-button:hover {
  cursor: pointer;
}

div[ng-controller="PowerCtrl"] .power-state .close-button {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 17px;
  vertical-align: middle;
  margin-left: 5px;
  text-decoration: none;
}

div[ng-controller="PowerCtrl"] .power-state .close-button .icon-remove-sign,
div[ng-controller="PowerCtrl"] .power-state .close-button .icon-circle {
  position: absolute;
}

div[ng-controller="PowerCtrl"] .power-state .close-button .icon-circle {
  color: #FFFFFF;
}

div[ng-controller="PowerCtrl"] .field {
  display: inline-block;
  height: 20px;
  margin: 7px 5px;
}

div[ng-controller="PowerCtrl"] .field input {
  outline: none;
  border: 0;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown .choice {
  padding-left: 10px;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown .choice:hover {
  cursor: pointer;
}

div[ng-controller="PowerCtrl"] .power-states-dropdown .choice.active {
  background-color: #1E90FF;
  color: #FFFFFF;
}
/* Power State dropdown end */
