

div.add_host_wizard {
    padding: 12px;
}

td.success {
    background-image: url('../images/fugue/tick.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

td.failure {
    background-image: url('../images/fugue/exclamation-red.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
