div[ng-controller="StatusCtrl"] {
  padding: 50px 25px 25px 25px;
}

div[ng-controller="StatusCtrl"] ul {
  list-style-type: none;
}

div[ng-controller="StatusCtrl"] .pagination {
  text-align: center;
}

div[ng-controller="StatusCtrl"] .pagination ul {
  padding-left: 0;
}

div[ng-controller="StatusCtrl"] ul.messages {
  background-color: inherit;
  height: 70vh;
  overflow: auto;
  box-shadow: inset 1px 1px 10px #E3E3E3;
}

div[ng-controller="StatusCtrl"] ul.messages li {
  margin-bottom: 15px;
}

div[ng-controller="StatusCtrl"] ul.messages li.none {
  text-align: center;
  font-size: 45px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #CCC;
  line-height: 65vh;
  vertical-align: middle;
}

div[ng-controller="StatusCtrl"] div.message {
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #FFFFFF;
}

div[ng-controller="StatusCtrl"] div.message.INFO {
  background-color: #005CA5;
}

/* Info sign */
div[ng-controller="StatusCtrl"] div.message.INFO .status i:before {
  content: "\f05a";
}

div[ng-controller="StatusCtrl"] div.message.ERROR {
  background-color: #CD001A;
}

/* Exclamation sign */
div[ng-controller="StatusCtrl"] div.message.ERROR .status i:before {
  content: "\f06a";
}

div[ng-controller="StatusCtrl"] div.message.WARNING {
  background-color: #F3B600;
}

/* Warning sign */
div[ng-controller="StatusCtrl"] div.message.WARNING .status i:before {
  content: "\f071";
}

div[ng-controller="StatusCtrl"] div.message.COMPLETE {
  background-color: #1AAB47;
}

/* Check Mark */
div[ng-controller="StatusCtrl"] div.message.COMPLETE .status i:before {
  content: "\f00c";
}

div[ng-controller="StatusCtrl"] div.message.INCOMPLETE {
  background-color: #898989;
}

/* Spinner */
div[ng-controller="StatusCtrl"] div.message.INCOMPLETE .status i:before {
  content: "\f021";
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

div[ng-controller="StatusCtrl"] div.message.CANCELED {
  background-color: #4C758B;
}

/* Remove */
div[ng-controller="StatusCtrl"] div.message.CANCELED .status i:before {
  content: "\f00d";
}

div[ng-controller="StatusCtrl"] div.message .status {
  font-size: 30px;
  display: inline-block;
  width: 10%;
  padding: 3px 2% 0 2%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 50px;
  text-align: center;
}

div[ng-controller="StatusCtrl"] div.message .status i {
  display: block;
  vertical-align: top;
  width: auto;
}

div[ng-controller="StatusCtrl"] div.message .status .message-type {
  font-size: 10px;
  line-height: 10px;
  display: block;
  vertical-align: top;
}

div[ng-controller="StatusCtrl"] div.message .date {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 17px;
  width: 14%;
}

div[ng-controller="StatusCtrl"] div.message .message-body {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  font-size: 14px;
  border-left: 2px dotted;
  min-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 53%;
}

div[ng-controller="StatusCtrl"] div.message .message-body div:first-child {
  margin-bottom: 5px;
}

div[ng-controller="StatusCtrl"] div.message div.date a.navigation {
  color: #FFF;
}

div[ng-controller="StatusCtrl"] div.message .buttons {
  margin-right: 15px;
  margin-top: 13px;
  float: right;
  width: 17%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div[ng-controller="StatusCtrl"] div.message .buttons a {
  float: right;
  margin-right: 5px;
}

@media all and (max-width: 1200px) {
  div[ng-controller="StatusCtrl"] div.message .message-body {
    width: 50%;
  }

  div[ng-controller="StatusCtrl"] div.message .buttons {
    width: 20%;
  }

  div[ng-controller="StatusCtrl"] div.message .buttons a {
    width: 51px;
    font-size: 10px;
  }
}

@media all and (max-height: 950px) {
  div[ng-controller="StatusCtrl"] ul.messages {
    height: 60vh;
  }

  div[ng-controller="StatusCtrl"] ul.messages li.none {
    line-height: 55vh;
  }
}
