

div#storage_alerts {
    float: left;
    width: 49%;
}

div#storage_alerts table {
    font-size: 9pt;
}

table.storage_statistics td {
    margin: 0px;
    padding: 0px;
}

span.resource_name {
    font-size: 10;
    font-weight: bold;
}

select#storage_resource_create_classes {
}

table#storage_resource_create_fields {
    font-size: 9pt;
}

table#storage_resource_create_fields th {
    text-align:left;
    font-weight: bold;
}

table#storage_resource_create_fields td.field_info {
    font-weight: normal;
    font-size: 7pt;
    font-style: italic;
}
