_topdir/
.dockerignore
.flake8
.gitignore
.gitlint
.travis.yml
.env
*.service
**/.cargo
**/.git
**/.github
**/.vscode
**/*.dockerfile
**/node_modules
**/snapshots/
**/target
**/.env
**/*.pyc
**/*.pyo
benchmark
CODE_OF_CONDUCT.md
docker/emf-images.tar
docker/emf-images.tgz
docker/*.tar
logrotate.cfg
media
requirements.dev
tests
vagrant/
python-emf-agent/
