_build
_topdir
.cargo
.DS_Store
.idea
*.crt
*.egg-info/
*.log
*.orig
*.pem
*.pid
*.py[co]
*.rej
*.rpm
*.stamp
*.swo
*.swp
**/.vagrant
**/*.rs.bk
**/.env
*~
*.snap.new
*.pytest_cache
artifacts
/base.repo
/chroma_support.repo
chroma_test_env/
chroma_unit_test_env/
chroma-config.1.gz
copr-local.mk
database.db
deps
dist/
id_rsa
id_rsa.pub
iml-images.tar
iml-images.tgz
install_build_deps-stamp
local_settings.py
localenv
MANIFEST
myenv/
node_modules
set_state.prof
settings.json
simulator_state_*
storage_server.repo
/TAGS
tags
target
tests/framework/chroma_support.repo
tests/framework/integration/shared_storage_configuration/full_cluster/cluster_setup
tests/framework/services/runner.sh
tests/framework/utils/defaults.sh
vagrant/sosreport*
/docker/*.tar
