.idea
*~
*.py[co]
*.swp
*.swo
*.log
*.pid
local_settings.py
scm_version.py*
database.db
.DS_Store
dist/
*.egg-info/
node_modules
simulator_state_*
artifacts
tags
chroma-bundles/*/repo
chroma-bundles/*/*.tar.gz
chroma-bundles/iml-*.tar.gz
chroma-bundles/lesskey.out
chroma-bundles/ieel-*.tar.gz
chroma-manager/myenv/
chroma-manager/chroma_test_env/
chroma-manager/chroma-config.1.gz
chroma_unit_test_env/
.cargo
_topdir/
target/
.vscode
