.idea
*~
*.py[co]
*.swp
*.swo
*.log
*.pid
local_settings.py
scm_version.py*
database.db
.DS_Store
dist/
*.egg-info/
node_modules
simulator_state_*
artifacts
chroma-bundles/*/repo
chroma-bundles/ieel-*.tar.gz
chroma-dependencies/*/.last_built
chroma-dependencies/*/6.[345]
chroma-dependencies/*/7.1.1503
chroma-dependencies/*/*.zip
chroma-dependencies/*/*.tgz
chroma-dependencies/*/*.tar.gz
chroma-dependencies/*/*.tar.bz2
chroma-dependencies/*/*.src.rpm
chroma-dependencies/*/*.noarch.rpm
chroma-dependencies/*/*.x86_64.rpm
chroma-dependencies/*/*.spec
chroma-dependencies/*/*.spec.orig
chroma-dependencies/*/*.spec.last_built
chroma-dependencies/*/*.patch
chroma-dependencies/repodata
chroma-dependencies/robinhood/lustre
chroma-dependencies/python-django/simplejson-init.py
chroma-dependencies/rabbitmq-server/rabbitmq-script-wrapper
chroma-dependencies/rabbitmq-server/rabbitmq-server.init
chroma-dependencies/rabbitmq-server/rabbitmq-server.logrotate
chroma-dependencies/rabbitmq-server/rabbitmq-server.ocf
chroma-dependencies/tablib/spec.ed
chroma-dependencies/jsonschema/spec.ed
chroma-dependencies/mock/spec.ed
chroma-dependencies/httpagentparser/spec.ed
chroma-dependencies/Cython/spec.ed
chroma-dependencies/amqplib/spec.ed
chroma-dependencies/amqp/spec.ed
chroma-dependencies/nose-testconfig/spec.ed
chroma-dependencies/python-dateutil/spec.ed
chroma-dependencies/greenlet/spec.ed
chroma-dependencies/anyjson/spec.ed
chroma-dependencies/pssh/spec.ed
chroma-dependencies/python-mimeparse/spec.ed
chroma-dependencies/repo-*
chroma-manager/myenv/
chroma_unit_test_env/
