[Unit]
Description=EMF Http Agent Service
PartOf=emf-manager.target
After=rabbitmq-server.service

[Service]
Type=simple
EnvironmentFile=-/var/lib/chroma/overrides.conf
ExecStart=/bin/python /usr/share/chroma-manager/manage.py chroma_service --name=http_agent http_agent --gevent
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal