[Unit]
Description=EMF Timer Service
PartOf=emf-manager.target
After=emf-settings-populator.service
Requires=emf-settings-populator.service

[Service]
Type=simple
Environment=RUST_LOG=info
EnvironmentFile=/var/lib/chroma/emf-settings.conf
EnvironmentFile=-/var/lib/chroma/overrides.conf
ExecStart=/bin/emf-timer
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal
