[Unit]
Description=EMF Manager Target

Requires=emf-postgres-sidecar.service
After=emf-postgres-sidecar.service

Requires=emf-influx-sidecar.service
After=emf-influx-sidecar.service

Requires=emf-grafana-sidecar.service
After=emf-grafana-sidecar.service

Requires=nginx.service
After=nginx.service

Requires=kuma.service
After=kuma.service

[Install]
Also=grafana-server.service
Also=influxdb.service
Also=postgresql-13.service
Also=nginx.service
Also=kuma.service