[Unit]
Description=EMF Manager Target

Requires=emf-settings-populator.service
After=emf-settings-populator.service

Requires=emf-corosync.service
After=emf-corosync.service

Requires=emf-snapshot.service
After=emf-snapshot.service

Requires=emf-gunicorn.service
After=emf-gunicorn.service

Requires=emf-http-agent.service
After=emf-http-agent.service

Requires=emf-job-scheduler.service
After=emf-job-scheduler.service

Requires=emf-plugin-runner.service
After=emf-plugin-runner.service

Requires=emf-rust-stats.service
After=emf-rust-stats.service

Requires=emf-journal.service
After=emf-journal.service

Requires=emf-agent-comms.service
After=emf-agent-comms.service

Requires=emf-api.service
After=emf-api.service

Requires=emf-network.service
After=emf-network.service

Requires=emf-ntp.service
After=emf-ntp.service

Requires=emf-mailbox.service
After=emf-mailbox.service

Requires=emf-report.service
After=emf-report.service

Requires=emf-postoffice.service
After=emf-postoffice.service

Requires=emf-sfa.service
After=emf-sfa.service

Requires=emf-ostpool.service
After=emf-ostpool.service

Requires=emf-action-runner.service
After=emf-action-runner.service

Requires=emf-task-runner.service
After=emf-task-runner.service

Requires=emf-warp-drive.service
After=emf-warp-drive.service

Requires=nginx.service
After=nginx.service

Requires=rabbitmq-server.service
After=rabbitmq-server.service

Requires=postgresql-9.6.service
After=postgresql-9.6.service

Requires=influxdb.service
After=influxdb.service

Requires=grafana-server.service
After=grafana-server.service

Requires=emf-device.service
After=emf-device.service

Requires=emf-rust-corosync.service
After=emf-rust-corosync.service

Requires=emf-timer.service
After=emf-timer.service

After=network.target

[Install]
WantedBy=multi-user.target
Also=grafana-server.service
Also=emf-action-runner.service
Also=emf-agent-comms.service
Also=emf-api.service
Also=emf-corosync.service
Also=emf-device.service
Also=emf-gunicorn.service
Also=emf-http-agent.service
Also=emf-job-scheduler.service
Also=emf-journal.service
Also=emf-mailbox.service
Also=emf-network.service
Also=emf-ntp.service
Also=emf-plugin-runner.service
Also=emf-rust-corosync.service
Also=emf-rust-stats.service
Also=emf-sfa.service
Also=emf-snapshot.service
Also=emf-warp-drive.service
Also=influxdb.service
Also=nginx.service
Also=postgresql-9.6.service
Also=rabbitmq-server.service
Also=emf-timer.service
