[Unit]
Description=EMF Job Scheduler Service
PartOf=emf-manager.target
After=rabbitmq-server.service
After=postgresql-9.6.service

[Service]
Type=simple
EnvironmentFile=-/var/lib/chroma/overrides.conf
ExecStart=/bin/python /usr/share/chroma-manager/manage.py chroma_service --name=job_scheduler job_scheduler
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal
