[Unit]
Description=EMF SFA Service
PartOf=emf-manager.target
After=postgresql-9.6.service


[Service]
Type=simple
Environment=RUST_LOG=info
EnvironmentFile=/etc/emf/bootstrap.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStart=/bin/emf-sfa
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=emf-manager.target