[Unit]
Description=IML Lustre Audit Service
PartOf=iml-manager.target

[Service]
Type=simple
ExecStart=/bin/python /usr/share/chroma-manager/manage.py chroma_service --name=lustre_audit lustre_audit
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=iml-manager.target