[Unit]
Description=IML Plugin Runner Service
PartOf=iml-manager.target

[Service]
Type=simple
ExecStart=/bin/python /usr/share/chroma-manager/manage.py chroma_service --name=plugin_runner plugin_runner
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=iml-manager.target