[Unit]
Description=IML Manager Service
PartOf=iml-manager.target
Before=nginx.service


[Service]
Type=notify
WorkingDirectory=/usr/share/chroma-manager
EnvironmentFile=-/var/lib/chroma/overrides.conf
ExecStart=/bin/gunicorn wsgi:application -c ./wsgi.py
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal