[Unit]
Requires=iml-settings-populator.service
Description=IML Manager Target
Requires=iml-corosync.service
Requires=iml-gunicorn.service
Requires=iml-http-agent.service
Requires=iml-job-scheduler.service
Requires=iml-lustre-audit.service
Requires=iml-plugin-runner.service
Requires=iml-power-control.service
Requires=iml-stats.service
Wants=iml-syslog.service
Wants=iml-realtime.service
Wants=iml-view-server.service
Wants=iml-update-handler.socket
Wants=nginx.service
Wants=rabbitmq-server.service
Wants=postgresql.service
Wants=device-aggregator.socket
After=postgresql.service
After=rabbitmq-server.service
After=iml-settings-populator.service
After=network.target

[Install]
WantedBy=multi-user.target
