[Unit]
Requires=iml-settings-populator.service
Description=IML Manager Target
Wants=iml-corosync.service
Wants=iml-gunicorn.service
Wants=iml-http-agent.service
Wants=iml-job-scheduler.service
Wants=iml-lustre-audit.service
Wants=iml-plugin-runner.service
Wants=iml-power-control.service
Wants=iml-stats.service
Wants=iml-syslog.service
Wants=iml-realtime.service
Wants=iml-view-server.service
Wants=iml-agent-comms.service
Wants=iml-stratagem.service
Wants=iml-mailbox.service
Wants=iml-action-runner.service
Wants=iml-update-handler.socket
Wants=iml-srcmap-reverse.socket
Wants=iml-warp-drive.service
Wants=nginx.service
Wants=rabbitmq-server.service
Wants=postgresql.service
Wants=device-aggregator.socket
After=postgresql.service
After=rabbitmq-server.service
After=iml-settings-populator.service
After=network.target

[Install]
WantedBy=multi-user.target
