[Unit]
Description=IML Agent Comms Service
PartOf=iml-manager.target
After=rabbitmq-server.service
After=iml-settings-populator.service
Requires=iml-settings-populator.service


[Service]
Type=simple
Environment=RUST_LOG=info,iml_agent_comms::api=warn
EnvironmentFile=/var/lib/chroma/iml-settings.conf
EnvironmentFile=-/var/lib/chroma/overrides.conf
ExecStart=/bin/iml-agent-comms
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal