[Unit]
Description=IML Manager Service
PartOf=iml-manager.target
Before=nginx.service


[Service]
Type=notify
WorkingDirectory=/usr/share/chroma-manager
ExecStart=/bin/gunicorn wsgi:application -c ./wsgi.py
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=iml-manager.target