[Unit]
Description=IML Manager Target

Requires=iml-settings-populator.service
After=iml-settings-populator.service

Requires=iml-corosync.service
After=iml-corosync.service

Requires=iml-snapshot.service
After=iml-snapshot.service

Requires=iml-gunicorn.service
After=iml-gunicorn.service

Requires=iml-http-agent.service
After=iml-http-agent.service

Requires=iml-job-scheduler.service
After=iml-job-scheduler.service

Requires=iml-plugin-runner.service
After=iml-plugin-runner.service

Requires=iml-rust-stats.service
After=iml-rust-stats.service

Requires=iml-journal.service
After=iml-journal.service

Requires=iml-agent-comms.service
After=iml-agent-comms.service

Requires=iml-api.service
After=iml-api.service

Requires=iml-network.service
After=iml-network.service

Requires=iml-ntp.service
After=iml-ntp.service

Requires=iml-mailbox.service
After=iml-mailbox.service

Requires=iml-report.service
After=iml-report.service

Requires=iml-postoffice.service
After=iml-postoffice.service

Requires=iml-sfa.service
After=iml-sfa.service

Requires=iml-ostpool.service
After=iml-ostpool.service

Requires=iml-action-runner.service
After=iml-action-runner.service

Requires=iml-task-runner.service
After=iml-task-runner.service

Requires=iml-warp-drive.service
After=iml-warp-drive.service

Requires=nginx.service
After=nginx.service

Requires=rabbitmq-server.service
After=rabbitmq-server.service

Requires=postgresql-9.6.service
After=postgresql-9.6.service

Requires=influxdb.service
After=influxdb.service

Requires=grafana-server.service
After=grafana-server.service

Requires=iml-device.service
After=iml-device.service

Requires=iml-rust-corosync.service
After=iml-rust-corosync.service

Requires=iml-timer.service
After=iml-timer.service

After=network.target

[Install]
WantedBy=multi-user.target
Also=grafana-server.service
Also=iml-action-runner.service
Also=iml-agent-comms.service
Also=iml-api.service
Also=iml-corosync.service
Also=iml-device.service
Also=iml-gunicorn.service
Also=iml-http-agent.service
Also=iml-job-scheduler.service
Also=iml-journal.service
Also=iml-mailbox.service
Also=iml-network.service
Also=iml-ntp.service
Also=iml-plugin-runner.service
Also=iml-rust-corosync.service
Also=iml-rust-stats.service
Also=iml-sfa.service
Also=iml-snapshot.service
Also=iml-warp-drive.service
Also=influxdb.service
Also=nginx.service
Also=postgresql-9.6.service
Also=rabbitmq-server.service
Also=iml-timer.service
