[Unit]
Description=IML Network Service
PartOf=iml-manager.target
After=rabbitmq-server.service
After=postgresql-9.6.service
After=iml-settings-populator.service
Requires=iml-settings-populator.service


[Service]
Type=simple
Environment=RUST_LOG=info,sqlx::query=warn
EnvironmentFile=/var/lib/chroma/iml-settings.conf
EnvironmentFile=-/var/lib/chroma/overrides.conf
ExecStart=/bin/iml-network
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal
