[Unit]
Description=IML Action Runner Service
PartOf=iml-manager.target
After=rabbitmq-server.service
After=iml-settings-populator.service
Requires=iml-settings-populator.service
Requires=iml-action-runner.socket
BindsTo=iml-action-runner.socket
After=iml-action-runner.socket


[Service]
Type=simple
Environment=RUST_LOG=info
EnvironmentFile=/var/lib/chroma/iml-settings.conf
ExecStart=/bin/iml-action-runner
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=iml-manager.target