[Unit]
Description=IML Settings Populator
Wants=postgresql-9.6.service
After=postgresql-9.6.service

[Service]
WorkingDirectory=/usr/share/chroma-manager
ExecStart=/bin/bash -c "exec /bin/python ./manage.py print-settings > /tmp/temp-settings.conf"
ExecStart=mv /tmp/temp-settings.conf /var/lib/chroma/iml-settings.conf
ExecStart=rm /tmp/temp-settings.conf
Type=oneshot