include Makefile
include monitor.wsgi
include chroma_core/fixtures/*
include chroma_core/bin/*.py
include chroma_core/bin/storage-daemon
include chroma_core/migrations/*.py
include chroma_ui/templates/*
graft polymorphic
graft chroma_ui/static
global-exclude .*.swp
