include Makefile
include monitor.wsgi
include monitor/templates/*
include monitor/migrations/*
include monitor/templatetags/*
include monitor/bin/*.py
include monitor/fixtures/*
include configure/templates/*
include configure/bin/*.py
include configure/bin/storage-daemon
include hydradashboard/templates/*
include hydracm/templates/*
graft polymorphic
graft monitor/static
graft configure/static
graft hydradashboard/static
graft hydracm/static
global-exclude .*.swp
