include Makefile
include logrotate.cfg
include wsgi.py
include chroma-manager.conf.template
include agent-bootstrap-script.template
include tests/sample_data/*.json
include scm_version.py
include *.repo
include *.profile
graft polymorphic
graft scripts
global-exclude local_settings.py*
