[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-nose = "==1.4.6"
flake8 = "*"
mock = "==1.0.1"
nose = "==1.3.7"
nose-testconfig = "==0.10"
pylint = "<2.0.0"
urllib3 = "*"

[packages]
Django = "==1.11.23"
amqp = "==2.4.0"
django-picklefield = "==1.0.0"
django-tastypie = "==0.14.1"
gevent = "==1.3"
greenlet = "==0.4.14"
gunicorn = "==19.9.0"
iml-common = {editable = true, path = "./iml-common"}
jsonschema = "==2.5.1"
kombu = "==4.2.2.post1"
lockfile = "==0.9.1"
massiviu = {file = "https://github.com/weholt/massiviu/archive/master.tar.gz"}
networkx = "==1.7"
ordereddict = "==1.1"
paramiko = "==2.1.1"
psycopg2 = "==2.7.7"
python-daemon = "==1.6"
python-dateutil = "==1.5"
requests = "==2.12.5"
requests-unixsocket = "==0.1.5"
toolz = "*"

[requires]
python_version = "2.7"
