amqp==2.4.0
django-picklefield==1.0.0
django-tastypie==0.14.1
Django==1.11.23
gevent==1.3
greenlet==0.4.14
gunicorn==19.9.0
httpagentparser==1.5.0
https://github.com/drkjam/netaddr/archive/rel-0.7.5.tar.gz
https://github.com/weholt/massiviu/archive/master.tar.gz
iml-common>=1.4,<1.5
jsonschema==2.5.1
kombu==4.2.2.post1
lockfile==0.9.1
mimeparse==0.1.3
networkx==1.7
ordereddict==1.1
paramiko==2.1.1
pexpect
psycopg2==2.7.7
pyparsing==1.5.6
python-daemon==1.6
python-dateutil==1.5
pytz==2014.4
requests_unixsocket==0.1.5
requests==2.12.5
setuptools
toolz==0.10.0
tzlocal
urllib3
vine==1.3.0
