[Unit]
Description=EMF Manager Target

Wants=emf-action-agent.service
After=emf-action-agent.service

Wants=emf-corosync-agent.service
After=emf-corosync-agent.service

Wants=emf-device-agent.service
After=emf-device-agent.service

Wants=emf-host-agent.service
After=emf-host-agent.service

Wants=emf-journal-agent.service
After=emf-journal-agent.service

Wants=emf-network-agent.service
After=emf-network-agent.service

Wants=emf-ntp-agent.service
After=emf-ntp-agent.service

Wants=emf-ostpool-agent.service
After=emf-ostpool-agent.service

Wants=emf-snapshot-agent.service
After=emf-snapshot-agent.service

Wants=emf-postoffice-agent.service
After=emf-postoffice-agent.service

Wants=emf-snapshot-agent.service
After=emf-snapshot-agent.service

Wants=emf-stats-agent.service
After=emf-stats-agent.service

[Install]
WantedBy=multi-user.target
