[Unit]
Description=EMF Action Agent Service
PartOf=emf-agent.target
After=network.target
Wants=emf-action-agent-sidecar.service
After=emf-action-agent-sidecar.service

[Service]
Type=simple
Environment=RUST_LOG=info
EnvironmentFile=/etc/emf/bootstrap.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStart=/usr/bin/emf-action-agent
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=emf-agent.target
