[Unit]
Description=Rust EMF Agent Daemon
Requires=systemd-journal-gatewayd.socket
After=systemd-journal-gatewayd.socket
After=network.target
PartOf=rust-emf-agent.path
After=rust-emf-agent.path

[Service]
Restart=always
EnvironmentFile=/etc/emf/manager-url.conf
EnvironmentFile=/etc/emf/emf-agent.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStart=/usr/bin/emf-agent-daemon
StandardOutput=journal
StandardError=journal
