<div class="action-dropdown">
  <button ng-if="actionDropdown.disabled || actionDropdown.confirmOpen" disabled class="btn btn-primary btn-sm">Disabled</button>
  <div ng-if="!actionDropdown.disabled && !actionDropdown.confirmOpen" class="btn-group" dropdown>
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
      Actions <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-class="{'end-of-group' : action.last }" ng-repeat="action in record[actionDropdown.actionsProperty] | groupActions track by action.verb">
        <a dropdown-toggle tooltip-html-unsafe="{{action.long_description}}" tooltip-placement="{{actionDropdown.tooltipPlacement}}" ng-click="actionDropdown.handleAction(record, action)" bindonce="action" bo-text="action.verb"></a>
      </li>
    </ul>
  </div>
</div>
