<div class="input-group">
  <div class="input-group-addon activate-popover" tooltip="Click for expanded hostlist expression."
       tooltip-placement="top">
    <i class="fa fa-list-ul"></i>
  </div>
  <iml-popover placement="bottom" title="Hosts" ng-if="pdsh.hostnameSections.length > 0">
    <ul class="well">
      <li bindonce ng-repeat="hostname in pdsh.hostnameSections"><span bo-text="hostname"></span></li>
    </ul>
  </iml-popover>
  <input class="form-control" type="search" name="pdsh" placeholder="{{pdsh.pdshPlaceholder}}"
         ng-model="pdsh.expression" ng-required="pdshRequired">
  <iml-tooltip class="error-tooltip" toggle="pdsh.pdshForm.pdsh.$invalid" direction="bottom">
    <ul>
      <li ng-repeat="message in pdsh.errorMessages">{{message}}</li>
    </ul>
  </iml-tooltip>
</div>
