<html>
  <head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css" />
    <link href="{{STATIC_URL}}css/datatables.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.16.custom.css"  rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/clo_BreadCrumb.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.cluetip/jquery.cluetip.css" type="text/css" />
    <link href="{{STATIC_URL}}css/resource_graph.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/target_dialog.css" type='text/css' />
    <link href="{{STATIC_URL}}css/js-graph-it.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.jgrowl.css" type='text/css' />
    <link rel="stylesheet" href="{{STATIC_URL}}css/notifications.css" type='text/css' />
    <link href="{{STATIC_URL}}css/storage_resource_dialog.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/jquery.alerts.css" rel="stylesheet" type="text/css" />

    {% block css %}{% endblock %}
    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />

    <!-- Frameworks -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/highcharts.js"></script>

    <!-- Plugins -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.jBreadCrumb.1.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.alerts.js"></script>
    <script type='text/javascript' src="{{STATIC_URL}}js/lib/jquery.jgrowl_minimized.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/js-graph-it.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.hoverIntent.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.cluetip.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.address-1.4.min.js"></script>

    <!-- Application (toplevel) -->
    <script type="text/javascript" src="{{STATIC_URL}}js/api.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sidebar.js"></script>  
    <script type="text/javascript">
      /* This is used for live update functions that want to get information from
       * the backend since the page was loaded */
      var page_load_time = '{{page_load_time}}';
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/notifications.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/highcharts_theme.js"></script>

    <!-- Application (individual panes) -->
    <script type='text/javascript' src="{{STATIC_URL}}js/resource_graph.js"></script>
    <script type='text/javascript' src="{{STATIC_URL}}js/target_dialog.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/storage_resource_dialog.js"></script>


    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />
    {% block scripts %}{% endblock %}
    <title>Chroma server</title>
  </head>
  <body style="margin: 0px 0px 0px 0px; padding: 0px;">  
    {% include 'header.html'%}
    <div class='columns read_enabled_only'>
      <div style="clear:both"></div>
      {% include 'notification_slider.html' %} 
      <div class='rightpanel'>
      {% block include_content %}{% endblock %}
      {% block content %}{% endblock %}
      <div>
      </div>
      </div>
    </div>
  </body>

  <!-- Markup for target_dialog.js -->
  <div style="overflow-y: auto; max-height: 700px;" id="target_dialog">
    <div id='target_dialog_tabs'>
      <ul>
        <li><a href='#target_dialog_properties' onfocus="this.blur()" tabindex="-1">Properties</a></li>
        <li><a href='#target_dialog_devices_tab' onfocus="this.blur()" tabindex="-1">Devices</a></li>
        <li><a href='#target_dialog_config_param_tab' onfocus="this.blur()" tabindex="-1">Advanced...</a></li>
      </ul>
      <div id='target_dialog_properties'></div>
      <div id='target_dialog_devices_tab'>
        <div id='target_dialog_devices' class='canvas resource_graph_canvas'></div>
      </div>
      <div id='target_dialog_config_param_tab'>
        <table border="0" cellspacing="0" cellpadding="0" id="target_config_param_table">
          <thead>
            <th>Property</th>
            <th>Value</th>
            <th></th> 
          </thead> 
          <tbody></tbody>
        </table>
        <div align="right"><button id="ConfigParam_Apply">Apply</button> <button id="ConfigParam_Cancel">Cancel</button></div>
      </div>
    </div>
  </div>
  <!-- End markup for target_dialog.js -->
</html>
