<!DOCTYPE html>
<html>
  <head>
  <script type="text/template" id="job_row_template">
    <span id='job_row'>
      <%= _.template($('#job_icon_template').html(), {job: job}) %>
      <span class='job_description'><%= job.description %></span>
    </span>
  </script>

  <script type="text/template" id="job_link_template">
   <a href="job/<%=job.id%>/" class="navigation">open</a>
  </script>

  <script type="text/template" id="job_icon_template">
    <% 
      function job_icon(job) {
        if (job.state == 'pending') {
          return "/static/images/icon_hourglass.png"
        } else if (job.state == 'complete') {
          if (job.cancelled) {
            return "/static/images/gtk-cancel.png"
          } else if (job.errored) {
            return "/static/images/dialog-error.png"
          } else {
            return "/static/images/icon_tick.png"
          }
        } else {
          return "/static/images/ajax-loader.gif"
        }
      }
    %>
    <img src='<%= job_icon(job) %>'/>
  </script>

  <script type="text/template" id="job_adjective_template">
    <% 
      function job_adjective(job) {
        if (job.state == 'pending') {
          return "Waiting to run"
        } else if (job.state == 'complete') {
          if (job.cancelled) {
            return "Cancelled"
          } else if (job.errored) {
            return "Failed"
          } else {
            return "Success"
          }
        } else {
          return "Running"
        }
      }
    %>
    <%= job_adjective(job) %>
  </script>

  <script type="text/template" id="job_list_template">
    <ul class='job'>
      <% _.each(jobs, function(job) { %>
        <li>
        <%= _.template($('#job_row_template').html(), {job: job}) %>
        <%= _.template($('#job_link_template').html(), {job: job}) %>
          <% if (job.children.length) { %>
            <%= _.template($('#job_list_template').html(), {jobs: job.children}) %>
          <% } %>
        </li>
      <% }); %>
    </ul>
  </script>

  <script type="text/template" id="command_detail_template">
    <div style='font-size: 10pt;'>
      <div class='command_params'>
        <%= message %>
      </div>
      <div class='command_job_list'>
        <%= _.template($('#job_list_template').html(), {jobs: jobs_tree}) %>
      </div>
    </div>
  </script>

  <script type="text/template" id="job_detail_template">
    <div class='job_summary'>
      <ul>
      <li>Description: <%= job.description %></li>
      <li>Status: <%= _.template($('#job_icon_template').html(), {job: job}) %>
                  <%= _.template($('#job_adjective_template').html(), {job: job}) %>
</li>
      <li>Run at: <%= shortLocalTime(job.modified_at) %></li>
      </ul>
    </div>
    <div class='dialog_tabs'>
      <ul>
        <li><a href='#steps'>Steps</a></li>
        <li><a href='#dependencies'>Dependencies</a></li>
      </ul>
      <div class='job_step_list' id='steps'>
        <%
          function step_icon(step) {
            if (step.state == 'success') {
              return "/static/images/icon_tick.png"
            } else if (step.state == 'failed') {
              return "/static/images/dialog-error.png"
            } else if (step.state == 'incomplete') {
              return "/static/images/ajax-loader.gif"
            }
          }
        %>
          <% _.each(job.steps, function(step) { %>
          <h3><a href='#'><img src='<%= step_icon(step) %>'/><%= step.step_index + 1 %>/<%= step.step_count %> <%= step.class_name %></a></h3>
          <div>
            <h4>Arguments</h4>
<pre class='console'>
<%= JSON.stringify(step.args) %>
</pre>
            <h4>Console</h4>
<pre class='console'>
<%= step.console %>
</pre>
            <h4>Exception</h4>
<pre class='console'>
<%= step.exception %>
</pre>
            <h4>Backtrace</h4>
<pre class='console'>
<%= step.backtrace %>
</pre>
          </div>
          <% }); %>
      </div>
      <div id='dependencies'>
        <ul class='job'>
        <% _.each(job.wait_for, function(awaited_job) { %>
          <li>
            <%= _.template($('#job_row_template').html(), {job: awaited_job}) %>
            <%= _.template($('#job_link_template').html(), {job: awaited_job}) %>
          </li>
        <% }); %>
      </ul>
      </div>
    </div>
  </script>

    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css" />
    <link href="{{STATIC_URL}}css/datatables.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.16.custom.css"  rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/clo_BreadCrumb.css" rel="stylesheet" type="text/css" />

    <link href="{{STATIC_URL}}css/resource_graph.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/target_dialog.css" type='text/css' />
    <link href="{{STATIC_URL}}css/js-graph-it.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/storage_resource_dialog.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/jquery.alerts.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{STATIC_URL}}css/notifications.css" type='text/css' />
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.qtip.min.css" type='text/css' />

    {% block css %}{% endblock %}
    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />

    <!-- Frameworks -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/highcharts.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/json2.js"></script>

    <!-- Plugins -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.jBreadCrumb.1.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.alerts.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/js-graph-it.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.qtip.min.js"></script>

    <!-- Application (toplevel) -->
    <script type="text/javascript" src="{{STATIC_URL}}js/api.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/router.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sidebar.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/notifications.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/highcharts_theme.js"></script>

    <!-- Application (individual panes) -->
    <script type='text/javascript' src="{{STATIC_URL}}js/resource_graph.js"></script>
    <script type='text/javascript' src="{{STATIC_URL}}js/target_dialog.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/storage_resource_dialog.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/command_dialog.js"></script>


    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />
    {% block scripts %}{% endblock %}
    <title>Chroma server</title>
  </head>
  <body style="margin: 0px 0px 0px 0px; padding: 0px;">  
    {% include 'header.html'%}
    <div class='columns read_enabled_only'>
      <div style="clear:both"></div>
      {% include 'notification_slider.html' %} 
      <div class='rightpanel'>
        <div class="toplevel" id='toplevel-configure' style="display: none;">
          {% include 'configuration.html' %}
        </div>
        <div class="toplevel" id='toplevel-dashboard' style="display: none;">
          {% include 'dashboard.html' %}
        </div>
        <div class="toplevel" id='toplevel-alert' style="display: none;">
          {% include 'alerts.html' %}
        </div>
        <div class="toplevel" id='toplevel-event' style="display: none;">
          {% include 'events.html' %}
        </div>
        <div class="toplevel" id='toplevel-log' style="display: none;">
          {% include 'logs.html' %}
        </div>
      {% block include_content %}{% endblock %}
      {% block content %}{% endblock %}
      <div>
      </div>
      </div>
    </div>
  </body>

  <!-- Markup for target_dialog.js -->
  <div style="overflow-y: auto; max-height: 700px;" id="target_dialog">
    <div id='target_dialog_tabs'>
      <ul>
        <li><a href='#target_dialog_properties' onfocus="this.blur()" tabindex="-1">Properties</a></li>
        <li><a href='#target_dialog_devices_tab' onfocus="this.blur()" tabindex="-1">Devices</a></li>
        <li><a href='#target_dialog_config_param_tab' onfocus="this.blur()" tabindex="-1">Advanced...</a></li>
      </ul>
      <div id='target_dialog_properties'></div>
      <div id='target_dialog_devices_tab'>
        <div id='target_dialog_devices' class='canvas resource_graph_canvas'></div>
      </div>
      <div id='target_dialog_config_param_tab'>
        <table border="0" cellspacing="0" cellpadding="0" id="target_config_param_table">
          <thead>
            <th>Property</th>
            <th>Value</th>
            <th></th> 
          </thead> 
          <tbody></tbody>
        </table>
        <div align="right"><button id="ConfigParam_Apply">Apply</button> <button id="ConfigParam_Cancel">Cancel</button></div>
      </div>
    </div>
  </div>
  <!-- End markup for target_dialog.js -->
</html>
