
<script language="javascript">
  // Globals for Create new fs Page.
  var ERR_FSNAME_EMPTY = "Please enter valid File system name";
  var ERR_OST_EMPTY = "Please select at least one device for OST creation";

  var FilesystemCreateView = function() {
    var initialized = false;
    var advanced_tab_clicked = false; 
    var conf_param_dialog;

    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        // TODO: reload lists of volumes
        $('#mgt_chooser').volumeChooser('clear');
        $('#mdt_chooser').volumeChooser('clear');
        $('#ost_chooser').volumeChooser('clear');
        conf_param_dialog.clear()
        advanced_tab_clicked = false;
      }
    }

    function init() 
    {
      $('#mdt_chooser').volumeChooser();
      $('#ost_chooser').volumeChooser({multi_select: true});

      conf_param_dialog = ConfParamDialog();

      /* Populate existing MGT list */
      Api.get("target/", {
          kind: "MGT",
          limit: 0
        },
        success_callback = function(data) {
          /* TODO: cope with possibility (unlikely) of pagination in the list of MGTs */
          var targets = data.objects;
          var options_markup = "<option value=''></option>";
          var count = 0;
          $.each(targets, function(i, target_info) {
            options_markup += "<option value='" + target_info.id + "'>" + target_info.primary_server_name + "</option>"
            count += 1;
          });
          if (count == 0) {
            $('#existing_or_new_mgt_options').hide();
          } else {
            $('#mgt_existing_dropdown').html(options_markup);
          }
        }
      );

      $('#mgt_chooser').volumeChooser({
        change: function() {
          $('#mgt_existing_dropdown').val('');
        }
      });

      $('#mgt_existing_dropdown').change(function() {
        if ($('#mgt_existing_dropdown option:selected').val()) {
          $('#mgt_chooser').volumeChooser('clear');
        }
      });

      //  Create FS Handler for create new FS 
      $('#btnCreateFS').click(function()
      {
        var fs_name = $('#txtfsnameid').val();
          
        var mgt_lun_id = $('#mgt_chooser').volumeChooser('val'); 
        var mgt_id = $('#mgt_existing_dropdown').val()
        var mdt_lun_id = $('#mdt_chooser').volumeChooser('val'); 
        var ost_lun_ids = $('#ost_chooser').volumeChooser('val'); 
        if(fs_name=="")
        {
          jAlert(ERR_FSNAME_EMPTY);
        }
        else if (!(mgt_id || mgt_lun_id))
        {
          jAlert("You must choose an MGT");
        }
        else if (!mdt_lun_id)
        {
          jAlert("You must choose an MDT");
        }
        else if(ost_lun_ids.length==0)
        {
          jAlert(ERR_OST_EMPTY);
        }
        else
        {
          CreateFS(fs_name, mgt_id, mgt_lun_id, mdt_lun_id, ost_lun_ids, function(fs_id) {
            Backbone.history.navigate("ui/configure/filesystem/detail/" + fs_id + "/", {trigger: true});
          }, conf_param_dialog.get());
        }
      }); 
      //Advance Options button click handler.
      $('div#filesystem_create_form button.advanced').click(function()
      {
        // If clicked first time then only fetch parameters else show already entered values
        if(!advanced_tab_clicked) {
          Api.get("help/conf_param/", {kind: 'FS'}, success_callback = function(help_dict) {
            var data = {};
            for(var key in help_dict) {
              data[key] = null;
            }
            advanced_tab_clicked = true;
            conf_param_dialog.setHelp(help_dict)
            conf_param_dialog.open()
          })
        } else {
          conf_param_dialog.open()
        }
      });
    }
    return {draw:draw}
  }();
</script>
<div id='filesystem_create_form'>
<table style="font-size:12px; padding-top:15px;">
  <tr>
    <td width="30%" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">1.</span> <span class="step_caption">Filesystem options</span><br>
      </div>
      <div class='step_body'>
        <label>Filesystem name:</label> <input type="text" name="txtfsname" id="txtfsnameid" style="width:100px;" maxlength="8"/>
        <button class='advanced' type="button">Advanced...</button>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">2.</span> <span class="step_caption">Choose MGT</span><br>
      </div>
      <div class='step_body'>

        <ul id='existing_or_new_mgt_options'>
          <li id="existing_mgt_field">
            Use existing: <select id="mgt_existing_dropdown"></select>
          </li>
          <li>
          Create new:
          </li>
        </ul>
        <button id='mgt_chooser'></button>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">3.</span> <span class="step_caption">Choose MDT</span><br>
      </div>
      <div class='step_body'>
        <button id='mdt_chooser'></button>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">4.</span> <span class="step_caption">Choose OSTs</span><br>
      </div>
      <div class='step_body'>
        <button id='ost_chooser'></button>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">5.</span> <span class="step_caption">Finish</span><br>
      </div>
      <div class='step_body'>
        <button class='back_button'/>
        <button class='submit' id='btnCreateFS'>Create filesystem now</button>
      </div>
    </td>
  </tr>
</table>
</div>

