<div class="logohead">
  <div class="logo"></div>
  <div class="top_links">
    <a id="dashboard_menu" href="/ui/dashboard/">Dashboard</a> |
    <a id="configure_menu" href="/ui/configure/">Configure</a> |
    <a id="alerts_menu"  href="/ui/dashboard/dbalerts/">Alerts</a>|
    <a id="events_menu" href="/ui/dashboard/dbevents/">Events</a> |
    <a id="logs_menu" href="/ui/dashboard/dblogs/">Log</a>
    <span id="user_info" style="float:right; padding-right:10px;">
      <span id="authenticated">
        <span id="username"></span>
        <a href="#" id='logout'>Logout</a>
      </span>
      <span id="anonymous">
        <a href="#" id='login'>Login</a>
      </span>
    </span>
    <span style="float:right; padding-right:10px;">Version: {{ APP_VERSION }}</span>
  </div>
</div>

<div id='login_dialog'>
  <div id='error' class="ui-state-error ui-corner-all"> 
    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
    <strong>Login failed: </strong><span id='error_detail'>Incorrect username or password</span>
  </div>
  <table>
    <tr>
      <td><label for='username'>Username:</label></td>
      <td><input type="text" size=16 name="username"/></td>
    </tr>
    <tr>
      <td><label for='password'>Password:</label></td>
      <td><input type="password" size=16 name="password"/></td>
    </tr>
  </table>
</div>
