<div class="logohead">
  <a class='navigation' href="">
    <div class="logo"></div>
  </a>
  <div class="top_links read_enabled_only">
    <ul class="navigation">
      <li><a id="dashboard_menu" class="navigation" href="dashboard/">Dashboard</a></li>
      <li><a id="configure_menu" class="navigation fsadmin_only" href="configure/">Configure</a></li>
      <li><a id="alert_menu" class="navigation" href="alert/">Alerts</a></li>
      <li><a id="event_menu" class="navigation" href="event/">Events</a></li>
      <li><a id="log_menu" class="navigation" href="log/">Log</a></li>
      <li><a href='{{STATIC_URL}}webhelp/index.html'>Help</a></li>
    </ul>
    <span id="user_info" style="float:right; padding-right:10px;">
      <span id="authenticated">
        <a href='#'><span id="username"></span></a>
        <a href="#" id='logout'>Logout</a>
      </span>
      <span id="anonymous">
        <a href="#" id='login'>Login</a>
      </span>
    </span>
    <span style="float:right; padding-right:10px;">Version: {{app_version}}</span>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $("a.navigation").live('click', function(ev) {
      Backbone.history.navigate($(this).attr('href'), {trigger: true});
      ev.preventDefault();
    });
  });
</script>

<div id='login_dialog'>
  <div id='error' class="ui-state-error ui-corner-all"> 
    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
    <strong>Login failed: </strong><span id='error_detail'>Incorrect username or password</span>
  </div>
  <table>
    <tr>
      <td><label for='username'>Username:</label></td>
      <td><input type="text" size=16 name="username"/></td>
    </tr>
    <tr>
      <td><label for='password'>Password:</label></td>
      <td><input type="password" size=16 name="password"/></td>
    </tr>
  </table>
</div>
