

<html>
  <head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/clo_Base.css" type="text/css" />
    <link href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.16.custom.css"  rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.16.custom.min.js"></script>
    <title>Chroma server installation</title>

    <script type="text/javascript">
      

      function pollStatus() {
        $.ajax({url: "/ui/installation_status/?httpd_pid={{httpd_pid}}", complete: checkStatus});
      }

      function checkStatus(jqXHR) {
        var complete = false;
        if (jqXHR.status == 200) {
          var response = $.parseJSON(jqXHR.responseText)
          if (!response.populated) {
            $('#wait_status').html("Populating database...");
          } else if (!response.restarted) {
            $('#wait_status').html("Starting services...");
          } else {
            $('#wait_status').html("Complete");
            window.location.href = {% url chroma_ui.views.index %}
            complete = true;
          }
        } else if (jqXHR.status == 0) {
          // Couldn't get through, it's restarting
          $('#wait_status').html("Restarting Apache...");
        } else {
          console.log('unexpected status ' + jqXHR.status);
          console.log('unexpected statusText ' + jqXHR.statusText);
        }
        if (!complete) {
          setTimeout(pollStatus, 5000);
        }
      }

      $(document).ready(function() {
        setTimeout(pollStatus, 5000);
      });
    </script>
  </head>
  <body>
    <h2>Configuration in progress</h2>
    <p><img src="{{STATIC_URL}}/images/ajax-loader.gif"/>This process may take a few minutes, please wait...</p>
    <p id='wait_status'></p>
    <a id='clickme'>Click</a>
  </body>
</html>
