


{% extends 'hydra_base.html' %}

{% block css %}
{% endblock %}


{% block content %}

<h2>{{job.description}} (Job {{job.id}})</h2>
<p>State: {{job.state}}
{% if job.cancelled %}
, cancelled
{% endif%}
{% if job.errored %}
, errored
{% endif%}
{% if job.paused %}
, paused
{% endif%}
</p>

<h3>Output</h3>

{% for step_result in job.stepresult_set.all %}
    <h4><img id="step_{{step_result.id}}_state"/>&nbsp;Step {{step_result.step_number}} of {{step_result.step_count}}: {{step_result.state}}
</h4>
    <p>{{step_result.describe}}</p>
    <script type='text/javascript'>
        $(document).ready(function() {
            {% if step_result.state == 'incomplete' %}
                setTimeout(function() {
                    location.reload();
                });
            {% endif %}
            path_table = {
            'incomplete': "{{STATIC_URL}}/images/ajax-loader.gif",
            'crashed': "{{STATIC_URL}}/images/dialog-error.png",
            'failed': "{{STATIC_URL}}/images/dialog-error.png",
            'success': "{{STATIC_URL}}/images/icon_tick.png",
            }
            img_path = path_table["{{step_result.state}}"];
            $('img#step_{{step_result.id}}_state').attr('src', img_path);
        });
    </script>
    <p>Started at {{step_result.created_at}}, last updated at {{step_result.modified_at}}</p>
    <h5>Console output</h5>
    <pre class='console'>{{step_result.console}}</pre>
    {% if step_result.exception %}
        <h5>Exception</h5>
        <pre class='console'>{{step_result.exception}}</pre>
        {% if step_result.backtrace %}
        <h5>Backtrace</h5>
        <pre class='console'>{{step_result.backtrace}}</pre>
        {% endif %}
    {% endif %}
{% endfor %}

<h3>Debug: Wait for {{job.wait_for_completions}}/{{job.wait_for_count}}:</h3>
<ul>
    {% for dep in job.wait_for.all %}
    <li>{{dep}}</li>
    {% endfor %}
</ul>

<h3>Debug: Dependencies</h3>
<pre>
{{job.all_deps.debug_list}}
</pre>
<ul>
    {% for dep in job.all_deps.all %}
    <li>{{dep.stateful_object}},{{dep.acceptable_states}},{{dep.stateful_object.state}},{{dep.satisfied}}</li>
    {% endfor %}
</ul>

<h3>Debug: locks</h3>
<ul>
    {% for l in job.statelock_set.all %}
    <li>{{l}}</li>
    {% endfor %}
</ul>

{% endblock %}

