<script type='text/javascript'>
  $(document).ready(function() {
    //cm-json_table_data => load existing file system list
    LoadFSList_FSList();
    
    $('#name').keyup( function() { oTable.fnDraw(); } );
    // List File system JQuery Data Table init()
      var oTable = $('#fs_list').dataTable( {
        "bProcessing": true,
        "bJQueryUI": true,
        "bAutoWidth":false,
        "oLanguage": {
            "sEmptyTable": "No filesystems"
        },
        bPaginate: false,
        bFilter: false,
        bInfo: false,
        "aoColumns": [
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtright' },
          { "sClass": 'txtright' },
          { "sClass": 'txtright' },
          { "sClass": 'txtright' },
          { "sClass": 'txtcenter', bSortable: false},
          { "sClass": 'txtleft', bSortable: false}
        ]
      });
    //Create New FS button click handler      
    $('#create_new_fs').button();
  });
</script>

<h2 class='section_header'>Filesystem Configuration</h2>
<p>
  <a id='create_new_fs' class='address_link' href='filesystems_new'>New filesystem...</a>
</p>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="fs_list" width="100%">
  <thead>
    <tr>
      <th width="9%">Name</th>
      <th width="10%">Management server</th>
      <th width="10%">Metadata server</th>
      <th width="9%">No. OSS</th>
      <th width="9%">No. OST</th>
      <th width="5%">Total</th>
      <th width="5%">Free</th>
      <th width="1%"></th>
      <th width="1%"></th>
    </tr>
  </thead>
  <tbody id="example_content">
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>
