

{% extends 'hydra_base.html' %}

{% block css %}
<style type="text/css">
#stateful_objects {
    padding-left: 0px;
}

#stateful_objects li {
    list-style: none;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #09f;
    padding: 6px;
    font-size: 0.9em;
    font-weight: normal;
    color: #222;
}

#stateful_objects li span.name {
    font-weight: bold;
    text-shadow: #aaa 2px 2px 3px;
}

#stateful_objects li span.state_label {
    font-size: 0.95em;
    float: right;
}

#stateful_objects li span.state {
    font-style: italic;
    font-size: 0.95em;
    float: right;
}

span.hshrink {
    display: inline-block;
    float: left;
    margin-right: 12px;
    padding-left: 6px;
    border-left: 1px solid gray;
}

#jobs {
    padding: 3px;
    padding-left: 0px;
}

div#content {
    padding: 12px;
}

h2 {
    text-shadow: #aaa 2px 2px 3px;
    margin-bottom: 6px;
    margin-top: 0px;
}

#jobs li {
    list-style: none;
    margin-bottom: 3px;
    font-size: 0.9em;
    color: #222;
    font-weight: normal;
}

#jobs li span.description {
    font-style: italic;
}

#jobs li a {
    font-size: 0.9em;
    font-style: italic;
}

#jobs li span.time {
    margin-left: 12px;
}

img.icon {
}
</style>
{% endblock %}

{% block content %}
<span class='hshrink'>
<h2>Objects</h2>
<ul id='stateful_objects'>
</ul>
</span>

<span class='hshrink'>
<h2>Jobs</h2>
<ul class='ui-style-default' id='jobs'>
</ul>
</span>

<script type='text/javascript'>
    stateful_object_markup = function(container, stateful_object) {
        if (stateful_object['url']) {
            container.find('.name').html("<a href='" + stateful_object['url'] + "'>" + stateful_object['__str__'] + "</a>");
        } else {
            container.find('.name').html(stateful_object['__str__']);
        }

        var new_state = stateful_object['state'];
        var old_state = container.find('.state').html()
        container.find('.state').html(new_state)
        if (new_state != old_state && old_state != "") {
            container.find('.state').effect('pulsate');
        }

        actions_list = container.find('.actions')
        valid_urls = []
        stateful_object['actions'].forEach(function(action) {
            if(actions_list.children('a[href="' + action['url'] + '"]').length == 0) {
                link = $('<a>' + action['caption'] + '</a>').attr({'href': action['url']})
                if (action['ajax']) {
                    link.click(function(event) {
                        event.preventDefault();
                        link = $(this)
                        url = link.attr('href');
                        action_request = $.get(url)
                            .error(function(event) {
                                setTimeout('jobs_update();', 1000);
                                console.log(event);
                            });
                    });
                }
                link.button();
                actions_list.append(link);
            }
            valid_urls.push(action['url'])
        });
        actions_list.children().each(function() {
            if (valid_urls.indexOf($(this).attr('href')) == -1) {
                $(this).remove()
            }
        });
    }

    job_markup = function(container, job) {
        container.children('.description').html(
            job['description'] + "<a href='/hydracm/job/" + job['id'] + "/'> [details]</a>"
        );

        container.children('.time').html(job['created_at']);
        valid_urls = []

        if (job['state'] == 'pending') {
            container.children('.icon').attr('src', "{{STATIC_URL}}/images/icon_hourglass.png");
        } else if (job['state'] == 'tasked' || job['state'] == 'tasking' || job['state'] == 'completing') {
            container.children('.icon').attr('src', "{{STATIC_URL}}/images/ajax-loader.gif");
        } else if (job['errored']) {
            container.children('.icon').attr('src', "{{STATIC_URL}}/images/dialog-error.png");
        } else if (job['cancelled']) {
            container.children('.icon').attr('src', "{{STATIC_URL}}/images/gtk-cancel.png");
        } else if (job['state'] == 'complete') {
            container.children('.icon').attr('src', "{{STATIC_URL}}/images/icon_tick.png");
        } else if (job['state'] == 'paused') {
            container.children('.icon').attr('src', "{{STATIC_URL}}/images/gtk-media-pause.png");
        } else {
            console.log('no icon for job:');
            console.log(job);
        }
    }

    load_json = function(data) {
        jobs = data['jobs']
        jobs.forEach(function(job) {
            id = "job_" + job['id'];
            if($('#' + id).length == 0) {
                $('#jobs').prepend(
                    $("<li class='ui-state-default'>" + 
                        "<img class='icon'/>" + 
                        "<span class='description'></span>" + 
                        "<span class='time'></span>" + 
                        "</li>").attr({'id': id})
                )
            }
            job_markup($('#' + id), job);
        });
        
        stateful_objects = data['stateful_objects'];
        stateful_objects.forEach(function(stateful_object) {
            id = "stateful_object_" + stateful_object['content_type_id'] + "_" + stateful_object['id'];
            if($('#' + id).length == 0) {
            $('#stateful_objects').append($(
                    "<li class='ui-state-default'><span class='name'></span>  " + 
                    "<span class='state'></span>" +
                    "<span class='state_label'>State: </span>" + 
                    "<br><span class='actions'></span>" +
                    "</li>").attr({'id': id}))
            }
            stateful_object_markup($('#' + id), stateful_object);
        });
    }

    jobs_update = function() {
        jobs_request = $.get("{% url chroma_ui.views.jobs_json %}")
            .success(function(data, textStatus, jqXHR) {
                setTimeout('jobs_update();', 1000);
                load_json(data)
                
            })
            .error(function(event) {
                setTimeout('jobs_update();', 1000);
                console.log(event);
            });
    }

    initial_data = {{initial_data|safe}};

    $(document).ready(function() {
        load_json(initial_data); 
        setTimeout('jobs_update();', 1000);
    });
</script>

{% endblock %}

