
<script type='text/javascript'>
  /* Populate table of storage resources */
  var resourceTable = null;
  function load_resource_table() {
      var selected = $('#resource_class_select option:selected').val()
      var tokens = selected.split(",")
      var module_name = tokens[0]
      var class_name = tokens[1]

      Api.get("storage_resource_class/" + module_name + "/" + class_name + "/", {},
          success_callback = function(resource_class) {
            var columns = resource_class.columns;
            var aoColumns = [
              {'mdataProp': 'id', 'bVisible': false, bSortable: false},
              {'mDataProp': 'alias', 'sTitle': 'Name', bSortable: false}];
            $.each(columns, function(i, c) {
              aoColumns.push({
                bSortable: true, sClass: 'txtleft', sTitle: c['label'], mDataProp: "attr_" + c['name']
              })
            });
            aoColumns.push({mDataProp: '_alert_markup', sWidth: "1%", bSortable: false})

            if (resourceTable) {
                resourceTable.fnDestroy();
                resourceTable = null;
                $('#resource_table').html("")
            } 

            resourceTable = $('#resource_table').dataTable({
                bServerSide: true,
                sAjaxSource: "storage_resource/" + module_name + "/" + class_name + "/",
                fnServerData: function(url, data, callback, settings) {
                  Api.get_datatables(url, data, function(data){
                    $.each(data.aaData, function(i, row) {
                      row._alert_markup = LiveObject.alertIcon(row);
                      if (row.alerts.length > 0) {
                        row.DT_RowClass = "resource_alert";
                      }
                      $.each(row.attributes, function(attr_name, attr_val) {
                        row["attr_" + attr_name] = attr_val['markup'];
                      });
                      row.alias = "<a class='storage_resource' href='#" + row.id + "'>" + row.alias + "</a>"
                      row['0'] = ""
                    });
                    callback(data);
                  }, settings);
                },
                bJQueryUI: true,
                bPaginate: true,
                bAutoWidth: false,
                iDisplayLength:25,
                aoColumns: aoColumns
            }); 

            $('#resource_table tbody tr').live('click', function() {
                var aPos = resourceTable.fnGetPosition(this);
                var data = resourceTable.fnGetData(aPos);
                var resource_record_id = data.id
            });
        });
  }
  var StorageView = function() {
    var initialized = false;
    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        $('#resource_table').dataTable().fnDraw();
      }
    }

    function init() 
    {
      $('#resource_class_select').change(function() {
          load_resource_table();
      });
      /* Initial population of dropdown of resource classes */
      Api.get("storage_resource_class/", {},
        success_callback = function(data) {
          options = ""
          if (data.objects.length == 0) {
            $('div#plugins_available').hide();
            /*$('div#plugins_unavailable').css('display', 'block')*/
            $('div#plugins_unavailable').show();
          } else {
            var default_hint = null;
            $.each(data.objects, function(i, resource_class) {
              if (resource_class.user_creatable) {
                /* Simple default selection: pick a creatable resource class
                   if we see one */
                default_hint = resource_class.plugin_name + "," + resource_class.class_name;
              }
              options += "<option value='" + resource_class.plugin_name + "," + resource_class.class_name + "'>" + resource_class.label + "</option>"
            });
            $('#resource_class_select').html(options);

            /* Select the default resource class */
            if (default_hint) {
              $('#resource_class_select option[value="' + default_hint + '"]').attr('selected', 'selected');
            }

            /* Initial population of table once we know our default-selected class */
            load_resource_table();
          }
        }
      );
    }
    return {draw:draw}
  }();
</script>


<div id="plugins_available">
  <h2 class='section_header'>Storage resources</h2>
  <p><button class='add storage_resource_create_link'>Add storage device...</button></p>
  <p>Filter: <select id='resource_class_select'></select>&nbsp;</p>
  <table class='display tight_lines' id='resource_table' width="100%">
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div id="plugins_unavailable" style="display:none;">
  <h2 class='section_header'>No plugins found</h2>
  <p>No storage plugins are currently installed.  When storage plugins are installed,
  use this tab to configure and view storage resources such as controllers.</p>
</div>
