

{% extends 'base.html' %}

{% block content %}

{% load pagination_tags %}
{% load rel_time %}

{% autopaginate alerts 20 %}

<div class="alert_list">
    <h1>Active alerts</h1>
    {% if alerts.count == 0 %}
    <p class='alerts_all_ok'>No alerts.</p>
    {% endif %}
    <table class='event_list'>
        <thead>
            <tr>
                <th>Started at</th>
                <th>Duration</th>
                <th></th>
                <th>Item</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for alert in alerts %}
                <tr class='error'>
                    <td class='event_created_at'>{{alert.begin}}</td>
                    <td class='event_created_at_short'>{{alert.begin|small_timesince}}</td>
                    <td class='event_severity'></td>
                    <td class='alert_item'>{{alert.alert_item}}</td>
                    <td class='alert_message'>{{alert.message}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% paginate %}
</div>

{% autopaginate alert_history 20 %}

<div class="alert_list">
    <h1>Alert History</h1>
    {% if alerts.count == 0 %}
    <p class='alerts_all_ok'>No alerts.</p>
    {% endif %}
    <table class='event_list'>
        <thead>
            <tr>
                <th>Begin</th>
                <th>End</th>
                <th>Duration</th>
                <th></th>
                <th>Item</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for alert in alert_history %}
                <tr class='error'>
                    <td class='event_created_at'>{{alert.begin}}</td>
                    <td class='event_created_at'>{{alert.end}}</td>
                    <td class='event_created_at_short'>{{alert.duration}}</td>
                    <td class='event_severity'></td>
                    <td class='alert_item'>{{alert.alert_item}}</td>
                    <td class='alert_message'>{{alert.message}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% paginate %}
</div>

{% endblock %}
