
<html>
    <head>

    <!-- CSS to be used with base.html template -->
    <link type="text/css" href="{{STATIC_URL}}css/custom-theme/jquery-ui-1.8.14.custom.css" rel="stylesheet" />   
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css"/>
    {% block css %}{% endblock %}

    <!-- JQuery and JQuery-UI -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.qtip-1.0.0-rc3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.sparkline.js"></script>

    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />

    {% block scripts %}{% endblock %}

    <title>Hydra Monitor</title>
    <div id="header" class="span-31 last"> 
        <a href="http://www.whamcloud.com/">
            <div id="logo"></div>
        </a>
        <div id="navigation"> 
            <ul> 
              {% for menu_item in menu_items %}
              <li><a href="{{menu_item.url }}">{{menu_item.caption}}</a></li> 
              {% endfor %}
            </ul> 
        </div>
    </div> 



</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="footer">
<span class='audit_time'>Version: {{ APP_VERSION }}</span>
</div>
</body>
</html>


