
<html>
    <head>

    <!-- CSS to be used with base.html template -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css"/>

    <!-- JQuery and JQuery-UI -->
    <link type="text/css" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />   
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.13.custom.min.js"></script>

    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />

    {% block scripts %}{% endblock %}

    <title>Hydra Monitor</title>
    <div id="header" class="span-31 last"> 
        <div id="logo"></div>
        <div id="navigation"> 
            <ul> 
              <li><a href="/monitor/">Dashboard</a></li> 
              <li><a href="/monitor/statistics/">Statistics</a></li> 
              <li><a href="/monitor/log_viewer/">Log Viewer</a></li> 
            </ul> 
        </div>
    </div> 



</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>


