<table class="dashboard_panes">
    <tr>
        <td>

{% load status %}

<div class="dashtree">
<h1>Filesystem status</h1>
<ul class="tree">
    {% for filesystem in dashboard_data.filesystems %}
        <li class="sparklines"><span class="sparkline" id="aggregate/{{filesystem.item.name}}/bw"></span><span class="sparkvals" id="aggregate/{{filesystem.item.name}}/bw"></span></li>
        <li class="filesystem collapsible"><span class='name'>{{filesystem.item.name}}</span> <span class="status {{filesystem.status|status_class}}">{{filesystem.status}}</span>
        <!-- List of targets -->
        <ul class="tree">
        {% for target in filesystem.targets %}
            <li class= "target collapsible">
            <span class='name'>{{target.item.name}}</span><span class="status {{target.status|status_class}}">{{target.status}}</span>
            <!-- List of mountables -->
            <ul class="tree">
            {% for target_mount in target.target_mounts %}
                <li class="target collapsible noautoshow">
                <span class='name'>{{target_mount.item.host.pretty_name}}</span>
                <span class="status {{target_mount.status|status_class}}">{{target_mount.status}}</span>
                <!-- List of target mountable properties -->
                <ul class="tree compact_list">
                <li><span class="param_key">Device:</span> {{target_mount.item.block_device}}</li>
                <li><span class="param_key">Mount path:</span> {{target_mount.item.mount_point}}</li>
                {% for key,val in target_mount.target_params %}
                    <li class="lustre_param"><span class="param_key">{{key}}</span>: {{val}}</li>
                {% endfor %}
                </ul>
                </li>
            {% endfor %}
            </ul>
            </li>
        {% endfor %}
        </ul>
        </li>
    {% endfor %}
</ul>
</div>

</td><td>


<div class="dashtree">
<h1>Server status</h1>
<ul class="tree">
    {% for host in dashboard_data.hosts %}
    <li class="host collapsible"><span class='name'>{{host.item.pretty_name}}</span> ({{host.item.role}}) <span class='status {{host.status}}'>{{host.status}}</span>
    <ul class="tree">
        {% for mountable in host.target_mounts %}
        <li class="target">
        {{mountable.item}} <span class='status {{mountable.status|status_class}}'>{{mountable.status}}</span>
        </li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>

<script type='text/javascript'>
$(document).ready(function() {
    $('.add_host_button').button()
    $('.add_host_button').click(function(ev) {
        $('#add_host_dialog').dialog('open');
        $('#add_host_tabs').tabs('select', "#add_host_prompt");
    });
});
</script>
<div style="text-align: right;">
    <a href='#' class='add_host_button'>Add host...</a>
</div>
</div>

        <div class='smalltable'>
        {% load rel_time %}
        {% load pagination_tags %}
        {% autopaginate alerts 5 %}
        <h1>Alerts</h1>
        {% if alerts.count == 0 %}
        <p class='alerts_all_ok'>
        No active alerts
        </p>
        {% else %}
        <table class='event_list'>
            <tr>
                <th>Raised</th>
                <th></th>
                <th>Item</th>
                <th>Message</th>
        {% for alert in alerts %}
        <tr class='error'>
            <td class='event_created_at_short'>{{alert.begin|small_timesince}} ago</td>
            <td class='event_severity'></td>
            <td class='alert_item'>{{alert.alert_item}}</td>
            <td class='alert_message'>{{alert.message}}</td>
        </tr>
        {% endfor %}
        </table>
        <!--{% paginate %}-->
        <!-- NB need to do some work around refreshing to be able to page through -->
        {% endif %}
        <div class='more_link'>(<a href="{% url monitor.views.alerts %}">All alerts...</a>)</div>
        </div>

        <div class='smalltable'>
        {% autopaginate events 5 %}
        <h1>Events</h1> 
        {% if events.count == 0 %}
        <p class='empty_table_text'>No events found</p>
        {% else %}
        <table class='event_list'>
        {% for event in events %}
        <tr class='{{event.severity_class}}'>
            <td class='event_created_at_short'>{{event.created_at|small_timesince}} ago</td>
            <td class='event_host'>{{event.host.pretty_name}}</td>
            <td class='event_severity'></td>
            <td class='event_message'>{{event.message}}</td>
        </tr>
        {% endfor %}
        </table>
        <!-- NB need to do some work around refreshing to be able to page through -->
        <!--{% paginate %}-->
        <div class='more_link'>(<a href="{% url monitor.views.events %}">All events...</a>)</div>
        {% endif %}
        </div>

</td></tr>
</table>

