
{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript">
    /* http://stackoverflow.com/questions/2068272/getting-a-jquery-selector-for-an-element */
    jQuery.fn.getPath = function () {
        if (this.length != 1) throw 'Requires one element.';

        var path, node = this;
        while (node.length) {
            var realNode = node[0], name = realNode.localName;
            if (!name) break;
            name = name.toLowerCase();

            var parent = node.parent();

            var siblings = parent.children(name);
            if (siblings.length > 1) { 
                name += ':eq(' + siblings.index(realNode) + ')';
            }

            path = name + (path ? '>' + path : '');
            node = parent;
        }

        return path;
    };

    closed_states = {};
    function toggle_closed(item, state, duration) {
        /* state==true means 'closed' */
        if (state == null) {
            state = !item.hasClass('closed')
        }
        if (item.hasClass('closed') != state) {
            if (state) {
                var style = 'hide';
            }else {
                var style = 'show'; 
            }
            item.children('ul').animate({height: style, opacity: style}, duration); 
            item.toggleClass('closed', state)
            closed_states[item.getPath()] = item.hasClass('closed');
        }
    }

    function load_inner() {
        $('#inner').load("dashboard_inner/", function(response, status) {
            if (status == 'error') {
                $('#inner').html("Error loading status, check connection between browser and Hydra server");
            }
            $('li.collapsible').each(function() {
                /* Insert expand all and collapse all links */
                if ($(this).find('li.collapsible').size() == 0) {
                    return;
                }
                
                $("<a href='#' class='tree_all expand_all'>Show all</a>").insertBefore($(this).children('ul'))
                $("<span>&nbsp;/&nbsp;</span><a href='#' class='tree_all collapse_all'>Hide all</a>").insertBefore($(this).children('ul'));
            });

            $('a.expand_all').click(function(event) {
                toggle_closed($(this).parent(), false, 0);
                $(this).parent().find('li.collapsible').each(function() {
                    toggle_closed($(this), false, 0);
                });
                event.stopPropagation();
            });

            $('a.collapse_all').click(function(event) {
                toggle_closed($(this).parent(), true, 0);
                $(this).parent().find('li.collapsible').each(function() {
                    toggle_closed($(this), true, 0);
                });
                event.stopPropagation();
            });

            $('li.collapsible').each(function(item) {
                /* Set 'closed' on anything with an 'OK' status */
                if ($(this).children('span.status').first().hasClass('OK')) {
                    $(this).addClass('closed')
                }

                /* Apply any closedness states stored in closed_states */
                if ($(this).getPath() in closed_states) {
                    $(this).toggleClass('closed', closed_states[$(this).getPath()])
                }
            });

            $('li.collapsible').each(function(item) {
                if ($(this).hasClass('closed')) {
                    $(this).children('ul').hide();
                }
            });
            $('li.collapsible').click(function(event) {
                toggle_closed($(this));
                event.stopPropagation();
            });
        });
    }

    $(document).ready(function() {
            load_inner();
            setInterval(load_inner, 5000);
    });


</script>
{% endblock %}

{% block content %}

<div id='inner'>
    <span class='loading_placeholder'>Loading...</span>
</div>
<!--
<div class="dashtree">
<h1>Clients</h1>
<ul class="tree">
    {% for client in clients %}
    <li class="client">
    {{client.host.address}} ({{client.mount_point}}) <span class='status {{client.status_string}}'>{{client.status_string}}</span>
    </li>
    {% endfor %}
</ul>
</div>
-->

{% endblock %}
