
{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
            $('li.collapsible').click(function(event) {
                $(this).children('ul').animate({height: 'toggle', opacity: 'toggle'}); 
                event.stopPropagation();
            });
    });
</script>
{% endblock %}

{% block content %}

<table class="twocolumns">
    <tr>
        <td>

<div class="dashtree">
<h1>Filesystems</h1>
<ul class="tree">
{% for filesystem in filesystems %}
<li class="filesystem collapsible"><span class='name'>{{filesystem.name}}</span> <span class="status {{filesystem.status_string}}">{{filesystem.status_string}}</span>
    <ul class="tree">
    {% for host,targets in filesystem.get_servers.items %}
    <li class="host collapsible"><span class='name'>{{host.address}}</span> ({{host.role}}) <span class="status {{host.status_string}}">{{host.status_string}}</span>
        <ul class="tree">
            {% for mountable in targets %}
                <li class="target">
                {{mountable.name_no_fs}} <span class="status {{mountable.status_string}}">{{ mountable.status_string }}</span>
                </li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
</div>

</td><td>

<div class="dashtree">
<h1>Hosts</h1>
<ul class="tree">
    {% for host in hosts %}
    <li class="host collapsible"><span class='name'>{{host.address}}</span> ({{host.role}}) <span class='status {{host.status_string}}'>{{host.status_string}}</span>
    <ul class="tree">
        {% for mountable in host.get_mountables %}
        <li class="target">
        {{mountable}} <span class='status {{mountable.status_string}}'>{{mountable.status_string}}</span>
        </li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>
</div>

</td></tr></table>

<!--
<div class="dashtree">
<h1>Clients</h1>
<ul class="tree">
    {% for client in clients %}
    <li class="client">
    {{client.host.address}} ({{client.mount_point}}) <span class='status {{client.status_string}}'>{{client.status_string}}</span>
    </li>
    {% endfor %}
</ul>
</div>
-->

{% endblock %}
