<table class="twocolumns">
    <tr>
        <td>

<div class="dashtree">
<h1>Filesystem status</h1>
<ul class="tree">
    {% for filesystem in filesystems %}
        <li class="filesystem collapsible"><span class='name'>{{filesystem.name}}</span> <span class="status {{filesystem.status_rag}}">{{filesystem.status_string}}</span>
        <!-- List of targets -->
        <ul class="tree">
        {% for target in filesystem.get_targets %}
            <li class= "target collapsible">
            <span class='name'>{{target.name}}</span><span class="status {{target.status_rag}}">{{target.status_string}}</span>
            <!-- List of mountables -->
            <ul class="tree">
            {% for targetmountable in target.targetmount_set.all %}
                <li class="target collapsible noautoshow">
                <span class='name'>{{targetmountable.host.pretty_name}}</span>
                <span class="status {{targetmountable.status_rag}}">{{targetmountable.status_string}}</span>
                <!-- List of target mountable properties -->
                <ul class="tree compact_list">
                <li><span class="param_key">Device:</span> {{targetmountable.block_device}}</li>
                <li><span class="param_key">Mount path:</span> {{targetmountable.mount_point}}</li>
                {% for key,val in targetmountable.target.params %}
                    <li class="lustre_param"><span class="param_key">{{key}}</span>: {{val}}</li>
                {% endfor %}
                </ul>
                </li>
            {% endfor %}
            </ul>
            </li>
        {% endfor %}
        </ul>
        </li>
    {% endfor %}
</ul>
</div>

</td><td>

<div class="dashtree">
<h1>Server status</h1>
<ul class="tree">
    {% for host in hosts %}
    <li class="host collapsible"><span class='name'>{{host.pretty_name}}</span> ({{host.role}}) <span class='status {{host.status_string}}'>{{host.status_string}}</span>
    <ul class="tree">
        {% for mountable in host.mountable_set.all %}
        <li class="target">
        {{mountable}} <span class='status {{mountable.status_rag}}'>{{mountable.status_string}}</span>
        </li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>
</div>

</td></tr>
<tr><td></td><td class='audit_time'>Last system audit: {{last_audit_time}}</td>
</table>

<p class="audit_time"></span>


