<table class="twocolumns">
    <tr>
        <td>

<div class="dashtree">
<h1>Filesystems</h1>
<ul class="tree">
{% for filesystem in filesystems %}
<li class="filesystem collapsible"><span class='name'>{{filesystem.name}}</span> <span class="status {{filesystem.status_string}}">{{filesystem.status_string}}</span>
    <ul class="tree">
    {% for host,targets in filesystem.get_servers.items %}
    <li class="host collapsible"><span class='name'>{{host.address}}</span> ({{host.role}}) <span class="status {{host.status_string}}">{{host.status_string}}</span>
        <ul class="tree">
            {% for targetmountable in targets %}
                <li class="target">
                {{targetmountable.target.name_no_fs}} <span class="status {{targetmountable.status_rag}}">{{ targetmountable.status_string }}</span>
                </li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
</div>

</td><td>

<div class="dashtree">
<h1>Hosts</h1>
<ul class="tree">
    {% for host in hosts %}
    <li class="host collapsible"><span class='name'>{{host.address}}</span> ({{host.role}}) <span class='status {{host.status_string}}'>{{host.status_string}}</span>
    <ul class="tree">
        {% for mountable in host.get_mountables %}
        <li class="target">
        {{mountable}} <span class='status {{mountable.status_rag}}'>{{mountable.status_string}}</span>
        </li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>
</div>

</td></tr>
<tr><td></td><td class='audit_time'>Last system audit: {{last_audit_time}}</td>
</table>

<p class="audit_time"></span>


