
{% extends 'base.html' %}

{% block scripts %}
<script type='text/javascript' src="{{STATIC_URL}}js/dashtree.js"></script>
<script type="text/javascript">
    function refresh_images() {
        $('img.graph').each(function(item) {
            if (!$(this).parents("li.collapsible").hasClass("closed")) {
                qchar = $(this).attr('id').indexOf("?") < 0 ? "?" : "&";
                $(this).attr("src", "/monitor/dyngraphs/" + $(this).attr('id') + qchar + "time=" + new Date().getTime());
            }
        });

        setTimeout('refresh_images()', 5000);
    }

    function add_graph_tips() {
        now = (new Date().getTime() / 1000).toFixed(0)
        hour = now - 3600
        day = now - 86400
        week = now - (86400 * 7)
        month = now - ((86400 * 7) * 4)
        // TODO: These tooltip graphs don't refresh -- need to fix
        // this and/or refresh_graphs() to make them play well together.
        $('img.graph').each(function(item) {
            newsrc = $(this).attr('src').replace(/size=.*/, "size=normal")
            newid = $(this).attr('id').replace(/size=.*/, "size=normal")
            qchar = $(this).attr('id').indexOf("?") < 0 ? "?" : "&";
            content = '<img id="' + newid + '" src="' + newsrc + qchar + 'start=' + hour + '"><br/>'
            content += '<img id="' + newid + '" src="' + newsrc + qchar + 'start=' + day + '"><br/>'
            content += '<img id="' + newid + '" src="' + newsrc + qchar + 'start=' + week + '"><br/>'
            content += '<img id="' + newid + '" src="' + newsrc + qchar + 'start=' + month + '"><br/>'
            $(this).qtip({
              content: content,
              style: {
                width: 350,
              },
              position: {
                corner: {
                  target: 'topLeft',
                  tooltip: 'topLeft'
                }
              }
            });
        });
    }

    $(document).ready(function() {
        dashtree();
        add_graph_tips();
        refresh_images();
    });
</script>
{% endblock %}

{% block content %}
<div class="stats_tree">
<div class="dashtree">
<h1>Filesystems</h1>
<ul class="tree">
{% for filesystem in filesystems %}
<li class="filesystem collapsible"><span class='name'>{{filesystem.name}}</span>
    <ul class="tree">
        <li class="target collapsible closed">
            <span class="name">Aggregate</span>
                <ul class="tree">
                    <li class="target collapsible closed">
                      <span class="name">Metadata</span>
                        <ul class="tree">
                          <li>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},mdt_space?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},mdt_space?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},fhstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},fhstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},linkstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},linkstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},dirstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},dirstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},objstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},objstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},attrstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},attrstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},statfs?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},statfs?size=small"></span>
                          </li>
                        </ul>
                    </li>
                    <li class="target collapsible closed">
                      <span class="name">Object Storage</span>
                       <ul class="tree">
                         <li>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},ost_space?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},ost_space?size=small"></span>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},bw?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},bw?size=small"></span>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},lock?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},lock?size=small"></span>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},iops?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},iops?size=small"></span>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},clients?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},clients?size=small"></span>
                         </li>
                       </ul>
                    </li>
                 </ul>
        </li>
    {% for target in filesystem.get_filesystem_targets %}
        <li class="target collapsible closed">
          <span class="name">{{target.name_no_fs}}</span>
          <ul class="tree">
          <li>
          {% if target.metadatatarget %}
              <span class="graph"><img class="graph" id="target/{{target.name}},space?size=small" src="/monitor/dyngraphs/target/{{target.name}},space?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},fhstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},fhstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},dirstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},dirstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},linkstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},linkstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},objstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},objstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},attrstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},attrstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},statfs?size=small" src="/monitor/dyngraphs/target/{{target.name}},statfs?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},mknod?size=small" src="/monitor/dyngraphs/target/{{target.name}},mknod?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},rename?size=small" src="/monitor/dyngraphs/target/{{target.name}},rename?size=small"></span>
          {% else %}
              <span class="graph"><img class="graph" id="target/{{target.name}},space?size=small" src="/monitor/dyngraphs/target/{{target.name}},space?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},bw?size=small" src="/monitor/dyngraphs/target/{{target.name}},bw?size=small"></span>
            <span class="graph"><img class="graph" id="target/{{target.name}},lock?size=small" src="/monitor/dyngraphs/target/{{target.name}},lock?size=small"></span>
            <span class="graph"><img class="graph" id="target/{{target.name}},iops?size=small" src="/monitor/dyngraphs/target/{{target.name}},iops?size=small"></span>
            <span class="graph"><img class="graph" id="target/{{target.name}},exports?size=small" src="/monitor/dyngraphs/target/{{target.name}},exports?size=small"></span>
            {% endif %}
            </li>
          </ul>
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
</div>
</div>

<div class='stats_tree'>
    <div class="dashtree">
        <h1>Servers</h1>
        <ul class="tree">
          {% for host in hosts %}
          <li class="host collapsible closed">
            <span class='name'>{{host.address}}</span> ({{host.role}})
            <ul class='tree'>
                <li>
                    <span class="graph"><img class="graph" id="server/{{host.pretty_name}},cpumem" src="/monitor/dyngraphs/server/{{host.pretty_name}},cpumem"></span>
                </li>
            </ul>
          </li>
          {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
