
{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript">
    /* http://stackoverflow.com/questions/2068272/getting-a-jquery-selector-for-an-element */
    jQuery.fn.getPath = function () {
        if (this.length != 1) throw 'Requires one element.';

        var path, node = this;
        while (node.length) {
            var realNode = node[0], name = realNode.localName;
            if (!name) break;
            name = name.toLowerCase();

            var parent = node.parent();

            var siblings = parent.children(name);
            if (siblings.length > 1) { 
                name += ':eq(' + siblings.index(realNode) + ')';
            }

            path = name + (path ? '>' + path : '');
            node = parent;
        }

        return path;
    };

    closed_states = {};
    function toggle_closed(item, state, duration) {
        /* state==true means 'closed' */
        if (state == null) {
            state = !item.hasClass('closed')
        }
        if (state != item.hasClass('closed')) {
            if (state) {
                var style = 'hide';
            } else {
                var style = 'show'; 
            }
            item.children('ul').animate({height: style, opacity: style}, duration); 
            item.toggleClass('closed', state)
            closed_states[item.getPath()] = state;
            if (state) {
                console.log(item.children('div.open_icon'));
                item.children('div.open_icon').replaceWith("<div class='closed_icon'></div>");
            } else {
                item.children('div.closed_icon').replaceWith("<div class='open_icon'></div>");
            }
        }
    }

    function refresh_images() {
        $('img.graph').each(function(item) {
            if (!$(this).parents("li.collapsible").hasClass("closed")) {
                qchar = $(this).attr('id').indexOf("?") < 0 ? "?" : "&";
                $(this).attr("src", "/monitor/dyngraphs/" + $(this).attr('id') + qchar + "time=" + new Date().getTime());
            }
        });

        setTimeout('refresh_images()', 5000);
    }

    $(document).ready(function() {
        $('li.collapsible').each(function() {
            /* Insert expand all and collapse all links */
            if ($(this).find('li.collapsible').size() == 0) {
                return;
            }
            
            $("<a href='#' class='tree_all expand_all'>Show all</a>").insertBefore($(this).children('ul'))
            $("<span>&nbsp;/&nbsp;</span><a href='#' class='tree_all collapse_all'>Hide all</a>").insertBefore($(this).children('ul'));

        });

        $('a.expand_all').click(function(event) {
            toggle_closed($(this).parent(), false, 0);
            $(this).parent().find('li.collapsible').each(function() {
                toggle_closed($(this), false, 0);
            });
            event.stopPropagation();
        });

        $('a.collapse_all').click(function(event) {
            $(this).parent().find('li.collapsible').each(function() {
                toggle_closed($(this), true, 0);
            });
            toggle_closed($(this).parent(), true, 0);
            event.stopPropagation();
        });

        $('li.collapsible').each(function(item) {
            $(this).addClass('closed')

            /* Apply any closedness states stored in closed_states */
            if ($(this).getPath() in closed_states) {
                $(this).toggleClass('closed', closed_states[$(this).getPath()])
            }
        });

        $('li.collapsible').each(function(item) {
            if ($(this).hasClass('closed')) {
                $(this).children('ul').hide();
                $("<div class='closed_icon'></div>").insertBefore($(this).children('ul'));
            } else {
                $("<div class='open_icon'></div>").insertBefore($(this).children('ul'));
            }
        });
        $('li.collapsible').click(function(event) {
            toggle_closed($(this));
            event.stopPropagation();
        });

        $('img.graph').each(function(item) {
            now = (new Date().getTime() / 1000).toFixed(0)
            hour = now - 3600
            day = now - 86400
            week = now - (86400 * 7)
            month = now - ((86400 * 7) * 4)
            newsrc = $(this).attr('src').replace(/size=.*/, "size=normal")
            newid = $(this).attr('id').replace(/size=.*/, "size=normal")
            qchar = $(this).attr('id').indexOf("?") < 0 ? "?" : "&";
            content = '<img id="' + newid + '" src="' + newsrc + qchar + 'start=' + hour + '"><br/>'
            content += '<img id="' + newid + '" src="' + newsrc + qchar + 'start=' + day + '"><br/>'
            content += '<img id="' + newid + '" src="' + newsrc + qchar + 'start=' + week + '"><br/>'
            content += '<img id="' + newid + '" src="' + newsrc + qchar + 'start=' + month + '"><br/>'
            $(this).qtip({
              content: content,
              style: {
                width: 350,
              },
              position: {
                corner: {
                  target: 'topLeft',
                  tooltip: 'topLeft'
                }
              }
            });
        });
    });

    refresh_images();

</script>
{% endblock %}

{% block content %}

<div class="dashtree fullwidth">
<h1>Filesystems</h1>
<ul class="tree fullwidth">
{% for filesystem in filesystems %}
<li class="filesystem collapsible"><span class='name'>{{filesystem.name}}</span>
    <ul class="tree fullwidth">
        <li class="target collapsible">
            <span class="name">Aggregate</span>
                <ul class="tree fullwidth">
                    <li class="target collapsible">
                      <span class="name">Metadata</span>
                        <ul class="tree fullwidth">
                          <li>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},mdt_space?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},mdt_space?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},fhstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},fhstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},linkstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},linkstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},dirstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},dirstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},objstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},objstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},attrstats?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},attrstats?size=small"></span>
                            <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},statfs?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},statfs?size=small"></span>
                          </li>
                        </ul>
                    </li>
                    <li class="target collapsible">
                      <span class="name">Object Storage</span>
                       <ul class="tree fullwidth">
                         <li>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},ost_space?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},ost_space?size=small"></span>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},bw?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},bw?size=small"></span>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},lock?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},lock?size=small"></span>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},iops?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},iops?size=small"></span>
                          <span class="graph"><img class="graph" id="aggregate/{{filesystem.name}},clients?size=small" src="/monitor/dyngraphs/aggregate/{{filesystem.name}},clients?size=small"></span>
                         </li>
                       </ul>
                    </li>
                 </ul>
        </li>
    {% for target in filesystem.get_filesystem_targets %}
        <li class="target collapsible">
          <span class="name">{{target.name_no_fs}}</span>
          <ul class="tree fullwidth">
          <li>
          {% if target.metadatatarget %}
              <span class="graph"><img class="graph" id="target/{{target.name}},space?size=small" src="/monitor/dyngraphs/target/{{target.name}},space?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},fhstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},fhstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},dirstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},dirstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},linkstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},linkstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},objstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},objstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},attrstats?size=small" src="/monitor/dyngraphs/target/{{target.name}},attrstats?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},statfs?size=small" src="/monitor/dyngraphs/target/{{target.name}},statfs?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},mknod?size=small" src="/monitor/dyngraphs/target/{{target.name}},mknod?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},rename?size=small" src="/monitor/dyngraphs/target/{{target.name}},rename?size=small"></span>
          {% else %}
              <span class="graph"><img class="graph" id="target/{{target.name}},space?size=small" src="/monitor/dyngraphs/target/{{target.name}},space?size=small"></span>
              <span class="graph"><img class="graph" id="target/{{target.name}},bw?size=small" src="/monitor/dyngraphs/target/{{target.name}},bw?size=small"></span>
            <span class="graph"><img class="graph" id="target/{{target.name}},lock?size=small" src="/monitor/dyngraphs/target/{{target.name}},lock?size=small"></span>
            <span class="graph"><img class="graph" id="target/{{target.name}},ops?size=small" src="/monitor/dyngraphs/target/{{target.name}},ops?size=small"></span>
            <span class="graph"><img class="graph" id="target/{{target.name}},exports?size=small" src="/monitor/dyngraphs/target/{{target.name}},exports?size=small"></span>
            {% endif %}
            </li>
          </ul>
        </li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
</div>

<div class="dashtree">
<h1>Servers</h1>
<ul class="tree">
<li class="foo collapsible">
<ul class="tree">
  {% for host in hosts %}
  <li class="host collapsible">
    <span class='name'>{{host.address}}</span> ({{host.role}})
    <span class="graph"><img class="graph" id="server/{{host.pretty_name}},cpumem" src="/monitor/dyngraphs/server/{{host.pretty_name}},cpumem"></span>
  </li>
  {% endfor %}
</ul>
</li>
</ul>
</div>

{% endblock %}
