<h4 class="section-header">File Systems</h4>
<div class="row dashboard-info">
  <div class="col-lg-12">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>File System</th>
        <th>Type</th>
        <th>Space Used / Total</th>
        <th>Files Used / Total</th>
        <th>Clients</th>
      </tr>
      </thead>
      <tbody>
      <tr bindonce ng-repeat="fs in dashboard.fs.objects track by fs.id">
        <td>{{ fs.name }}</td>
        <td>
          {{ fs.getState() }}
          <span class="help">
            <a><i class="fa fa-question-circle"></i></a>
              <help-tooltip ng-if="fs.getState () === fs.STATES.MANAGED" topic="managed_filesystem" direction="right"></help-tooltip>
              <help-tooltip ng-if="fs.getState () === fs.STATES.MONITORED" topic="monitored_filesystem" direction="right"></help-tooltip>
          </span>
        </td>
        <td ng-if="fs.bytes_total != null">
          <pie-graph chart-data="fs.spaceGraphData"></pie-graph>{{ fs.getUsedSpace() }} / {{ fs.getTotalSpace() }}
        </td>
        <td ng-if="fs.bytes_total == null">
          Calculating...
        </td>
        <td ng-if="fs.files_total != null">
          <pie-graph chart-data="fs.usageGraphData"></pie-graph>{{ fs.getUsedFiles() }} / {{ fs.getTotalFiles() }}
        </td>
        <td ng-if="fs.files_total == null">
          Calculating...
        </td>
        <td>{{ fs.client_count }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h4 class="section-header">Charts</h4>
<ng-include src="'iml/dashboard/assets/html/charts.html'"></ng-include>