<div class="row" ng-controller="BreadcrumbCtrl">
  <ol class="breadcrumb">
    <li ng-if="breadcrumb.path.isBase()" class="active">
      All File Systems
    </li>
    <li ng-if="!breadcrumb.path.isBase()">
      <a route-to="{{breadcrumb.path.basePath}}">All File Systems</a>
    </li>
    <li ng-if="breadcrumb.path.isType() && !breadcrumb.path.isTarget()" class="active">
      {{breadcrumb.path.getTypeLabel() | capitalize:true}}: {{breadcrumb.getItem().label}}
    </li>
    <li ng-if="breadcrumb.path.isTarget()">
      <a route-to="{{breadcrumb.path.getTypePath()}}">{{breadcrumb.path.getTypeLabel() | capitalize:true}}: {{breadcrumb.getItem().label}}</a>
    </li>
    <li ng-if="breadcrumb.path.isTarget()">
      {{breadcrumb.path.getTargetName() | uppercase}}: {{breadcrumb.targetData.label}}
    </li>
  </ol>
</div>