<h4 class="section-header">OST: {{dashboard.ost.label}}</h4>
<div class="row dashboard-info">
  <div class="col-lg-12">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Active Host</th>
        <th>File System</th>
        <th>Space Free / Total</th>
        <th>Objects Used / Total</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{dashboard.ost.active_host_name}}</td>
        <td>{{dashboard.ost.filesystem_name}}</td>
        <td ng-if="dashboard.usage.bytestotal != null">
          <pie-graph chart-data="dashboard.usage.bytesData"></pie-graph>{{dashboard.usage.bytesfree | humanBytes}} / {{dashboard.usage.bytestotal | humanBytes}}
        </td>
        <td ng-if="dashboard.usage.bytestotal == null">
          Calculating...
        </td>
        <td ng-if="dashboard.usage.filestotal != null">
          <pie-graph chart-data="dashboard.usage.filesData"></pie-graph>{{dashboard.usage.filesused | format:'.4s'}} / {{dashboard.usage.filestotal | format:'.4s'}}
        </td>
        <td ng-if="dashboard.usage.filestotal == null">
          Calculating...
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h4 class="section-header">Charts</h4>
<ng-include src="'iml/dashboard/assets/html/charts.html'"></ng-include>