SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_mgt_0000000000000000", SYMLINK+="mgt"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_mdt1_000000000000000", SYMLINK+="mdt1"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_mdt2_000000000000000", SYMLINK+="mdt2"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_mdt3_000000000000000", SYMLINK+="mdt3"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST1_000000000000000", SYMLINK+="ost1"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST2_000000000000000", SYMLINK+="ost2"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST3_000000000000000", SYMLINK+="ost3"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST4_000000000000000", SYMLINK+="ost4"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST5_000000000000000", SYMLINK+="ost5"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST6_000000000000000", SYMLINK+="ost6"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST7_000000000000000", SYMLINK+="ost7"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST8_000000000000000", SYMLINK+="ost8"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST9_000000000000000", SYMLINK+="ost9"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST10_00000000000000", SYMLINK+="ost10"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST11_00000000000000", SYMLINK+="ost11"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST12_00000000000000", SYMLINK+="ost12"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST13_00000000000000", SYMLINK+="ost13"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST14_00000000000000", SYMLINK+="ost14"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST15_00000000000000", SYMLINK+="ost15"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST16_00000000000000", SYMLINK+="ost16"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST17_00000000000000", SYMLINK+="ost17"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST18_00000000000000", SYMLINK+="ost18"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST19_00000000000000", SYMLINK+="ost19"
SUBSYSTEM=="block", PROGRAM=="/lib/udev/scsi_id --whitelisted --replace-whitespace /dev/$name", RESULT=="1ATA_VBOX_HARDDISK_OST20_00000000000000", SYMLINK+="ost20"