[Unit]
Description=IML Power Control Service
PartOf=iml-manager.target

[Service]
Type=simple
ExecStart=/bin/python /usr/share/chroma-manager/manage.py chroma_service --name=power_control power_control
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=iml-manager.target