[Unit]
Description=IML Syslog Service
PartOf=iml-manager.target
Requires=rabbitmq-server.service

[Service]
Type=simple
ExecStart=/bin/python /usr/share/chroma-manager/manage.py chroma_service --name=syslog syslog
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=iml-manager.target