include Makefile
include logrotate.cfg
include logrotate.cfg
include wsgi.py
include production_supervisord.conf
include chroma-manager.conf.template
include mime.types
include agent-bootstrap-script.template
include chroma_core/fixtures/*
include chroma_core/bin/*.py
include chroma_core/bin/storage-daemon
include chroma_core/bin/chroma-config
include tests/sample_data/*
include tests/integration/run_tests
include tests/integration/*/*.json
include tests/integration/core/clear_ha_el?.sh
include storage_server.repo
graft ui-modules/node_modules
graft licenses
graft polymorphic
global-exclude .*.swp
global-exclude local_settings.py*
global-exclude .editorconfig
global-exclude .eslintrc
global-exclude .eslintignore
global-exclude .jscsrc
prune ui-modules/node_modules/path-is-absolute
prune ui-modules/node_modules/.bin
