include Makefile
include logrotate.cfg
include logrotate.cfg
include chroma-manager.wsgi
include production_supervisord.conf
include chroma-manager.conf.template
include chroma_core/fixtures/*
include chroma_core/bin/*.py
include chroma_core/bin/storage-daemon
include chroma_core/bin/chroma-config
include chroma_ui/templates/*
include chroma_ui/templates/new/*
include chroma_ui_new/templates/chroma_ui/*
include tests/sample_data/*
include tests/integration/run_tests
include tests/integration/*/*.json
graft realtime
graft licenses
graft polymorphic
graft chroma_ui/static
graft chroma_ui_new/static
graft chroma_help/static
global-exclude .*.swp
global-exclude local_settings.py*
