# Lock python in at 2.6 (EL6 is 2.6.6)
python>=2.6.5,<2.7.0
django==1.4.1
nose>=1.1.2
django-nose
django-extensions
django-celery==2.2.7
kombu==1.5.1
celery==2.4.5
mock
paramiko
pep8==1.0.1
pyflakes
South==0.7.6
sphinx==1.1.3
werkzeug
MySQL-python
coverage
python-daemon==1.5.2
lockfile==0.8
django-tastypie==0.9.11
tablib
requests
nose-testconfig
fudge
simplejson
behave>=1.1.0
prettytable
dse
selenium
log4tailer
cherrypy
jsonschema
supervisor
django-supervisor
