python>=2.6.5
django==1.4.1
nose>=1.1.2
django-nose
django-extensions
django-celery==3.0.10
django-picklefield
kombu==2.4.7
celery==3.0.11
mock
paramiko
pep8==1.0.1
pyflakes
South==0.7.6
sphinx==1.1.3
werkzeug
MySQL-python
coverage
python-daemon==1.5.2
lockfile==0.8
django-tastypie==0.9.11
tablib
requests>=1.0.3
nose-testconfig
fudge
simplejson
behave>=1.1.0
prettytable
dse==3.3.0
selenium
log4tailer
jsonschema
supervisor
django-supervisor==0.3.0
gevent
m2crypto
pygraphviz # For building diagrams in the docs
