.disconnect-modal {
  height: 100px;
  background-color: #F3B600;
  -webkit-font-smoothing: antialiased;
}

.disconnect-modal.fade.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}

.disconnect-modal h3 {
  margin-top: 23px;
  text-align: center;
  color: #FFFFFF;
}

.disconnect-modal i {
  margin-left: 10px;
}
