<div class="picker">
  <small ng-pluralize count="duration.currentSize"
    when="{'one': 'Viewing {{duration.currentSize}} {{ duration.singular(duration.currentUnit) }} ago.',
           'other': 'Viewing {{duration.currentSize}} {{ duration.currentUnit }} ago.'}"
  ></small>
  <a class="activate-popover btn btn-xs btn-info">Change Duration <i class="fa fa-clock-o"></i></a>

  <iml-popover placement="right" title="Change Duration" work="duration.work(transcludedScope, actions)">
    <form name="form" role="form" novalidate>
      <div class="alert alert-danger" ng-show="form.size.$error.max || form.size.$error.min">
        Duration must be between 1 and {{ duration.getCount(duration.unit) }} {{duration.unit}}.
      </div>

      <div class="alert alert-danger" ng-show="form.size.$error.required && !form.$pristine">
        Duration is required.
      </div>

      <div class="input-group form-group">
        <input class="form-control" type="number" ng-model="duration.size" name="size" min="1" max="{{ duration.getCount(duration.unit) }}" required />
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle"> {{duration.unit | capitalize}} <span class="caret"></span> </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li bindonce ng-repeat="item in duration.units | filter: {unit: '!' + duration.unit}">
              <a ng-click="duration.setUnit(item.unit)" bo-text="item.unit | capitalize"></a>
            </li>
          </ul>
        </div>
      </div>

      <button type="submit" ng-click="duration.onSubmit()" class="btn btn-success" ng-disabled="form.$invalid">Update</button>
    </form>
  </iml-popover>
</div>
