<div class="picker">
  <small>Viewing usage at {{ usage.currentPercentage }}% or greater.</small>
  <a class="activate-popover btn btn-xs btn-info">Filter Usage <i class="fa fa-filter"></i></a>

  <iml-popover placement="right" title="Filter Usage" work="usage.work(transcludedScope, actions)">
    <div ng-form name="form" role="form" novalidate>
      <div class="alert alert-danger alert-range" ng-show="form.percentage.$error.max || form.percentage.$error.min">
        Usage must be between 0% and 100%.
      </div>

      <div class="alert alert-danger alert-required" ng-show="form.percentage.$error.required && !form.$pristine">
        Usage is required.
      </div>

      <div class="form-group input-group">
        <input class="form-control" type="number" ng-model="usage.percentage" name="percentage" min="0" max="100" required />
        <span class="input-group-addon">%</span>
      </div>

      <button type="submit" ng-click="usage.onSubmit()" class="btn btn-success" ng-disabled="form.$invalid">Update</button>
    </div>
  </iml-popover>
</div>
