<div class="login-partial">
  <header class="logo"></header>
  <div class="login">
    <form novalidate name="loginForm" remote-validate-form validate="login.validate">
      <div class="ng-cloak alert alert-danger auth-failed span4 offset4" ng-repeat="error in serverValidationError.__all__">
        {{ error }}
      </div>
      <div class="form-group username-group" ng-class="{'has-error': loginForm.username.$invalid}">
        <input
          autofocus
          class="form-control"
          type="text"
          name="username"
          ng-model="login.username"
          error-tooltip="{{ serverValidationError.username }}"
          error-tooltip-placement="top"
          remote-validate-component
          placeholder="Username"
          />
      </div>
      <div class="form-group password-group" ng-class="{'has-error': loginForm.password.$invalid}">
        <input
          class="form-control"
          type="password"
          name="password"
          ng-model="login.password"
          error-tooltip="{{ serverValidationError.password }}"
          error-tooltip-placement="bottom"
          remote-validate-component
          placeholder="Password"
          />
      </div>
      <button type="submit" class="btn btn-success" ng-disabled="loginForm.$pristine || login.inProgress" ng-click="login.submitLogin()">
        <i class="icon-unlock-alt"></i> Login
      </button>
      <div class="skip-login-row">
        <div class="skip-login">
          <small>
            <a href="/ui/">Or Continue As Anonymous</a>
            <a context-tooltip="continue_as_anonymous" tooltip-placement="right">
              <i class="icon-question-sign"></i>
            </a>
          </small>
        </div>
      </div>
    </form>
  </div>
</div>
