# reference: http://git-scm.com/docs/gitattributes#_end-of-line_conversion
# reference:  http://git-scm.com/docs/gitattributes

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# # to native line endings on checkout.
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf

# Explicitly ingoring certain files.
bower_componenents/* -text eol=auto
source/chroma_ui/vendor/sprintf/sprintf.js -text
