[Unit]
Description=IML Swap Emitter Timer
PartOf=device-scanner.target
After=local-fs.target
After=device-scanner.socket

[Timer]
OnUnitActiveSec=60
OnStartupSec=0

[Install]
WantedBy=device-scanner.target
