[Unit]
Description=EMF Swap Emitter
PartOf=device-scanner.target
After=local-fs.target
After=device-scanner.socket

[Service]
Restart=always
Environment=RUST_LOG=info
ExecStart=/usr/bin/swap-emitter
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=device-scanner.target