<div class="modal-header">
  <h3 class="modal-title">Commands</h3>
</div>
<div class="modal-body">
  <accordion close-others="false">
    <accordion-group is-open="commandModal['accordion' + $index]" ng-repeat="command in commandModal.commands track by command.id">
      <accordion-heading>
        <i class="fa" ng-class="{'fa-chevron-down': commandModal['accordion' + $index], 'fa-chevron-right': !commandModal['accordion' + $index]}"></i>
        <i class="fa header-status" ng-class="{'fa-times': command.state === 'cancelled', 'fa-exclamation': command.state === 'failed', 'fa-check': command.state === 'succeeded', 'fa-refresh fa-spin': command.state === 'pending'}"></i>
        <span bindonce="command" bo-bind="command.message + ' - ' + (command.created_at | date : 'MMM dd yyyy HH:mm:ss')"></span>
      </accordion-heading>
      <h4>Details:</h4>
      <table class="table">
        <tr>
          <td>Created At</td>
          <td bindonce="command" bo-bind="command.created_at | date : 'MMM dd yyyy HH:mm:ss'"></td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{command.state | capitalize}}</td>
        </tr>
      </table>

      <div ng-if="command.jobIds.length > 0" ng-controller="JobTreeCtrl">
        <h4>Jobs</h4>
        <div class="well jobs">
          <div ng-if="jobTree.jobs.length === 0">
            Loading Jobs... <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div ng-repeat="job in jobTree.jobs track by job.id" ng-include="'iml/command/assets/html/job.html'"></div>
        </div>
      </div>

      <div ng-if="command.logs">
        <h4>Logs</h4>
        <pre class="logs">{{ command.logs }}</pre>
      </div>
    </accordion-group>
  </accordion>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="commandModal.close()">Close <i class="fa fa-times-circle-o"></i></button>
</div>
