.eula {
  font-size: 90%;
  line-height: 18px;
  color: #444444;
}

.eula .well {
  max-height: 324px;
  overflow-x: auto;
}

.eula .subtext {
  font-size: 10px;
  line-height: 12px;
  color: #666666;
}
