<div class="modal-header">
  <button type="button" class="close" ng-disabled="addServer.disabled" ng-click="addServer.close()">
    <i class="fa fa-times"></i>
  </button>
  <h4 class="modal-title">Add Server - Add New Servers</h4>
  <i class="fa fa-question-circle"
     tooltip="Use the Hostlist Expression input below to add multiple hosts."
     tooltip-placement="bottom"></i>
</div>
<div class="modal-body add-server-step">
  <form name="addServerForm" novalidate>
    <div class="form-group pdsh-input" ng-class="{'has-error': addServerForm.pdsh.$invalid, 'has-success': addServerForm.pdsh.$valid}">
      <div>
        <label>Enter Hostname / Hostlist Expression</label>
        <i class="fa fa-question-circle"
           tooltip="Enter a hostname / hostlist expression for servers that you would like to add."
           tooltip-placement="right"></i>
      </div>
      <pdsh pdsh-initial="addServer.fields.pdsh" pdsh-change="addServer.pdshUpdate(pdsh, hostnames, hostnamesHash)"
            pdsh-required="true"></pdsh>
    </div>
    <div class="form-group">
      <div>
        <label>
          SSH Authentication
          <a class="item-help">
            <i class="fa fa-question-circle" tooltip="{{'ssh_authentication_tooltip' | insertHelp }}" tooltip-placement="right"></i>
          </a>
        </label>
      </div>
      <div class="btn-group ssh-auth-choices">
        <label class="btn btn-primary" ng-model="addServer.fields.auth_type" btn-radio="addServer.CHOICES.EXISTING_KEYS" tooltip="{{ 'existing_keys_tooltip' | insertHelp }}" tooltip-append-to-body="true">Existing Key<i class="fa fa-question-circle"></i></label>
        <label class="btn btn-primary" ng-model="addServer.fields.auth_type" btn-radio="addServer.CHOICES.ROOT_PASSWORD" tooltip="{{ 'root_password_tooltip' | insertHelp }}" tooltip-append-to-body="true">Root Password<i class="fa fa-question-circle"></i></label>
        <label class="btn btn-primary" ng-model="addServer.fields.auth_type" btn-radio="addServer.CHOICES.ANOTHER_KEY" tooltip="{{ 'another_key_tooltip' | insertHelp }}" tooltip-append-to-body="true">Another Key<i class="fa fa-question-circle"></i></label>
      </div>
    </div>
    <div ng-if="addServer.fields.auth_type === addServer.CHOICES.ROOT_PASSWORD" class="root-password form-group choice" ng-class="{'has-error': addServerForm.root_password.$invalid}">
      <label>
        Root Password
        <a class="item-help">
          <i class="fa fa-question-circle" tooltip="{{'root_password_input_tooltip' | insertHelp }}" tooltip-placement="right"></i>
        </a>
      </label>
      <input type="password" ng-model="addServer.fields.root_password" name="root_password" class="form-control" placeholder="Root Password" required />
      <iml-tooltip class="error-tooltip" toggle="addServerForm.root_password.$invalid" direction="bottom">
        Root Password is required.
      </iml-tooltip>
    </div>
    <div class="another-key choice" ng-if="addServer.fields.auth_type === addServer.CHOICES.ANOTHER_KEY">
      <div class="form-group" ng-class="{'has-error': addServerForm.private_key.$invalid}">
        <label>
          Private Key
          <a class="item-help">
            <i class="fa fa-question-circle" tooltip="{{'private_key_textarea_tooltip' | insertHelp }}" tooltip-placement="right"></i>
          </a>
        </label>
        <textarea class="form-control" rows="3" ng-model="addServer.fields.private_key" name="private_key" required></textarea>
        <iml-tooltip class="error-tooltip" toggle="addServerForm.private_key.$invalid" direction="bottom">
          Private Key is required.
        </iml-tooltip>
      </div>
      <div class="form-group">
        <label class="private-key-label">
          Private Key Passphrase
          <a class="item-help">
            <i class="fa fa-question-circle" tooltip="{{'private_key_input_tooltip' | insertHelp }}" tooltip-placement="right"></i>
          </a>
        </label>
        <input type="password" ng-model="addServer.fields.private_key_passphrase" name="private_key_passphrase" class="form-control" placeholder="Private Key Passphrase" />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-if="!addServer.disabled" class="btn btn-success proceed" ng-disabled="addServerForm.$invalid" ng-click="addServer.transition()">Next <i class="fa fa-long-arrow-right"></i></button>
  <button ng-if="addServer.disabled" disabled class="btn btn-success proceed" ng-click="addServer.transition()">Verifying <i class="fa fa-spinner fa-spin"></i></button>
</div>
