<span ng-if="isDisabled">
  <button disabled class="btn btn-success">Working <i class="fa fa-spinner fa-spin"></i></button>
</span>
<span ng-if="!isDisabled">
  <span ng-if="!isValid">
    <button class="btn btn-warning override" ng-if="!overridden" ng-click="buttonClicked(types.OVERRIDE)">Override <i class="fa fa-exclamation-triangle"></i></button>
    <div class="btn-group proceed" ng-if="overridden" dropdown>
      <button type="button" ng-click="buttonClicked(types.PROCEED)" class="btn btn-danger">Proceed <i class="fa fa-check-circle-o"></i></button>
      <button type="button" class="btn btn-danger dropdown-toggle">
        <span class="caret"></span>
        <span class="sr-only">Split button</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a ng-click="buttonClicked(types.PROCEED_SKIP)">Proceed and skip command view</a>
        </li>
      </ul>
    </div>
  </span>
  <span ng-if="isValid">
    <div class="btn-group proceed" dropdown>
      <button type="button" ng-click="buttonClicked(types.PROCEED)" class="btn btn-success">Proceed <i class="fa fa-check-circle-o"></i></button>
      <button type="button" class="btn btn-success dropdown-toggle">
        <span class="caret"></span>
        <span class="sr-only">Split button</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a ng-click="buttonClicked(types.PROCEED_SKIP)">Proceed and skip command view</a>
        </li>
      </ul>
    </div>
  </span>
</span>
