<div class="modal-header">
  <button type="button" class="close" ng-click="selectServerProfile.close()">
    <i class="fa fa-times"></i>
  </button>
  <h4 class="modal-title">Add Server - Add Server Profiles</h4>
  <i class="fa fa-question-circle"
     tooltip="Select the server profile to be applied to all servers. Green squares represent servers that are compatible with the selected profile. Red squares represent servers that are incompatible with the selected server profile."
     tooltip-placement="bottom"></i>
</div>
<div class="modal-body select-server-profile-step clearfix">
  <div ng-if="selectServerProfile.overridden" class="alert alert-danger" role="alert">
    You are about to configure one or more servers with an incompatible server profile.
    Configuring servers with incompatible server profiles is unsupported.
    Click <strong>proceed</strong> to continue.
  </div>
  <div>
    <label>Select Server Profile</label>
    <i class="fa fa-question-circle"
       tooltip="Select a server profile to set on unconfigured servers."
       tooltip-placement="right"></i>
  </div>
  <fancy-select-box data="selectServerProfile.options" on-selected="selectServerProfile.onSelected(item)"></fancy-select-box>

  <div ng-if="!selectServerProfile.item.valid" class="statuses">
    <form class="filterServerForm" name="filterServerForm" novalidate>
      <div class="form-group pdsh-input" ng-class="{'has-error': filterServerForm.pdsh.$invalid, 'has-success': filterServerForm.pdsh.$valid}">
        <div>
          <label>Filter by Hostname / Hostlist Expression</label>
          <i class="fa fa-question-circle"
             tooltip="Enter a hostname / hostlist expression to filter servers."
             tooltip-placement="right"></i>
        </div>
        <pdsh pdsh-initial="selectServerProfile.pdsh" pdsh-change="selectServerProfile.pdshUpdate(pdsh, hostnames, hostnamesHash)"></pdsh>
      </div>
    </form>
    <div class="status-cell-container" ng-repeat="item in selectServerProfile.items | pdsh:selectServerProfile.hostnamesHash:selectServerProfile.getHostPath track by item.address">
      <div ng-class="{invalid: !item.valid, valid: item.valid }" tooltip="Address: {{item.address}}" class="status-cell activate-popover"></div>
      <iml-popover title="Status for {{ item.address }}" placement="bottom">
        <div ng-if="item.valid">
          <i class="fa fa-check-circle"></i> {{ item.caption }} profile is compatible.
        </div>
        <div ng-if="!item.valid">
          <div class="callout callout-danger">
            <span>{{ item.address }}</span> incompatible with <span>{{ item.caption }}</span> profile.
          </div>
          <h4>Reasons: </h4>
          <ul>
            <li ng-repeat="problem in item.problems">
              <i class="fa fa-times-circle"></i>
              <span ng-if="problem.error">There was an error: {{ problem.error }}.</span>
              <span ng-if="!problem.error">{{ problem.description }}.</span>
            </li>
          </ul>
        </div>
      </iml-popover>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-disabled="selectServerProfile.disabled" ng-click="selectServerProfile.transition('previous')" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Previous</button>
  <override-button overridden="selectServerProfile.overridden" is-valid="selectServerProfile.item.valid" on-change="selectServerProfile.transition(message)" is-disabled="selectServerProfile.disabled"></override-button>
</div>
