<div class="modal-body server-status-step clearfix">
  <div ng-if="serverStatus.overridden" class="alert alert-danger" role="alert">
    You are about to add one or more servers with failed validations.
    Adding servers with failed validations is unsupported!
    Click <strong>proceed</strong> to continue.
  </div>
  <form name="filterServerForm" novalidate>
    <pdsh pdsh-change="serverStatus.pdshUpdate(pdsh, hostnames)"></pdsh>
  </form>
  <div class="status-cell-container" ng-repeat="status in serverStatus.status | pdsh:serverStatus.hostnames:serverStatus.getHostPath track by status.address">
    <div ng-class="{invalid: status.invalid, valid: !status.invalid}" tooltip="Address: {{ status.address }}" class="status-cell activate-popover"></div>
    <iml-popover class="bottom" title="Status for {{ status.address }}" placement="bottom">
      <ul class="well">
        <li ng-repeat="(key, value) in status.fields">
          <i ng-class="{ 'fa-times-circle': !value, 'fa-check-circle': value }" class="fa"></i> {{ key }}
        </li>
      </ul>
    </iml-popover>
  </div>
</div>
<div class="modal-footer">
  <button ng-disabled="serverStatus.disabled" class="btn btn-default" ng-click="serverStatus.transition('previous')"><i class="fa fa-long-arrow-left"></i> Previous</button>
  <override-button overridden="serverStatus.overridden" is-valid="serverStatus.isValid" on-change="serverStatus.transition(message)" is-disabled="serverStatus.disabled"></override-button>
</div>
