<div class="modal-header">
  <button type="button" class="close" ng-click="serverStatus.close()" ng-disabled="serverStatus.disabled">
    <i class="fa fa-times"></i>
  </button>
  <h4 class="modal-title">Add Server - Check Server Status</h4>
  <i class="fa fa-question-circle"
     tooltip="Verify the status of the servers below. Green squares represent servers that have passed all checks. Red squares represent servers with one or more failed checks."
     tooltip-placement="bottom"></i>
</div>
<div class="modal-body server-status-step clearfix">
  <div ng-if="serverStatus.overridden" class="alert alert-danger" role="alert">
    You are about to add one or more servers with failed validations.
    Adding servers with failed validations is unsupported.
    Click <strong>proceed</strong> to continue.
  </div>
  <form name="filterServerForm" novalidate>
    <div class="form-group pdsh-input" ng-class="{'has-error': filterServerForm.pdsh.$invalid, 'has-success': filterServerForm.pdsh.$valid}">
      <div>
        <label>Filter by Hostname / Hostlist Expression</label>
        <i class="fa fa-question-circle"
           tooltip="Enter a hostname / hostlist expression to filter servers."
           tooltip-placement="right"></i>
      </div>
      <pdsh pdsh-initial="serverStatus.pdsh" pdsh-change="serverStatus.pdshUpdate(pdsh, hostnames, hostnamesHash)"></pdsh>
    </div>
  </form>
  <div class="status-cell-container" ng-repeat="server in serverStatus.serversStatus track by server.address">
    <div ng-class="{invalid: !server.valid, valid: server.valid}" tooltip="Address: {{ server.address }}" class="status-cell activate-popover"></div>
    <iml-popover title="Status for {{ server.address }}" placement="bottom">
      <ul class="well">
        <li ng-repeat="check in server.status track by check.name">
          <a tooltip="{{ check.name | insertHelp }}">
            <i ng-class="{ 'fa-times-circle': check.value == false, 'fa-check-circle': check.value }" class="fa"></i> {{ check.uiName }}
          </a>
        </li>
      </ul>
    </iml-popover>
  </div>
</div>
<div class="modal-footer">
  <button ng-disabled="serverStatus.disabled" class="btn btn-default" ng-click="serverStatus.transition('previous')"><i class="fa fa-long-arrow-left"></i> Previous</button>
  <override-button overridden="serverStatus.overridden" is-valid="serverStatus.isValid" on-change="serverStatus.transition(message)" is-disabled="serverStatus.disabled"></override-button>
</div>
