<h3 class="page-header"><i class="fa fa-tasks"></i> Server Configuration</h3>
<div class="container container-full server-ctrl">
  <div class="no-servers well text-center" ng-if="server.servers.objects.length === 0">
    <h1>No servers are configured</h1>
    <button ng-click="server.addServer()" type="button" class="add-server-button btn btn-success btn-lg" ng-disabled="server.addServerClicked">
      <i class="fa fa-plus-circle"></i>Add Servers
    </button>
  </div>
  <div ng-if="server.servers.objects.length > 0">
  <h4 class="section-header">Servers</h4>
  <ul class="list-inline">
    <li>
      <form name="pdshForm">
        <div class="form-group pdsh-input" ng-class="{'has-error': pdshForm.pdsh.$invalid, 'has-success': pdshForm.pdsh.$valid}">
          <div>
            <label>Filter by Hostname / Hostlist Expression</label>
            <i class="fa fa-question-circle"
               tooltip="Enter a hostname / hostlist expression to filter the servers below."
               tooltip-placement="right"></i>
          </div>
          <pdsh pdsh-change="server.pdshUpdate(pdsh, hostnames, hostnamesHash)"></pdsh>
        </div>
        <button class="btn btn-info btn-sm" ng-model="server.pdshFuzzy" btn-checkbox>
         <span ng-if="server.pdshFuzzy">
            <i class="fa fa-check"></i> Fuzzy
          </span>
          <span ng-if="!server.pdshFuzzy">
            Standard
          </span>
        </button>
      </form>
        <div class="btn-group entries" dropdown is-open="server.itemsPerPageIsOpen">
          <button type="button" class="btn btn-info btn-sm dropdown-toggle" ng-disabled="disabled">
            Entries: {{server.itemsPerPage}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="server.setItemsPerPage(10); server.closeItemsPerPage();">10</a></li>
            <li><a ng-click="server.setItemsPerPage(25); server.closeItemsPerPage();">25</a></li>
            <li><a ng-click="server.setItemsPerPage(50); server.closeItemsPerPage();">50</a></li>
            <li><a ng-click="server.setItemsPerPage(100); server.closeItemsPerPage();">100</a></li>
          </ul>
        </div>
    </li>
  </ul>
  <table class="table server-table">
    <thead>
    <tr>
      <th>
        <a href="" ng-click="server.reverse = !server.reverse">Hostname <i class="fa" ng-class="{'fa-sort-asc': server.reverse, 'fa-sort-desc': !server.reverse}"></i></a>
      </th>
      <th>Profile</th>
      <th>LNet State</th>
      <th ng-if="!server.editable">Configure LNet</th>
      <th ng-if="!server.editable">Actions</th>
      <th>Status</th>
      <th ng-if="server.editable" class="select-server-header">Select Server</th>
    </tr>
    </thead>
    <tbody>
    <tr bindonce ng-repeat="item in server.servers.objects | pdsh:server.hostnamesHash:server.getHostPath:server.pdshFuzzy | naturalSort:server.getHostPath:server.reverse | paginate:server.currentPage-1:server.getItemsPerPage() track by item.id">
      <td>
        <a ng-click="server.showServerDetailModal(item)">
          <span bo-text="item.address"></span>
        </a>
      </td>
      <td><span bo-text="item.server_profile.ui_name"></span></td>
      <td class="lnet-state">
        <lnet-status item="item"></lnet-status>
      </td>
      <td ng-if="!server.editable">
        <button ng-disabled="item.immutable_state" class="btn btn-primary btn-sm" ng-click="server.configureLnet(item)">Configure <i class="fa fa-gear"></i></button>
      </td>
      <td ng-if="!server.editable">
        <action-dropdown record="item" override-click="server.overrideActionClick(record, action)"></action-dropdown>
      </td>
      <td>
        <job-status record-id="item.resource_uri"></job-status>
        <record-state record-id="item.resource_uri"></record-state>
      </td>
      <td ng-if="server.editable" class="select-server">
        <button ng-if="!server.getActionByValue(server.editName).isDisabled(item)" class="btn btn-info btn-sm" ng-model="server.selectedServers[item.fqdn]" btn-checkbox>
          <span ng-if="server.selectedServers[item.fqdn]">
            <i class="fa fa-check"></i> Selected
          </span>
          <span ng-if="!server.selectedServers[item.fqdn]">
            Unselected
          </span>
        </button>
        <button ng-if="server.getActionByValue(server.editName).isDisabled(item)" disabled class="btn btn-default btn-sm">Disabled</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination total-items="server.getTotalItems()" items-per-page="server.getItemsPerPage()" ng-model="server.currentPage" max-size="server.maxSize" class="pagination-sm" boundary-links="true" ng-show="server.getTotalItems() > server.getItemsPerPage()"></pagination>
  </div>

  <button ng-if="!server.editable" ng-disabled="server.addServerClicked" ng-click="server.addServer()" type="button" class="btn btn-default add-server-button btn-sm">
    <i class="fa fa-plus-circle text-success"></i> Add More Servers
  </button>

  <div class="edit-buttons" ng-if="server.editable">
    <div class="btn-group btn-group-justified btn-block">
      <a type="button" ng-click="server.toggleType('all')" ng-model="server.selectType" btn-radio="'all'" class="btn btn-info btn-lg">Select All</a>
      <a type="button" ng-click="server.toggleType('none')" ng-model="server.selectType" btn-radio="'none'" class="btn btn-info btn-lg">Select None</a>
      <a type="button" ng-click="server.toggleType('invert')" ng-model="server.selectType"  btn-radio="'invert'" class="btn btn-info btn-lg">Invert Selection</a>
    </div>
    <button tooltip-html-unsafe="{{server.getActionByValue(server.editName).helpTopic | insertHelp}}" ng-disabled="server.getSelectedHosts(server.editName).length === 0" ng-click="server.runAction(server.editName)" class="btn btn-success btn-lg btn-block">{{ server.editName }} <i class="fa fa-check-circle-o"></i></button>
    <button class="btn btn-danger btn-lg btn-block" ng-click="server.setEditable(false)">Cancel <i class="fa fa-times-circle-o"></i></button>
  </div>

  <h4 class="section-header">Server Actions</h4>

  <div class="action-buttons">
    <button ng-repeat="action in server.actions track by action.value" tooltip="{{ action.tooltip | insertHelp}}" class="btn btn-primary btn-sm" ng-click="server.setEditName(action.value)">{{action.value}} <i class="fa fa-question-circle"></i></button>
  </div>
  </div>
</div>
