
{% extends 'create_form_base.html' %}

{% block scripts %}
    {{ block.super }}
    <script type='text/javascript'>
        $(document).ready(function() {
            function button_sensitivity() {
                var any_selected = false;
                $("ul.device_list input[type=checkbox]").each(function() {
                    if ($(this).attr('value')) {
                        any_selected = true;
                        return false;
                    }
                });
                $("input[type=submit]").button('option', 'disabled', !any_selected);
            }

            button_sensitivity();
            $("ul.device_list input[type=checkbox]").change(function(ev) {
                button_sensitivity();
            });
        });
    </script>
{% endblock %}

{% block form_title %}Setup OSS ({{host}}){% endblock %}

{% block form_body %}
<form method='post'>
    {% csrf_token %}
    {% for error_item, error_message in form.errors.items %}
        <div class="ui-widget ui-state-error ui-corner-all" style="padding: 6px;"> 
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
            {{error_item}}: {{error_message}}
        </div>
    {% endfor %}
    <h3>OSS options</h3>
    <table>
        <tr>
            <td>{{form.filesystem.label_tag}}:</td>
            <td>{{form.filesystem}}</td>
        </tr>
        <tr>
            <td>{{form.failover_partner.label_tag}}:</td>
            <td>{{form.failover_partner}}</td>
        </tr>
    </table>
    <h3>OST block devices</h3>
    <div class='ui-widget ui-corner-all form_help'>
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        Select one or more available block devices to use as OSTs
    </div>
    <ul class='device_list'>
    {% for node_form in node_forms %}
        <li>
            {{node_form.use}}
            <label for="id_{{node_form.use.html_name}}">{{node_form.node.path}}</label>
        </li>
    {% endfor %}
    </ul>
    <h3>OST actions:</h3>
    <div class='ui-widget ui-corner-all form_help'>
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        Selected actions will be performed on newly created targets
    </div>
    <ul>
        <li>{{form.format_now}} {{form.format_now.label_tag}}</li>
        <li>{{form.register_now}} {{form.register_now.label_tag}}</li>
        <li>{{form.start_now}} {{form.start_now.label_tag}}</li>
    </ul>
    <div class='button_bar'>
        <a href="{% url configure.views.states %}">Go back</a>
        <input type='submit' value='Create targets'/>
    </div>
</form>

{% endblock %}

