
{% extends 'create_form_base.html' %}

{% block form_title %}Create MDS ({{host}}){% endblock %}

{% block form_body %}
<form method='post'>
    {% csrf_token %}
    {% for error_item, error_message in form.errors.items %}
        <div class="ui-widget ui-state-error ui-corner-all" style="padding: 6px;"> 
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
            {{error_item}}: {{error_message}}
        </div>
    {% endfor %}
    <h3>MDS options</h3>
        <table>
            <tr>
                <td>{{form.filesystem.label_tag}}:</td>
                <td>{{form.filesystem}}</td>
            </tr>
            <tr>
                <td>{{form.device.label_tag}}:</td>
                <td>{{form.device}}</td>
            </tr>
            <tr>
                <td>{{form.failover_partner.label_tag}}:</td>
                <td>{{form.failover_partner}}</td>
            </tr>
        </table>

    <h3>MDT actions:</h3>
    <div class='ui-widget ui-corner-all form_help'>
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        Selected actions will be performed on the newly created storage target
    </div>
    <ul>
        <li>{{form.format_now}} {{form.format_now.label_tag}}</li>
        <li>{{form.register_now}} {{form.register_now.label_tag}}</li>
        <li>{{form.start_now}} {{form.start_now.label_tag}}</li>
    </ul>
    <div class='button_bar'>
        <a href="{% url configure.views.states %}">Go back</a>
        <input type='submit' value='Create targets'/>
    </div>
</form>
{% endblock %}

