


{% extends 'base.html' %}

{% block scripts %}
{% endblock %}

{% block content %}

<h2>Job {{job.id}}: {{job.description}}</h2>
<ul>
    <li>State: {{job.state}}</li>
    <li>Paused: {{job.paused}}</li>
    <li>Errored: {{job.errored}}</li>
    <li>Cancelled: {{job.cancelled}}</li>
</ul>

<h3>Wait for:</h3>
<ul>
    {% for dep in job.wait_for.all %}
    <li>{{dep}}</li>
    {% endfor %}
</ul>

<h3>Depend on:</h3>
<ul>
    {% for dep in job.depend_on.all %}
    <li>{{dep}}</li>
    {% endfor %}
</ul>

<h3>Steps</h3>

<table>
    <tr>
        <th>Id</th>
        <th>Task id</th>
        <th>info</th>
        <th>State</th>
    </tr>
{% for step in job.stepattempt_set.all %}

<tr>
    <td>{{step.id}}</td>
    <td>{{step.debug_step}}</td>
    <td>{{step.step_index}}</td>
    <td>{{step.task_id}}</td>
    <td>
        <ul>
        {% for k,v in step.info.items %}
        <li>{{k}}: {{v}}</li>
        {% endfor %}
        </ul>
    </td>
    <td>{{step.state}}</td>
</tr>

{% endfor %}
</table>

{% endblock %}

