


{% extends 'base.html' %}

{% block scripts %}
<script type='text/javascript'>

    function update_conf_param_help(select_element) {
        var conf_param_name = select_element.attr('value');
        $('#conf_param_help').load(
                "/configure/conf_param_help/" + conf_param_name + "/",
                function(){
                    inner = $('#conf_param_help').html()
                    if (inner.length == 0) {
                        $('#conf_param_help').parents('div.help').hide()
                    } else {
                        $('#conf_param_help').parents('div.help').show()
                    }
                }
        );
    }
    $(document).ready(function() {
        $('input[type=submit]').button();
 
        update_conf_param_help($('select#id_key'));
        $('select#id_key').change(function(){
            update_conf_param_help($(this));
        });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/properties.css"/>
{% endblock %}

{% block content %}
<h2>{% block title %}{% endblock %}</h2>

<h3>Properties</h3>
{% block properties %}
{% endblock %}
</p>

{% if conf_param_form %}
<h3>Lustre conf_params</h3>
{% if not conf_param_list %}
<p>No persistent configuration parameters set.</p>
{% else %}
<table class='conf_params'>
    {% for conf_param in conf_param_list %}
    <tr>
        <th>{{conf_param.key}}</th>
        <td>{{conf_param.value}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h3>Set a conf_param</h3>
<form method='post'>
    {% csrf_token %}
    {{conf_param_form.key}}={{conf_param_form.value}}<input type='submit' value='Set param'/>
</form>
    <div class='ui-widget ui-corner-all help'>
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <span id='conf_param_help'>
        </span>
    </div>
{% endif %}

{% endblock %}

