

{% extends 'base.html' %}

{% block scripts %}
{% endblock %}

{% block content %}
<h2>States</h2>
<table>
{% for stateful_object in stateful_objects %}
<tr>
    <td>
        {{stateful_object.object}}
    </td>
    <td>
        {{stateful_object.object.state}}
    </td>
    <td>
        {% for transition in stateful_object.available_transitions %}
            <a href='{% url configure.views.set_state stateful_object.content_type, stateful_object.object.id, transition %}'>{{transition}}</a>
        {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}

