{% extends 'base.html' %}

{% block scripts %}
<script type='text/javascript' src='{{STATIC_URL}}js/jquery.dataTables.js'></script>
<script type='text/javascript'>
    $(document).ready(function() {
            var dataTable = $('#resource_table').dataTable({
                "bJQueryUI": true,
                "bPaginate": false,
                "sAjaxSource": '{% url configure.views.storage_table_json plugin_module resource_class %}'
                }); 

            /* Column 0 is the internal ID column */
            /*dataTable.fnSetColumnVis(0, false);*/

            $('#resource_table tbody tr').live('click', function() {
                var resource_record_id = $($('td', this)[0]).text();
                console.log(resource_record_id);
                $('#resource_popup').dialog({autoOpen: false})
                $('#resource_popup_content').load("/configure/storage_resource/" + resource_record_id + "/")
                $('#resource_popup').dialog('open');

            });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/datatable_page.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/datatable.css"/>
{% endblock %}

{% block content %}

<div id="resource_popup">
    <p id="resource_popup_content">
    </p>
</div>

<div style='float:left; margin: 6px; font-size: 10pt;border-right: 2px solid gray;padding-right: 6px;'>

<form method='get' style='margin-bottom: 3px;'>
    {% csrf_token %}
    Class: {{ resource_form.resource }} (Table view | <a href='{% url configure.views.storage_browser %}'>Tree view</a>)
    <script type='text/javascript'>
        $(document).ready(function() {
            $('#id_resource').change(function(){
                $('#id_resource').parents('form').submit();
                $('#children').html('<img src="{{STATIC_URL}}images/ajax-loader.gif"/>&nbsp;Loading...');
            });
        });
    </script>
</form>

<table id='resource_table' class='display'>
    <thead>
        <tr>
            {% for c in columns %}
            <th>{{c}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>

</div>

{% endblock %}
