{% extends 'base.html' %}

{% block scripts %}
<script type='text/javascript' src='{{STATIC_URL}}js/jquery.jstree.js'></script>
<script type='text/javascript'>
    $.jstree._themes = "{{STATIC_URL}}jstree_themes/"
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div style='float:left; width: 300px; margin: 6px; font-size: 10pt;border-right: 2px solid gray;padding-right: 6px;'>

<form method='get' style='margin-bottom: 3px;'>
    {% csrf_token %}
    Class: {{ resource_form.resource }} (<a href='{% url configure.views.storage_table %}'>Table view</a> | Tree view)
    <script type='text/javascript'>
        $(document).ready(function() {
            $('#id_resource').change(function(){
                $('#id_resource').parents('form').submit();
                $('#children').html('<img src="{{STATIC_URL}}images/ajax-loader.gif"/>&nbsp;Loading...');
            });
        });
    </script>
</form>

<div id='children' style='border: 1px solid gray; padding:3px; overflow:auto; max-height: 600px;'></div>

</div>

<div style='float: left; width: 700px;padding-top: 24px;' id='resource'></div>

<script type='text/javascript'>
    $(document).ready(function() {
        var tree = $('#children').jstree({
            'plugins': ['json_data', 'ui', 'themes'],
            'json_data': {
                "data": {{resource_tree|safe}}
            },
            'ui': {
                'select_limit': 1,
            }
        })
        .bind("select_node.jstree", function (NODE, REF_NODE) {
            var a = $.jstree._focused().get_selected();
            console.log(a);
            var vrr_url = a.attr('vrr_url');
            console.log(vrr_url);

            $('#resource').html('<img src="{{STATIC_URL}}images/ajax-loader.gif"/>&nbsp;Loading...');
            $('#resource').load(vrr_url);
            window.location.hash = a.attr('vrr_id');
        });

        /* HACK: timeout to make this happen after tree is actually realized */
        window.setTimeout(function() {
        if (window.location.hash) {
            $('#children').jstree('open_all', -1);
            vrr_id = window.location.hash.substr(1)
            selector = '[vrr_id="' + vrr_id + '"]'
            nodes = $(selector)
            /* There can be more than one occurence of a given item in the tree */
            node = nodes[0]
            $('#children').jstree('select_node', node);
        }
        });
    });
</script>

{% endblock %}
