
<h2>{{resource.human_string}}</h2>

<h3>{{resource.human_class}} attributes</h3>
<table>
{% for k,v in resource.get_attributes_display.items %}
<tr><th>{{k}}</th><td>{{v}}</td></tr>
{% endfor %}
</table>

<h3>{{resource.human_class}} statistics</h3>
<table>
{% for name,latest_val in stats.items %}
<tr><th>{{name}}</th><td>{{latest_val}}</td></tr>
{% endfor %}
</table>

<h3>{{resource.human_class}} alerts</h3>
<ul>
{% for a in alerts %}
<li>{{a.message}}</li>
{% endfor %}
</ul>

<h3>{{resource.human_class}} propagated alerts</h3>
<ul>
{% for a in propagated_alerts %}
<li>{{a.message}}</li>
{% endfor %}
</ul>

