
{% extends 'properties_base.html' %}

{% block title %}
{{target}}
{% endblock %}

{% block properties %}

<table class='properties'>
    <tr><th>Primary server: </th><td>{{target.primary_server}}</td></tr>
    <tr><th>Failover servers: </th><td>{{ target.failover_servers|join:", " }}</td></tr>
    <tr><th>Size: </th><td>{{target_size|filesizeformat}}</td></tr>
    <tr><th>State: </th><td>{{target.state}}</td></tr>
    <tr><th>Active mount: </th><td>{{target.active_mount.host}}</td></tr>
</table>

<h3>Mount locations</h3>
{% for target_mount in target.targetmount_set.all %}
<table class='properties'>
    <tr><th>Host: </th><td>{{target_mount.host}}</td></th>
    <tr><th>Primary: </th><td>{{target_mount.primary}}</td></th>
    <tr><th>Device path: </th><td>{{target_mount.block_device.path}}</td></th>
    <tr><th>Mount path: </th><td>{{target_mount.mount_point}}</td></th>
    <tr><th>State: </th><td>{{target_mount.state}}</td></tr>
</table>
{% endfor %}

<h3>Storage resources</h3>
<ul>
{% for record in ancestor_records %}
<li><a href="{% url configure.views.storage_resource srr_id=record.id %}">{{record.alias_or_name}}</a></li>
{% endfor %}
</ul>

<h3>Lustre alerts</h3>
<ul>
{% for alert_state in lustre_alerts %}
<li>{{alert_state.message}}, {{alert_state.alert_item}}</li>
{% endfor %}
</ul>

<h3>Storage alerts</h3>
<ul>
{% for alert_state in storage_alerts %}
<li>{{alert_state.message}}, {{alert_state.alert_item}}</li>
{% endfor %}
</ul>

{% endblock %}

