
{% extends 'properties_base.html' %}

{% block scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/js-graph-it.js" ></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/js-graph-it.css">
{% endblock %}

{% block title %}
{{target}}
{% endblock %}

{% block properties %}

<table class='properties'>
    <tr><th>Primary server: </th><td>{{target.primary_server}}</td></tr>
    <tr><th>Failover servers: </th><td>{{ target.failover_servers|join:", " }}</td></tr>
    <tr><th>Size: </th><td>{{target_size|filesizeformat}}</td></tr>
    <tr><th>State: </th><td>{{target.state}}</td></tr>
    <tr><th>Active mount: </th><td>{{target.active_mount.host}}</td></tr>
</table>

<h3>Mount locations</h3>
{% for target_mount in target.targetmount_set.all %}
<table class='properties'>
    <tr><th>Host: </th><td>{{target_mount.host}}</td></th>
    <tr><th>Primary: </th><td>{{target_mount.primary}}</td></th>
    <tr><th>Device path: </th><td>{{target_mount.block_device.path}}</td></th>
    <tr><th>Mount path: </th><td>{{target_mount.mount_point}}</td></th>
    <tr><th>State: </th><td>{{target_mount.state}}</td></tr>
</table>
{% endfor %}

<h3>Storage resources</h3>


<div class="canvas" style="background: white; position: relative; height: {{graph.height}}px; width: {{graph.width}}px; border: 1px solid gray;">
{% for node in graph.nodes %}
<div class="block" style="padding: 2px; border-radius: 4px; border: 1px solid gray; box-shadow: 4px 4px 2px #ccc; width: {{graph.item_width}}; height: {{graph.item_height}}; position: absolute; left: {{node.left}}; top: {{node.top}};" id="{{node.id}}">
    <div style="border-bottom: 2px solid gray;margin-bottom: 3px; padding-bottom: 2px;">
    <img src="{{node.icon}}"><span style="margin-top: -3px; margin-left: 3px; font-size: 8pt; font-weight: bold;">{{node.type}}</span><br>
    </div>
    <span style="font-size: 8pt;">
        <a href="{% url configure.views.storage_resource node.id %}">{{node.title}}</a>
    </span>
</div>
{% endfor %}
{% for edge in graph.edges %}
<div class="connector {{edge.0}} {{edge.1}}"></div>
{% endfor %}
</div>

<script type='text/javascript'>
    $(document).ready(function() {
            initPageObjects();
    });
</script>

<h3>Lustre alerts</h3>
<ul>
{% for alert_state in lustre_alerts %}
<li>{{alert_state.message}}, {{alert_state.alert_item}}</li>
{% endfor %}
</ul>

<h3>Storage alerts</h3>
<ul>
{% for alert_state in storage_alerts %}
<li>{{alert_state.message}}, {{alert_state.alert_item}}</li>
{% endfor %}
</ul>

{% endblock %}

