[Unit]
Description=EMF ostpool agent sidecar
Requires=emf-ostpool-agent.service
PartOf=emf-ostpool-agent.service

[Service]
EnvironmentFile=/etc/emf/bootstrap.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStartPre=/bin/rm -f /tmp/kuma-al-emf-ostpool-agent-*-default.sock
ExecStart=/usr/bin/kuma-dp run \
    --cp-address=https://${CP_ADDR}:5678 \
    --dataplane-file=/etc/emf/dataplanes/emf-ostpool-agent.yml \
    --dataplane-token-file=/etc/emf/tokens/dataplane-token \
    --dataplane-var ostpool_agent_port=${OSTPOOL_AGENT_PORT} \
    --dataplane-var mgmt_address=${MGMT_ADDR} \
    --dataplane-var ostpool_agent_ostpool_service_port=${OSTPOOL_AGENT_OSTPOOL_SERVICE_PORT} \
    --dataplane-var node_id=%m \
    --admin-port=
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
