[Unit]
Description=EMF journal service sidecar
Requires=emf-journal.service
PartOf=emf-journal.service

[Service]
EnvironmentFile=/etc/emf/bootstrap.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStartPre=/bin/rm -f /tmp/kuma-al-emf-journal-service-default.sock
ExecStart=/usr/bin/kuma-dp run \
    --cp-address=https://${CP_ADDR}:5678 \
    --dataplane-file=/etc/emf/dataplanes/emf-journal-service.yml \
    --dataplane-token-file=/etc/emf/tokens/dataplane-token \
    --dataplane-var mgmt_address=${MGMT_ADDR} \
    --dataplane-var journal_service_port=${JOURNAL_SERVICE_PORT} \
    --dataplane-var journal_service_pg_port=${JOURNAL_SERVICE_PG_PORT} \
    --admin-port=
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
