[Unit]
Description=EMF device service sidecar
PartOf=emf-device.service
Requires=emf-device.service

[Service]
EnvironmentFile=/etc/emf/bootstrap.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStartPre=/bin/rm -f /tmp/kuma-al-emf-device-service-default.sock
ExecStart=/usr/bin/kuma-dp run \
    --cp-address=https://${CP_ADDR}:5678 \
    --dataplane-file=/etc/emf/dataplanes/emf-device-service.yml \
    --dataplane-token-file=/etc/emf/tokens/dataplane-token \
    --dataplane-var mgmt_address=${MGMT_ADDR} \
    --dataplane-var device_service_port=${DEVICE_SERVICE_PORT} \
    --dataplane-var device_service_pg_port=${DEVICE_SERVICE_PG_PORT} \
    --admin-port=
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
