[Unit]
Description=EMF api service sidecar
PartOf=emf-api.service
Requires=emf-api.service

[Service]
EnvironmentFile=/etc/emf/bootstrap.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStartPre=/bin/rm -f /tmp/kuma-al-emf-api-service-default.sock
ExecStart=/usr/bin/kuma-dp run \
    --cp-address=https://${CP_ADDR}:5678 \
    --dataplane-file=/etc/emf/dataplanes/emf-api-service.yml \
    --dataplane-token-file=/etc/emf/tokens/dataplane-token \
    --dataplane-var mgmt_address=${MGMT_ADDR} \
    --dataplane-var api_service_port=${API_SERVICE_PORT} \
    --dataplane-var api_service_pg_port=${API_SERVICE_PG_PORT} \
    --dataplane-var emf-state-machine-service=${API_SERVICE_STATE_MACHINE_SERVICE_PORT} \
    --admin-port=
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
