[Unit]
Description=EMF journal agent sidecar
Requires=emf-journal-agent.service
PartOf=emf-journal-agent.service

[Service]
EnvironmentFile=/etc/emf/bootstrap.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStartPre=/bin/rm -f /tmp/kuma-al-emf-journal-agent-%m-default.sock
ExecStart=/usr/bin/kuma-dp run \
    --cp-address=https://${CP_ADDR}:5678 \
    --dataplane-file=/etc/emf/dataplanes/emf-journal-agent.yml \
    --dataplane-token-file=/etc/emf/tokens/dataplane-token \
    --dataplane-var journal_agent_port=${JOURNAL_AGENT_PORT} \
    --dataplane-var mgmt_address=${MGMT_ADDR} \
    --dataplane-var journal_agent_journal_service_port=${JOURNAL_AGENT_JOURNAL_SERVICE_PORT} \
    --dataplane-var node_id=%m \
    --admin-port=
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
