[Unit]
Description=EMF warp drive service sidecar
Requires=emf-warp-drive.service
PartOf=emf-warp-drive.service

[Service]
EnvironmentFile=/etc/emf/bootstrap.conf
EnvironmentFile=-/etc/emf/overrides.conf
ExecStartPre=/bin/rm -f /tmp/kuma-al-emf-warp-drive-service-default.sock
ExecStart=/root/kuma-1.0.6/bin/kuma-dp run \
    --cp-address=https://${CP_ADDR}:5678 \
    --dataplane-file=/etc/emf/dataplanes/emf-warp-drive-service.yml \
    --dataplane-token-file=/etc/emf/tokens/dataplane-token \
    --dataplane-var mgmt_address=${MGMT_ADDR} \
    --dataplane-var warp_drive_service_port=${WARP_DRIVE_SERVICE_PORT} \
    --dataplane-var warp_drive_service_pg_port=${WARP_DRIVE_SERVICE_PG_PORT} \
    --admin-port=
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
