/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 12pt;
 font-family: Calibri;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_BodyText /* Body Text */
{
}
span.f_CodeExample /* Code Example */
{
 font-size: 11pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_Heading1 /* Heading1 */
{
 font-size: 16pt;
 font-weight: bold;
}
span.f_Heading2 /* Heading2 */
{
 font-size: 14pt;
 font-weight: bold;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_NewStyle /* New Style */
{
 font-weight: bold;
 background-color: #c0c0c0;
}
span.f_Notetoengineer /* Note to engineer */
{
 font-size: 11pt;
 font-family: Arial;
 color: #0000ff;
}
span.f_Notetowriter /* Note to writer */
{
 font-size: 11pt;
 font-family: Arial;
 color: #ff0000;
}
span.f_Notes /* Notes */
{
}
span.f_Toggleheading /* Toggle heading */
{
 font-style: italic;
 font-weight: bold;
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.20;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_BodyText /* Body Text */
{
 line-height: 1.10;
 margin: 0px 0px 8px 0px;
}
.p_CodeExample /* Code Example */
{
 line-height: 1.0;
 white-space: nowrap;
}
.p_Comment /* Comment */
{
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 line-height: 1.20;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_Heading2 /* Heading2 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 line-height: 1.20;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 6px 0px;
}
.p_ImageCaption /* Image Caption */
{
 margin: 0px 0px 19px 0px;
}
.p_NewStyle /* New Style */
{
 text-indent: -18px;
 background: #ffffff;
 margin: 0px 0px 6px 18px;
}
.p_Notes /* Notes */
{
}
.p_Toggleheading /* Toggle heading */
{
 background: #c0c0c0;
 margin: 0px 0px 6px 0px;
}


#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
