[Unit]
Description=IML Agent Daemon
After=network.target
After=device-scanner.socket
Requires=device-scanner.socket
PartOf=iml-storage-server.target

[Service]
Type=simple
ExecStart=/usr/bin/chroma-agent-daemon
EnvironmentFile=/etc/iml/manager-url.conf
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
WantedBy=iml-storage-server.target