[Unit]
Description=IML Agent Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/chroma-agent-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target