[Unit]
Description=EMF State Machine Service
PartOf=emf-manager.target
Wants=emf-state-machine-sidecar.service
After=emf-state-machine-sidecar.service

[Service]
Type=simple
Environment=RUST_LOG=info,sqlx::query=warn,thrussh::client::encrypted=warn
EnvironmentFile=-/etc/emf/overrides.conf
ExecStart=/usr/bin/emf-state-machine
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=emf-manager.target
