html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.navbar {
  margin-bottom: 0;
}

footer {
  height: 60px;

  .row {
    position: relative;
    height: 60px;

    .col-lg-12 {
      position: absolute;
      bottom: 0;
    }
  }

  small {
    color: #888888;
  }
}

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.alert.alert-danger {
  background-color: @errorColor;
  border-color: darken(@errorColor, 10%);
  color: #FFFFFF;
}

a:hover {
  cursor: pointer;
}

.page-header {
  margin-top: 0;
  color: #FFFFFF;
  padding: 15px 20px;
  background-color: #0067B4;

}

.section-header {
  margin-top: 50px;
  color: #0067B4;
}

html body div.container-full {
  width: 100%;
}
