<div class="dropdown">
  <a class="dropdown-toggle btn-mini btn">Actions <i class="icon-caret-down"></i></a>
  <ul class="dropdown-menu">
    <li ng-repeat="item in list" ng-switch on="item.type">
      <a ng-switch-when="transitions"
        tooltip-html-unsafe="((item.tooltip))"
        tooltip-placement="((placement))"
        data-resource_uri="(( data.resource_uri ))"
        data-state="(( item.state ))"
        ng-click="transitionClicked($event)"
      >(( item.verb ))</a>
      <a ng-switch-when="jobs"
        tooltip-html-unsafe="((item.tooltip))"
        tooltip-placement="((placement))"
        data-job_confirmation="(( toJson(item.confirmation) ))"
        data-job_class="(( item.class_name ))"
        data-job_message="(( item.verb ))(('('+data.label+')'))"
        data-job_args="(( toJson(item.args) ))"
        ng-click="jobClicked($event)"
      >(( item.verb ))</a>
    </li>
  </ul>
</div>
