<div class="power-states-container">
  <ul class="power-states" ng-class="state">
    <li class="power-state" ng-class="outlet.hasPower()" ng-repeat="outlet in device.getOutletHostIntersection(host)">
      <i class="icon-"></i>
      <span>((outlet.identifier))</span>
      <a class="close-button" ng-click="onRemove({outlet: outlet})"><i class="icon-circle"></i><i
        class="icon-remove-sign"></i></a>
    </li>
    <li class="field">
      <input ng-model="outletFilterText" type="text" tabindex="((tabIndex))"/>
    </li>
  </ul>
  <ul ng-style="position"  ng-class="state" class="power-states-dropdown">
    <li
      ng-repeat="outlet in device.getUnassignedOutlets() | filter:outletFilter"
      class="choice (( outlet.hasPower() )) ((isActive($index) && 'active' || ''))"
      ng-mousedown="onAdd({outlet: outlet, host: host})"
      ng-mouseenter="setActiveIndex($index)"
      ng-mouseleave="setActiveIndex()"
      >
        <i class="icon-"></i>
        <span>Outlet: ((outlet.identifier))</span>
    </li>
  </ul>
</div>
