Source: emf
Section: admin
Priority: optional
Maintainer: EMF Team <emf@whamcloud.com>
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 12)

Package: emf-device-scanner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: daemon with an in-memory representation of devices

Package: emf-agent-target
Architecture: all
Depends: ${misc:Depends}
Description: EMF agent systemd target

Package: emf-bootstrap
Architecture: all
Depends: ${misc:Depends}
Description: Initial bootstrap.conf used by all services

Package: emf-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  emf-bootstrap (= ${source:Version})
Description: EMF agent CLI

Package: emf-action-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    kuma-dp (>= 1.0.7),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: Action runner service

Package: emf-corosync-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships corosync info to the manager

Package: emf-device-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    emf-device-scanner (= ${source:Version}),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships device info to the manager

Package: emf-journal-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    systemd-journal-remote (>= 245.4),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships journal info to the manager

Package: emf-host-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships host info to the manager

Package: emf-network-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships network info to the manager

Package: emf-ntp-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships ntp info to the manager

Package: emf-ostpool-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships ostpool info to the manager

Package: emf-postoffice-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
Description: watches for postoffice changes

Package: emf-snapshot-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships snapshot info to the manager

Package: emf-stats-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    emf-agent-target (= ${source:Version}),
    emf-bootstrap (= ${source:Version}),
    kuma-dp (>= 1.0.8),
    getenvoy-envoy (= 1.16.2.p0.ge98e41a-1p71.gbe6132a)
Description: ships stats info to the manager
