[Unit]
Description=IML Mailbox Service
After=syslog.target network.target


[Service]
Type=simple
Environment=RUST_LOG=info
EnvironmentFile=/var/lib/chroma/iml-settings.conf
EnvironmentFile=/etc/systemd/system/iml-mailbox.conf
ExecStart=/bin/iml-mailbox
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target