[Unit]
Description=Rust IML Agent Daemon
After=network.target
PartOf=rust-iml-agent.path
After=rust-iml-agent.path

[Service]
Restart=always
EnvironmentFile=/etc/iml/manager-url.conf
EnvironmentFile=/etc/iml/iml-agent.conf
ExecStart=/usr/bin/iml-agent-daemon
StandardOutput=journal
StandardError=journal
