<div class="configure-lnet">
    <div class="modal-header">
        <h2>NID Configuration for ((configureLnetCtrl.hostName))</h2>
    </div>
    <div class="modal-body">
      <div ng-if="configureLnetCtrl.message" class="alert alert-info">
        ((configureLnetCtrl.message)) <i class="icon-spinner icon-spin"></i>
      </div>
      <div ng-if="configureLnetCtrl.memberOfActiveFilesystem" class="alert alert-info">
        <i class="icon-info-sign"></i> To edit this NID configuration, ensure this host is not a member of an active file system.
      </div>
      <div ng-if="!configureLnetCtrl.resolved" class="well loading">
        Loading... <i class="icon-spinner icon-spin"></i>
      </div>
      <div ng-if="configureLnetCtrl.resolved" class="well">
        <table class="table">
          <thead>
            <tr>
              <th>Interface</th>
              <th>IP Address</th>
              <th>Lustre Network</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="networkInterface in configureLnetCtrl.networkInterfaces | orderBy:'name'">
              <td>((networkInterface.name))</td>
              <td>((networkInterface.inet4_address))</td>
              <td ng-if="configureLnetCtrl.memberOfActiveFilesystem">((networkInterface.nid.lnd_network))</td>
              <td ng-if="!configureLnetCtrl.memberOfActiveFilesystem">
                <select ng-model="networkInterface.nid.lnd_network" ng-options="option.value as option.name for option in configureLnetCtrl.options"></select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="configureLnetCtrl.close()" class="btn" ng-disabled="configureLnetCtrl.message">Close</button>
      <button ng-click="configureLnetCtrl.save()" class="btn btn-primary" ng-if="!configureLnetCtrl.memberOfActiveFilesystem" ng-disabled="configureLnetCtrl.message">Save</button>
    </div>
</div>
