    {% extends 'hydra_base.html' %}
    {% block css%}
    {% endblock %}
    {% block scripts%}
    <!-- Added for datetime picker -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>
    <!-------------------------------->
    <script language="javascript" type="text/javascript">
      $(document).ready(function() 
      {
        // Menu Highlighter
        $('#logs_menu').addClass('active');       
        //total no of records return by db
        var maxRecords = 0;
        //current  page no
        var pageCnt = 0;
        //total count of pages
        var totalPages=0;
        
        //load host list
        loadHostList('', 'logs_hostList');
        
        //validation for start an end time
        $('#datetime_from').datetimepicker(
        {
          maxDate: new Date(),
          onSelect: function (selectedDateTime)
          {
            var start = $(this).datetimepicker('getDate');
            $('#datetime_to').datetimepicker('option', 'minDate', new Date(start.getTime()));
          }
        });
        $('#datetime_to').datetimepicker(
        {
          maxDate: new Date()
        });

        $('#datetime_from').datetimepicker();
        $('#datetime_to').datetimepicker();

        var lustre=true;
        fromDate = $('#datetime_from').val();
        toDate = $('#datetime_to').val();
        var hostId="";
        var oTable = $('#all_log_content').dataTable(
        {
          "sAjaxDataProp": "response.aaData",
          "bProcessing": true,
          "iDisplayLength":50,
          "bDeferRender": true,
          "sAjaxSource": '/api/getlogs/',
          fnInitComplete: function(oSettings) {
            for (var i=0, iLen=oSettings.aoData.length; i<iLen; i++) {
                oSettings.aoData[i].nTr.className += " "+oSettings.aoData[i]._aData.class;
            }
          },
          "fnServerData": function ( sSource, aoData, fnCallback ) 
	         {
	           $.ajax(
	           {
	             "dataType": 'json', 
	             "type": "POST", 
	             "url": sSource,
	             "data": JSON.stringify({'lustre':true,
	                                     'host_id': hostId,
	                                     'start_time': fromDate,
	                                     'end_time': toDate,
	                                     'page_id':pageCnt,
	                                     'page_size':50}),
	             "contentType": "application/json; charset=utf-8",
	             "success":function(data) 
	             {
	               maxRecords = data.response.iTotalRecords;
	               DisplayInfo();
	               fnCallback(data);
	             }
	           })
	         },
           aaSorting: [[1, 'desc']],
	         "aoColumns": [
	           { "sClass": 'log_line', "mDataProp":"class", bVisible: false},
             { "sClass": 'log_line', "mDataProp":"date"},
	           { "sClass": 'log_line', "mDataProp":"host" },
	           { "sClass": 'log_line', "mDataProp":"service" },
	           { "sClass": 'log_line', "mDataProp":"message" }
	         ],
	         "bJQueryUI": true,
	         "fnDrawCallback": function() 
	         {
	           //enable next button by default
	           $('#all_log_content_next').attr("class","fg-button ui-button ui-state-dfault ui-corner-right ui-state-enable");
	           //to diable next button for last page.
	           if((pageCnt+1)==totalPages)
	          {
	            $('#all_log_content_next').attr("class","fg-button ui-button ui-state-dfault ui-corner-right ui-state-disabled");
	          }
	          //to enable previous button once it left first page
	          if(pageCnt>0)
	          {
	            $('#all_log_content_previous').attr("class","fg-button ui-button ui-state-dfault ui-corner-right ui-state-enable");
	          }
	          //to diplay table info after table draw
	          $('#all_log_content_info').html("<div> Showing "+ (pageCnt+1)+ " of " + totalPages + "</div>");
	        },
	      });
      //clear default table info
      $("#all_log_content_info").empty();
      $("#alertAnchor").click();
      //click handler for filter
      $('#log_filter_btn').click(function()
      {
        fromDate = $('#datetime_from').val();
        toDate = $('#datetime_to').val();
        if($('#id_only_lustre').is(":checked"))
        {
          lustre = true;
        }
        else
        {
          lustre = false;
        }
        pageCnt=0;
        RefreshTable('#all_log_content','/api/getlogs/', lustre, hostId, fromDate, toDate, '', oTable.fnSettings()._iDisplayLength);
      });
      //Change event for changing local pagination combo box
      $('select[name=all_log_content_length]').change(function()
      {
        if(maxRecords!=0)
        {
          RefreshTable('#all_log_content','/api/getlogs/', lustre, hostId, fromDate, toDate, pageCnt, oTable.fnSettings()._iDisplayLength);
        }
      });
      //click handler for next button
      $('#all_log_content_next').click(function()
      {   
        if((pageCnt+1)<totalPages)
        {
          Log_Next();
        }
      });
      //click handler for previous button
      $('#all_log_content_previous').click(
        function()
        {
          Log_Previous();
          if(pageCnt==0)
          {
            oTable.fnSettings().className="sPagePrevDisabled";
          }
        });
      //function to load next page log
      function Log_Next()
      {
        pageCnt++;
        fromDate = $('#datetime_from').val();
        toDate = $('#datetime_to').val();
        RefreshTable('#all_log_content','/api/getlogs/', lustre, hostId, fromDate, toDate, pageCnt, oTable.fnSettings()._iDisplayLength);
      }
      //function to load previous page log.
      function Log_Previous()
      {
        if (pageCnt != 0)
        {
          pageCnt--;
          fromDate = $('#datetime_from').val();
          toDate = $('#datetime_to').val();
          RefreshTable('#all_log_content','/api/getlogs/', lustre, hostId, fromDate, toDate, pageCnt, oTable.fnSettings()._iDisplayLength)
        }
      }
      //To display footer info
      function DisplayInfo()
      {
        var info_div = "<div class='info'></div>";
        var dispRecords = oTable.fnSettings()._iDisplayLength;
        //for blank reponse
        if(maxRecords!=0)
        {
          totalPages = maxRecords / dispRecords;
          totalPages = Math.floor(totalPages);
          totalPages = totalPages + 1;
        }
        else
        {
          //for page count 0 for display in info if the 0 records found
          pageCnt=-1;
        }
        $('#all_log_content_info').empty();
      }
      //To refresh datatable
      function RefreshTable(tableId, urlData, lustre, host_id, fromDate, endDate, page_id, page_size)
      {
        console.log('RefreshTable');
        $(".dataTables_processing").css('visibility','visible');
        $.ajax({type: 'POST', url: urlData, dataType: 'json', 
        data: JSON.stringify({"lustre": lustre, "host_id": host_id, "start_time": fromDate, "end_time":endDate,'page_id':page_id,'page_size':page_size}),
        contentType:"application/json; charset=utf-8"})
        .success(function(data, textStatus, jqXHR) 
        {
          maxRecords=data.response.iTotalRecords;
          table = $(tableId).dataTable();
          oSettings = table.fnSettings();
          table.fnClearTable(this);
          for (var i=0; i<data.response.aaData.length; i++)
          {
             table.oApi._fnAddData(oSettings, data.response.aaData[i]);
          }
          oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
          $(".dataTables_processing").css('visibility','hidden');
          DisplayInfo();
          table.fnDraw();
        });
      }
      
      $('#logs_hostList').change(function()
      {
        hostId = $('#logs_hostList').val();
      });
    });
    </script>
    {% endblock %} 
    {% block include_content %}{% endblock %}
    {% block content %}
    <div class="rightpanel">
      <!-- Dashboard Div - Start -->
      <div id="dashboardDiv">
        <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px;border-color: blue;" >
          <tr style="background-color:#cccccc;">
            <td width="30%">
              <div class="breadCrumbHolder module">
                <div id="breadCrumb0" class="breadCrumb module">
                  <ul style="float:left;">
                    <li>
                        <a href="/dashboard">All FileSystems</a> </li>
                        <select id="fsSelect">
                          <option value="">Select File System</option>
                        </select>
                     </li>
                   </ul>
                 </div>
              </div>
            </td>
            <td width="70%">
              <div class="timeint">
                Host: &nbsp;
                <select id="logs_hostList">
                </select>
                From:&nbsp;<input id="datetime_from" />&nbsp;To:&nbsp;<input id="datetime_to" />
                &nbsp;Only Lustre Messages:&nbsp;
                <input type="checkbox" id="id_only_lustre" name="only_lustre" checked="checked" value="true">
                &nbsp;<input value="Filter" id="log_filter_btn" type="button"></input>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <fieldset>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="log_line"  id="all_log_content">
                  <thead class="log_line">
                    <tr>
                      <th width="0%"></th>
                      <th width="10%">Date</th>
                      <th width="10%">Host</th>
                      <th width="10%">Service</th>
                      <th width="70%">Message</th>
                    </tr>
                  </thead>
                  <tbody class="log_line">
                  </tbody>
                </table>
              </fieldset>
              </h3>
            </td>
          </tr>
        </table>
      </div>
      <!-- Dashboard Div - End -->
    </div>
    {% endblock %}
