    {% extends 'hydra_base.html' %}
    {% block css%}
    {% endblock %}
    {% block scripts%}
    <!-- Added for datetime picker -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>
    <!-------------------------------->
    <script language="javascript" type="text/javascript">
      $(document).ready(function() 
      {
        // Menu Highlighter
        $('#logs_menu').addClass('active');       
        //load host list
        loadHostList('', 'logs_hostList');
        
        //validation for start an end time
        $('#datetime_from').datetimepicker(
        {
          maxDate: new Date(),
          onSelect: function (selectedDateTime)
          {
            var start = $(this).datetimepicker('getDate');
            $('#datetime_to').datetimepicker('option', 'minDate', new Date(start.getTime()));
          }
        });
        $('#datetime_to').datetimepicker(
        {
          maxDate: new Date()
        });

        $('#datetime_from').datetimepicker();
        $('#datetime_to').datetimepicker();

        var oTable = $('#all_log_content').dataTable(
        {
          "bProcessing": true,
          "bFilter":true,
          iDisplayLength: 25,
          "bSorting":false,
          "bServerSide":true,
          "sAjaxSource": 'log/',
          "fnServerData": function (url, aoData, callback, settings) {
            aoData.push({"name":"host_id", "value": $('#logs_hostList').val()});
            aoData.push({"name":"start_time", "value": $('#datetime_from').val()});
            aoData.push({"name":"end_time", "value": $('#datetime_to').val()});
            aoData.push({"name":"lustre", "value": $('#id_only_lustre').is(':checked')});
            
            invoke_api_call(api_get, url, aoData, success_callback = function(data) {
              callback(data);
            });
          }, 
           aaSorting: [[1, 'desc']],
	         "aoColumns": [
               { "sClass": 'log_line', "mDataProp":"date", "bSortable":false},
	           { "sClass": 'log_line', "mDataProp":"host", "bSortable":false},
	           { "sClass": 'log_line', "mDataProp":"service", "bSortable":false},
	           { "sClass": 'log_line', "mDataProp":"message","bSearchable":true, "bSortable":false}
	         ],
	         "bJQueryUI": true, 
	      });
      //clear default table info
      $("#alertAnchor").click();
      //click handler for filter
      $('#log_filter_btn').click(function()
      {
        oTable.fnDraw();
      });
    });
    </script>
    {% endblock %} 
    {% block include_content %}{% endblock %}
{% block content %}
<!-- Dashboard Div - Start -->
<div id="dashboardDiv">
  <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px;border-color: blue;" >
    <tr style="background-color:#cccccc;">
      <td width="30%">
        <!--
        <div class="breadCrumbHolder module">
          <div id="breadCrumb0" class="breadCrumb module">
            <ul style="float:left;">
              <li>
                  <a href="/dashboard">All FileSystems</a> </li>
                  <select id="fsSelect">
                    <option value="">Select File System</option>
                  </select>
               </li>
             </ul>
           </div>
        </div>
        -->
      </td>
      <td width="70%">
        <div class="timeint">
          Host: &nbsp;
          <select id="logs_hostList">
          <option value="">All</option>
          </select>
          From:&nbsp;<input id="datetime_from" />&nbsp;To:&nbsp;<input id="datetime_to" />
          &nbsp;Only Lustre Messages:&nbsp;
          <input type="checkbox" id="id_only_lustre" name="only_lustre" checked="checked" value="true">
          &nbsp;<input value="Filter" id="log_filter_btn" type="button"></input>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <fieldset>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="log_line"  id="all_log_content">
            <thead class="log_line">
              <tr>
                <th width="10%">Date</th>
                <th width="10%">Host</th>
                <th width="10%">Service</th>
                <th width="70%">Message</th>
              </tr>
            </thead>
            <tbody class="log_line">
            </tbody>
          </table>
        </fieldset>
        </h3>
      </td>
    </tr>
  </table>
</div>
<!-- Dashboard Div - End -->
{% endblock %}
