<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Hydra Dashboard</title>

        <link rel="stylesheet" href="{{STATIC_URL}}css/Base.css" type="text/css" />
        <link href="{{STATIC_URL}}css/BreadCrumb.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}css/tabs.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/query.easing.1.3.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.jBreadCrumb.1.1.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.idTabs.min.js"></script>
        <link href="{{STATIC_URL}}css/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.9.custom.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/highcharts.js" ></script>	
        <script type="text/javascript" src="{{STATIC_URL}}js/custom_dashboard.js" ></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/custom_filesystem.js" ></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/custom_oss.js" ></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/custom_ost.js" ></script>

		<script id="source" language="javascript" type="text/javascript">
			$(function () 
			{
				$('#fsSelect').attr("value","");
				$('#intervalSelect').attr("value","");
		        $.get("/api/listfilesystems")
		        .success(function(data, textStatus, jqXHR) {
		            var innerContent = "<option value=''>Select File System</option>";
		            $.each(data, function(key, val) {
		                if(key=='success' && val == true)
		                {
		                    $.each(data, function(key1, val1) {
		                    if(key1=='response')
		                    {
		                        $.each(val1, function(resKey, resValue) {
		                            innerContent = innerContent + "<option value="+resValue.name+">"+resValue.name+"</option>";
		                        });
		                    }
		                    });
		                }
		            });
		            $('#fsSelect').html(innerContent);
		        })
				.error(function(event) {
				});
				
				$("#alertAnchor").click();
			});
		    
		    function showOSSInfo(){
			    $("#ossSelect").change();
		    }
		    function showFSInfo(){
			    $("#fsSelect").change();
		    }
		    
		</script>
	</head>
    <body bgcolor="#EEEEEE" style="margin: 0px 0px 0px 0px; padding: 0px; ">
        <table width="100%" cellspacing="0" cellpadding="1" align="center" style="border: 1px solid #DEDEDE">
        <tr><!-- #CFCFCF -->
        <td width="1%" bgcolor="" valign="top" id="panelTD" style="border-right: 2px solid #DEDEDE">
        	<div><b id="plusImg" class="open-close"> [Open] </b></div>
        	<div class="panel" style="display: none;width: 300px">
        	<div style="float: right"><b id="minusImg" class="open-close"> [Close] </b></div><br/>
	        <div><a href="#" id="alertAnchor">Alerts</a></div>
                <div id="alertsDiv" class="transbox">
					  <table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="red">
					  <tr>
					    <td>
					    <table width="100%" border="0" cellspacing="1" cellpadding="0">
					      <tr>
						      <th class="fontStyle" align="left" style="border:1px solid red;">Begin</th>
						      <th class="fontStyle" align="left" style="border:1px solid red;">End</th>
						      <th class="fontStyle" align="left" style="border:1px solid red;">Item</th>
						      <th class="fontStyle" align="left" style="border:1px solid red;">Message</th>	
					      </tr>
					      <tr bgcolor="#FF6161">
					        <td width="25%" class="fontStyle">Sept. 15, 2011, 4:34 a.m.</td>
					        <td width="25%" ><span class="fontStyle">Sept. 15, 2011, 4:41 a.m.</span></td>
					        <td width="20%" align="center" ><img src="{{STATIC_URL}}images/dialog-error.png" width="16" height="16" />oss21</td>
					        <td width="30%" ><span class="fontStyle">	Host contact lost</span></td>
					      </tr>
					      <tr bgcolor="#FF6161">
					        <td width="25%" class="fontStyle">Sept. 15, 2011, 4:33 a.m.</td>
					        <td width="25%" ><span class="fontStyle">Sept. 15, 2011, 4:42 a.m.</span></td>
					        <td width="20%" align="center" ><img src="{{STATIC_URL}}images/dialog-error.png" width="16" height="16" />oss21 : primary : MGS</td>
					        <td width="30%" ><span class="fontStyle">	Target offline</span></td>
					      </tr>
					      <tr><td colspan="4" style="border-bottom: 1px solid red"></td></tr>
					      <tr>
					      	<td align="right" colspan="4" style="text-decoration: underline;color: black"><font style="font-style: italic;color:red;font-weight: bold;"><a href="#">(All Alerts)</a></font></td>
					      </tr>
					    </table>
					    </td>
					  </tr>
					</table>
				</div>
		       <div><a href="#" id="eventsAnchor">Events</a></div>
                <div id="eventsDiv"  style="display:none;">
                	 <table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#0040FF">
                	  <tr>
					    <td >
					    <table width="100%" border="0" cellspacing="1" cellpadding="0">
					    <tr>
					      <th class="fontStyle" align="left" style="border:1px solid #0040FF;">Time</th>
					      <th class="fontStyle" align="left" style="border:1px solid #0040FF;">Item</th>
					      <th class="fontStyle" align="left" style="border:1px solid #0040FF;">Message</th>
					  	</tr>
					      <tr bgcolor="#B8E9FF">
					        <td width="20%"><span class="fontStyle">5h 17m ago</span>
							<td width="42%"><span class="fontStyle">clo-centos6-x64-oss2</span><img src="{{STATIC_URL}}images/dialog-information.png" width="16" height="16" /></td>
					        <td width="38%" ><span class="fontStyle">Discovered mount point of neofs01-OST0001 on clo-centos6-x64-oss2</span></td>
					      </tr>
					      <tr bgcolor="#FFCF40">
					        <td ><span class="fontStyle">5h 18m ago</span></td>
					        <td ><span class="fontStyle">clo-centos6-x64-oss2</span><img src="{{STATIC_URL}}images/dialog-warning.png" width="16" height="16" /></td>
					        <td ><span class="fontStyle">Discovered formatted target neofs01-OST0001</span></td>
					      </tr>
					      <tr bgcolor="#B8E9FF">
					        <td ><span class="fontStyle">5h 20m ago</span></td>
					        <td ><span class="fontStyle">clo-centos6-x64-oss2</span><img src="{{STATIC_URL}}images/dialog-information.png" width="16" height="16" /></td>
					        <td ><span class="fontStyle">Discovered mount point of neofs01-OST0003 on clo-centos6-x64-oss2</span></td>
					      </tr>
					      <tr bgcolor="#B8E9FF">
					        <td ><span class="fontStyle">5h 20m ago</span></td>
					        <td ><span class="fontStyle">clo-centos6-x64-oss2</span><img src="{{STATIC_URL}}images/dialog-information.png" width="16" height="16" /></td>
					        <td ><span class="fontStyle">Discovered formatted target neofs01-OST0003</span></td>
					      </tr>
					      <tr bgcolor="#B8E9FF">
					        <td ><span class="fontStyle">5h 20m ago</span></td>
					        <td ><span class="fontStyle">clo-centos6-x64-oss2</span><img src="{{STATIC_URL}}images/dialog-information.png" width="16" height="16" /></td>
					        <td ><span class="fontStyle">Discovered mount point of neofs01-OST0002 on clo-centos6-x64-oss2</td>
					      </tr>
					      <tr>
					      	<td align="right" colspan="4" style="text-decoration: underline;color: black"><font style="font-style: italic;color:black;font-weight: bold;"><a href="#">(All Events)</a></font></td>
					      </tr>
					    </table>
					    </td>
					  </tr>
					</table>
				</div>
				<div><a href="#" id="jobsAnchor">Jobs</a></div>
                <div id="jobsDiv"  style="display:none;">No active jobs</div>
	        </ul>
	        <div id="outputDiv"></div>
			</div>
		</td>
        <td width="99%">
          <!-- Dashboard Div - Start -->
		  <div id="dashboardDiv">
		  <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px;border-color: blue" >
		  <tr>
		  	<td width="100%">
	  			<div class="breadCrumbHolder module">
	                <div id="breadCrumb0" class="breadCrumb module">
	                    <ul>
	                        <li>
	                            <a href="/dashboard">Home</a>
	                        </li>
	                        <li>
	                            <a href="/dashboard">All FileSystems</a>
	                        </li>
	                        <li>
	                            <select id="fsSelect">
	                            	<option value="">Select File System</option>
	                            	<option value="fs1">flntfs01</option>
	                            	<option value="fs2">sobofs01</option>
	                            	<option value="fs3">lexfs01</option>
	                            </select>
	                        </li>
	                    </ul>
	                </div>
	            </div>
               
		    </td>
		  </tr>
		  <tr>
		  	<td>Time Interval: &nbsp;
		  		<select id="intervalSelect">
		  			<option value="">Select</option>	
		  			<option value="hour">Hour</option>
		  			<option value="day">Day</option>
		  			<option value="week">Week</option>
		  			<option value="month">Month</option>
		  		</select>	&nbsp;
		  		Unit:  &nbsp;
		  		<select id="unitSelect">
		  			<option value=''>Select</option>
		  		</select>
		  	</td>
		  </tr>
		  <tr>
		  	<td colspan="3">
		  	<form>
			  <fieldset>
			    <legend class="legendClass">All Filesystems Usage Summary</legend>
			    <table width="100%" border="0"><tr>
			    <td  valign="top" class="text" width="25%" align="center">
		    	<div id="container" class="round-table"></div>
		    	</td>
			   <td  valign="top" class="text" width="25%" align="center">
			   <div id="container1" class="round-table"></div>
			   </td>
			    <td  valign="top" class="text" width="25%" align="center">
		    	<div id="container2" class="round-table"></div>
		    	</td>
			   <td  valign="top" class="text" width="25%" align="center">
			   <div id="container3" class="round-table"></div>
			   </td></tr>
			   </table>
			  </fieldset>
			</form>
			</h3></td>
		  </tr>
		  <tr>
		  	<td colspan="3">
		  	<form>
			  <fieldset>
			    <legend class="legendClass">All Filesystems Performance Summary</legend>
			    <table width="100%" border="0" cellpadding="0" cellspacing="0"><tr>
			    <td  valign="top" class="text" width="25%" align="center">
		    		<div id="avgCPUDiv" class="round-table">Filesystems Avg CPU</div>
		    	</td>
			   <td  valign="top" class="text" width="25%" align="center">
			   		<div id="avgMemoryDiv" class="round-table">Filesystems Avg Memory</div>
			   </td>
			    <td  valign="top" class="text" width="25%" align="center">
		    		<div id="avgReadDiv" class="round-table">File System Avg Read</div>
		    	</td>
			   <td  valign="top" class="text" width="25%" align="center">
			   		<div id="avgWriteDiv" class="round-table">Filesystems Avg Write</div>
			   </td></tr>
			   </table>
			  </fieldset>
			</form>
			</h3></td>
		  </tr>
		  <tr>
		  	<td colspan="3">
		  	<form>
			  <fieldset>
			    <legend class="legendClass">All MDS/MGS Performance Summary</legend>
			    <table width="100%" border="0" cellpadding="0" cellspacing="0"><tr height="220">
			    <td  valign="top" class="text" width="25%" align="center">
		    		<div id="mgsavgCPUDiv" class="round-table">Filesystems Avg CPU</div>
		    	</td>
			   <td  valign="top" class="text" width="25%" align="center">
			   		<div id="mgsavgMemoryDiv" class="round-table">Filesystems Avg Memory</div>
			   </td>
			    <td  valign="top" class="text" width="25%" align="center">
		    		<div id="mgsavgReadDiv" class="round-table">File System Avg Read</div>
		    	</td>
			   <td  valign="top" class="text" width="25%" align="center">
			   		<div id="mgsavgWriteDiv" class="round-table">Filesystems Avg Write</div>
			   </td></tr>
			   </table>
			  </fieldset>
			</form>
			</h3></td>
		  </tr>
		</table>
		</div>
		<!-- Dashboard Div - End -->
		
		<!-- FileSystem Div - Start -->
		<div id="fileSystemDiv" style="display: none">
		  <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px;border-color: blue" >
		  <tr>
		  	<td>
		  			<div class="breadCrumbHolder module">
		                <div id="breadCrumb1" class="breadCrumb module">
		                   
		                </div>
		            </div>
		    </td>
		  </tr>
		  <tr>
		  	<td>Time Interval: &nbsp;
		  		<select id="">
		  			<option value="">Select</option>	
		  			<option value="hour">Hour</option>
		  			<option value="day">Day</option>
		  			<option value="week">Week</option>
		  			<option value="month">Month</option>
		  		</select>	&nbsp;
		  		Unit:  &nbsp;
		  		<select id="unitSelect">
		  			<option value=''>Select</option>
		  		</select>
		  	</td>
		  </tr>
		  <tr>
		  	<td colspan="4">
			  	<form>
				  <fieldset>
				    <legend class="legendClass">Filesystems Usage Summary</legend>
					    <table width="100%" border="0">
						    <td colspan="2"  valign="top" class="text" width="50%" align="center">
					    		All File System information comes here<br /><br /><br /><br /><br /><br /><br />
					    		<input id="dialog_link" name="alertsPopUpBtn" type="button" value="Alerts" align="left" style="border: 1px solid red;background-color: #4F0F0F;font-weight: bold;color: red"/>&nbsp;&nbsp;<input name="eventsPopUpBtn" type="button" value="Events" style="border: 1px solid #DFC137;background-color: #6F4B0D;font-weight: bold;color: #DFC137">
					    	</td>
						    <td width="25%" valign="top" class="text"  align="center">
					    		<div id="fs_container2" class="round-table">Usage Used Vs Free</div>
					    	</td>
						   <td width="25%"  valign="top" class="text"  align="center">
						   		<div id="fs_container3" class="round-table"">No. Of Files Vs i-Nodes</div>
						   </td>
					    </table>
				  </fieldset>
				</form> 
			</td>
		  </tr>
		  <tr>
		  	<td colspan="3">
		  	<form>
			  <fieldset>
			    <legend class="legendClass">File System Performance Summary</legend>
				    <table width="100%" border="0">
					    <tr>
						    <td  valign="top" class="text" width="25%" align="center">
					    		<div id="fs_avgCPUDiv" class="round-table"">Filesystems Avg CPU</div>
					    	</td>
						   <td  valign="top" class="text" width="25%" align="center">
						   		<div id="fs_avgMemoryDiv" class="round-table"">Filesystems Avg Memory</div>
						   </td>
						    <td  valign="top" class="text" width="25%" align="center">
					    		<div id="fs_avgReadDiv" class="round-table"">File System Avg Read</div>
					    	</td>
						   <td  valign="top" class="text" width="25%" align="center">
						   		<div id="fs_avgWriteDiv" class="round-table"">Filesystems Avg Write</div>
						   </td>
					   </tr>
				   </table>
			  </fieldset>
			</form>
			</h3></td>
		  </tr>
		  <tr>
		  	<td colspan="3">
		  	<form>
			  <fieldset>
			    <legend class="legendClass">File System MDS/MGS Performance Summary</legend>
				    <table width="100%" border="0">
					    <tr>
					    <td  valign="top" class="text" width="25%" align="center">
				    		<div id="fs_mgsavgCPUDiv" class="round-table">Filesystems Avg CPU</div>
				    	</td>
					   <td  valign="top" class="text" width="25%" align="center">
					   		<div id="fs_mgsavgMemoryDiv" class="round-table">Filesystems Avg Memory</div>
					   </td>
					    <td  valign="top" class="text" width="25%" align="center">
				    		<div id="fs_mgsavgReadDiv" class="round-table">File System Avg Read</div>
				    	</td>
					   <td  valign="top" class="text" width="25%" align="center">
					   		<div id="fs_mgsavgWriteDiv" class="round-table">Filesystems Avg Write</div>
					   </td>
					   </tr>
				   </table>
			  </fieldset>
			</form>
			</h3></td>
		  </tr>
		  </table>
		</div>
		<!-- FileSystem Div - End -->
		
		<!-- OSS Div - Start -->
		<div id="ossInfoDiv" style="display: none">
		  <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px;border-color: blue" >
		  <tr>
		  	<td>
	  			<div class="breadCrumbHolder module">
	                <div id="breadCrumb2" class="breadCrumb module">
	                </div>
	            </div>
		    </td>
		  </tr>
		  <tr>
		  	<td>Time Interval: &nbsp;
		  		<select id="">
		  			<option value="">Select</option>	
		  			<option value="hour">Hour</option>
		  			<option value="day">Day</option>
		  			<option value="week">Week</option>
		  			<option value="month">Month</option>
		  		</select>	&nbsp;
		  		Unit:  &nbsp;
		  		<select id="unitSelect">
		  			<option value=''>Select</option>
		  		</select>
		  	</td>
		  </tr>
		  <tr>
		  <td colspan="4">
			<ul class="tabs">
			    <li><a href="#tab1">Usage Summary</a></li>
			    <li><a href="#tab2">Overview</a></li>
			</ul>
			<div class="tab_container">
			    <div id="tab1" class="tab_content">
				    <form>
						<fieldset>
						    <legend class="legendClass" style="font-size: 90%;">OSS Usage Summary</legend>
						    <table width="100%" border="0">
							    <tr>
								    <td colspan="2"  valign="top" class="text" width="50%" align="center">
							    		OSS information comes here<br /><br /><br /><br /><br /><br /><br />
					    		<input id="dialog_link" name="alertsPopUpBtn" type="button" value="Alerts" align="left" style="border: 1px solid red;background-color: #4F0F0F;font-weight: bold;color: red"/>&nbsp;&nbsp;<input name="eventsPopUpBtn" type="button" value="Events" style="border: 1px solid #DFC137;background-color: #6F4B0D;font-weight: bold;color: #DFC137">
					    	</td>
								    <td width="25%" valign="top" class="text"  align="center">
							    		<div id="oss_container2" class="round-table">Usage Used Vs Free</div>
							    	</td>
								    <td width="25%"  valign="top" class="text"  align="center">
								   		<div id="oss_container3" class="round-table">No. Of Files Vs i-Nodes</div>
								    </td>
								</tr>
						    </table>
						</fieldset>
					</form> 
					<form>
					  <fieldset>
					    <legend class="legendClass">OSS Performance Summary</legend>
					    <table width="100%" border="0">
						    <td  valign="top" class="text" width="25%" align="center">
					    		<div id="oss_avgCPUDiv" class="round-table">Filesystems Avg CPU</div>
					    	</td>
						    <td  valign="top" class="text" width="25%" align="center">
						   		<div id="oss_avgMemoryDiv" class="round-table">Filesystems Avg Memory</div>
						    </td>
						    <td  valign="top" class="text" width="25%" align="center">
					    		<div id="oss_avgReadDiv" class="round-table">File System Avg Read</div>
					    	</td>
						    <td  valign="top" class="text" width="25%" align="center">
						   		<div id="oss_avgWriteDiv" class="round-table">Filesystems Avg Write</div>
						    </td>
					   </table>
					  </fieldset>
					</form>
			    </div>
			    <div id="tab2" class="tab_content">
			     	<table width="100%" border="2">
			     	 	<tr>
						    	<td>File System Usage Parameter 
						    		<select>
						    			<option>Select</option>
						    			<option>CPU Usage</option>
						    			<option>Memory Usage</option>
						    			<option>Disk Read</option>
						    			<option>Disk Write</option>
						    		</select> 
						    		&nbsp;&nbsp; Note: For Read and Write OST information is displayed
						    	</td>
						    </tr>
			     		<tr>
			     		    <td  valign="top" class="text" width="%100" align="center">
					    		<div id="heatMap1" align="center">
				            		Heat Map
				            		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
				        		</div>
				    		</td>
				    	</tr>
				   </table>
			    </div>
			</div>	<!-- end of tab_container  -->
		  </td>
		  </tr>
		  <tr>
		  	<td colspan="3">
			</td>
		  </tr>
		  </table>
		</div>
		<!-- OSS Div - End -->

		<!-- OST Div - Start -->
		<div id="ostInfoDiv" style="display: none">
		  <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px;border-color: blue" >
		  <tr>
		  	<td>
	  			<div class="breadCrumbHolder module">
	                <div id="breadCrumb3" class="breadCrumb module">
	                </div>
	            </div>
		    </td>
		  </tr>
		  <tr>
		  	<td>Time Interval: &nbsp;
		  		<select id="">
		  			<option value="">Select</option>	
		  			<option value="hour">Hour</option>
		  			<option value="day">Day</option>
		  			<option value="week">Week</option>
		  			<option value="month">Month</option>
		  		</select>	&nbsp;
		  		Unit:  &nbsp;
		  		<select id="unitSelect">
		  			<option value=''>Select</option>
		  		</select>
		  	</td>
		  </tr>
		  <tr>
		  	<td colspan="4">
		  	  <form>
				  <fieldset>
				    <legend class="legendClass">OST Usage Summary</legend>
				    <table width="100%" border="0">
				      <tr>
					   <td colspan="2"  valign="top" class="text" width="50%" align="center">
				    		OST information comes here
				    		<br /><br /><br /><br /><br /><br /><br />
					    		<input id="dialog_link" name="alertsPopUpBtn" type="button" value="Alerts" align="left" style="border: 1px solid red;background-color: #4F0F0F;font-weight: bold;color: red"/>&nbsp;&nbsp;<input name="eventsPopUpBtn" type="button" value="Events" style="border: 1px solid #DFC137;background-color: #6F4B0D;font-weight: bold;color: #DFC137">
					    	</td>
					    <td width="25%" valign="top" class="text"  align="center">
				    		<div id="ost_container2" class="round-table">Usage Used Vs Free</div>
				    	</td>
					   <td width="25%" valign="top" class="text"  align="center">
					   		<div id="ost_container3" class="round-table">No. Of Files Vs i-Nodes</div>
					   </td>
					   </tr>
				   </table>
				  </fieldset>
			   </form> 
			</td>
		  </tr>
		  <tr>
		  	<td colspan="3">
			  	<form>
				  <fieldset>
				    <legend class="legendClass">OST Performance Summary</legend>
				    <table width="100%" border="0">
				      <tr>
					    <td  valign="top" class="text" width="50%" align="center">
				    		<div id="ost_avgReadDiv" style="width: 500px" class="round-table">OST Disk Read</div>
				    	</td>
					    <td  valign="top" class="text" width="50%" align="center">
					   		<div id="ost_avgWriteDiv" style="width: 500px" class="round-table">OST Disk Write</div>
					    </td>
				      </tr>
				   </table>
				  </fieldset>
				</form>
			</h3></td>
		  </tr>
		  </table>
		</div>
		<!-- OST Div - End -->
		</td>
        </tr>
        </table>
		<div id="alerts_dialog" title="Alerts">
			<p>All alerts listing will come here</p>
		</div>
        <div id="events_dialog" title="Events">
			<p>All events listing will come here</p>
		</div>
	</body>
</html>
