      {% extends 'hydra_base.html' %}
      {% block css %}
      <link href="{{STATIC_URL}}css/js-graph-it.css" rel="stylesheet" type="text/css" />
      <link href="{{STATIC_URL}}css/resource_graph.css" rel="stylesheet" type="text/css" />
      {% endblock %}  
      {% block scripts %}
      <script type="text/javascript" src="{{STATIC_URL}}js/custom_dashboard.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/custom_filesystem.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/custom_oss.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/custom_ost.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/graph_loader.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/configure_dialog.js"></script>
      <!-- exporting.js added for exporting graphs -->
      <!--<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/exporting.js"></script> -->
      <script id="source" language="javascript" type="text/javascript">
      $(document).ready(function() {
        setTimeout(function() {
          loadView(window.location.hash);
        }, 1);
        $('#fsSelect').attr("value","");
        $('#intervalSelect').attr("value","");
        $("#alertAnchor").click();
      });
      </script>
      {% endblock %}
      {% block include_content %}{% endblock %}
      {% block content %}
      <input type="hidden" id="ls_fsName" />
      <input type="hidden" id="ls_fsId" />
      <input type="hidden" id="ls_ossName" />
      <input type="hidden" id="ls_ossId" />
      <input type="hidden" id="ls_ostName" />
      <input type="hidden" id="ls_ostId" />
      <input type="hidden" id="ls_ostKind" />
      <select id="ostKind" style="display:none">
      </select>     
      <div class="rightpanel">
        <!-- Dashboard Div - Start -->
        <div id="dashboardDiv">
          <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px; border-color: blue;">
            <tr style="background-color: #ccc">
              <td width="50%">
                <div class="breadCrumbHolder module">
	                <div id="breadCrumb0" class="breadCrumb module">
	                  <ul style="float: left;">
	                    <li><a href="/dashboard">All FileSystems</a></li>
	                    <li>
	                      <select id="fsSelect">
	                        <option value="">Select File System</option>
	                      </select>
	                    </li>
	                  </ul>
	                </div>
                </div>
              </td>
              <td width="50%">
                <div class="timeint">
                  <input id="db_polling_element" type="checkbox" class="polling_checkbox_margin">Auto Refresh</input>
                  &nbsp;&nbsp;<font color="black">|</font> 
                  Time Interval: &nbsp;
                  <select id="intervalSelect">
                    <option value="">Select</option>
                    <option value="minutes">Minutes</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                  </select> 
                  &nbsp;&nbsp;<font color="black">|</font>
                  Unit: &nbsp; 
                  <select id="unitSelect">
                    <option value=''>Select</option>
                  </select>
                </div>
              </td>
            </tr>
          </table>
          <table class='chart_grid'>
            <tr>
              <td valign="top"  align="center">
                <div class='chart' id="container" >All File System Space Usage</div>
              </td>
              <td valign="top"  align="center">
                <div class='chart' id="container3" >Connected Clients</div>
              </td>
              <td valign="top"  align="left">
                <div id="container_fs_list">
                  <table id="allFileSystemSummaryTbl" class="display">
                    <thead>
                      <tr>
                        <th>Filesystem</th>
                        <th>OSS</th>
                        <th>OST</th>
                        <th>Total</th>
                        <th>Free</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td valign="top"  align="center">
                <div class="magni">
                  <input type="button" value="" class="magbutton" 
                  onclick="db_LineBar_CpuMemoryUsage_Data('true');setZoomDialogTitle('All File Systems: CPU and Memory Usage');" />
                </div>
                <div class='chart' id="avgCPUDiv" >Filesystems CPU and Memory Usage</div>
              </td>
              <td valign="top"  align="center">
                <div class="magni">
                  <input type="button" value="" class="magbutton" 
                  onclick="db_Area_ReadWrite_Data('true');setZoomDialogTitle('All File Systems: Disk Read and Write');" />
                </div>
                <div class='chart' id="avgMemoryDiv" >Filesystems Disk Read and Write</div>
              </td>
              <td valign="top"  align="center">
                <div class="magni">
                  <input type="button" value="" class="magbutton"
                  onclick="db_Area_mdOps_Data('true');setZoomDialogTitle('All File Systems: MDOP/s');" />
                </div>
                <div class='chart' id="avgReadDiv" >MDOP/s</div>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="magni">
                  <input type="button" class="magbutton" 
                  onclick="db_AreaSpline_ioOps_Data('true');setZoomDialogTitle('OST Stats');" />
                </div>
                <div class='chart' id="db_iopsSpline"></div>
              </td>
            </tr>
          </table>
          </div>
          <!-- Dashboard Div - End -->

          <!-- FileSystem Div - Start -->
          <div id="fileSystemDiv" style="display: none">
            <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px; border-color: blue">
              <tr style="background-color: #cccccc;">
                <td width="50%">
                  <div class="breadCrumbHolder module">
					          <div id="breadCrumb1" class="breadCrumb module">
					          </div>
                  </div>
                </td>
                <td width="50%">
                  <div class="timeint">
                    <input id="fs_polling_element" type="checkbox" class="polling_checkbox_margin">Auto Refresh</input>
                    &nbsp;&nbsp;<font color="black">|</font>
                    Time Interval:&nbsp;
			              <select id="intervalSelect">
			                <option value="">Select</option>
			                <option value="minutes">Minutes</option>
			                <option value="hour">Hour</option>
			                <option value="day">Day</option>
			                <option value="week">Week</option>
			              </select><font color="black">|</font> &nbsp;Unit:&nbsp;
			              <select id="unitSelect">
			                <option value=''>Select</option>
			              </select>
                  </div>
                </td>
				      </tr>
            </table>
            <table class='chart_grid'>
				      <tr>
                <td valign="top" align="center" style="font-family: Verdana, Arial, Helvetica, sans-serif;">
                  <table id="fileSystemSummaryTbl" width="100%">
                  </table>
                </td>
                <td width="30%" valign="top"  align="center">
                 <div id="fs_container2" class="chart" >File system space usage</div>
                </td>
                <td width="30%" valign="top"  align="center">
                  <div id="fs_container3" class="chart" >Connected clients</div>
                </td>
              </tr>
              <tr>
                <td valign="top"  width="30%" align="center">
                  <div class="magni">
                    <input type="button" value="" class="magbutton" 
                    onclick="fs_LineBar_CpuMemoryUsage_Data($('#fsSelect').val(), startTime, endTime, 'Average', 'OST', cpuMemoryFetchMatric, 'true');setZoomDialogTitle('File System: CPU and Memory Usage');" />
                  </div>
                  <div id="fs_avgCPUDiv" class="chart" >Server CPU and Memory Usage</div>
                </td>
                <td valign="top"  align="center">
                  <div class="magni">
                    <input type="button" value="" class="magbutton" 
                    onclick="fs_Area_ReadWrite_Data($('#fsSelect').val(), startTime, endTime, 'Average', 'MDT', readWriteFetchMatric, 'true');setZoomDialogTitle('File System: Disk Read and Write');" />
                  </div>
                  <div id="fs_avgMemoryDiv" class="chart" >Disk Read and Write</div>
                </td>
                <td valign="top"  width="30%" align="center">
                  <div class="magni">
                    <input type="button" value="" class="magbutton" 
                    onclick="fs_Area_mdOps_Data($('#fsSelect').val(), startTime, endTime, 'Average', 'MDT', mdOpsFetchmatric, 'true');setZoomDialogTitle('File System: MDOP/s');" />
                  </div>
                  <div id="fs_avgReadDiv" class="chart" >MDOP/s</div>
                </td>
              </tr>
	            <tr>
	              <td colspan="3">
				            <table border="0" align="center">
				              <tr>
				                <td valign="top"  align="center">
				                  <div class="magni">
				                    <input type="button" class="magbutton"  
				                    onclick="fs_AreaSpline_ioOps_Data('true');setZoomDialogTitle('OST Stats');" />
				                  </div>
				                  <div id="fs_iopsSpline" class="chart"></div>
				                </td>
				              </tr>
				            </table>
	              </td>
	            </tr>   
            </table>
          </div>
          <!-- FileSystem Div - End -->

          <!-- FileSystem Servers Div - Start -->
          <div id="ossInfoDiv" style="display: none">
            <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px; border-color: blue">
              <tr style="background-color: #cccccc;">
                <td width="50%">
                  <div class="breadCrumbHolder module">
                    <div id="breadCrumb2" class="breadCrumb module"></div>
                  </div>
                </td>
                <td width="50%">
                  <div class="timeint">
                    <input id="oss_polling_element" type="checkbox" class="polling_checkbox_margin">Auto Refresh</input>
                    &nbsp;&nbsp;<font color="black">|</font>
                    Time Interval: &nbsp;
                    <select id="intervalSelect">
                      <option value="">Select</option>
					            <option value="minutes">Minutes</option>
					            <option value="hour">Hour</option>
					            <option value="day">Day</option>
					            <option value="week">Week</option>
                    </select> 
                    &nbsp;&nbsp;<font color="black">|</font> 
					          Unit:&nbsp; 
					          <select id="unitSelect">
					            <option value=''>Select</option>
					          </select>
                  </div>
                </td>
              </tr>
            </table>
            <table class='chart_grid'>
              <tr>
                <td>
                  <table id="ossSummaryTbl" width="40%" align="left">
                  </table>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <div class="magni">
                    <input type="button" value="" class="magbutton"
                    onclick="oss_LineBar_CpuMemoryUsage_Data($('#fsSelect').val(), startTime, endTime, 'Average', cpuMemoryFetchMatric, 'true');setZoomDialogTitle('Server: CPU and Memory Usage');" />   
                  </div>
                  <div id="oss_avgReadDiv" class="chart">Server CPU and Memory</div>
                </td>
                <td>
                  <div class="magni">
                    <input type="button" value="" class="magbutton"
                     onclick="oss_Area_ReadWrite_Data($('#fsSelect').val(), startTime, endTime, 'Average', 'OST', readWriteFetchMatric, 'true');setZoomDialogTitle('Server: Disk Read and Write');" />  
                  </div>
                  <div id="oss_avgWriteDiv" class="chart" >Disk Read and Write</div>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
          <!-- FileSystem Servers Div - End -->
           
          <!-- Filesystem Targets  Div - Start -->
          <div id="ostInfoDiv" style="display: none">
            <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px; border-color: blue">
              <tr style="background-color: #cccccc;">
				        <td width="50%">
				          <div class="breadCrumbHolder module">
				            <div id="breadCrumb3" class="breadCrumb module"></div>
				          </div>
				        </td>
				        <td width="50%">
				          <div class="timeint">
				            <input id="ost_polling_element" type="checkbox" class="polling_checkbox_margin">Auto Refresh</input>&nbsp;&nbsp;<font color="black">|</font> 
				            Time Interval: &nbsp; 
				            <select id="intervalSelect">
				              <option value="">Select</option>
				              <option value="minutes">Minutes</option>
				              <option value="hour">Hour</option>
				              <option value="day">Day</option>
				              <option value="week">Week</option>
				            </select> &nbsp; <font color="black">|</font>
				            Unit:&nbsp; 
				            <select id="unitSelect">
				              <option value=''>Select</option>
				            </select>
				          </div>
				        </td>
              </tr>   
            </table>
            <table class='chart_grid'>
              <tr>
                <td>
                  <table id="ostSummaryTbl" width="100%">
                  </table>
                </td>
                <td width="25%" valign="top"  align="center">
                  <div id="target_space_usage_container" class="chart">Space Usage</div>
                </td>
                <td>
                  <div id="target_inodes_container" class="chart">Files Vs Free Inodes</div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                 <div class="magni">
                   <input type="button" class="magbutton" 
                   onclick="ost_Area_ReadWrite_Data($('#fsSelect').val(), startTime, endTime, 'Average', 'MDT', readWriteFetchMatric, 'true');setZoomDialogTitle('Target: Disk Read and Write');" />
                 </div>
                 <div id="target_read_write_container" class="chart">Disk Read and Write</div>
                </td>
                <td>
                 <div class="magni">
                   <input type="button" class="magbutton" 
                   onclick="ost_Area_mgtOps_Data($('#ls_ostId').val(),'true');setZoomDialogTitle('Target: MGT Ops');" />
                 </div>
                 <div id="target_mgt_ops_container" class="chart">MGT Ops</div>
                </td>
                <td></td>
              </tr>
              <tr>
               <td>
                 <div id="target_read_write_container_div" style="display: none">
                 </div>
               </td>
               <td>
                 <div id="target_mgt_ops_container_div" style="display: none">
                 </div>
               </td>
               <td></td>
             </tr>
            </table>
          </div>
          <!-- FileSystem Targets Div - End -->

			    <div id="zoomDialog" title="All File System CPU Usage">
			      <div id="dialog_avgCPUDiv"></div>
			    </div>
          {% endblock %}
