<div class="leftpanel">
  <div id="signbtn">
    <img id='notification_icon_jobs' class='notification_icon' src="{{STATIC_URL}}images/ajax-loader.gif"/>
    <img id='notification_icon_alerts' class='notification_icon' src="{{STATIC_URL}}images/dialog-warning.png"/>
    <a href="#" class="btnsignin">
      <div class='vertical'>Notifications</div>
    </a>
  </div>
  <div id="frmsignin">
    <!--<div style="border: 2px solid #848484; background-color:#cccccc; min-height:600px;">-->
    <div>
      <div class="round-slider"  style="display: block;width: 350px;">
        <div style="float: right">
          <a href="#" id="minusImg" style="text-decoration: none;">
            <div class='horizontal'> << Notifications</div>
          </a>
        </div>
        <br/><br/>
        <!-- Alerts anchor and alert div -->
        <div>
          <div class="slider_content" id="alertAnchor">Alerts</div>
        </div>
        <div id="alertsDiv" class="notification_table">
          <div class="border"></div>
          <table id="alert_content" style="padding-top:5px" width="100%" border="0" cellpadding="0" cellspacing="0" >
          </table>
        </div>
        <br/>
        <div class="border"></div>
        <!-- Events anchor and events div -->
        <div>
          <div class="slider_content" id="eventsAnchor">Events</div>
        </div>
        <div id="eventsDiv" class="notification_table">
          <div class="border"></div>
          <table id="event_content"  width="100%" border="0" cellpadding="0" cellspacing="0">
          </table>
        </div>
        <br/>
        <div class="border"></div>
        <!-- Jobs anchor and jobs div -->
        <div>
          <div class="slider_content" id="jobsAnchor">Jobs</div>
        </div>
        <div id="jobsDiv" class="notification_table">
          <div class="border"></div>
          <table id="job_content"  width="100%" border="0" cellpadding="0" cellspacing="0">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
