<div class="outlet-info span" ng-class="outlet.hasPower()">
  <div class="row">
    <div class="span1 state">
      <div class="row">
        <div class="span1">
          <i class="icon-"></i>
        </div>
      </div>
      <div class="row">
        <div class="span1 state-text">(( outlet.hasPower() | capitalize ))</div>
      </div>
    </div>
    <div class="span1 outlet">
      Outlet: ((outlet.identifier))
    </div>
    <div class="span1 button-action">
      <span ng-click="buttonAction($event, outlet, host)" ng-class="buttonClass" class="pull-right"></span>
    </div>
  </div>
</div>
