<div ng-controller="PowerCtrl">
  <h1 class="page-header"><i class="icon-bolt"></i> PDUs</h1>

  <div class="well-large well" ng-show="powerCtrl.powerControlDevices.length == 0">
    <div class="row">
      <span>No power distribution units are currently configured.</span>
      <button ng-click="powerCtrl.createPdu(powerCtrl.powerControlDevices)" class="btn"><i class="icon-plus"></i> Add One</button>
    </div>
  </div>
  <div ng-show="powerCtrl.powerControlDevices.length > 0">
    <h2 class='section_header'>Server - Outlet Assignment</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Server</th>
          <th ng-repeat="device in powerCtrl.powerControlDevices | orderBy: 'name'">
            PDU: ((device.name))
            <a ng-click="powerCtrl.deletePdu(device)">
              <i class="icon-remove-circle" tooltip-placement="left" tooltip-animation="false" tooltip="Delete PDU: ((device.address)):((device.port))"></i>
            </a>
            <a ng-click="powerCtrl.createPdu(powerCtrl.powerControlDevices, device)">
              <i class="icon-cog" tooltip-placement="left" tooltip-animation="false"
                 tooltip="Edit PDU: ((device.address)):((device.port))"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="host in powerCtrl.hosts | orderBy: 'nodename'">
          <td>((host.nodename))</td>
          <td class="outlets" ng-repeat="device in powerCtrl.powerControlDevices | orderBy: 'name'">
            <power-control-autocomplete
              tab-index="(($index + 1))"
              device="device"
              host="host"
              on-add="device.addOutlet(outlet, host)"
              on-remove="device.removeOutlet(outlet)"
              ></power-control-autocomplete>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-row">
      <a class="btn btn-small" ng-click="powerCtrl.createPdu(powerCtrl.powerControlDevices)"><i class="icon-plus"></i>
        Add PDU</a>
    </div>
  </div>
</div>
