<div ng-controller="StatusCtrl">
    <div class="btn-group" data-toggle="buttons-radio" ng-click="status.updateViewState()">
        <a class="btn" ng-model="status.state" btn-radio="status.types.collection">All</a>
        <a class="btn" ng-model="status.state" btn-radio="status.types.alert">Alerts</a>
        <a class="btn" ng-model="status.state" btn-radio="status.types.command">Commands</a>
        <a class="btn" ng-model="status.state" btn-radio="status.types.event">Events</a>
    </div>

    <a class="btn" ng-click="status.dismissAll()">Dismiss all</a>

    <div class="btn-group pull-right" data-toggle="buttons-radio" ng-click="status.updateViewState()">
        <a class="btn" ng-model="status.view" btn-radio="'current'">Current</a>
        <a class="btn" ng-model="status.view" btn-radio="'history'">History</a>
    </div>
    <ul class="messages well well-large">
        <li class="none" ng-show="status.getViewState().models.paging.noOfPages == 0">No messages here.</li>
        <li ng-repeat="model in status.getViewState().models" ng-show="status.getViewState().models.paging.noOfPages > 0">
            <div class="message" ng-class="model.getState()">
                <div class="status">
                    <i class="icon-"></i>
                    <span class="message-type">(( model.getState() | lowercase | capitalize ))</span>
                </div>
                <div class="date">
                    <a class="navigation" ng-href="/ui/log/around-(( model.created_at || model.begin | date:'yyyy-MM-ddTHH:mm:ssZ' ))/">(( model.created_at || model.begin | date:'MM/dd/yyyy HH:mm' ))</a>
                </div>
                <div class="message-body">
                    <div ng-show="model.alert_item_str || model.host_name"><strong>Host: </strong> ((model.host_name || model.alert_item_str))</div>
                    <strong>(( model.getName() | capitalize )):&nbsp;</strong> (( model.message ))
                </div>
                <div class="buttons">
                    <a class="btn btn-small" ng-show="status.view == 'current'" ng-click="status.dismiss(model)" ng-disabled="model.notDismissable()"  context-tooltip="(( model.notDismissable() && model.noDismissMessage() || 'dismiss_message' ))" tooltip-placement="left">
                        <i class="icon-trash"></i> Dismiss
                    </a>
                    <a ng-show="model.getName() == 'command'" class="navigation btn btn-small"
                       ng-href="/ui/command/((model.id))/" context-tooltip="command_detail" tooltip-placement="left">
                      <i class="icon-list-alt"></i> Detail
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <div ng-repeat="(key, type) in status.types">
        <div ng-show="status.getViewState() == data && data.models.paging.noOfPages > 1" ng-repeat="(view, data) in type">
            <pagination
              current-page="data.models.paging.currentPage"
              num-pages="data.models.paging.noOfPages"
              max-size="((5))"
              on-select-page="status.updateViewState(page)"
            ></pagination>
        </div>
    </div>
</div>
