.txtleft{
    text-align:left;
    padding-left:10px;
    font-weight:normal;
    font-size: 12px;
}
.txtright{
    text-align:right;
    padding-right:17px;
    font-weight:normal;
    font-size: 12px;
}
.txtcenter{
    text-align:center;
    font-weight:normal;
    font-size: 12px;
}

th.center-heading {
    text-align:center;
}

span.status-text {
    padding-left:5px;
}

.current-file {
  position:relative;
}

.hsm-cdt-status {
  .tooltip-inner {
    width: 200px;
  }
}
