[Unit]
Description=IML ZED Enhancer Daemon
Requires=zfs-zed.service
After=zfs-zed.service
BindsTo=zed-enhancer.socket
After=zed-enhancer.socket
After=device-scanner.socket

[Service]
Restart=on-failure
Environment=RUST_LOG=info
# Reconfigure the daemon and rescan the directory for enabled ZEDLETs:
ExecStartPre=/bin/bash -c '! systemctl --quiet is-active zfs-zed.service || systemctl kill --signal HUP zfs-zed.service'
ExecStart=/usr/bin/zed-enhancer
StandardOutput=journal
StandardError=journal
