[Unit]
Description=IML ZED Populator
Wants=zed-enhancer.socket
After=zed-enhancer.socket

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'if /usr/sbin/udevadm info --path=/module/zfs; then echo \'"Init"\' | socat - UNIX-CONNECT:/var/run/zed-enhancer.sock; fi'

[Install]
WantedBy=device-scanner.target