<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <base href="/ui_new/" />

  <title>Intel&reg; Manager for Lustre* software{% block title %}{% endblock %}</title>

  <link rel="icon" href="/static/chroma_ui/iml/app/assets/images/intel.ico" />

  <!-- writecss -->

  <script type="text/javascript">
    window.STATIC_URL = '{{STATIC_URL}}chroma_ui/';
    window.HELP_TEXT = {{help_text|safe}};
    window.IS_RELEASE = {{IS_RELEASE|yesno:"true,false"}};
    window.VERSION = '{{VERSION}}';
    window.BUILD = '{{BUILD}}';
  </script>
</head>
<body ng-app="iml">
{% block content %}{% endblock %}

<!-- writejs -->

</body>
</html>
