<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <base href="/ui_new/" />

  <title>Intel&reg; Manager for Lustre* software{% block title %}{% endblock %}</title>

  <!-- build:css(tmp) {{STATIC_URL}}chroma_ui/built.css -->
  <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}chroma_ui/styles/imports.css" />
  <!-- endbuild -->

  <script type="text/javascript">
    window.STATIC_URL = '{{STATIC_URL}}chroma_ui/';
    window.HELP_TEXT = {{help_text|safe}};
    window.IS_RELEASE = {{IS_RELEASE|yesno:"true,false"}};
    window.VERSION = '{{VERSION}}';
    window.BUILD = '{{BUILD}}';
  </script>
</head>
<body ng-app="iml">
  {% block content %}{% endblock %}
  <footer class="container logo-footer">
    <div class="row text-center">
      <div class="col-lg-12">
        <small>
          Intel&reg; Manager for Lustre* software {{ VERSION }} (build {{ BUILD }}) is
          Copyright &copy; {{ server_time.year|safe }} Intel Corporation. All rights reserved.
          <a href="/ui/about/" class='navigation'>About Intel&reg; Manager for Lustre* software</a>
        </small>
      </div>
    </div>
  </footer>

  <!-- build:js(source) {{STATIC_URL}}chroma_ui/built.js -->
  <script src="{{ STATIC_URL }}chroma_ui/bower_components/lodash/dist/lodash.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/bower_components/underscore-contrib/dist/underscore-contrib.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/vendor/sprintf/sprintf.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/bower_components/jquery/jquery.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/bower_components/angular/angular.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/bower_components/angular-resource/angular-resource.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/bower_components/angular-route/angular-route.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/bower_components/ngstorage/ngStorage.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/vendor/angular-animate-patched/angular-animate.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/bower_components/angular-route-segment/build/angular-route-segment.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/vendor/ui-bootstrap-tpls-0.6.0-SNAPSHOT.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/iml/environment.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/iml/help.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/model-factory/model-factory-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/model-factory/model-factory.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/directives/at-scroll-boundary-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/directives/at-scroll-boundary.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/filters/filters-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/filters/capitalize-filter.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/interceptors/interceptor-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/interceptors/clean-request-url.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/interceptors/add-static-dir.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/interceptors/tastypie.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/iml/auth/auth-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/iml/auth/session-model.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/iml/auth/user-model.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/login/login-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/login/login-controller.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/login/eula-modal-controller.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/access-denied/access-denied-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/access-denied/access-denied-modal-controller.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/position/position-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/position/position.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/tooltip/tooltip-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/tooltip/tooltip.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/tooltip/strategies.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/exception-module.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/exception-handler.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/exception-modal.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/exception-modal-controller.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/exception-interceptor.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/client-error-model.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/disconnect-handler.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/disconnect-modal.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}chroma_ui/common/exception/replay.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/navigate/navigate-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/navigate/navigate.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/remote-validate/remote-validate-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/remote-validate/remote-validate.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/common/route-to/route-to-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/common/route-to/route-to.js"></script>

  <script src="{{ STATIC_URL }}chroma_ui/iml/iml.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/iml/router.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/iml/app/app-module.js"></script>
  <script src="{{ STATIC_URL }}chroma_ui/iml/app/app-controller.js"></script>
  <!-- endbuild -->

</body>
</html>
