<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css" />
    <title>Chroma server</title>
  </head>

  <body>
    <div class="logohead">
      <a class='navigation' href="">
        <div class="logo"></div>
      </a>
      <div class="top_links">
        <span style="float:right; padding-right:10px;">
          Version: {{app_version}}
        </span>
      </div>
    </div>
    <div style='padding-left: 12px'>
        <h1>404 not found</h1>
        <p><script type='text/javascript'>document.write(window.location.href)</script></p>
    </div>
  </body>
</html>
