    <script type="text/javascript">

    var AlertView = function() {
      var initialized = false;
      function draw() {
        if (!initialized) {
          init();
          initialized = true;
        } else {
          $('#active_AlertContent').dataTable().fnDraw();
          $('#all_AlertContent').dataTable().fnDraw();
        }
      }

      function init() {
        $('#active_AlertContent').dataTable( {
          "bProcessing": true,
          "iDisplayLength":25,
          bServerSide: true,
          bFilter: false,
          "bDeferRender": true,
          "sAjaxSource": 'alert/',
          "fnServerData": function (url, data, callback, settings) {
            function formatRows(data) {
              $.each(data.aaData, function(i, row) {
                row.begin = shortLocalTime(row.begin);
              });
              callback(data);
            }
            Api.get_datatables(url, data, formatRows, settings, {active: true});
          },
          aaSorting: [[0, 'desc']],
          "aoColumns": [
            { "sClass": 'txtleft', "mDataProp":"begin", bSortable: true },
            { "sClass": 'txtleft', "mDataProp":"alert_item_str", bSortable: false },
            { "sClass": 'txtleft', "mDataProp":"message", bSortable: false }
            ],
            "oLanguage": {
              "sProcessing": "<img src='/static/images/loading.gif' style='margin-top:10px;margin-bottom:10px' width='16' height='16' />"
            },
            "bJQueryUI": true
        });

        $('#all_AlertContent').dataTable( {
          "bProcessing": true,
          bServerSide: true,
          bFilter: false,
          "iDisplayLength":25,
          "bDeferRender": true,
          "sAjaxSource": 'alert/',
          "fnServerData": function (url, data, callback, settings) {
            function formatRows(data) {
              $.each(data.aaData, function(i, row) {
                row.begin = shortLocalTime(row.begin);
                row.end = shortLocalTime(row.end);
              });
              callback(data);
            }
            Api.get_datatables(url, data, formatRows, settings, {active: false});
          },
          aaSorting: [[0, 'desc']],
          "aoColumns": [
            { "sClass": 'txtleft', "mDataProp":"begin", bSortable: true},
            { "sClass": 'txtleft', "mDataProp":"end", bSortable: false },
            { "sClass": 'txtleft', "mDataProp":"alert_item_str", bSortable: false },
            { "sClass": 'txtleft', "mDataProp":"message", bSortable: false }
          ],
          "oLanguage": {
            "sProcessing": "<img src='/static/images/loading.gif' style='margin-top:10px;margin-bottom:10px' width='16' height='16' />"
          },
          "bJQueryUI": true
        });
      }
      return {draw:draw}
    }();
    </script>
      <div class='content'>
        <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center" style="border: 1px;border-color: blue;" >
                <!--
          <tr style="background-color:#cccccc;">
            <td width="100%"><div class="breadCrumbHolder module">
              <div id="breadCrumb0" class="breadCrumb module">
                <ul style="float:left;">
                  <li> <a href="/dashboard">All FileSystems</a> </li>
                  <li>
                    <select id="fsSelect">
                      <option value="">Select File System</option>
                    </select>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
              -->
          <tr>
            <td colspan="3">
              <h2 class="section_header">Active Alerts</h2>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="display" id="active_AlertContent">
              <thead>
                <tr>
                  <th width="20%">Started</th>
                  <th width="20%">Entity</th>
                  <th width="50%">Message</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
              </table>
            </td>
          </tr>
          <tr>
          <td colspan="3">
            <h2 class="section_header">Alert History</h2>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="display" id="all_AlertContent">
              <thead>
                <tr>
                  <th width="20%">Started</th>
                  <th width="20%">Finished</th>
                  <th width="20%">Entity</th>
                  <th width="50%">Message</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
      </div>
