<!DOCTYPE html>
<html>
  <head>
    {% include 'target_detail.html' %}
    {% include 'server_detail.html' %}
    {% include 'user_detail.html' %}
    {% include 'command_detail.html' %}
    {% include 'storage_resource_detail.html' %}
    <script type='text/javascript'>
      // Take a javascript copy of the STATIC_URL variable
      // so that we can access it from static .js code
      var STATIC_URL = '{{STATIC_URL}}';
      var CACHE_INITIAL_DATA = {{cache|safe}};
      var UI_ROOT = "/ui/";

      // Note: these limits do not control the window size, they limit
      // the max size to which we will scale up our content
      var MAX_WIDTH = 800;
      var MAX_HEIGHT = 600;
    </script>

    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/header.css" type="text/css" />
    <link href="{{STATIC_URL}}css/datatables.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.16.custom.css"  rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/BreadCrumb.css" rel="stylesheet" type="text/css" />

    <link href="{{STATIC_URL}}css/resource_graph.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/target_detail.css" type='text/css' />
    <link href="{{STATIC_URL}}css/storage_resource_detail.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{STATIC_URL}}css/notifications.css" type='text/css' />
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.qtip.min.css" type='text/css' />

    {% block css %}{% endblock %}
    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />

    <!-- Frameworks -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/highcharts.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/json2.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/xdate.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/misc.js"></script>
    <script type='text/javascript'>
      var TIME_OFFSET = Math.round(XDate(utc = true).diffSeconds(XDate('{{server_time|safe}}', utc = true)));
    </script>

    <!-- Plugins -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.qtip.min.js"></script>

    <!-- Application (toplevel) -->
    <script type="text/javascript" src="{{STATIC_URL}}js/ui_tools.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/api.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/api_cache.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/router.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sidebar.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/notifications.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/highcharts_theme.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/help.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/conf_params.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/chart_manager.js"></script>

    <!-- Application (individual panes) -->
    <script type='text/javascript' src="{{STATIC_URL}}js/server_detail.js"></script>
    <script type='text/javascript' src="{{STATIC_URL}}js/user_detail.js"></script>
    <script type='text/javascript' src="{{STATIC_URL}}js/target_detail.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/storage_resource_detail.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/command_detail.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/dashboard.js"></script>

    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />
    {% block scripts %}{% endblock %}
    <title>Chroma</title>
  </head>

  <div style="display:none">
      {% include 'login_dialog.html' %}
  </div>

  <script type='text/javascript'>
        function updateSizes() {
          $('div.rightpanel').width(Math.max(MAX_WIDTH, $(window).width()) - $('div.leftpanel').width());
          $('div.rightpanel').height(Math.max(MAX_HEIGHT, $(window).height()) - $('div.logohead').height());
          $('div.toplevel').css('min-height', $('div.rightpanel').height());
          updateChartSizes();
        }

        function updateChartSizes() {
          $('div.dashboard_page').css('margin-top', $('#dashboard_navigation').height());
          $('div.dashboard_page').height($('div.rightpanel').height() - $('#dashboard_navigation').height() - 16)

          $('.chart_grid').each(function() {
            var grid = $(this);
            if (grid.is(":visible")) {
              var grid_width = grid.parent().width();
              var grid_height = grid.parent().height();
              var chart_pad_x = 6;
              var chart_pad_y = 6;

              var row_count = grid.children('tbody').children('tr').length;
              grid.children('tbody').children('tr').each(function() {
                var row = $(this);
                var col_count = row.children('td').length
                var chart_width = (grid_width / col_count) - chart_pad_x;
                var chart_height = (grid_height / row_count) - chart_pad_y;
                row.find('.chart').each(function() {
                  var chart = $(this);
                  chart.width(chart_width);
                  chart.height(chart_height);
                });
              });
            }
          });
        }

    $(document).ready(function() {

        $('div.rightpanel').css('visibility', 'hidden');
        Login.init();
        ContextualHelp.init();
        ConfigureTabs.init();

        updateSizes();
        $(window).resize(updateSizes);
        $('div.rightpanel').css('visibility', 'visible');
        window.loaded = true;

        new ChromaRouter();
        Api.on_available(function() {
            Backbone.history.start({root: UI_ROOT, pushState: true})
        });
    });
  </script>

  <body>
    {% include 'header.html'%}
    <noscript>
      <p>Chroma requires JavaScript to be enabled.</p>
    </noscript>
    <div class='columns read_enabled_only'>
      <div style="clear:both"></div>
      {% include 'notification_slider.html' %}
      <div class='rightpanel'>
        <div class="toplevel" id='toplevel-configure' style="display: none;">
          {% include 'configuration.html' %}
        </div>
        <div class="toplevel" id='toplevel-dashboard' style="display: none;">
          {% include 'dashboard.html' %}
        </div>
        <div class="toplevel" id='toplevel-alert' style="display: none;">
          {% include 'alerts.html' %}
        </div>
        <div class="toplevel" id='toplevel-event' style="display: none;">
          {% include 'events.html' %}
        </div>
        <div class="toplevel" id='toplevel-log' style="display: none;">
          {% include 'logs.html' %}
        </div>
          <div class="toplevel" id='toplevel-about' style="display: none;">
              {% include 'about.html' %}
          </div>
          <p class='footer'>
              Chroma™ {% if IS_RELEASE %}{{VERSION}} (build {{BUILD}}){%else%}{{BUILD}}{%endif%} is Copyright © 2012 Whamcloud Inc. All rights reserved.
              <a href="/ui/about/" class='navigation'>About Chroma.</a>
          </p>
      </div>
    </div>
  </body>
</html>
