<!DOCTYPE html>
<html ng-app="iml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <$= t('target_detail.html') $>
    <$= t('user_detail.html') $>
    <$= t('storage_resource_detail.html') $>
    <$= t('volume_chooser_templates.html') $>
    <script type='text/javascript'>
      // Take a javascript copy of the STATIC_URL variable
      // so that we can access it from static .js code
      var STATIC_URL = '<$= conf.STATIC_URL $>';
      var CACHE_INITIAL_DATA = <$= JSON.stringify(cache) $>;
      var HELP_TEXT = <$= JSON.stringify(conf.HELP_TEXT) $>;
      var UI_ROOT = "/ui/";

      // Set Dependencies for this portion of the application
      window.dependencies = ['controllers', 'models', 'interceptors', 'ngResource', 'constants',
        'ui.bootstrap', 'services', 'filters', 'ui', 'directives', 'timing', 'exception'];
    </script>

    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/base.css" type="text/css" />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/header.css" type="text/css" />
    <link href="<$= conf.STATIC_URL $>css/datatables.css" rel="stylesheet" type="text/css" />
    <link href="<$= conf.STATIC_URL $>css/smoothness/jquery-ui.css"  rel="stylesheet" type="text/css" />
    <link href="<$= conf.STATIC_URL $>css/smoothness/jquery-ui-extend.css"  rel="stylesheet" type="text/css" />
    <link href="<$= conf.STATIC_URL $>css/BreadCrumb.css" rel="stylesheet" type="text/css" />

    <link href="<$= conf.STATIC_URL $>css/resource_graph.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/target_detail.css" type='text/css' />
    <link href="<$= conf.STATIC_URL $>css/storage_resource_detail.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/filesystem_detail.css" type="text/css"/>
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/detail_screen.css" type='text/css' />

    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/notifications.css" type='text/css' />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/jquery.qtip.min.css" type='text/css' />

    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/bootstrap/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/bootstrap/bootstrap-extend.css" type="text/css"/>
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/font-awesome/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/volume.css" type="text/css" />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/power_control.css" type="text/css" />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/outlet_info.css" type="text/css" />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>css/create_pdu.css" type="text/css" />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>js/modules/exception/assets/css/exception-dialog.css" type="text/css" />
    <link rel="stylesheet" href="<$= conf.STATIC_URL $>js/modules/exception/assets/css/disconnect-dialog.css" type="text/css" />

    <link rel="stylesheet" href="<$= conf.STATIC_URL $>js/lib/select-box-it/select-box-it.css" />

    <link rel="icon" href="<$= conf.STATIC_URL $>images/intel.ico" />

    <!-- Frameworks -->
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/jquery.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/highcharts.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/jquery.peity.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/lodash.custom.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/angular/ui-bootstrap.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/angular/angular-ui.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/sprintf/sprintf.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/app.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/app-compatibility.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/constants.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/interceptors/interceptor_module.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/interceptors/tastypie.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/interceptors/clean-request-url.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/controllers/controller_module.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/controllers/power_control.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/controllers/dialogs/create_pdu.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/controllers/dialogs/create_bmc.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/models/models_module.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/models/base_model.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/models/power_control_device.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/models/power_control_device_outlet.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/models/power_control_type.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/models/host.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/services/services_module.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/services/compile_template.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/services/safe_apply.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/services/paging.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/services/generate_command_dropdown.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/services/interval.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/services/page-title.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/filters/filters_module.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/filters/capitalize.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/directives/directive_module.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/directives/context_tooltip.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/directives/command-dropdown.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/directives/power_control_autocomplete.js"></script>

    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/exception-module.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/exception-handler.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/exception-dialog.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/exception-dialog-controller.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/exception-interceptor.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/client-error-model.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/disconnect-handler.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/disconnect-dialog.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/modules/exception/replay.js"></script>

    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/json2.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/misc.js"></script>
    <script type='text/javascript'>
      window.TIME_OFFSET = Math.round((new Date(<$= getServerDate().getTime() $>) - new Date()) / 1000);
    </script>

    <!-- Plugins -->
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/jquery.blockUI.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/jquery.dataTables.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/lib/select-box-it/select-box-it.js"></script>

    <!-- Application (toplevel) -->
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/ui_tools.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/abort-on-unload.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/api.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/api_cache.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/router.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/login.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/notifications.js" ></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/highcharts_theme.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/help.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/conf_params.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/chart_manager.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/text_updater.js"></script>

    <!-- Application (individual panes) -->
    <script type='text/javascript' src="<$= conf.STATIC_URL $>js/user_detail.js"></script>
    <script type='text/javascript' src="<$= conf.STATIC_URL $>js/target_detail.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/storage_resource_detail.js"></script>
    <script type="text/javascript" src="<$= conf.STATIC_URL $>js/system_status.js"></script>

    <!-- Templates -->
    <$= t('system_status.html') $>

    <title>Intel&reg; Manager for Lustre* software</title>
  </head>

  <script type='text/javascript'>
    $(document).ready(function() {
        $('div.rightpanel').css('visibility', 'hidden');
        Login.init();
        ContextualHelp.init();

        $('div.rightpanel').css('visibility', 'visible');
        window.loaded = true;

        new ChromaRouter();
        Api.on_available(function() {
            Backbone.history.start({root: UI_ROOT, pushState: true})
        });
    });
  </script>

  <body>
    <div class='page-wrapper'>
      <script type='text/javascript'>
        $(document).ready(function() {
          var r = new RegExp('^' + UI_ROOT);

          $("a.navigation:not(a.skip_router)").live('click', function (ev) {
            ev.preventDefault();

            var href = $(this)
              .attr('href');
            var url = href.replace(r, '');

            parent.postMessage(
              url,
              location.origin
            );
          });
        });
      </script>

      <noscript>
        <p>Chroma requires JavaScript to be enabled.</p>
      </noscript>
      <div class='rightpanel'>
        <div class="toplevel" id='toplevel-configure' style="display: none;">
          <script type="text/javascript" src="<$= conf.STATIC_URL $>js/configure_charts.js"></script>
          <script type='text/javascript' src="<$= conf.STATIC_URL $>js/filesystem_configuration.js"></script>
          <$= t('configuration.html') $>
        </div>
        <div class="toplevel" id='toplevel-system_status' style="display: none;"></div>
      </div>
    </div>
  </body>
</html>
