<!DOCTYPE html>
<html ng-app="iml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% include 'target_detail.html' %}
    {% include 'server_detail.html' %}
    {% include 'user_detail.html' %}
    {% include 'command_detail.html' %}
    {% include 'storage_resource_detail.html' %}
    {% include 'volume_chooser_templates.html' %}
    <script type='text/javascript'>
      // Take a javascript copy of the STATIC_URL variable
      // so that we can access it from static .js code
      var STATIC_URL = '{{STATIC_URL}}';
      var CACHE_INITIAL_DATA = {{cache|safe}};
      var HELP_TEXT = {{help_text|safe}};
      var UI_ROOT = "/ui/";

      // Note: these limits do not control the window size, they limit
      // the max size to which we will scale up our content
      var MAX_WIDTH = 800;
      var MAX_HEIGHT = 600;

      // Set Dependencies for this portion of the application
      window.dependencies = ['controllers', 'models', 'interceptors', 'ngResource', 'constants',
        'ui.bootstrap', 'services', 'filters', 'ui', 'directives', 'timing'];
    </script>

    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/header.css" type="text/css" />
    <link href="{{STATIC_URL}}css/datatables.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/smoothness/jquery-ui.css"  rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/smoothness/jquery-ui-extend.css"  rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/BreadCrumb.css" rel="stylesheet" type="text/css" />

    <link href="{{STATIC_URL}}css/resource_graph.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/target_detail.css" type='text/css' />
    <link href="{{STATIC_URL}}css/storage_resource_detail.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/filesystem_detail.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/detail_screen.css" type='text/css' />

    <link rel="stylesheet" href="{{STATIC_URL}}css/notifications.css" type='text/css' />
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.qtip.min.css" type='text/css' />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap-extend.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/volume.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/big_green_button.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/power_control.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/outlet_info.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/status.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/create_pdu.css" type="text/css" />

    {% block css %}{% endblock %}
    <link rel="icon" href="{{STATIC_URL}}images/intel.ico" />

    <!-- Frameworks -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/highcharts.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.peity.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/lodash.custom.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/angular/ui-bootstrap.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/angular/angular-ui.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/xdate.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sprintf/sprintf.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app-compatibility.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/constants.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/interceptors/interceptor_module.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/interceptors/tastypie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/interceptors/clean-request-url.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/controllers/controller_module.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/controllers/bigGreenButton.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/controllers/status.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/controllers/power_control.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/controllers/dialogs/create_pdu.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/controllers/dialogs/access_denied.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/controllers/dialogs/create_bmc.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/models_module.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/base_model.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/alert.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/command.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/event.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/health.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/collection.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/power_control_device.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/power_control_device_outlet.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/power_control_type.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/host.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/session.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/models/user.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/services/services_module.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/services/compile_template.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/services/safe_apply.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/services/paging.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/services/generate_command_dropdown.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/services/interval.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/filters/filters_module.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/filters/capitalize.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/directives/directive_module.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/directives/context_tooltip.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/directives/transform_model.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/directives/command-dropdown.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/directives/at-scroll-boundary.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/directives/power_control_autocomplete.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/json2.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/misc.js"></script>
    <script type='text/javascript'>
      var TIME_OFFSET = Math.round(XDate(utc = true).diffSeconds(XDate('{{server_time|safe}}', utc = true)));
    </script>

    <!-- Plugins -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery.qtip.min.js"></script>

    <!-- Application (toplevel) -->
    <script type="text/javascript" src="{{STATIC_URL}}js/ui_tools.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/abort-on-unload.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/api.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/api_cache.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/router.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sidebar.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/notifications.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/highcharts_theme.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/help.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/conf_params.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/chart_manager.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/text_updater.js"></script>

    <!-- Application (individual panes) -->
    <script type='text/javascript' src="{{STATIC_URL}}js/server_detail.js"></script>
    <script type='text/javascript' src="{{STATIC_URL}}js/user_detail.js"></script>
    <script type='text/javascript' src="{{STATIC_URL}}js/target_detail.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/storage_resource_detail.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/command_detail.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/dashboard.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/system_status.js"></script>

    <!-- Templates -->
    {% include 'system_status.html' %}

    <link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />
    {% block scripts %}{% endblock %}
    <title>Intel&reg; Manager for Lustre* software</title>
  </head>

  <script type='text/javascript'>
        function updateSizes() {
          $('div.rightpanel').width(Math.max(MAX_WIDTH, $(window).width()) - $('div.leftpanel').width());
          $('div.rightpanel').height(Math.max(MAX_HEIGHT, $(window).height()) - $('div.logohead').height());
          $('div.toplevel').css('min-height', $('div.rightpanel').height());
          updateChartSizes();
        }

        function updateChartSizes() {
          var dashboardPage = $('div.dashboard_page');
          var dashboardNavigationHeight = $('#dashboard_navigation').height() + 2;

          dashboardPage.css('margin-top', dashboardNavigationHeight);

          var dashboardPageHeight = ($('div.rightpanel').height()
            - dashboardNavigationHeight
            - 16
            - parseInt(dashboardPage.css('top'), 10));

          dashboardPage.height(dashboardPageHeight);

          $('.chart_grid').each(function() {
            var grid = $(this);
            if (grid.is(":visible")) {
              var grid_width = grid.parent().width();
              var grid_height = grid.parent().height();
              var chart_pad_x = 6;
              var chart_pad_y = 6;

              var row_count = grid.children('tbody').children('tr').length;
              grid.children('tbody').children('tr').each(function() {
                var row = $(this);
                var col_count = row.children('td').length;
                var chart_width = (grid_width / col_count) - chart_pad_x;
                var chart_height = (grid_height / row_count) - chart_pad_y;
                row.find('.chart').each(function() {
                  var chart = $(this);
                  chart.width(chart_width);
                  chart.height(chart_height);
                });
              });
            }
          });
        }

    $(document).ready(function() {

        $('div.rightpanel').css('visibility', 'hidden');
        Login.init();
        ContextualHelp.init();
        ConfigureTabs.init();

        updateSizes();
        $(window).resize(updateSizes);
        $('div.rightpanel').css('visibility', 'visible');
        window.loaded = true;

        new ChromaRouter();
        Api.on_available(function() {
            Backbone.history.start({root: UI_ROOT, pushState: true})
        });
    });
  </script>

  <body>
    {% include 'header.html'%}
    <noscript>
      <p>Chroma requires JavaScript to be enabled.</p>
    </noscript>
    <div class='columns read_enabled_only'>
      <div style="clear:both"></div>
      {% include 'notification_slider.html' %}
      <div class='rightpanel'>
        <div class="toplevel" id='toplevel-configure' style="display: none;">
          {% include 'configuration.html' %}
        </div>
        <div class="toplevel" id='toplevel-dashboard' style="display: none;">
          {% include 'dashboard.html' %}
        </div>
        <div class="toplevel" id='toplevel-alert' style="display: none;">
          {% include 'alerts.html' %}
        </div>
        <div class="toplevel" id='toplevel-event' style="display: none;">
          {% include 'events.html' %}
        </div>
        <div class="toplevel" id='toplevel-log' style="display: none;">
          {% include 'logs.html' %}
        </div>
          <div class="toplevel" id='toplevel-about' style="display: none;">
              {% include 'about.html' %}
          </div>
          <div class="toplevel" id='toplevel-system_status' style="display: none;">
          </div>
          <div class="toplevel" id='toplevel-status' style="display: none;">
            <h1 class="page-header"><i class="icon-dashboard"></i> Status</h1>
            <div ng-include="(( config.asStatic('partials/status.html') ))"></div>
          </div>
          <p class='footer'>
              Intel&reg; Manager for Lustre* software {{VERSION}} (build {{BUILD}}) is Copyright &copy; {{server_time.year|safe}} Intel Corporation. All rights reserved.
              <a href="/ui/about/" class='navigation'>About Intel&reg; Manager for Lustre* software</a>
              &nbsp;
              <a class='superuser_only' href="/ui/system_status/" class='navigation'>System status</a>
          </p>
      </div>
    </div>
  </body>
</html>
