
<script type="text/javascript" src="{{STATIC_URL}}js/json_opps.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/configure_charts.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/filesystem_configuration.js"></script>
<script type="text/javascript">
  $(document).ajaxComplete(function() {
    $('button.cancel_button:not(.ui-button)').each(function() {
      $(this).html('Cancel')
        .click(function() {window.history.back();})
        .button({icons: {primary: 'ui-icon-close'}});
    });
    $('a.button:not(.ui-button)').each(function() {
      $(this).button();
    });

    var apply_button = function(selector, icon) {
      $(selector).each(function() {
        if (!$(this).hasClass('ui-button')) {
          $(this).button({icons: {primary: icon}});
        }
      });
    }
    apply_button('button.add', 'ui-icon-plusthick');
    apply_button('button.submit', 'ui-icon-check');
    apply_button('button.advanced', 'ui-icon-gear');
    apply_button('button.close', 'ui-icon-closethick');

    //for adding smoothness to all table buttons
    $("button").button();
  });

  var ConfigureTabs = function() {
    function init() {
      $("#tabs").tabs({
        selected: -1,
        select: function (event, ui) {
          var tab = ui.panel.id.split("-")[0];
          var path = "configure/" + tab + "/";
          if (window.location.pathname.indexOf(UI_ROOT + path) != 0) {
            Backbone.history.navigate(path, {trigger: true});
          }
        }
      });
    }

    return {init: init}
  }();
</script>

<div id="tabs">
  <ul>
    <li><a href='#filesystem-tab' title='filesystems'>File Systems</a></li>
    <li><a href='#mgt-tab' title='mgts'>MGTs</a></li>
    <li><a href='#volume-tab' title='volumes'>Volumes</a></li>
    <li><a href='#server-tab' title='servers'>Servers</a></li>
    <li><a href='#storage-tab' title='storage'>Storage</a></li>
    <li><a class="superuser_only" href='#user-tab' title='users'>Users</a></li>
  </ul>
  <div id='filesystem-tab'>
    <div id='filesystem-tab-list' style="display: none">
      {% include "filesystem_list.html" %}
    </div>
    <div id='filesystem-tab-create' style="display: none">
      {% include "filesystem_create.html" %}
    </div>
    <div id='filesystem-tab-detail' style="display: none">
      {% include "filesystem_detail.html" %}
    </div>
  </div>
  <div id='mgt-tab'>
    {% include "mgt_tab.html" %}
  </div>
  <div id='volume-tab'>
    {% include "volume_tab.html" %}
  </div>
  <div id='server-tab'>
    {% include "server_tab.html" %}
  </div>
  <div id='storage-tab'>
    {% include "storage_tab.html" %}
  </div>
  <div id='user-tab'>
    {% include "user_tab.html" %}
  </div>
</div>
