<script type="text/javascript">
  $(document).ajaxComplete(function() {
    $('button.cancel_button:not(.ui-button)').each(function() {
      $(this).html('Cancel')
        .click(function() {window.history.back();})
        .button({icons: {primary: 'ui-icon-close'}});
    });
    $('a.button:not(.ui-button)').each(function() {
      $(this).button();
    });

    var apply_button = function(selector, icon) {
      $(selector).each(function() {

        var excludeNewCode = !($(this).hasClass('btn') || $(this).filter('[ng-click]').length > 0);

        if (!$(this).hasClass('ui-button') && excludeNewCode) {
          $(this).button({icons: {primary: icon}});
        }
      });
    };
    apply_button('button.add', 'ui-icon-plusthick');
    apply_button('button.submit', 'ui-icon-check');
    apply_button('button.advanced', 'ui-icon-gear');
    apply_button('button.close', 'ui-icon-closethick');

    //for adding smoothness to all table buttons
    $('button').not('.btn').not('[ng-click]').button();
  });
</script>

  <div id='filesystem-tab' style="display: none">
    <div id='filesystem-tab-list' style="display: none">
      <$= t('filesystem_list.html') $>
    </div>
    <div id='filesystem-tab-create' style="display: none">
      <$= t('filesystem_create.html') $>
    </div>
    <div id='filesystem-tab-detail' style="display: none">
      <$= t('filesystem_detail.html') $>
    </div>
  </div>
  <div id='mgt-tab' style="display: none">
    <$= t('mgt_tab.html') $>
  </div>
  <div id='volume-tab' style="display: none">
    <$= t('volume_tab.html') $>
  </div>
  <div id='storage-tab' style="display: none">
    <$= t('storage_tab.html') $>
  </div>
  <div id='power-tab' style="display: none"></div>
  <div id='user-tab' style="display: none">
    <$= t('user_tab.html') $>
  </div>
