
<h1 class="page-header dashboard-title"><i class="icon-bar-chart"></i> Dashboard</h1>
<table id='dashboard_navigation' width="100%" border="0" cellspacing="0" cellpadding="3" align="center"
       style="border: 1px; border-color: blue;">
    <tr style="background-color: #ccc">
        <td>
            <div class="breadCrumbHolder module">
                <div id="breadcrumbs" class="breadCrumb module">
                </div>
            </div>
        </td>
        <td>
            <div class="timeint">
                <input id="polling" type="checkbox" class="polling_checkbox_margin">Auto Refresh</input>
                &nbsp;<font color="black">|</font>&nbsp;
                Time Interval: &nbsp;
                <select id="unitSelect">
                </select>
                <select id="intervalSelect">
                    <option value="minutes" selected='selected'>Minutes</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                </select>
                &nbsp;
            </div>
        </td>
    </tr>
</table>

<script type="text/template" id="global_filesystem_table_row_template">
<tr class='filesystem_row' data-fs_id='<%= filesystem.id %>'>
    <td class='icon_columns'><%= LiveObject.alertIcon(filesystem) %></td>
    <td class='fs_name' style='text-align: center;'>
        <div context-tooltip="<%= state.contextTooltip %>">
            <i class="<%= state.icon%>"></i>
            <a class="navigation" href="/ui/dashboard/filesystem/<%= filesystem.id %>/"><%= filesystem.attributes.name %></a>
        </div>
    </td>
    <td style='text-align: center;'><%= state.type %></td>
    <td>
        <span class='peity_space' data-colours='["#A6C56D","#C76560"]' data-diameter='12'></span>
        <span class='space'>-</span>
    </td>
    <td>
        <span class='peity_inodes' data-colours='["#A6C56D","#C76560"]' data-diameter='12'></span>
        <span class='inodes'>-</span>
    </td>
    <td class='client_count'>-</td>
</tr>
</script>

<script type='text/template' id='filesystem_summary_table_template'>
<tr>
    <td>Management Server (MGS) :</td>
    <td><%= dashboard_filesystem.mgt.primary_server_name %></td>
</tr>
<tr>
    <td>Metadata Server (MDS) :</td>
    <td><%= dashboard_filesystem.mdts[0].primary_server_name %></td>
</tr>
<tr>
    <td>Total Object Storage Targets (OST) :</td>
    <td><%= dashboard_filesystem.osts.length %></td>
</tr>
<tr>
    <td>Capacity used : </td>
    <td>
        <span class='peity_space' data-colours='["#A6C56D","#C76560"]' data-diameter='12'></span>
        <span class='space'>-</span>
    </td>
</tr>
<tr>
    <td>Files used: </td>
    <td>
        <span class='peity_inodes' data-colours='["#A6C56D","#C76560"]' data-diameter='12'></span>
        <span class='inodes'>-<span>
    </td>
</tr>
<tr>
    <td>Clients connected:</td><td class='client_count'>-</td>
</tr>
</script>

<script type='text/template' id='ost_balance_tooltip_template'>
    <div class="chart_tooltip"><small><b><%- target_name  %></b></small>
    <table width="100%">
        <tr>
            <td style="color: #A6C56D;">Free:</td>
            <td style="text-align: right"><b><%= bytes_free %></b></td><td style="text-align:right;"><b>(<%= percent_free %>)</b></td>
        </tr>
        <tr>
            <td style="color: #C76560;">Used:</td><td style="text-align: right"><b><%= bytes_used %></b></td>
            <td style="text-align:right;"><b>(<%= percent_used %>)</b></td>
        </tr>
        <tr>
            <td style="color: #000;">Capacity:</td><td style="text-align: right;"><%= bytes_total %></td>
            <td></td>
        </tr>
    </table>
    </div>
</script>

<script type='text/template' id='tooltip_template'>
    <div class="chart_tooltip">
        <small><%- label %></small>
        <table width="100%">
            <% points.forEach(function(point) { %>
            <tr>
                <td style="color: <%= point.series_color %>;"><%- point.series_name %>:</td>
                <td style="text-align: right;"><b><%- point.value %></b></td>
            </tr>
            <% }); %>
        </table>
    </div>
</script>

<div id="dashboard_page_global" class='dashboard_page'>
    <table class='chart_grid'>
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tr>
            <td>
                <div class="chart_info_pane">
                    <table id="global_filesystem_table">
                        <thead>
                        <tr>
                            <th class='icon_column'></th>
                            <th style='text-align: center;'>File System</th>
                            <th style='text-align: center;'>Type</th>
                            <th>Space Used / Total</th>
                            <th>Files Used / Total</th>
                            <th>Clients</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </td>
            <td width="50%">
                <div class='relative'><div class='chart' id="global_usage_or_balance"></div></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='relative'><div class='chart' id="global_metadata_ops"></div></div>
            </td>
            <td>
                <div class='relative'><div class='chart' id="global_read_write"></div></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='relative'><div class='chart' id="global_mds_cpu_mem"></div></div>
            </td>
            <td>
                <div class='relative'><div class='chart' id="global_oss_cpu_mem"></div></div>
            </td>
        </tr>
    </table>
</div>

<div id="dashboard_page_filesystem" class='dashboard_page' style="display: none">
    <table class='chart_grid'>
        <thead>
        <tr>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tr>
            <td>
                <div class='chart_info_pane'>
                    <h2 id="filesystem_name"></h2>
                    <table id="fileSystemSummaryTbl">
                    </table>
                </div>
            </td>
            <td width="50%" valign="top" align="center">
                <div class='relative'><div id="filesystem_ost_balance" class="chart"></div></div>
            </td>
        </tr>
        <tr>
            <td valign="top" width="50%" align="center">
                <div class='relative'><div id="filesystem_md_ops" class="chart"></div></div>
            </td>
            <td valign="top" align="center" >
                <div class='relative'><div id="filesystem_read_write" class="chart"></div></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='relative'><div id="filesystem_mds_cpu_mem" class="chart"></div></div>
            </td>
            <td>
                <div class='relative'><div id="filesystem_oss_cpu_mem" class="chart"></div></div>
            </td>
        </tr>
    </table>
</div>

<div id="dashboard_page_server" class='dashboard_page' style="display: none">
    <table class='chart_grid'>
        <tr id="first_server_chart_grid_row">
            <td>
                <div id="server_detail" class="chart_info_pane"></div>
            </td>
            <td>
                <div class='relative'><div id="server_read_write" class="chart"></div></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='relative'><div id="server_cpu" class="chart"></div></div>
            </td>
            <td>
                <div class='relative'><div id="server_mem" class="chart"></div></div>
            </td>
        </tr>
    </table>
</div>

<div id="dashboard_page_target" class='dashboard_page' style="display: none">
    <table class='chart_grid'>
        <tr>
            <td>
                <div class='chart_info_pane'>
                    <h2 id='target_name'></h2>
                    <table id="ostSummaryTbl" width="100%">
                    </table>
                </div>
            </td>
            <td width="25%" valign="top" align="center">
                <div id="target_read_write_container_div" style="display: none">
                    <div class='relative'><div class='chart' id='target_read_write_container'></div></div>
                </div>
                <div id="target_mdt_ops_container_div" style="display: none">
                    <div class='relative'><div id="target_mdt_ops_container" class="chart"></div></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="target_space_usage">
                <div class='relative'><div id="target_space_usage_container" class="chart"></div></div>
            </td>
            <td class="target_inodes">
                <div class='relative'><div id="target_inodes_container" class="chart"></div></div>
            </td>
        </tr>
    </table>
</div>
