

<table id='dashboard_navigation' width="100%" border="0" cellspacing="0" cellpadding="3" align="center"
       style="border: 1px; border-color: blue;">
    <tr style="background-color: #ccc">
        <td width="50%">
            <div class="breadCrumbHolder module">
                <div id="breadcrumbs" class="breadCrumb module">
                </div>
            </div>
        </td>
        <td width="50%">
            <div class="timeint">
                <input id="polling" type="checkbox" class="polling_checkbox_margin">Auto Refresh</input>
                &nbsp;<font color="black">|</font>&nbsp;
                Time Interval: &nbsp;
                <select id="unitSelect">
                </select>
                <select id="intervalSelect">
                    <option value="minutes" selected='selected'>Minutes</option>
                    <option value="hour">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                </select>
                &nbsp;
            </div>
        </td>
    </tr>
</table>

<script type="text/template" id="global_filesystem_table_row_template">
<tr>
    <td class='icon_columns'><%= LiveObject.alertIcon(filesystem) %></td>"
    <td><%= filesystem.name %></td>"
    <td align='right'><%= formatBytes(filesystem.bytes_total) %></td>"
    <td align='right'><%= formatBytes(filesystem.bytes_free) %></td>
    <td align='right'><%= filesystem.client_count %></td>
</tr>
</script>

<div id="dashboard_page_global" class='dashboard_page'>
    <table class='chart_grid'>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tr>
            <td colspan=2>
                <div class="chart_info_pane">
                    <table id="global_filesystem_table">
                        <thead>
                        <tr>
                            <th class='icon_column'></th>
                            <th></th>
                            <th>Total</th>
                            <th>Free</th>
                            <th>Clients</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </td>
            <td width="30%" colspan=2>
				<div class='relative'><div class='chart' id="global_usage"></div></div>
            </td>
            <td width="30%" colspan=2>
				<div class='relative'><div class='chart' id="global_client_count"></div> </div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div class='relative'><div class='chart' id="global_metadata_ops"></div></div>
            </td>
            <td colspan=3>
                <div class='relative'><div class='chart' id="global_read_write"></div></div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div class='relative'><div class='chart' id="global_mds_cpu_mem"></div></div>
            </td>
            <td colspan=3>
                <div class='relative'><div class='chart' id="global_oss_cpu_mem"></div></div>
            </td>
        </tr>
    </table>
</div>

<div id="dashboard_page_filesystem" class='dashboard_page' style="display: none">
    <table class='chart_grid'>
        <thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tr>
            <td colspan=2>
                <div class='chart_info_pane'>
                    <h2 id="filesystem_name"></h2>
                    <table id="fileSystemSummaryTbl" width="100%">
                    </table>
                </div>
            </td>
            <td width="30%" valign="top" align="center" colspan=2>
                <div class='relative'><div id="filesystem_usage" class="chart"></div></div>
            </td>
            <td width="30%" valign="top" align="center" colspan=2>
                <div class='relative'><div id="filesystem_client_count" class="chart"></div></div>
            </td>
        </tr>
        <tr>
            <td valign="top" width="30%" align="center" colspan=3>
                <div class='relative'><div id="filesystem_md_ops" class="chart"></div></div>
            </td>
            <td valign="top" align="center" colspan=3>
                <div class='relative'><div id="filesystem_read_write" class="chart"></div></div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class='relative'><div id="filesystem_mds_cpu_mem" class="chart"></div></div>
            </td>
            <td colspan="3">
                <div class='relative'><div id="filesystem_oss_cpu_mem" class="chart"></div></div>
            </td>
        </tr>
    </table>
</div>

<div id="dashboard_page_server" class='dashboard_page' style="display: none">
    <table class='chart_grid'>
        <tr>
            <td>
                <div id="server_detail" class="chart_info_pane"></div>
            </td>
            <td>
                <div class='relative'><div id="server_read_write" class="chart"></div></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='relative'><div id="server_cpu" class="chart"></div></div>
            </td>
            <td>
                <div class='relative'><div id="server_mem" class="chart"></div></div>
            </td>
        </tr>
    </table>
</div>

<div id="dashboard_page_target" class='dashboard_page' style="display: none">
    <table class='chart_grid'>
        <tr>
            <td>
                <div class='chart_info_pane'>
                    <h2 id='target_name'></h2>
                    <table id="ostSummaryTbl" width="100%">
                    </table>
                </div>
            </td>
            <td width="25%" valign="top" align="center">
                <div id="target_read_write_container_div" style="display: none">
                    <div class='relative'><div class='chart' id='target_read_write_container'></div></div>
                </div>
                <div id="target_mdt_ops_container_div" style="display: none">
                    <div class='relative'><div id="target_mdt_ops_container" class="chart"></div></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="target_space_usage">
                <div class='relative'><div id="target_space_usage_container" class="chart"></div></div>
            </td>
            <td class="target_inodes">
                <div class='relative'><div id="target_inodes_container" class="chart"></div></div>
            </td>
        </tr>
    </table>
</div>
