<script language="javascript" type="text/javascript">
  var EventView = function() {
    var initialized = false;
    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        $('#events_table').dataTable().fnDraw();
        // TODO: refresh host list too
      }
      angular.element('html').injector().get('pageTitle').set('History');

    }

    function init()
    {
      loadObjectSelection('host', $('#event_host'));

      var oTable = $('#events_table').dataTable(
      {
        "bProcessing": true,
        "bServerSide":true,
        "bFilter": false,
        iDisplayLength: 25,
        "sAjaxSource": "event/",
        "fnServerData": function (url, data, callback, settings)
        {
          function formatRows(data) {
            $.each(data.aaData, function(i, row) {
              row.created_at = shortLocalTime(row.created_at);
              row.severity = UIHelper.severity_icon(row.severity);
            });
            callback(data);
          }
          Api.get_datatables(url, data, formatRows, settings, removeBlankAttributes({
            "host__id": $('#event_host').val(),
            "severity": $('#event_severity').val(),
            "event_type": $('#event_type').val()
          }))
        },
        aaSorting: [[1, 'desc']],
        "aoColumns": [
            { "sClass": 'icon_column',"mDataProp":"severity", "bSortable":false},
            { "sClass": 'txtleft',"mDataProp":"created_at", "bSortable":true},
            { "sClass": 'txtleft',"mDataProp":"host_name", "bSortable":true},
            { "sClass": 'txtleft',"mDataProp":"message","bSortable":false}
         ],
         "bJQueryUI": true
      });

      //click handler for filter button
      $('#filter_btn').click(function()
      {
        oTable.fnDraw();
      });
    }
    return {draw:draw}
  }();
</script>
<h1 class="page-header"><i class="icon-time"></i> History</h1>
<div class='content'>
  <h2 class="section_header">Event History</h2>
  <table class='layout'>
    <tr style="background-color:#cccccc;">
      <td width="60%">
        <div class="timeint">
          Host: &nbsp;
          <select id="event_host">
          <option value="">All</option>
          </select>
            &nbsp;
            Severity: &nbsp;
          <select id="event_severity">
            <option value="">Any</option>
            <option value="INFO">Info</option>
            <option value="WARNING">Warning</option>
            <option value="ERROR">Error</option>
          </select>
           &nbsp;Event type:&nbsp;
          <select id="event_type">
            <option value="">Any</option>
            <option value="LearnEvent">Autodetection</option>
            <option value="AlertEvent">Alert</option>
            <option value="SyslogEvent">Syslog</option>
            <option value="StorageResourceLearnEvent">Storage resource detection</option>
          </select>
          <input value="Filter" id="filter_btn" type="button" />
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="events_table">
          <thead>
            <tr>
              <th class='icon_column'></th>
              <th width="10%">Time</th>
              <th width="20%">Host</th>
              <th width="70%">Message</th>
            </tr>
          </thead>
        </table>
      </td>
    </tr>
  </table>
</div>
