<script type='text/javascript'>
  var FilesystemListView = function() {
    var initialized = false;
    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        $('#fs_list').dataTable().fnDraw();
      }
      angular.element('html').injector().get('pageTitle').set('Configuration - File Systems');

    }

    function init()
    {
      var generateCommandDropdown = angular.element('html').injector().get('generateCommandDropdown');

      var oTable = $('#fs_list').dataTable( {
        bServerSide: true,
        sAjaxSource: 'filesystem/',
        "bProcessing": true,
        "bJQueryUI": true,
        "bAutoWidth":false,
        "oLanguage": {
            "sEmptyTable": "No file systems"
        },
        bPaginate: false,
        bFilter: false,
        bInfo: false,
        fnServerData: function(url, data, callback, settings) {
          Api.get_datatables(url, data, function(data) {
            $.each(data.aaData, function(i, row) {
              if (row.mdts.length) {
                mdt_hostname = row.mdts[0].primary_server_name
              }
              row.name = "<a class='navigation' href='configure/filesystem/detail/" + row.id +"/'>" + row.name + "</a>";
              row.mgs_hostname = row.mgt.primary_server_name
              if (row.mdts.length > 0) {
                row.mds_hostname = row.mdts[0].primary_server_name
              } else {
                row.mds_hostname = "";
              }
              row.client_count = formatBigNumber(row.client_count);
              row.bytes_total = formatBytes(row.bytes_total);
              row.bytes_free = formatBytes(row.bytes_free);
              row.state_transitions = '';
              row.notification_icons = LiveObject.icons(row);
            });
            callback(data);
          }, settings, {});
        },
        "aoColumns": [
          { "sClass": 'txtleft', mDataProp: 'name'},
          { "sClass": 'txtleft', mDataProp: 'mgs_hostname', bSortable: false},
          { "sClass": 'txtleft', mDataProp: 'mds_hostname', bSortable: false},
          { "sClass": 'txtright', mDataProp: 'client_count', bSortable: false},
          { "sClass": 'txtright', mDataProp: 'bytes_total', bSortable: false},
          { "sClass": 'txtright', mDataProp: 'bytes_free', bSortable: false},
          { "sClass": 'txtcenter actions-cell', mDataProp: 'state_transitions', bSortable: false},
          { "sClass": 'txtleft', mDataProp: 'notification_icons', bSortable: false}
        ],
        fnRowCallback: generateCommandDropdown.dataTableCallback(7)
      });

      $('#create_new_fs').button();
    }
    return {draw:draw}
  }();

</script>
<h1 class="page-header"><i class="icon-sitemap"></i> File Systems</h1>
<h2 class='section_header'>File System Configuration</h2>
<p>
  <a id='create_new_fs' class='navigation' href='configure/filesystem/create/'>Create File System</a>
</p>
<h2 class='section_header'>Current File Systems</h2>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="fs_list" width="100%">
  <thead>
    <tr>
      <th width="9%">File System</th>
      <th width="10%">Management Server</th>
      <th width="10%">Metadata Server</th>
      <th width="5%">Connected Clients</th>
      <th width="5%">Size</th>
      <th width="5%">Free</th>
      <th width="1%"></th>
      <th width="1%"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
