<script language="javascript">
  var FilesystemDetailView = function() {
    var initialized = false;
    var tables;
    var conf_param_dialog;
    var volume_chooser_store;
    var filesystem;
    var router_instance;
    var spinner = '<div style="text-align: center"><img src="/static/images/loading.gif"> Loading</div>';

    // cached selectors
    var $bytes_text;
    var $inodes_text;
    var $charts;

    var detail = RouteUtils.detail_page.bind(RouteUtils, 'configure/server');

    /**
     * Takes an array of tables, freezes them and abstracts their prototype methods to run on each table in the array.
     * @param {[Table]} tables
     * @constructor
     */
    function Tables (tables) {
      'use strict';

      var _tables = Object.freeze(_.clone(tables));

      //grab a table and abstract it's prototype methods to apply to the group.
      if (_tables.length) {
        var tablePrototype = Object.getPrototypeOf(_tables[0]);

        Object.keys(tablePrototype).forEach(function (property) {
          if (!this.hasOwnProperty(property) && typeof tablePrototype[property] === 'function') {
            this[property] = function () {
              var args = _.toArray(arguments);

             _tables.forEach(function (table) {
                table[property].apply(table, args);
              });
            };
          }
        }, this);

        //map the kind of table to a property on this object.
        _tables.forEach(function (table) {
          this[table.kind] = table;
        }, this);
      }
    }

    /**
     * Abstraction for a datatable.
     * @param {String} selectorString The selector for this table.
     * @param {Number} id The id this filesystem references.
     * @param {String} kind The type of target to filter for.
     * @constructor
     */
    function Table (selectorString, id, kind) {
      'use strict';

      var generateCommandDropdown = angular.element('html').injector().get('generateCommandDropdown');
      var that = this;

      this.$selector = $(selectorString);
      this.id = id;
      this.kind = kind;

      this.dataTable = this.$selector.dataTable({
        aLengthMenu: [10, 20],
        aoColumns: [
          {
            sClass: 'txtleft',
            mDataProp: 'name',
            bUseRendered: false,
            fnRender: function renderName (row) {
              return RouteUtils.object_properties_link(row.aData);
            }
          },
          {
            sClass: 'txtleft',
            mDataProp: 'volume_name',
            bSortable: false,
            fnRender: function renderVolume (row) {
              var tooltip = row.aData.volume.volume_nodes.reduce(function makeTooltip(str, node) {
                return '%s%s:%s\n'.sprintf(str, node.host_label, node.path);
              }, '');

              return '<span title="%s">%s</span>'.sprintf(tooltip.trim(), row.aData.volume.label);
            }
          },
          {
            sClass: 'txtleft',
            mDataProp: 'primary_server_name',
            bSortable: false,
            fnRender: function renderPrimaryServer (row) {
              return detail(
                RouteUtils.extract_api_id(row.aData.primary_server),
                row.aData.primary_server_name
              );
            }
          },
          {
            sClass: 'txtleft',
            mDataProp: 'failover_server_name',
            bSortable: false,
            fnRender: function renderFailoverServer (row) {
              return detail(
                RouteUtils.extract_api_id(row.aData.failover_servers[0]),
                row.aData.failover_server_name
              );
            }
          },
          {
            sClass: 'txtleft',
            mDataProp: 'started_on',
            bSortable: false,
            fnRender: function renderStartedOn (row) {
              return LiveObject.active_host(row.aData);
            }
          },
          { sClass: 'txtcenter actions-cell',
            mDataProp: 'actions',
            bSortable: false,
            fnRender: function renderEmptyString () {
              return '';
            }
          },
          {
            sClass: 'txtcenter',
            mDataProp: 'icons',
            bSortable: false,
            fnRender: function renderIcons (row) {
              return LiveObject.icons(row.aData);
            }
          }
        ],
        bDeferRender: true,
        bFilter: false,
        bInfo: true,
        bJQueryUI: true,
        bPaginate: true,
        bProcessing: true,
        bServerSide: true,
        fnRowCallback: generateCommandDropdown.dataTableCallback(6, _.identity, _.isEmpty),
        fnServerData: function (url, data, callback, settings) {
          var tableInstance = this;

          var callbacks = {
            success: callback,
            error: {
              '404': function () {
                // If we 404 here then the target we are looking for no longer exists.
                // In this case we should empty the table.
                var settings = tableInstance.fnSettings();

                if (!settings.bDestroying) {
                  settings.bDestroying = true;
                  tableInstance.fnClearTable();
                }
              }
            }
          };

          Api.get_datatables(url, data, callbacks, settings, {filesystem_id: that.id, kind: that.kind})
        },
        iDisplayLength: 10,
        sAjaxSource: 'target/'
      });
    }

    /**
     * Refreshes the table
     * @param {Number} [id] The id of the filesystem to query
     */
    Table.prototype.refresh = function (id) {
      'use strict';

      this.id = id || this.id;

      this.$selector.fnSettings().bDestroying = false;
      this.$selector.fnClearTable();
    };

    /**
     * Returns the table settings
     * @returns {object}
     */
    Table.prototype.settings = function () {
      'use strict';

      return this.$selector.fnSettings();
    };

    function draw(id, router) {
      router_instance = router;
      conf_param_dialog = router_instance.conf_param_dialog;
      if (!initialized) {
        init();
        initialized = true;
      }

      $charts.html(spinner);
      $bytes_text.add($inodes_text).html('');

      if (conf_param_dialog) {
        conf_param_dialog.destroy();
        router_instance.conf_param_dialog = conf_param_dialog = null;
      }

      loadFilesystem(id);
    }

    function init()
    {

      $bytes_text = $('#filesystem_bytes_used_total');
      $inodes_text = $('#filesystem_files_used_total');
      $charts = $('#editfs_space_usage,#editfs_inode_usage');

      $('div#filesystem_detail button.advanced').click(function() {
        conf_param_dialog.open();
      });

      $('div#filesystem_detail button.mount_info').click(function() {

          // initially, we _should_ have the mount_command available
          var template_data = {
            name: filesystem.name,
            mount_command: spinner
          };
          if ( filesystem.mount_command ) {
            template_data.mount_command = _.escape(filesystem.mount_command);
          }
          var markup = $('#filesystem_mount_info_template').html();
          var $element = $(_.template(markup, template_data));

          // no mount command available, try and fetch fresher filesystem info
          if (! filesystem.mount_command) {
            Api.get("filesystem/%s/".sprintf(filesystem.id), {},
              success_callback = function(filesystem_data) {
                filesystem = filesystem_data;
                var command = filesystem.mount_command
                              ? _.escape(filesystem.mount_command)
                              : 'Information not currently available. Please try again in a moment.';
                $element.find('pre').html(command);
              }
            );
          }

          $element.dialog({
              width: 800,
              buttons: {
                Close: {
                  click: function() {$(this).dialog('close'); },
                  text: 'Close',
                  class: 'close'
                }
              },
              close: function(){ $(this).remove(); }
          });
      });

      // Create new OST button click handler.
      volume_chooser_store = VolumeChooserStore();
      volume_chooser_store.load(function() {
        createChooser('ost');
        createChooser('mdt');
      });

      function createChooser (type) {
        $('#new_%s_chooser'.sprintf(type)).volumeChooser({
          multi_select: true,
          store: volume_chooser_store,
          change: function() {
            var val = $(this).volumeChooser('val');
            $('#%s_ok_button'.sprintf(type))
              .button('option', 'disabled', val.length == 0);
          }
        });
      }

      $('#btnNewOST').click(function() {
        var dialog = $('#new_ost_dialog');
        dialog.dialog('open');
        dialog.find('table').width("100%");
        volume_chooser_store.reload(); // HYD-1309 reload available targets on display
        $('#new_ost_chooser').volumeChooser('clear');
        $('#ost_ok_button').button('option', 'disabled', true)
      });

      $('#btnNewMDT').click(function () {
        $('#new_mdt_dialog').dialog('open');
        $('#new_mdt_dialog').find('table').width("100%");
        volume_chooser_store.reload(); // HYD-1309 reload available targets on display
        $('#new_mdt_chooser').volumeChooser('clear');
        $('#mdt_ok_button').button('option', 'disabled', true)
      });

      $('#new_mdt_dialog').dialog({
        autoOpen: false,
        width: 1100,
        maxHeight:470,
        position: 'center',
        show: 'clip',
        modal: true,
        buttons: {
          Ok: {
            text: 'Create',
            id: 'mdt_ok_button',
            click: function  () {
              $(this).dialog('close');

              function create_mdts (osts) {
                Api.patch('target/', { objects: osts, deletions: [] },
                  function(data) {
                    var table = tables.MDT;
                    var settings = table.settings();

                    // We know what the new mdt table length will be.
                    // We set it early so the server will send back the right page.
                    settings._iRecordsTotal = settings._iRecordsDisplay = (settings._iRecordsTotal += data.targets.length);

                    var moveTo = settings.aaSorting[0][1] === 'asc' ? 'last' : 'first';
                    table.$selector.fnPageChange(moveTo, false);

                    // Reload view
                    volume_chooser_store.reload();
                    loadFilesystem(filesystem.id);
                  });
              }

              var mdts = _.map($('#new_mdt_chooser').volumeChooser('val'), function(volume_id) {
                return {kind: 'MDT', filesystem_id: filesystem.id, volume_id: volume_id}
              });

              // Before submitting new MDTs, conditionally prompt for reformat
              volume_chooser_store.reformatPrompt($('#new_mdt_chooser').volumeChooser('val'),
                function() {
                  create_mdts(mdts);
                },
                function() {
                  mdts = _.map(mdts, function(ost) {ost.reformat = true ; return ost;});
                  create_mdts(mdts);
                }
              )
            }
          },
          Cancel: function onCancel () {
            $(this).dialog('close');
          }
        }
      });

      $('#new_ost_dialog').dialog({
        autoOpen: false,
        width: 1100,
        maxHeight:470,
        position:"center",
        show: "clip",
        modal: true,
        buttons:
        {
          "Ok":
          {
            text: "Create",
            id: "ost_ok_button",

            click: function(){
              // HYD-987 - Prevent multiple submissions
              // just close the dialog right away and let the OST run
              $(this).dialog("close");

              function create_osts(osts) {
                Api.patch("target/", {objects: osts, deletions: []},
                  function(data) {
                    var table = tables.OST;
                    var settings = table.settings();

                    // We know what the new ost table length will be.
                    // We set it early so the server will send back the right page.
                    settings._iRecordsTotal = settings._iRecordsDisplay = (settings._iRecordsTotal += data.targets.length);

                    var moveTo = settings.aaSorting[0][1] === 'asc' ? 'last' : 'first';
                    table.$selector.fnPageChange(moveTo, false);

                    // Reload view
                    volume_chooser_store.reload();
                    loadFilesystem(filesystem.id);
                });
              }

              var osts = _.map($('#new_ost_chooser').volumeChooser('val'), function(volume_id) {
                return {kind: 'OST', filesystem_id: filesystem.id, volume_id: volume_id}
              });

              // Before submitting new OSTs, conditionally prompt for reformat
              volume_chooser_store.reformatPrompt(
                  $('#new_ost_chooser').volumeChooser('val'),
                  function() {
                      create_osts(osts);
                  },
                  function() {
                      osts = _.map(osts, function(ost) {ost.reformat = true ; return ost;});
                      create_osts(osts);
                  }
              )
            }
          },
          "Cancel": function() {
            $(this).dialog("close");
          }
        }
      });
    }

    function loadFilesystem(id) {
      var filesystem_uri = "filesystem/" + id + "/";
      Api.get(filesystem_uri, {},
      success_callback = function(filesystem_data)
      {
        filesystem = filesystem_data;
        angular.element('html').injector().get('pageTitle').set('Configuration - File Systems - %s'.sprintf(filesystem.label));

        /* FS summary fields */
        $('#ost_count').html(filesystem.osts.length);
        $('#mdt_count').html(filesystem.mdts.length);
        $('#mgs_name')
          .html(
            detail(
              RouteUtils.extract_api_id(filesystem.mgt.primary_server),
              filesystem.mgt.primary_server_name
          )
        );
        $('#fs_alerts').html(LiveObject.alertLabel(filesystem));
        $('#fs_name').html(filesystem.name);

        var generateCommandDropdown = angular.element('html').injector().get('generateCommandDropdown');
        var $commandDropdown = generateCommandDropdown.generateDropdown(angular.element('#fs_actions'), filesystem, 'right');

        $commandDropdown.after(LiveObject.busyIcon(filesystem));

        // Config param dialog
        router_instance.conf_param_dialog = conf_param_dialog = ConfParamDialog({
          object: filesystem,
          conf_params: filesystem.conf_params,
          title: 'File System: %s Advanced Settings'.sprintf(filesystem.label)
        });

        // Monitored filesystems can't have new targets
        $('#btnNewOST').button('option', 'disabled', filesystem.immutable_state);
        // Monitored filesystems can't edit conf params
        $('div#filesystem_detail button.advanced').button('option', 'disabled', filesystem.immutable_state);

        // Free space/inode pie charts
        function render_charts(filesystem) {
          $bytes_text.html(
            "%s/%s".sprintf(
              formatBytes(filesystem.bytes_total - filesystem.bytes_free),
              formatBytes(filesystem.bytes_total)
            )
          );
          $inodes_text.html(
            "%s/%s files".sprintf(
              formatBigNumber(filesystem.files_total - filesystem.files_free),
              formatBigNumber(filesystem.files_total)
            )
          );
          LoadFSGraph_EditFS(filesystem);
        }

        // wait on data to exists for charts before rendering
        function get_filesystem_chart_data(delay_seconds) {
          if ( _.isNull(filesystem.bytes_total) || _.isNull(filesystem.files_total) ) {
            setTimeout(
              function() {
                Api.get(filesystem_uri, {},
                  success_callback = function(filesystem_data) {
                    filesystem = filesystem_data;
                    get_filesystem_chart_data(delay_seconds);
                  },
                  // ignore the error and stop fetching
                  // this prevents a 404 on filesystem delete if the stats haven't populated
                  error_callback = { '404': function() {} },
                  blocking = false
                );
              },
              delay_seconds * 1000
            );
          }
          else {
            render_charts(filesystem);
          }
        }

        get_filesystem_chart_data(5);

      });

      if (!tables) {
        tables = new Tables([
          new Table('#ost', id, 'OST'),
          new Table('#mgt_configuration_view', id, 'MGT'),
          new Table('#mdt', id, 'MDT')
        ]);
      } else {
        tables.refresh(id);
      }
    }

    return {
      draw:draw
    }
  }();
</script>

<script language="text/template" id='filesystem_mount_info_template'>
    <div class='filesystem_mount_info'>
        <h1><%- name %> mount information</h1>
        <p>To mount this filesystem on a Lustre client, use the following command:</p>
        <pre><%= mount_command %></pre>
    </div>
</script>

<div id='filesystem_detail' class='detail_screen'>

<div class="content">
<h2 class="section_header" id="edit_fs_title">Overview</h2>
<div class="fs-overview">
  <table class='fs'>
    <tr>
      <th>Management Server:</th><td id='mgs_name'></td>
    </tr>
    <tr>
      <th>MDTs:</th><td id='mdt_count'></td>
    </tr>
    <tr>
      <th>OSTs:</th><td id='ost_count'></td>
    </tr>
    <tr>
      <th>Alerts:</th><td id='fs_alerts'></td>
    </tr>
    <tr>
      <th>Actions:</th><td id='fs_actions'></td>
    </tr>
  </table>
  <p>
    <button class='advanced' type="button">Update Advanced Settings</button>
    <button class='mount_info' type="button">View Client Mount Information</button>
  </p>
</div>

<div style='float:left; margin-left: 12px;'>
  <div id="editfs_space_usage"></div>
  <p align='center' id='filesystem_bytes_used_total'></p>
</div>
<div style='float:left; margin-left: 12px;'>
  <div id="editfs_inode_usage"></div>
  <p align='center' id='filesystem_files_used_total'></p>
</div>

<div style='clear:both;'></div>

<h2 class='section_header'>Management Target</h2>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="mgt_configuration_view" width="100%">
  <thead>
    <tr>
      <th width="12%">Name</th>
      <th width="15%"><a data-topic="volume_short" class='help_hover'>Volume</a></th>
      <th width="7%">Primary&nbsp;server</th>
      <th width="7%">Failover&nbsp;server</th>
      <th width="12%">Started&nbsp;on</th>
      <th width='1%'></th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody id="example_content">
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>

<h2 class='section_header'>Metadata Target</h2>
<div class="buttonspacer">
    <button class="add" type="button" id="btnNewMDT">Create MDT (DNE)</button>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="mdt" width="100%">
  <thead>
    <tr>
      <th width="12%">Name</th>
      <th width="15%"><a data-topic="volume_short" class='help_hover'>Volume</a></th>
      <th width="7%">Primary&nbsp;server</th>
      <th width="7%">Failover&nbsp;server</th>
      <th width="12%">Started&nbsp;on</th>
      <th width='1%'></th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody id="mdt_content">
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>

<h2 class="section_header">Object Storage Targets</h2>
<div class="buttonspacer">
  <button class="add" type="button" id="btnNewOST">Create OST</button>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="ost" width="100%">
  <thead>
    <tr>
      <th width="12%">Name</th>
      <th width="15%"><a data-topic="volume_short" class='help_hover'>Volume</a></th>
      <th width="7%">Primary&nbsp;server</th>
      <th width="7%">Failover&nbsp;server</th>
      <th width="12%">Started&nbsp;on</th>
      <th width='1%'></th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody id="ost_content">
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>

<p></p>
<p align='left'>
  <a class='navigation button' href="/configure/filesystem/">Back To File Systems</a>
</p>

<!-- new OST popup showing all usable luns-->
<div id="new_ost_dialog" title="Create OST">
  <button id='new_ost_chooser'></button>
</div>

<div id="new_mdt_dialog" title="Create MDT">
  <button id='new_mdt_chooser'></button>
</div>
</div>
</div>
