
<script language="javascript">
  // Globals for Create new fs Page.

  var FilesystemCreateView = function() {
    var initialized = false;
    var advanced_tab_clicked = false;
    var conf_param_dialog;
    var volume_chooser_store;
    var router_instance;

    function populate_existing_mgts()
    {
      /* Populate existing MGT list */
      Api.get("target/", {
                kind: "MGT",
                immutable_state: false,
                limit: 0
            },
            success_callback = function(data) {
                var targets = data.objects;
                var options_markup = "<option value=''></option>";
                var count = 0;
                $.each(targets, function(i, target_info) {
                    options_markup += "<option value='" + target_info.id + "'>" + target_info.primary_server_name + "</option>"
                    count += 1;
                });
                if (count == 0) {
                    $('#existing_or_new_mgt_options').hide();
                } else {
                    $('#existing_or_new_mgt_options').show();
                    $('#mgt_existing_dropdown').html(options_markup);
                }
            }
      );
    }

    function set_mdt_advanced_visible(is_visible) {
      $('#mdt_advanced').toggle(is_visible)
        .parent()
          .css('background-color', ( is_visible ? '#eee' : '' ));
    }

    function draw(router) {
      router_instance = router;
      conf_param_dialog = router_instance.conf_param_dialog;
      if (!initialized) {
          init();
          initialized = true;
      } else {
        volume_chooser_store.reload();
        populate_existing_mgts();

        $('#mgt_chooser').volumeChooser('clear');
        $('#mdt_chooser').volumeChooser('clear');
        $('#ost_chooser').volumeChooser('clear');

        if (conf_param_dialog) {
          conf_param_dialog.destroy();
          router_instance.conf_param_dialog = conf_param_dialog = null;
        }

        advanced_tab_clicked = false;

        $('#filesystem_create_form').find('span.error').remove();
        $('#filesystem_create_form').find('.error').removeClass('error');
        $('#txtfsnameid').val("");
        $('#fs_opt_enable_hsm').prop("checked", false);
      }
      angular.element('html').injector().get('pageTitle').set('Configuration - File Systems - Create');

    }

    function submit(filesystem) {
      Api.post("filesystem/", filesystem,
        function(data) {
          //revert form values to default
          $('#inode_size').val('512');
          $('#bytes_per_inode').val('2048');
          $('#mgt_existing_dropdown').val('');
          set_mdt_advanced_visible(false);

          Backbone.history.navigate("configure/filesystem/detail/" + data.filesystem.id + "/", {trigger: true});
        },
        {
            400: function (jqXHR) {
              var errors = JSON.parse(jqXHR.responseText);

              if (_.size(errors.mgt) == 0) {
                  delete errors.mgt;
              }

              var mdt_advanced_errors = false;
              if (errors.mdt.inode_size) {
                  mdt_advanced_errors = true;
                  _.each(errors.mdt.inode_size, function(message) {
                      ValidatedForm.add_error($('input#inode_size'), message);
                  });
                  delete errors.mdt.inode_size;
              }
              if (errors.mdt.bytes_per_inode) {
                  mdt_advanced_errors = true;
                  _.each(errors.mdt.bytes_per_inode, function(message) {
                      ValidatedForm.add_error($('input#bytes_per_inode'), message);
                  });
                  delete errors.mdt.bytes_per_inode;
              }

              if (mdt_advanced_errors) {
                  set_mdt_advanced_visible(true);
              }

              if (_.size(errors.mdt) == 0) {
                  delete errors.mdt;
              }

              errors.osts = _.reject(errors.osts, function(ost_errors){return _.size(ost_errors) == 0;});

              if (errors.osts.length == 0) {
                  delete errors.osts;
              }

              if (errors.name){
                  _.each(errors.name, function(message) {
                      ValidatedForm.add_error($('#txtfsnameid'), message);
                  });
                  delete errors.name;
              }

              if (errors.conf_params) {
                  conf_param_dialog.open();
                  conf_param_errors(conf_param_dialog.get_datatable(), errors.conf_params);
                  delete errors.conf_params;
              }

              return errors;
            }
        }
      );
    }

    function init()
    {
      function updateMdtEstimate() {
        var vol = volume_chooser_store.getVolume($('#mdt_chooser').volumeChooser('val'));

        var inode_size = Math.floor($('input#inode_size').val());
        var bytes_per_inode = Math.floor($('input#bytes_per_inode').val());

        var text;
        var advanced_text;
        if (inode_size >= bytes_per_inode) {
          text = "Inode size " + inode_size + " too large (must be smaller than " + bytes_per_inode + ")";
        } else if (vol) {
          var inode_count = vol.size / bytes_per_inode;
          var ea_fixed_size = 32 + 23;
          var ea_stripe_size = 24;
          var core_inode_size = 128;
          var stripes_in_inode = Math.floor((inode_size - core_inode_size - ea_fixed_size) / ea_stripe_size);
          text = "Estimated file limit: " + formatBigNumber(inode_count) + " files"
          advanced_text = "Stripes without EA block:" + stripes_in_inode
        } else {
          text = "";
          advanced_text = "";
        }
        $('span#mdt_estimate').html(text)
        $('span#mdt_advanced_estimate').html(advanced_text)
      }

      $('input#inode_size').change(function() {
        updateMdtEstimate();
      });
      $('input#bytes_per_inode').change(function() {
        updateMdtEstimate();
      });

      function updateOstEstimate() {
        var vol_ids = $('#ost_chooser').volumeChooser('val');
        var text;
        if (vol_ids.length) {
          var sum = 0;
          _.each(vol_ids, function(vol_id) {
            var vol = volume_chooser_store.getVolume(vol_id);
            sum += Math.floor(vol.size)
          });
          text = "Estimated file system capacity: " + formatBytes(sum);
        } else {
          text = "";
        }

        $('span#total_size_estimate').html(text)
      }

      $('#mdt_advanced_button').button()
        .click(function() {
          set_mdt_advanced_visible(($('#mdt_advanced').css('display') === 'block' ? false : true ));
        });

      volume_chooser_store = VolumeChooserStore();
      volume_chooser_store.load(function() {
        $('#mdt_chooser').volumeChooser({
          store: volume_chooser_store,
          change: function() {
            updateMdtEstimate();
          }
        });
        $('#ost_chooser').volumeChooser({
          store: volume_chooser_store,
          change: function() {
            updateOstEstimate();
          },
          multi_select: true});
        $('#mgt_chooser').volumeChooser({
          store: volume_chooser_store,
          change: function() {
            $('#mgt_existing_dropdown').val('');
          }
        });
      });

      populate_existing_mgts();

      $('#mgt_existing_dropdown').change(function() {
        if ($('#mgt_existing_dropdown option:selected').val()) {
          $('#mgt_chooser').volumeChooser('clear');
        }
      });

      $('#btnCreateFS').click(function()
      {
        $('#filesystem_create_form').find('span.error').remove();
        $('#filesystem_create_form').find('.error').removeClass('error');

        if (conf_param_dialog) {
          conf_param_clear_errors(conf_param_dialog.get_datatable());
        }

        var fs_name = $('#txtfsnameid').val();
        var mgt_lun_id = $('#mgt_chooser').volumeChooser('val');
        var mgt_id = $('#mgt_existing_dropdown').val()
        var mdt_lun_id = $('#mdt_chooser').volumeChooser('val');
        var ost_lun_ids = $('#ost_chooser').volumeChooser('val');

        var errors = [];
        if(fs_name=="") {
          errors.push({element: $('#txtfsnameid'), message: "File system name is mandatory"})
        }

        if (!(mgt_id || mgt_lun_id)) {
          errors.push({element: $('#mgt_chooser'), message: "An MGT must be selected"})
        }

        if (!mdt_lun_id) {
          errors.push({element: $('#mdt_chooser'), message: "An MDT must be selected"})
        }

        if(ost_lun_ids.length==0) {
          errors.push({element: $('#ost_chooser'), message: "At least one OST must be selected"})
        }

        if (isNaN(parseInt($('input#inode_size').val()))) {
          errors.push({element: $('input#inode_size'), message: "Must be an integer"});
          set_mdt_advanced_visible(true);
        }
        if (isNaN(parseInt($('input#bytes_per_inode').val()))) {
          errors.push({element: $('input#bytes_per_inode'), message: "Must be an integer"});
          set_mdt_advanced_visible(true);
        }

        if (_.size(errors) > 0) {
          _.each(errors, function(error) {
            error.element.before("<span class='error'>" + error.message + "</span>");
            error.element.addClass('error');
          });

          return;
        }

        var filesystem = {};
        filesystem.name = fs_name;
        // Compose MGT
        if (mgt_id) {
          filesystem.mgt = {id: mgt_id}
        } else {
          filesystem.mgt = {volume_id: mgt_lun_id}
        }

        // Compose MDT
        filesystem.mdt = {
            volume_id: mdt_lun_id,
            conf_params: {}
        };

        var inode_size = $('input#inode_size').val();
        if (inode_size) {
          filesystem.mdt.inode_size = parseInt(inode_size);
        }
        var bytes_per_inode = $('input#bytes_per_inode').val();
        if (bytes_per_inode) {
          filesystem.mdt.bytes_per_inode = parseInt(bytes_per_inode);
        }
        if ($('#fs_opt_enable_hsm').is(':checked')) {
          filesystem.mdt.conf_params["mdt.hsm_control"] = "enabled";
        }

        // Compose OST list
        filesystem.osts = [];
        _.each(ost_lun_ids, function(lun_id) {
          filesystem.osts.push({
              volume_id: lun_id,
              conf_params: {}
          })
        });
        if (conf_param_dialog) {
            filesystem.conf_params = conf_param_dialog.get()
        } else {
            filesystem.conf_params = {}
        }

        // Finally, pass volume list into reformatPrompt with callbacks to submit()
        var volume_ids = [];
        if (mgt_lun_id) {
          volume_ids.push(mgt_lun_id);
        }
        volume_ids.push(mdt_lun_id);
        volume_ids.push.apply(volume_ids, ost_lun_ids);
        volume_chooser_store.reformatPrompt(
                volume_ids,
                function() {
                  submit(filesystem);
                },
                function() {
                  filesystem.mdt.reformat = true;
                  filesystem.mgt.reformat = true;
                  _.each(filesystem.osts, function(ost) {
                      ost.reformat = true;
                  });
                  submit(filesystem);
                }
        );
      });

      //Advance Settings button click handler.
      $('div#filesystem_create_form button.advanced').click(function()
      {
        // If clicked first time then only fetch parameters else show already entered values
        if(!conf_param_dialog) {
          Api.get("help/conf_param/", {kind: 'FS'}, success_callback = function(help_dict) {
            advanced_tab_clicked = true;
            router_instance.conf_param_dialog = conf_param_dialog = ConfParamDialog({help: help_dict, title: 'File System Advanced Settings'});
            conf_param_dialog.open();
          })
        } else {
          conf_param_dialog.open()
        }
      });

      ContextualHelp.load_snippets("#filesystem_create_form");

    }
    return {draw:draw}
  }();
</script>
<h1 class="page-header"><i class="icon-sitemap"></i> Create File System</h1>
<h2 class='section_header'>New File System Configuration</h2>

<div id='filesystem_create_form' class='validated_form'>
<table style="font-size:12px; padding-top:15px;">
  <tr>
    <td width="30%" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">1.</span> <span class="step_caption">Set file system options</span><br>
      </div>
      <div class='step_body'>
        <div>
            <label>File system name:</label> <input type="text" name="txtfsname" id="txtfsnameid" style="width:100px;" maxlength="8"/>
            <button class='advanced' type="button">Set Advanced Settings</button>
        </div>
        <div>
            <label>Enable HSM?</label> <input type="checkbox" name="fs_opt_enable_hsm" id="fs_opt_enable_hsm"/>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">2.</span> <span class="step_caption">Choose one management target (MGT)</span><br>
      </div>
      <div class='step_body'>
        <ul id='existing_or_new_mgt_options'>
          <li id="existing_mgt_field">
            Use existing MGT: <select id="mgt_existing_dropdown"></select>
          </li>
          <li>
            OR create a new <abbr title="Management Target">MGT</abbr>:
          </li>
        </ul>
        <button id='mgt_chooser'></button>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">3.</span> <span class="step_caption">Choose one metadata target (MDT)</span><br>
      </div>
      <div class='step_body'>
        <button id='mdt_chooser'></button>
        <div>
          <button id='mdt_advanced_button'>Set Advanced Options</button>
          <div id='mdt_advanced'>
            <table class='validated_form'>
              <tr>
                <th><label for='inode_size'><a data-topic='inode_size' class='help_hover'>Inode size</a>:</label></th>
                <td><input id='inode_size' value='512'/>bytes</td>
              </tr>
              <tr>
                <th><label for='bytes_per_inode'><a data-topic='bytes_per_inode' class='help_hover'>Bytes per inode</a>:</label></th>
                <td><input id='bytes_per_inode' value='2048'/>bytes</td>
              </tr>
              <tr>
                <td colspan='2'>
                    <div class='help_loader' data-topic="advanced_settings"></div>
                </td>
              </tr>
            </table>
            <span id='mdt_advanced_estimate'></span>
          </div>
        </div>
        <span id='mdt_estimate'></span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">4.</span> <span class="step_caption">Choose object storage targets (OSTs)</span><br>
      </div>
      <div class='step_body'>
        <button id='ost_chooser'></button>
        <span id='total_size_estimate'></span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">5.</span> <span class="step_caption">Finish</span><br>
      </div>
      <div class='step_body'>
        <button class='submit' id='btnCreateFS'>Create File System</button>
        <button class="cancel_button"></button>
      </div>
    </td>
  </tr>
</table>
</div>
