<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" ng-click="isCollapsed = !isCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <a class="brand" href="">
        <span class="logo"></span>
      </a>
      <div class="nav-collapse collapse navbar-inverse-collapse" collapse="isCollapsed">
        <ul class="nav">
          <li>
            <a id="dashboard_menu" class="navigation skip_router" href="/ui/dashboard/"><i class="icon-bar-chart"></i> Dashboard</a>
          </li>
          <li class="dropdown fsadmin_only">
            <a class="navigation dropdown-toggle" id="configure_menu" href="#"><i class="icon-cog"></i> Configuration <i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a id="server-conf-item" href="/ui/configure/server/" title='servers'>Servers</a></li>
              <li><a id="volume-conf-item" href='/ui/configure/volume/' title='volumes'>Volumes</a></li>
              <li><a id="power-conf-item" href='/ui/configure/power/' title='power'>Power Control</a></li>
              <li><a id="mgt-conf-item" href='/ui/configure/mgt/' title='mgts'>MGTs</a></li>
              <li><a id="filesystem-conf-item" href='/ui/configure/filesystem/' title='filesystems'>File Systems</a></li>
              <li><a id="storage-conf-item" href='/ui/configure/storage/' title='storage'>Storage</a></li>
              <li><a id="user-conf-item" class="superuser_only" href='/ui/configure/user/' title='users'>Users</a></li>
            </ul>
          </li>
          <li>
            <a id="alert_menu" class="navigation" href="alert/"><i class="icon-warning-sign"></i> Alerts</a>
          </li>
          <li>
            <a id="event_menu" class="navigation" href="event/"><i class="icon-time"></i> History</a>
          </li>
          <li>
            <a id="log_menu" class="navigation" href="log/"><i class="icon-book"></i> Logs</a>
          </li>
          <li class='fsadmin_only'>
            <a id="help_menu" class="navigation skip_router" href="{{STATIC_URL}}webhelp/help_wrapper.html" target="_blank"><i class="icon-question-sign"></i> Help</a>
          </li>
          <li>
            <a id="status_menu" class="navigation status-nav" href="/ui/status/" context-tooltip="status_light" tooltip-placement="bottom">
              <span ng-controller="BigGreenButtonCtrl" ng-class="state" class="ng-cloak" ></span>
              <span class="status-text">Status</span>
            </a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <span class='header_version'>
              <a class='navigation' href="/ui/about/">
                {% if IS_RELEASE %}
                  {{VERSION}}
                {% else %}
                  Build {{BUILD}}
                {% endif %}
              </a>
            </span>
          </li>
          <li>
            <span id="user_info">
              <span id="authenticated">
                <span id="username"></span>
                <span class='account_links'>
                  <a href='#' id='account'>Account</a>
                  <a href="#" id='logout'>Logout</a>
                </span>
              </span>
              <span id="anonymous">
                <a href="/ui/login/" id='login'>Login</a>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  /* the class skip_router is a function only class that intends to allow
    static links to exist in the nav without the backbone router taking over
    and having the URL rewritten to be prefixed with /ui/
    i.e. help_wrapper link
  */
  $(document).ajaxComplete(function() {
      $("a.navigation:not(a.skip_router)").each(function() {
         var el = $(this);
         var href = el.attr('href');
         if (href.indexOf(UI_ROOT) != 0) {
           el.attr('href', UI_ROOT + href);
         }
      });
  });
  $(document).ready(function() {
    $("a.navigation:not(a.skip_router)").live('click', function(ev) {
      var url = $(this).attr('href').substr(UI_ROOT.length);
      Backbone.history.navigate(url, {trigger: true});
      ev.preventDefault();
    });
  });
</script>
