<div class="logohead">
  <a class='navigation' href="">
    <div class="logo"></div>
  </a>
  <div class="top_links read_enabled_only">
    <ul class="navigation">
      <li><a id="dashboard_menu" class="navigation" href="dashboard/">Dashboard</a></li>
      <li class='fsadmin_only'><a id="configure_menu" class="navigation" href="configure/">Configuration</a></li>
      <li><a id="alert_menu" class="navigation" href="alert/">Alerts</a></li>
      <li><a id="event_menu" class="navigation" href="event/">History</a></li>
      <li><a id="log_menu" class="navigation" href="log/">Logs</a></li>
    </ul>
    <span class='fsadmin_only header_help_link'>
      <a href='{{STATIC_URL}}webhelp/help_wrapper.html'><img src='{{STATIC_URL}}images/fugue/question-frame.png'></a>
    </span>

    <span id="user_info">
      <span id="authenticated">
        <span id="username"></span>
        <span class='account_links'>[<a href='#' id='account'>Account</a>&nbsp;|&nbsp;<a href="#" id='logout'>Logout</a>]</span>
      </span>
      <span id="anonymous">
        <a href="#" id='login'>Login</a>
      </span>
    </span>
    <span class='header_version'>
        <a class='navigation' href="/ui/about/">
      {% if IS_RELEASE %}
      {{VERSION}}
      {% else %}
      Build {{BUILD}}
      {% endif %}
            </a>
    </span>
  </div>
</div>

<script type='text/javascript'>
  $(document).ajaxComplete(function() {
      $("a.navigation").each(function() {
         var el = $(this);
         var href = el.attr('href');
         if (href.indexOf(UI_ROOT) != 0) {
           el.attr('href', UI_ROOT + href);
         }
      });
  });
  $(document).ready(function() {
    $("a.navigation").live('click', function(ev) {
      var url = $(this).attr('href').substr(UI_ROOT.length);
      Backbone.history.navigate(url, {trigger: true});
      ev.preventDefault();
    });
  });
</script>
