<!DOCTYPE html>
<html ng-app="iml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Intel&reg; Manager for Lustre* software</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap_full.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap_overrides.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive-breakpoints.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/font-awesome.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/error-tooltip.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}js/modules/login/assets/css/login.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}js/modules/login/assets/css/eula.css" type="text/css" />
  <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none;
    }

    ng\:form {
      display: block;
    }
  </style>
  <script type="text/javascript">
    window.STATIC_URL = '{{STATIC_URL}}';
    window.HELP_TEXT = {{help_text|safe}};

    // Set Dependencies for this portion of the application
    window.dependencies = ['models', 'interceptors', 'constants',
        'ui.bootstrap', 'services', 'controllers', 'directives', 'validators', 'login', 'responsive']
  </script>
</head>
<body>
  <div class="container login-container">
    <div class="row-fluid login">
      <div class="span12">
        <div class="span6 offset3" ng-controller="LoginCtrl">
          <header class="row-fluid logo"></header>
          <div class="row-fluid">
            <form class="form" novalidate name="loginForm" remote-validate-form remote-then="login.loginThen">
              <div class="ng-cloak">
                <alert class="span4 offset4" ng-repeat="error in serverValidationError.__all__" type="'error'">
                  ((error))
                </alert>
              </div>
              <div class="row-fluid control-group" ng-class="{error: loginForm.username.$invalid}">
                <div class="span4 offset4">
                  <input
                    type="text"
                    name="username"
                    class="input-block-level"
                    placeholder="username"
                    autofocus
                    ng-model="login.username"
                    remote-validate-component
                    error-tooltip="((serverValidationError.username))"
                    error-tooltip-secondary-placement="top"
                    error-tooltip-placement="right"
                  />
                </div>
              </div>
              <div class="row-fluid control-group" ng-class="{error: loginForm.password.$invalid}">
                <div class="span4 offset4">
                  <input
                    type="password"
                    name="password"
                    class="input-block-level"
                    placeholder="password"
                    ng-model="login.password"
                    remote-validate-component
                    error-tooltip="((serverValidationError.password))"
                    error-tooltip-placement="right"
                  />
                </div>
              </div>
              <div class="row-fluid">
                <div class="span4 offset4">
                  <button
                    type="submit"
                    class="btn btn-success"
                    ng-click="login.submitLogin()"
                    ng-disabled="loginForm.$pristine || login.inProgress"
                  ><i class="icon-unlock-alt"></i> Login</button>
                </div>
              </div>

              {% if ALLOW_ANONYMOUS_READ %}
                <div class="row-fluid skip-login">
                  <div class="span6 offset4">
                    <small>
                      <a href="/ui/">Or Continue As Anonymous</a>
                      <a context-tooltip="continue_as_anonymous" tooltip-placement="right">
                        <i class="icon-question-sign"></i>
                      </a>
                    </small>
                  </div>
                </div>
              {% endif %}

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container logo-footer">
    <div class="row-fluid">
      <div class="span12 text-center">
        <small>
          Intel&reg; Manager for Lustre* software {{ VERSION }} (build {{ BUILD }}) is
          Copyright &copy; {{ server_time.year|safe }} Intel Corporation. All rights reserved.
          <a href="/ui/about/" class='navigation'>About Intel&reg; Manager for Lustre* software</a>
        </small>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/sprintf/sprintf.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/lodash.custom.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular-resource.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/ui-bootstrap.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular/angular-ui.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/models/models_module.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/models/base_model.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/models/session.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/models/user.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/controller_module.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/dialogs/access_denied.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/modules/login/login-module.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/modules/login/login-controller.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/modules/login/eula-dialog-controller.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/interceptors/interceptor_module.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/constants.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/services/services_module.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/services/safe_apply.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/services/paging.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/filters/filters_module.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/directives/directive_module.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/directives/context_tooltip.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/directives/validators/error-tooltip.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/directives/remote_validate.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/directives/at-scroll-boundary.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/responsive/responsive-size.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app-new.js"></script>
</body>
</html>
