<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-ui-timepicker-addon.js"></script>
<script language="javascript" type="text/javascript">
  var LogView = function() {
    var initialized = false;
    function draw() {
      loadObjectSelection('host', $('#logs_hostList'));
      if (!initialized) {
        init();
        initialized = true;
      } else {
        $('#all_log_content').dataTable().fnDraw();
      }
    }
    function init()
    {
      //validation for start an end time
      $('#datetime_from').datetimepicker(
      {
        maxDate: XDate().addSeconds(TIME_OFFSET),
        onSelect: function (selectedDateTime)
        {
          var start = $(this).datetimepicker('getDate');
          $('#datetime_to').datetimepicker('option', 'minDate', new Date(start.getTime()));
        }
      });
      $('#datetime_to').datetimepicker(
      {
        maxDate: XDate().addSeconds(TIME_OFFSET)
      });

      $.datepicker.setDefaults({dateFormat: 'yy-mm-dd'});
      $('#datetime_from').datetimepicker();
      $('#datetime_to').datetimepicker();

      var oTable = $('#all_log_content').dataTable(
      {
        "bProcessing": true,
        "bFilter":true,
        iDisplayLength: 25,
        "bSorting":false,
        "bServerSide":true,
        "sAjaxSource": 'log/',
        "fnServerData": function (url, aoData, callback, settings) {
          var filter_args = {};
          if ($('#id_only_lustre').is(':checked')) {
            filter_args['message__startswith'] = " Lustre"
          }
          filter_args['host_id'] = $('#logs_hostList').val();

          function timepicker_iso(element) {
            /* Get a timezone-aware Date and then ISO-8601 format it */
            // NB $.trim is used because datetimepicker seems to append a trailing space
            var val_str = $.trim(element.val());
            if (val_str) {
              var val = new Date(val_str);
              return val.toISOString();
            } else {
              return val_str;
            }
          }

          filter_args['devicereportedtime__gte'] = timepicker_iso($('#datetime_from'));
          filter_args['devicereportedtime__lte'] = timepicker_iso($('#datetime_to'));
          $.each(aoData, function(i, param) {
              if (param.name == 'sSearch') {
                  filter_args['message__icontains'] = param.value;
              }
          });

          Api.get_datatables(url, aoData,
            function(data) {
              _.each(data.aaData, function(row) {
                // set styling for error vs info
                row.DT_RowClass = row.message.search("LustreError") != -1 ? 'log_error' : 'log_info';
                row.devicereportedtime = shortLocalTime(row.devicereportedtime);
                row.syslogtag = row.syslogtag.slice(0, -1);

                var substituted = "",
                    cursor = 0;
                _.each(row.substitutions, function(substitution) {
                    // get all text before our substitution
                    substituted += _.escape(row.message.substr(cursor, substitution.start - cursor));
                    substituted += RouteUtils.uri_properties_link(substitution.resource_uri, _.escape(substitution.label));
                    cursor = substitution.end;
                });
                // catch the end bit (or the whole message if there are no substitutions)
                if (cursor < row.message.length) {
                    substituted += _.escape(row.message.substr(cursor, row.message.length - cursor));
                }
                row.message = "<div class='log_line'>" + substituted + "</div>";
              });
              callback(data);
            },
            settings,
            removeBlankAttributes(filter_args));
        },
       aaSorting: [[0, 'desc']],
       "aoColumns": [
           { "sClass": 'txtleft', "mDataProp":"devicereportedtime", "bSortable":true},
           { "sClass": 'txtleft', "mDataProp":"fromhost", "bSortable":true},
           { "sClass": 'txtleft', "mDataProp":"syslogtag", "bSortable":false},
           { "sClass": 'txtleft', "mDataProp":"message","bSearchable":true, "bSortable":false}
           //{ "sClass": 'txtleft log_line', "mDataProp":"devicereportedtime", "bSortable":true},
           //{ "sClass": 'txtleft log_line', "mDataProp":"fromhost", "bSortable":true},
           //{ "sClass": 'txtleft log_line', "mDataProp":"syslogtag", "bSortable":false},
           //{ "sClass": 'txtleft log_line', "mDataProp":"message","bSearchable":true, "bSortable":false}
           //{ "mDataProp":"devicereportedtime", "bSortable":true},
           //{ "mDataProp":"fromhost", "bSortable":true},
           //{ "mDataProp":"syslogtag", "bSortable":false},
           //{ "mDataProp":"message","bSearchable":true, "bSortable":false}
       ],
       "bJQueryUI": true
      });

      //click handler for filter
      $('#log_filter_btn').click(function()
      {
        oTable.fnDraw();
      });
    }

    return {draw:draw}
  }();
</script>
<div class='content'>
<h2 class="section_header">System Logs</h2>
  <table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
    <tr style="background-color:#cccccc;">
      <td width="30%">
      </td>
      <td width="70%">
        <div class="timeint">
          <label for="logs_hostList">Host: &nbsp;</label>
            <select id="logs_hostList">
                <option value="">All</option>
            </select>
          <label for='datetime_from'>From:&nbsp;</label>
            <input id="datetime_from" />
          <label for='datetime_to'>&nbsp;To:&nbsp;</label>
            <input id="datetime_to" />
          <label for="id_only_lustre">&nbsp;Only Lustre Messages:&nbsp;</label>
            <input type="checkbox" id="id_only_lustre" name="only_lustre" checked="checked" value="true">
          &nbsp;<input value="Filter" id="log_filter_btn" type="button"/>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div class='content'>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="all_log_content">
            <thead>
              <tr>
                <th width="10%">Date</th>
                <th width="10%">Host</th>
                <th width="10%">Service</th>
                <th width="70%">Message</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
