<div class="leftpanel">
  <div>
    <img id='notification_icon_jobs' class='notification_icon' src="{{STATIC_URL}}images/ajax-loader.gif"/>
    <span class='tooltip-text'>
    </span>
    <img id='notification_icon_alerts' class='notification_icon' src="{{STATIC_URL}}images/dialog-warning.png"/>
    <span class='tooltip-text'>
    </span>
    <a href="#" id="sidebar_open">
      <div class='vertical'>Notifications</div>
    </a>
  </div>

  <div id="sidebar">
    <div id="sidebar_header">
      <h2>Notifications</h2>
      <button id="sidebar_close"></button>
    </div>
    <div id="accordion">
      <h3><a href='#'>Alerts</a></h3>
      <div>
          <table id="alerts">
          </table>
      </div>
      <h3><a href='#'>Events</a></h3>
      <div>
          <table id="events">
          </table>
      </div>
      <h3><a href='#'>Commands</a></h3>
      <div>
          <table class="commands">
          </table>
      </div>
    </div>

  </div>
</div>
