<script type="text/template" id="server_command_template">
    <div class='help_loader' data-topic='<%= help_topic %>'></div>
    <div class='host_selection_list'>
        <ul class='host_selection_list'>
            <% _.each(hosts, function(host) { %>
                <li class="<%= get_disabled_text(host) %>">
                  <input type='checkbox' data-host_id="<%= host.id %>" data-host_uri="<%= host.resource_uri %>" <%= get_disabled_text(host) %> /><%= host.label %>
                </li>
            <% }); %>
        </ul>
    </div>
    <span class='small_links'>[
            <a href="#" class="select_all">Select all</a>&nbsp;|&nbsp;
            <a href="#" class="select_none">Select none</a>
    </span>]
</script>

<script type='text/javascript'>
  var ServerView = function() {
    var initialized = false;

    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        $('#server_configuration').dataTable().fnDraw();
      }
      angular.element('html').injector().get('pageTitle').set('Configuration - Servers');
    }

    function init()
    {
      var injector = angular.element('html').injector(),
        generateCommandDropdown = injector.get('generateCommandDropdown'),
        $compile = injector.get('$compile'),
        $rootScope = injector.get('$rootScope');

      var serverProfile = serverProfileFactory();
      var overrideServerActionClick = overrideServerActionClickFactory(serverProfile);

      /**
       * Generates a compiled DOM fragment.
       * @param {String} template
       * @param {Function} [done]
       */
      function generateFragment(template, done) {
        var $scope = $rootScope.$new();

        $scope.safeApply(function safeApply() {
          var fragment = $compile(template)($scope);

          fragment.bind('$destroy', function onDestroy() {
            fragment.unbind('$destroy');
            fragment = null;
            $scope.safeApply(function () {
              $scope.$destroy();
              $scope = null;
            }, $scope);
          });

          if (typeof done === 'function')
            done(fragment);
        }, $scope);
      }

      $('#server_configuration').dataTable( {
        bServerSide: true,
        bProcessing: true,
        bJQueryUI: true,
        bAutoWidth:false,
        bFilter: false,
        sAjaxSource: 'host/',
        fnServerData: function(url, data, callback, settings) {
          Api.get_datatables(url, data, function(data) {
            $.each(data.aaData, function(i, row) {
              var template;
              var server = $.extend({}, row);

              if (server.immutable_state)
                template = '';
              else
                template = ('<configure-lnet-button host-id="%s" host-name="%s"></configure-lnet-button>')
                  .sprintf(
                    server.id,
                    server.nodename
                  );

              row.state = server.state;
              row.renderState = LiveObject.state(server);
              row['configure'] = template;
              row['actions'] = '';
              row['icons'] = LiveObject.icons(server);
              /* Although the value comes from the 'label' attribute, we name
                 the column 'fqdn' so that it is sortable on the fqdn (from
                 which the label is usually derived), since the 'label'
                 attribute itself is not sortable. */
              row['fqdn'] = RouteUtils.object_properties_link(server);
            });

            $('.multi_server_button').attr('disabled', data.aaData.length == 0);

            callback(data);
          }, settings);
        },
        "oLanguage": {
            "sEmptyTable": "No Servers to display"
        },
        fnHeaderCallback: function (row, data) {
          var iconClass = 'configure-lnet-help';
          var notification = row.querySelector('.' + iconClass);

          var hasMonitoredServer = data.some(function findMonitoredServer(item) {
            return item.immutable_state;
          });

          if (!hasMonitoredServer && notification) {
            $(notification).trigger('$destroy');
          } else if (hasMonitoredServer && !notification) {
            notification = ('<i context-tooltip="configure_lnet_not_allowed" tooltip-placement="top"\
 class="icon-question-sign %s"></i>').sprintf(iconClass);

            generateFragment(notification, function whenDone(fragment) {
              var configureLnetTableHead = row.querySelector('.configure-lnet-table-head .DataTables_sort_wrapper');
              configureLnetTableHead.appendChild(fragment[0]);
            });
          }
        },
        fnRowCallback: function (row, data) {
          var template = row.querySelector('.configure-cell').children[0];

          generateCommandDropdown.dataTableCallback(4, null, null, overrideServerActionClick)(row, data);

          if (template)
            generateFragment(template);

          return row;
        },
        aaSort: [[0, 'asc']],
        "aoColumns": [
          { "sClass": 'txtleft', mDataProp: 'fqdn', bSortable: true},
          { "sClass": 'txtcenter', mDataProp: 'renderState', bSortable: false},
          { "sClass": 'txtcenter configure-cell', mDataProp: 'configure', bSortable: false},
          { "sClass": 'txtcenter actions-cell', bSortable: false, mDataProp: 'actions'},
          { "sClass": 'txtcenter', bSortable: false, mDataProp: 'icons'}
        ]
      } );

      $('#btnAddNewHost').click(function()
      {
        add_host_dialog(serverProfile);
      });

      function ServerCommandPrompt(options) {
          /* Prompt for a subset of hosts to run a job against */
          Api.get('host/', {limit: 0}, function(data) {
              var hosts = data['objects'];
              var mydiv = $("<div class='server-command-selection'></div>");

              mydiv.dialog({
                  buttons: [
                      {text: "Cancel", class: "host_selection_cancel", click: function() {}},
                      {text: "Run", class: 'host_selection_run', click: function() {}}
                  ],
                  title: options.message,
                  autoOpen: false,
                  modal: true
              });
              var cd = new ServerCommandView({
                  help_topic: options.help_topic,
                  message: options.message,
                  job_class: options.job_class,
                  multi_job: options.multi_job,
                  hosts: hosts,
                  el: mydiv.parent(),
                  is_disabled: options.is_disabled
              });
              cd.render();
          });
      }

      $('div#server_list button.detect_button').click(function() {
        ServerCommandPrompt({
            message: "Detecting File Systems",
            help_topic: 'detect_file_systems-dialog',
            job_class: 'DetectTargetsJob',
            multi_job: false
        });
      });

        $('div#server_list button.writeconf_button').click(function() {
            ServerCommandPrompt({
                help_topic: 'rewrite_target_configuration-dialog',
                message: "Updating filesystem NIDs",
                job_class: 'UpdateNidsJob',
                multi_job: false
            });
        });

        $('div#server_list button.updates_button').click(function() {
            ServerCommandPrompt({
                help_topic: 'install_updates_dialog',
                message: 'Install updates',
                job_class: 'UpdateJob',
                multi_job: true,
                is_disabled : function is_disabled (host) {
                  return host.member_of_active_filesystem && !host.immutable_state;
                }
            });
        });
    }

    return {draw:draw}
  }();

  var ServerCommandView = Backbone.View.extend({
     className: "server-command-selection",
     template: _.template($('#server_command_template').html()),
     events: {
         "click .select_all": 'select_all',
         "click .select_none": 'select_none',
         "click .host_selection_run": 'run',
         "click .host_selection_cancel": 'cancel',
         "change input[type=checkbox]": 'changed'
     },
     render: function() {
        var $el = $(this.el);
        var serverCommandView = this;

         $el.find('.ui-dialog-content').html(this.template({
           help_topic: this.options.help_topic,
           hosts: this.options.hosts,
           get_disabled_text: function get_disabled_text (host) {
               if (typeof serverCommandView.options.is_disabled !== 'function')
                   return '';

                   return (serverCommandView.options.is_disabled(host) ? 'disabled': '');
           }
         }));
         ContextualHelp.load_snippets($el);
         $el.find('.server-command-selection').dialog('open');
         this.select_all();
     },
     select_all: function() {
       $(this.el).find("input[type=checkbox]").not(':disabled').prop('checked', true);
       this.changed();

       return false;
     },
     select_none: function() {
       $(this.el).find("input[type=checkbox]").not(':disabled').prop('checked', false);
       this.changed();

       return false;
     },
     changed: function() {
        var selected_count = $(this.el).find(":checked").length;
        $(this.el).find(".host_selection_run").attr('disabled', selected_count === 0);
     },
     run: function() {
         var serverCommandView = this;
         var options = this.options;
         var jobs;

         if (options.multi_job) {
           /* If multi_job is set, send N jobs with one 'host' attribute each */
           jobs = _.map($(this.el).find(":checked"), function(cb) {
             return {
               'class_name': options.job_class,
               'args': {
                 'host_id': $(cb).data('host_id')
               }
             }
           });
         } else {
           /* If multi_job is not set, send one job with N hosts in its 'hosts' attribute */
           jobs = [{
             class_name: options.job_class,
             'args': {
               hosts: _.map($(this.el).find(":checked"), function(cb) {return $(cb).data('host_uri')})
             }
           }];
         }

         Api.post("command/",
             {
                 'message': options.message,
                 'jobs': jobs
             },
             function (command) {
                 serverCommandView.cancel();
                 CommandNotification.begin(command);
                 Backbone.history.navigate("command/" + command.id + "/", {trigger: true});
             }
         );
     },
     cancel: function() {
       this.$el.find('.server-command-selection').dialog('destroy').remove();
     }
  });

</script>


<div id='server_list'>
<h1 class="page-header"><i class="icon-tasks"></i> Servers</h1>
<div class="content">
<h2 class='section_header'>Server Configuration</h2>
<div class="buttonspacer">
  <button class='add' type="button" id="btnAddNewHost">Add Server</button>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="server_configuration" width="100%">
  <thead>
    <tr>
      <th width="84%">Hostname</th>
      <th width="13%"><a class='help_hover' data-topic='lnet_state'>LNet State</a></th>
      <th width="1%" class="configure-lnet-table-head">Configure LNet</th>
      <th width="1%"></th>
      <th width="1%"></th>
    </tr>
  </thead>
  <tbody id="server_configuration_content">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2 class='section_header'>Server Actions</h2>

<button class='detect_button multi_server_button help_hover' data-topic='detect_file_systems-tooltip'>Detect File Systems</button>
<button class='rescan_nids_button multi_server_button help_hover' data-topic='rescan_NIDs-tooltip'>Re-scan NIDs</button>
<button class='writeconf_button multi_server_button help_hover' data-topic='rewrite_target_configuration-tooltip'>Re-write Target Configuration</button>
<button class='updates_button multi_server_button'>Install Updates</button>
</div>
</div>
