
<script type='text/template' id='server_detail_template'>
    <div class='server_detail'>
      <table class='properties'>
          <tr><th>Address:</th><td><%= server.address %></td></tr>
          <tr><th>FQDN:</th><td><%= server.fqdn %></td></tr>
          <tr><th>Nodename:</th><td><%= server.nodename %></td></tr>
          <tr><th>State:</th><td><%= LiveObject.state(server) %></td></tr>
          <tr><th>State changed:</th><td><%= shortLocalTime(server.state_modified_at) %></td></tr>
          <tr><th>Last contact:</th><td><%= shortLocalTime(server.last_contact) %></td></tr>
          <tr><th>Alerts:</th><td><%= LiveObject.alertLabel(server) %></td></tr>
          <tr><th>Actions:</th><td><%= LiveObject.actions(server) %><%= LiveObject.busyIcon(server) %></td></tr>
      </table>
    </div>
</script>