<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/server_configuration.css"/>

<script type="text/template" id="server_command_template">
    <div class='help_loader' data-topic='<%= help_topic %>' />
    <div class='host_selection_list'>
        <ul class='host_selection_list'>
            <% _.each(hosts, function(host) { %>
                <li><input type='checkbox' data-host_id="<%= host.id %>" data-host_uri="<%= host.resource_uri %>"></input><%= host.label %></li>
            <% }); %>
        </ul>
    </div>
    <span class='small_links'>[
            <a href="#" class="select_all">Select all</a>&nbsp;|&nbsp;
            <a href="#" class="select_none">Select none</a>
    </span>]
</script>

<script type="text/javascript" src="{{STATIC_URL}}js/server_configuration.js"></script>
<script type='text/javascript'>
  var ServerView = function() {
    var initialized = false;
    var stickyServerProfile;

    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        $('#server_configuration').dataTable().fnDraw();
      }
      angular.element('html').injector().get('pageTitle').set('Configuration - Servers');

    }

    function init()
    {
      var generateCommandDropdown = angular.element('html').injector().get('generateCommandDropdown');

      $('#server_configuration').dataTable( {
        bServerSide: true,
        bProcessing: true,
        bJQueryUI: true,
        bAutoWidth:false,
        bFilter: false,
        sAjaxSource: 'host/',
        fnServerData: function(url, data, callback, settings) {
          Api.get_datatables(url, data, function(data) {
            var processed_data = [];
            $.each(data.aaData, function(i, row) {
              var server = $.extend({}, row);
              row['state'] = LiveObject.state(server);
              row['actions'] = '';
              row['icons'] = LiveObject.icons(server);
              /* Although the value comes from the 'label' attribute, we name
                 the column 'fqdn' so that it is sortable on the fqdn (from
                 which the label is usually derived), since the 'label'
                 attribute itself is not sortable. */
              row['fqdn'] = RouteUtils.object_properties_link(server);
            });

            $('.multi_server_button').attr('disabled', data.aaData.length == 0);

            callback(data);
          }, settings);
        },
        "oLanguage": {
            "sEmptyTable": "No Servers to display"
        },
        fnRowCallback: generateCommandDropdown.dataTableCallback(3),
        aaSort: [[0, 'asc']],
        "aoColumns": [
          { "sClass": 'txtleft', mDataProp: 'fqdn', bSortable: true},
          { "sClass": 'txtcenter', mDataProp: 'state', bSortable: false},
          { "sClass": 'txtcenter actions-cell', bSortable: false, mDataProp: 'actions'},
          { "sClass": 'txtcenter', bSortable: false, mDataProp: 'icons'}
        ]
      } );

      function serverProfile(profile) {
        if (_.isString(profile)) stickyServerProfile = profile;
        return stickyServerProfile;
      }
      $('#btnAddNewHost').click(function()
      {
        add_host_dialog(serverProfile);
      });

      function ServerCommandPrompt(options) {
          /* Prompt for a subset of hosts to run a job against */
          Api.get('host/', {limit: 0}, function(data) {
              var hosts = data['objects'];
              var mydiv = $("<div class='server-command-selection'></div>");

              mydiv.dialog({
                  buttons: [
                      {text: "Cancel", class: "host_selection_cancel", click: function() {}},
                      {text: "Run", class: 'host_selection_run', click: function() {}}
                  ],
                  autoOpen: false,
                  modal: true
              });
              var cd = new ServerCommandView({
                  help_topic: options.help_topic,
                  message: options.message,
                  job_class: options.job_class,
                  multi_job: options.multi_job,
                  hosts: hosts,
                  el: mydiv.parent()});
              cd.render();
          });
      }

      $('div#server_list button.detect_button').click(function() {
        ServerCommandPrompt({
            message: "Detecting File Systems",
            help_topic: 'detect_file_systems-dialog',
            job_class: 'DetectTargetsJob',
            multi_job: false
        });
      });

      $('div#server_list button.rescan_nids_button').click(function() {
        ServerCommandPrompt({
            help_topic: 'rescan_NIDs-dialog',
            message: "Re-scanning NIDs",
            job_class: 'RelearnNidsJob',
            multi_job: false
        });
      });

        $('div#server_list button.writeconf_button').click(function() {
            ServerCommandPrompt({
            help_topic: 'rewrite_target_configuration-dialog',
                message: "Updating filesystem NIDs",
                job_class: 'UpdateNidsJob',
                multi_job: false
            });
        });

        $('div#server_list button.updates_button').click(function() {
            ServerCommandPrompt({
                message: "Install updates",
                job_class: 'UpdateJob',
                multi_job: true
            });
        });
    }

    return {draw:draw}
  }();

  var ServerCommandView = Backbone.View.extend({
     className: "server-command-selection",
     template: _.template($('#server_command_template').html()),
     events: {
         "click .select_all": 'select_all',
         "click .select_none": 'select_none',
         "click .host_selection_run": 'run',
         "click .host_selection_cancel": 'cancel',
         "change input[type=checkbox]": 'changed'
     },
     render: function() {
        var $el = $(this.el);
         $el.find('.ui-dialog-content').html(this.template({help_topic: this.options.help_topic, hosts: this.options.hosts}));
         ContextualHelp.load_snippets($el);
         $el.find('.server-command-selection').dialog('open');
         this.select_all();
     },
     select_all: function() {
       $(this.el).find("input[type=checkbox]").prop('checked', true);
       this.changed();
     },
     select_none: function() {
       $(this.el).find("input[type=checkbox]").prop('checked', false);
       this.changed();
     },
     changed: function(e) {
        var selected_count = $(this.el).find(":checked").length;
        $(this.el).find(".host_selection_run").attr('disabled', selected_count == 0);
     },
     run: function() {
         var dialog = $(this.el);
         var options = this.options;
         var jobs;

         if (options.multi_job) {
           /* If multi_job is set, send N jobs with one 'host' attribute each */
           jobs = _.map($(this.el).find(":checked"), function(cb) {
             return {
               'class_name': options.job_class,
               'args': {
                 'host_id': $(cb).data('host_id')
               }
             }
           });
         } else {
           /* If multi_job is not set, send one job with N hosts in its 'hosts' attribute */
           jobs = [{
             class_name: options.job_class,
             'args': {
               hosts: _.map($(this.el).find(":checked"), function(cb) {return $(cb).data('host_uri')})
             }
           }];
         }

         Api.post("command/",
             {
                 'message': options.message,
                 'jobs': jobs
             },
             function(command){
                 dialog.remove();
                 CommandNotification.begin(command);
                 Backbone.history.navigate("command/" + command.id + "/", {trigger: true});
             }
         );
     },
     cancel: function() {
       $(this.el).remove();
     }
  });

</script>


<div id='server_list'>
<h1 class="page-header"><i class="icon-tasks"></i> Servers</h1>
<h2 class='section_header'>Server Configuration</h2>
<div class="buttonspacer">
  <button class='add' type="button" id="btnAddNewHost">Add Server</button>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="server_configuration" width="100%">
  <thead>
    <tr>
      <th width="85%">Hostname</th>
      <th width="13%"><a class='help_hover' data-topic='lnet_state'>LNet State</a></th>
      <th width="1%"></th>
      <th width="1%"></th>
    </tr>
  </thead>
  <tbody id="server_configuration_content">
    <tr><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>

<h2 class='section_header'>Server Actions</h2>

<button class='detect_button multi_server_button help_hover' data-topic='detect_file_systems-tooltip'>Detect File Systems</button>
<button class='rescan_nids_button multi_server_button help_hover' data-topic='rescan_NIDs-tooltip'>Re-scan NIDs</button>
<button class='writeconf_button multi_server_button help_hover' data-topic='rewrite_target_configuration-tooltip'>Re-write Target Configuration</button>
<button class='updates_button multi_server_button'>Install Updates</button>

<script type="text/template" id="add_host_dialog_template">
    <div class="add_host_dialog">
        <div class='add_host_wizard'>
            <ul>
                <li><a href="#ssh_tab">SSH</a></li>
                <li><a href="#https_tab">HTTPS</a></li>
            </ul>
            <div id='https_tab'>
                <div class="add_host_https">
                    <p>
                        This will generate a limited-use command line that includes a token. It may be run on a storage server
                        to install the needed software and register it with the manager server.
                    </p>

                    <p>Server profile: <select class="add_server_profile" name='server_profile'></select></p>

                    <div class='ui-widget ui-corner-all slider-widget'>
                        <p>How many times may this command be used to register a new storage server?</p>
                        <div class='slider-widget-container'>
                            <div class='slider-credits' />
                            <span class='slider-legend'><%= credits.min %></span>
                            <span class='slider-legend'><%= credits.max %></span>
                            <div class='slider-legend text-credits' />
                        </div>
                   </div>
                    <div class='ui-widget ui-corner-all slider-widget'>
                        <p>For how long will this command and token be valid?</p>
                        <div class='slider-widget-container'>
                            <div class='slider-expiry' />
                            <span class='slider-legend'><%= expiry.text_formatter(expiry.min) %></span>
                            <span class='slider-legend'><%= expiry.text_formatter(expiry.max)  %></span>
                            <div class='slider-legend text-expiry'></div>
                        </div>
                    </div>
                    <div class='button-container'>
                        <a class="add_host_https_generate_button">Generate</a>
                    </div>
                </div>
                <div class='add_host_https_command'>
                    <p>Copy and paste the following to the command line of the storage servers you wish to register:</p>
                    <pre></pre>
                    <p class='token_limits'></p>
                    <div class='button-container'>
                        <a class="add_host_https_back_button">Back</a>
                        <a class="add_host_close_button">Close</a>
                    </div>
                </div>
            </div>
            <div id='ssh_tab'>
                <div class="add_host_prompt validated_form">
                    <form style="margin-bottom:0px;">

                        <label style="margin-right: 6px; font-weight: bold" for='id_add_host_address'>Hostname:</label>
                        <input tabindex="1" style="width:100%; margin-bottom: 15px" type='entry' class='add_host_address' id="id_add_host_address" name='address'/>
                        <input type="hidden" id="id_failed_validations"/>

                        <label style="margin-right: 6px; font-weight: bold" for='add_server_profile'>Server profile:</label>
                        <br>
                        <select style="margin-bottom: 15px;" class="add_server_profile" name='server_profile'></select>
                        <br>

                        <label style="margin-right: 6px; font-weight: bold" >SSH Authentication:</label>
                        <div class="choice_ssh_auth" style="margin-bottom: 10px">
                            <input type="radio" id="id_existing_keys_choice" name="auth_type" checked="checked" value='existing_keys_choice'/><label for="id_existing_keys_choice">Existing key</label>
                            <input type="radio" id="id_password_choice" name="auth_type" value='id_password_root'/><label for="id_password_choice">Root Password</label>
                            <input type="radio" id="id_other_keys_choice" name="auth_type"  value='private_key_choice'/><label for="id_other_keys_choice">Another key</label>
                        </div>

                        <div id="existing_keys_choice">
                            <div style="margin-bottom: 5px">
                                If this management server is configured with a set of ssh keys,
                                those keys will be used to register this new server.</div>
                        </div>

                        <div id="id_password_root" style="display: none">
                            <div style="margin-bottom: 5px">
                                Use standard password based auth, if you don't have ssh keys to use.</div>
                            <label style="margin-right: 6px; font-weight: bold" for='id_add_host_password'>Root password:</label>
                            <input tabindex="2"  style="width:100%; margin-bottom: 15px" type='password'  id='id_add_host_password' name='root_password'/>
                        </div>

                        <div id="private_key_choice" style="display: none">
                            <div style="margin-bottom: 5px">A private key that is a pair with a public key on this new server, may be used.
                                A passphrase can be supplied for an encrypted private key.</div>
                            <label style="margin-right: 6px; font-weight: bold" for='id_add_host_private_key'>Private key:</label>
                            <textarea tabindex="3" style="width:100%; margin-bottom: 15px" cols="76" rows="5" name='private_key' id='id_add_host_private_key'></textarea>

                            <label style="margin-right: 6px; font-weight: bold" for='id_add_host_private_key_password'>Private key passphrase:</label>
                            <input tabindex="3"  style="width:100%; margin-bottom: 15px" type='password'  id='id_add_host_private_key_password' name='private_key_passphrase'/>
                        </div>

                        <div class='button-container'>
                            <button style="margin-top: 6px;" tabindex="10" class="add_host_submit_button" type='submit'>Continue</button>
                        </div>
                    </form>
                </div>
                <div class="add_host_loading">
                    <img src='{{STATIC_URL}}/images/loading.gif'/>
                    <span class='loading_placeholder'>Checking connectivity and validating server configuration...</span>
                    <a href="#" class="add_host_skip_button">Skip</a>
                </div>
                <div class='add_host_confirm'>
                    <p style="margin-bottom: 0px;margin-top:0px;">Host: <span style="font-weight: bold;" class="add_host_address_label"></span></p>
                    <table style="margin-bottom: 6px;">
                        <tr><td><a class='help_hover' data-topic='auth'>Authenticated</a>: </td><td class="add_host_auth">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='resolve'>Resolve</a>: </td><td class="add_host_resolve">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='reverse_resolve'>Reverse resolve</a>: </td><td class="add_host_reverse_resolve">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='ping'>Ping</a>: </td><td class="add_host_ping">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='reverse_ping'>Reverse ping</a>: </td><td class="add_host_reverse_ping">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='hostname_valid'>Valid hostname</a>: </td><td class="add_host_hostname_valid">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='fqdn_resolves'>FQDN resolves</a>: </td><td class="add_host_fqdn_resolves">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='fqdn_matches'>FQDN matches hostname</a>: </td><td class="add_host_fqdn_matches">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='yum_valid_repos'>Valid yum repositories</a>: </td><td class="add_host_yum_valid_repos">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='yum_can_update'>Valid yum mirror</a>: </td><td class="add_host_yum_can_update">&nbsp;</td></tr>
                    </table>

                    <div class="add_host_confirm_override_prompt" style="visibility: hidden; display: none">
                        <p><strong>WARNING: Adding a server with failed validations is unsupported!</strong></p>
                        <button class="add_host_confirm_override_button">Understood, add it anyway.</button>
                    </div>
                    <a href="#" class="add_host_back_button">Back</a>
                    <a href="#" class="add_host_confirm_button">Confirm</a>
                </div>
                <div class='add_host_complete'>
                    <p>Host added.</p>
                    <a href='#' class="add_host_close_button">Close</a>
                    <a href='#' class="add_host_back_button">Add another</a>
                </div>
            </div>
        </div>
    </div>
</script>
</div>
