<script type="text/template" id="add_host_dialog_template">
    <div class="add_host_dialog">
        <div class='add_host_wizard'>
            <ul>
                <li><a href="#ssh_tab">SSH</a></li>
                <li><a href="#https_tab">HTTPS</a></li>
            </ul>
            <div id='https_tab'>
                <div class="add_host_https">
                    <p>
                        This will generate a limited-use command line that includes a token. It may be run on a storage server
                        to install the needed software and register it with the manager server.
                    </p>

                    <p>Server profile: <select class="add_server_profile" name='server_profile'></select></p>

                    <div class='ui-widget ui-corner-all slider-widget'>
                        <p>How many times may this command be used to register a new storage server?</p>
                        <div class='slider-widget-container'>
                            <div class='slider-credits' />
                            <span class='slider-legend'><%= credits.min %></span>
                            <span class='slider-legend'><%= credits.max %></span>
                            <div class='slider-legend text-credits' />
                        </div>
                   </div>
                    <div class='ui-widget ui-corner-all slider-widget'>
                        <p>For how long will this command and token be valid?</p>
                        <div class='slider-widget-container'>
                            <div class='slider-expiry' />
                            <span class='slider-legend'><%= expiry.text_formatter(expiry.min) %></span>
                            <span class='slider-legend'><%= expiry.text_formatter(expiry.max)  %></span>
                            <div class='slider-legend text-expiry'></div>
                        </div>
                    </div>
                    <div class='button-container'>
                        <a class="add_host_https_generate_button">Generate</a>
                    </div>
                </div>
                <div class='add_host_https_command'>
                    <p>Copy and paste the following to the command line of the storage servers you wish to register:</p>
                    <pre></pre>
                    <p class='token_limits'></p>
                    <div class='button-container'>
                        <a class="add_host_https_back_button">Back</a>
                        <a class="add_host_close_button">Close</a>
                    </div>
                </div>
            </div>
            <div id='ssh_tab'>
                <div class="add_host_prompt validated_form">
                    <form style="margin-bottom:0px;">

                        <label style="margin-right: 6px; font-weight: bold" for='id_add_host_address'>Hostname:</label>
                        <input <%= address.length > 0 ?  'disabled="disabled"' : '' %> tabindex="1" style="width:100%; margin-bottom: 15px" type='entry' class='add_host_address' id="id_add_host_address" name='address' value="<%= address %>"/>
                        <input type="hidden" id="id_failed_validations"/>

                        <label style="margin-right: 6px; font-weight: bold" for='add_server_profile'>Server profile:</label>
                        <br>
                        <select style="margin-bottom: 15px;" class="add_server_profile" name='server_profile'></select>
                        <br>

                        <label style="margin-right: 6px; font-weight: bold" >SSH Authentication:</label>
                        <div class="choice_ssh_auth" style="margin-bottom: 10px">
                            <input type="radio" id="id_existing_keys_choice" name="auth_type" checked="checked" value='existing_keys_choice'/><label for="id_existing_keys_choice">Existing key</label>
                            <input type="radio" id="id_password_choice" name="auth_type" value='id_password_root'/><label for="id_password_choice">Root Password</label>
                            <input type="radio" id="id_other_keys_choice" name="auth_type"  value='private_key_choice'/><label for="id_other_keys_choice">Another key</label>
                        </div>

                        <div id="existing_keys_choice">
                            <div style="margin-bottom: 5px">
                                If this management server is configured with a set of ssh keys,
                                those keys will be used to register this new server.</div>
                        </div>

                        <div id="id_password_root" style="display: none">
                            <div style="margin-bottom: 5px">
                                Use standard password based auth, if you don't have ssh keys to use.</div>
                            <label style="margin-right: 6px; font-weight: bold" for='id_add_host_password'>Root password:</label>
                            <input tabindex="2"  style="width:100%; margin-bottom: 15px" type='password'  id='id_add_host_password' name='root_password'/>
                        </div>

                        <div id="private_key_choice" style="display: none">
                            <div style="margin-bottom: 5px">A private key that is a pair with a public key on this new server, may be used.
                                A passphrase can be supplied for an encrypted private key.</div>
                            <label style="margin-right: 6px; font-weight: bold" for='id_add_host_private_key'>Private key:</label>
                            <textarea tabindex="3" style="width:100%; margin-bottom: 15px" cols="76" rows="5" name='private_key' id='id_add_host_private_key'></textarea>

                            <label style="margin-right: 6px; font-weight: bold" for='id_add_host_private_key_password'>Private key passphrase:</label>
                            <input tabindex="3"  style="width:100%; margin-bottom: 15px" type='password'  id='id_add_host_private_key_password' name='private_key_passphrase'/>
                        </div>

                        <div class='button-container'>
                            <button style="margin-top: 6px;" tabindex="10" class="add_host_submit_button" type='submit'>Continue</button>
                        </div>
                    </form>
                </div>
                <div class="add_host_loading">
                    <img src='{{STATIC_URL}}/images/loading.gif'/>
                    <span class='loading_placeholder'>Checking connectivity and validating server configuration...</span>
                    <a href="#" class="add_host_skip_button">Skip</a>
                </div>
                <div class='add_host_confirm'>
                    <p style="margin-bottom: 0px;margin-top:0px;">Host: <span style="font-weight: bold;" class="add_host_address_label"></span></p>
                    <table style="margin-bottom: 6px;">
                        <tr><td><a class='help_hover' data-topic='auth'>Authenticated</a>: </td><td class="add_host_auth">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='resolve'>Resolve</a>: </td><td class="add_host_resolve">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='reverse_resolve'>Reverse resolve</a>: </td><td class="add_host_reverse_resolve">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='ping'>Ping</a>: </td><td class="add_host_ping">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='reverse_ping'>Reverse ping</a>: </td><td class="add_host_reverse_ping">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='hostname_valid'>Valid hostname</a>: </td><td class="add_host_hostname_valid">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='fqdn_resolves'>FQDN resolves</a>: </td><td class="add_host_fqdn_resolves">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='fqdn_matches'>FQDN matches hostname</a>: </td><td class="add_host_fqdn_matches">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='yum_valid_repos'>Valid yum repositories</a>: </td><td class="add_host_yum_valid_repos">&nbsp;</td></tr>
                        <tr><td><a class='help_hover' data-topic='yum_can_update'>Valid yum mirror</a>: </td><td class="add_host_yum_can_update">&nbsp;</td></tr>
                    </table>

                    <div class="add_host_confirm_override_prompt" style="visibility: hidden; display: none">
                        <p><strong>WARNING: Adding a server with failed validations is unsupported!</strong></p>
                        <button class="add_host_confirm_override_button">Understood, add it anyway.</button>
                        <a href='#' class='add_host_revalidate_button'>Revalidate</a>
                    </div>
                    <a href="#" class="add_host_back_button">Back</a>
                    <a href="#" class="add_host_confirm_button">Confirm</a>
                </div>
                <div class='add_host_complete'>
                    <p>Host added.</p>
                    <a href='#' class="add_host_close_button">Close</a>
                    <a href='#' class="add_host_back_button">Add another</a>
                </div>
            </div>
        </div>
    </div>
</script>
