<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/server_configuration.css"/>

<script type="text/template" id="server_command_template">
    <div class='help_loader' data-topic='<%= help_topic %>' />
    <div class='host_selection_list'>
        <ul class='host_selection_list'>
            <% _.each(hosts, function(host) { %>
                <li><input type='checkbox' data-host_uri="<%= host.resource_uri %>"></input><%= host.label %></li>
            <% }); %>
        </ul>
    </div>
    <span class='small_links'>[
            <a href="#" class="select_all">Select all</a>&nbsp;|&nbsp;
            <a href="#" class="select_none">Select none</a>
    </span>]
</script>

<script type="text/javascript" src="{{STATIC_URL}}js/server_configuration.js"></script>
<script type='text/javascript'>
  var ServerView = function() {
    var initialized = false;
    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        $('#server_configuration').dataTable().fnDraw();
      }
    }

    function init()
    {
      $('#server_configuration').dataTable( {
        bServerSide: true,
        bProcessing: true,
        bJQueryUI: true,
        bAutoWidth:false,
        bFilter: false,
        sAjaxSource: 'host/',
        fnServerData: function(url, data, callback, settings) {
          Api.get_datatables(url, data, function(data) {
            var processed_data = [];
            $.each(data.aaData, function(i, row) {
              var server = $.extend({}, row);
              row['state'] = LiveObject.state(server);
              row['actions'] = LiveObject.actions(server);
              row['icons'] = LiveObject.icons(server);
              /* Although the value comes from the 'label' attribute, we name
                 the column 'fqdn' so that it is sortable on the fqdn (from
                 which the label is usually derived), since the 'label'
                 attribute itself is not sortable. */
              row['fqdn'] = RouteUtils.object_properties_link(server);
            });

            $('.multi_server_button').attr('disabled', data.aaData.length == 0);

            callback(data);
          }, settings);
        },
        "oLanguage": {
            "sEmptyTable": "No Servers to display"
        },
        aaSort: [[0, 'asc']],
        "aoColumns": [
          { "sClass": 'txtleft', mDataProp: 'fqdn', bSortable: true},
          { "sClass": 'txtcenter', mDataProp: 'state', bSortable: false},
          { "sClass": 'txtcenter', bSortable: false, mDataProp: 'actions'},
          { "sClass": 'txtcenter', bSortable: false, mDataProp: 'icons'}
        ]
      } );
      $('#btnAddNewHost').click(function()
      {
        add_host_dialog();
      });

      function ServerCommandPrompt(options) {
          /* Prompt for a subset of hosts to run a job against */
          Api.get('host/', {limit: 0}, function(data) {
              var hosts = data['objects'];
              var mydiv = $("<div class='server-command-selection'></div>");

              mydiv.dialog({
                  buttons: [
                      {text: "Cancel", class: "host_selection_cancel", click: function() {}},
                      {text: "Run", class: 'host_selection_run', click: function() {}}
                  ],
                  autoOpen: false,
                  modal: true
              });
              var cd = new ServerCommandView({
                  help_topic: options.help_topic,
                  message: options.message,
                  job_class: options.job_class,
                  hosts: hosts,
                  el: mydiv.parent()});
              cd.render();
          });
      }

      $('div#server_list button.detect_button').click(function() {
        ServerCommandPrompt({
            message: "Detecting File Systems",
            help_topic: '_detect_file_systems-dialog',
            job_class: 'DetectTargetsJob'
        });
      });

      $('div#server_list button.rescan_nids_button').click(function() {
        ServerCommandPrompt({
            help_topic: '_rescan_NIDs-dialog',
            message: "Re-scanning NIDs",
            job_class: 'RelearnNidsJob'
        });
      });

      $('div#server_list button.writeconf_button').click(function() {
        ServerCommandPrompt({
            help_topic: '_rewrite_target_configuration-dialog',
            message: "Updating filesystem NIDs",
            job_class: 'UpdateNidsJob'
        });
      });
    }

    return {draw:draw}
  }();

  var ServerCommandView = Backbone.View.extend({
     className: "server-command-selection",
     template: _.template($('#server_command_template').html()),
     events: {
         "click .select_all": 'select_all',
         "click .select_none": 'select_none',
         "click .host_selection_run": 'run',
         "click .host_selection_cancel": 'cancel',
         "change input[type=checkbox]": 'changed'
     },
     render: function() {
        var $el = $(this.el);
         $el.find('.ui-dialog-content').html(this.template({help_topic: this.options.help_topic, hosts: this.options.hosts}));
         ContextualHelp.load_snippets($el);
         $el.find('.server-command-selection').dialog('open');
         this.select_all();
     },
     select_all: function() {
       $(this.el).find("input[type=checkbox]").prop('checked', true);
       this.changed();
     },
     select_none: function() {
       $(this.el).find("input[type=checkbox]").prop('checked', false);
       this.changed();
     },
     changed: function(e) {
        var selected_count = $(this.el).find(":checked").length;
        $(this.el).find(".host_selection_run").attr('disabled', selected_count == 0);
     },
     run: function() {
         var dialog = $(this.el);
         var host_uris = [];
         _.each($(this.el).find(":checked"), function(checkbox) {
            host_uris.push($(checkbox).data('host_uri'));
         });

         Api.post("command/",
             {
                 'message': this.options.message,
                 'jobs': [{'class_name': this.options.job_class, 'args': {'hosts': host_uris}}]
             },
             function(command){
                 dialog.remove();
                 CommandNotification.begin(command);
                 Backbone.history.navigate("command/" + command.id + "/", {trigger: true});
             }
         );
     },
     cancel: function() {
       $(this.el).remove();
     }
  });
</script>



<div id='server_list'>
<h2 class='section_header'>Server Configuration</h2>
<div class="buttonspacer">
  <button class='add' type="button" id="btnAddNewHost">Add server</button>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="server_configuration" width="100%">
  <thead>
    <tr>
      <th width="85%">Hostname</th>
      <th width="13%"><a class='help_hover' data-topic='_lnet_state'>LNet State</a></th>
      <th width="1%"></th>
      <th width="1%"></th>
    </tr>
  </thead>
  <tbody id="server_configuration_content">
    <tr><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>

<h2 class='section_header'>Server Actions</h2>

<button class='detect_button multi_server_button help_hover' data-topic='_detect_file_systems-tooltip'>Detect File Systems...</button>
<button class='rescan_nids_button multi_server_button help_hover' data-topic='_rescan_NIDs-tooltip'>Re-scan NIDs...</button>
<button class='writeconf_button multi_server_button help_hover' data-topic='_rewrite_target_configuration-tooltip'>Re-write target configuration...</button>

<script type="text/template" id="add_host_dialog_template">
    <div class="add_host_dialog">
        <div class='add_host_wizard'>
            <div class="add_host_prompt validated_form">
                <form style="margin-bottom:0px;">
                    <label style="margin-right: 6px;" for='add_host_address'>Hostname:</label>
                    <input style="width:100%;" type='entry'  class='add_host_address' name='address'/>
                    <div style="text-align: right;">
                        <a style="margin-top: 6px;" class="add_host_submit_button" type='submit'>Continue</a>
                    </div>
                </form>
            </div>
            <div class="add_host_loading">
                <img src='{{STATIC_URL}}/images/loading.gif'/>
                <span class='loading_placeholder'>Checking connectivity...</span>
                <a href="#" class="add_host_skip_button">Skip</a>
            </div>
            <div class='add_host_confirm'>
                <p style="margin-bottom: 0px;margin-top:0px;">Host: <span style="font-weight: bold;" class="add_host_address_label"></span></p>
                <table style="margin-bottom: 6px;">
                    <tr><td><a class='help_hover' data-topic='_resolve'>Resolve</a>: </td>     <td class="add_host_resolve">&nbsp;</td></tr>
                    <tr><td><a class='help_hover' data-topic='_ping'>Ping</a>: </td>        <td class="add_host_ping">&nbsp;</td></tr>
                    <tr><td><a class='help_hover' data-topic='_invoke_agent'>Invoke agent</a>: </td><td class="add_host_agent">&nbsp;</td></tr>
                    <tr><td><a class='help_hover' data-topic='_reverse_resolve'>Reverse resolve</a>: </td><td class="add_host_reverse_resolve">&nbsp;</td></tr>
                    <tr><td><a class='help_hover' data-topic='_reverse_ping'>Reverse ping</a>: </td><td class="add_host_reverse_ping">&nbsp;</td></tr>
                </table>
                <a href="#" class="add_host_back_button">Back</a>
                <a href="#" class="add_host_confirm_button">Confirm</a>
            </div>
            <div class='add_host_complete'>
                <p>Host added.</p>
                <a href='#' class="add_host_close_button">Close</a>
                <a href='#' class="add_host_back_button">Add another</a>
            </div>
        </div>
    </div>
</script>
</div>
