
<script type='text/template' id='server_detail_template'>
    <div class='server_detail detail_screen'>
      <table class='properties'>
          <tr><th>Address:</th><td><%= server.address %></td></tr>
          <tr><th>FQDN:</th><td><%= server.fqdn %></td></tr>
          <tr><th>Nodename:</th><td><%= server.nodename %></td></tr>
          <tr><th><a data-topic='nids' class='help_hover'>NIDs</a>:</th><td>
              <ul>
                  <% _.each(server.nids, function(nid) { %>
                    <li><%= nid %></li>
                  <% }); %>
              </ul>
          </td></tr>
          <tr><th><a data-topic='lnet_state' class='help_hover'>State</a>:</th><td><%= LiveObject.state(server) %></td></tr>
          <tr class='client_mounts'>
            <th>File System Clients:</th>
            <td>
              <ul>
                <% _.each(server.client_mounts, function(mount) { %>
                  <li><%= mount.filesystem_name %> <% if (mount.state === 'mounted') { %> on <%= mount.mountpoint %> <% } else { %> (unmounted) <% } %></li>
                <% }); %>
              </ul>
            </td>
          </tr>
          <tr><th>Boot time:</th><td><%= shortLocalTime(server.boot_time) %></td></tr>
          <tr><th><a data-topic='state_changed' class='help_hover'>State changed</a>:</th><td><%= shortLocalTime(server.state_modified_at) %></td></tr>
          <tr><th>Alerts:</th><td><%= LiveObject.alertLabel(server) %></td></tr>
          <tr><th>Actions:</th><td><div command-dropdown command-placement="left" command-data="((data))" command-click="commandClick($event, data, done)"></div><%= LiveObject.busyIcon(server) %></td></tr>
      </table>
    </div>
</script>
