
<script type='text/javascript'>
    $(document).ready(function () {
        $('#storage_resource_create_dialog').dialog({
            autoOpen:false, modal:true, width:'auto', maxHeight:700, title:"Add storage device", resizable:false,
            buttons:{"Cancel":function () {
                $(this).dialog('close');
            }, "Add":function () {
                storage_resource_create_save();
            }},
            open:function () {
                $('.ui-dialog-buttonpane').
                        find('button:first-child').button({
                            icons:{
                                primary:'ui-icon-close'
                            }
                        }).next().button({
                            icons:{
                                primary:'ui-icon-plus'
                            }
                        });
            }
        });

        $('.storage_resource_create_link').live('click', function (ev) {
            storage_resource_create();
            ev.stopPropagation();
        });

        $('#storage_resource_create_classes').change(function () {
            storage_resource_create_load_fields();
        });
    });

    function storage_resource_create_save() {
        var selected = $('#storage_resource_create_classes option:selected').val();
        var tokens = selected.split(",");
        var module_name = tokens[0];
        var class_name = tokens[1];

        var attrs = new Object();
        $('#storage_resource_create_fields tr.field input').each(function () {
            var field_name = this.id.split("storage_resource_create_field_")[1];
            attrs[field_name] = $(this).attr('value');
        });

        Api.post("storage_resource/",
          {
            attrs:attrs,
            plugin_name:module_name,
            class_name:class_name
          },
          success_callback = function (data) {
            $('#storage_resource_create_dialog').dialog('close');
            $('#resource_table').dataTable().fnDraw();
          }
        );
    }

    function storage_resource_create_load_fields() {
        var selected = $('#storage_resource_create_classes option:selected').val();
        var tokens = selected.split(",");
        var module_name = tokens[0];
        var class_name = tokens[1];

        Api.get("storage_resource_class/" + module_name + "/" + class_name + "/", {},
                success_callback = function (resource_class) {
                    $('#storage_resource_create_fields tr.field').remove();
                    var row_markup = "";
                    $.each(resource_class.fields, function (i, field_info) {
                        if (field_info.user_read_only) {
                            return;
                        }

                        if (field_info.class == 'Password') {
                            row_markup += "<tr class='field'><th>" + field_info.label + ":</th><td><input type='password' id='storage_resource_create_field_" + field_info.name + "'></input></td>";
                        } else {
                            row_markup += "<tr class='field'><th>" + field_info.label + ":</th><td><input type='entry' id='storage_resource_create_field_" + field_info.name + "'></input></td>";
                        }
                        if (field_info.optional) {
                            row_markup += "<td class='field_info'>Optional</td>"
                        } else {
                            row_markup += "<td class='field_info'></td>"
                        }
                        row_markup += "</tr>"
                    });
                    $('#storage_resource_create_fields').append(row_markup);
                    $('#storage_resource_create_save').attr('disabled', false);
                });
    }

    function storage_resource_create() {
        $('#storage_resource_create_save').attr('disabled', true);
        $('#storage_resource_create_dialog').dialog('open');

        Api.get("storage_resource_class/", {user_creatable:true, plugin_internal:false, limit: 0},
                success_callback = function (data) {
                    var option_markup = "";
                    $.each(data.objects, function (i, resource_class) {
                        option_markup += "<option value='" + resource_class.plugin_name + "," + resource_class.class_name + "'>" + resource_class.label + "</option>"
                    });
                    $('#storage_resource_create_classes').html(option_markup);
                    storage_resource_create_load_fields();
                });
    }

    function storage_attribute_markup(attr) {
        var markup;
        if (attr['class'] == 'ResourceReference') {
            if (attr.raw) {
                /* For ResourceReference fields, 'raw' is a URI */
                return RouteUtils.uri_properties_link(attr.raw, attr.markup);
            } else {
                return "";
            }
        } else {
            return attr['markup'];
        }
    }

/* Populate table of storage resources */
  var resourceTable = null;
  function load_resource_table() {
      var selected = $('#resource_class_select option:selected').val()
      var tokens = selected.split(",");
      var module_name = tokens[0];
      var class_name = tokens[1];

      Api.get("storage_resource_class/" + module_name + "/" + class_name + "/", {},
          success_callback = function(resource_class) {
            var columns = resource_class.columns;
            var field_attributes = {};
            _.each(resource_class.fields, function(field) {
              field_attributes[field.name] = field;
            });

            var aoColumns = [
              {'mdataProp': 'id', sTitle: 'ID', 'bVisible': false, bSortable: false},
              {'mDataProp': 'alias', 'sTitle': 'Name', bSortable: false}];
            $.each(columns, function(i, c) {
              aoColumns.push({
                bSortable: true, sClass: 'txtleft', sTitle: c['label'], mDataProp: "attr_" + c['name']
              })
            });
            aoColumns.push({mDataProp: '_alert_markup', sWidth: "1%", bSortable: false});

            if (resourceTable) {
                resourceTable.fnDestroy();
                resourceTable = null;
                $('#resource_table').html("")
            }

            resourceTable = $('#resource_table').dataTable({
                bServerSide: true,
                bFilter: false,
                sAjaxSource: "storage_resource/" + module_name + "/" + class_name + "/",
                fnServerData: function(url, data, callback, settings) {
                  Api.get_datatables(url, data, function(data){
                    $.each(data.aaData, function(i, row) {
                      row._alert_markup = LiveObject.alertIcon(row);
                      if (row.alerts.length > 0) {
                        row.DT_RowClass = "resource_alert";
                      }
                      $.each(row.attributes, function(attr_name, attr_val) {
                        row["attr_" + attr_name] = storage_attribute_markup(attr_val);
                      });
                      row.alias = RouteUtils.uri_properties_link(row.resource_uri, row.alias);
                      row['0'] = ""
                    });
                    callback(data);
                  }, settings);
                },
                bJQueryUI: true,
                bPaginate: true,
                bAutoWidth: false,
                iDisplayLength:25,
                aoColumns: aoColumns
            });

            $('#resource_table tbody tr').live('click', function() {
                var aPos = resourceTable.fnGetPosition(this);
                var data = resourceTable.fnGetData(aPos);
                var resource_record_id = data.id
            });
        });
  }
  var StorageView = function() {
    var initialized = false;
    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        $('#resource_table').dataTable().fnDraw();
      }
    }

    function init()
    {
      $('#resource_class_select').change(function() {
          load_resource_table();
      });
      /* Initial population of dropdown of resource classes */
      Api.get("storage_resource_class/", {plugin_internal: false, limit: 0},
        success_callback = function(data) {
          options = ""
          if (data.objects.length == 0) {
            $('div#plugins_available').hide();
            /*$('div#plugins_unavailable').css('display', 'block')*/
            $('div#plugins_unavailable').show();
          } else {
            var default_hint = null;
            $.each(data.objects, function(i, resource_class) {
              if (resource_class.user_creatable) {
                /* Simple default selection: pick a creatable resource class
                   if we see one */
                default_hint = resource_class.plugin_name + "," + resource_class.class_name;
              }
              options += "<option value='" + resource_class.plugin_name + "," + resource_class.class_name + "'>" + resource_class.label + "</option>"
            });
            $('#resource_class_select').html(options);

            /* Select the default resource class */
            if (default_hint) {
              $('#resource_class_select option[value="' + default_hint + '"]').attr('selected', 'selected');
            }

            /* Initial population of table once we know our default-selected class */
            load_resource_table();
          }
        }
      );
    }
    return {draw:draw}
  }();
</script>


<div id="plugins_available">
  <h1 class='page-header'><i class="icon-hdd"></i> Storage</h1>
  <h2 class='section_header'>Storage Resources</h2>
  <p><button class='add storage_resource_create_link'>Add Storage Device</button></p>
  <p>Filter: <select id='resource_class_select'></select>&nbsp;</p>
  <table class='display tight_lines' id='resource_table' width="100%">
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div id="plugins_unavailable" style="display:none;">
  <h2 class='section_header'>No plugins found</h2>
  <p>No storage plugins are currently installed.  When storage plugins are installed,
  use this tab to configure and view storage resources such as controllers.</p>
</div>

<div style="overflow-y: auto; max-height: 700px;" id="storage_resource_create_dialog">
    <table id='storage_resource_create_fields'>
        <tr><th>Resource class:</th><td colspan=2><select style="width: 200px;" id='storage_resource_create_classes'></select></td></tr>
    </table>
</div>
