  <div style="overflow-y: auto; max-height: 700px;" id="target_dialog">
    <div id='target_dialog_tabs'>
      <ul>
        <li><a href='#target_dialog_properties' onfocus="this.blur()" tabindex="-1">Properties</a></li>
        <li><a href='#target_dialog_devices_tab' onfocus="this.blur()" tabindex="-1">Devices</a></li>
        <li><a href='#target_dialog_config_param_tab' onfocus="this.blur()" tabindex="-1">Advanced...</a></li>
      </ul>
      <div id='target_dialog_properties'></div>
      <div id='target_dialog_devices_tab'>
        <div id='target_dialog_devices' class='canvas resource_graph_canvas'></div>
      </div>
      <div id='target_dialog_config_param_tab'>
        <table border="0" cellspacing="0" cellpadding="0" id="target_config_param_table">
          <thead>
            <th>Property</th>
            <th>Value</th>
            <th></th> 
          </thead> 
          <tbody></tbody>
        </table>
        <div align="right"><button id="ConfigParam_Apply">Apply</button> <button id="ConfigParam_Cancel">Cancel</button></div>
      </div>
    </div>
  </div>
