
<script type='text/template' id='user_detail_template'>
    <div class='user_detail'>
        <div class='tabs'>
            <ul>
                <li><a href='#user_details_tab' onfocus="this.blur()" tabindex="-1">Details</a></li>
                <li><a href='#user_password_tab' onfocus="this.blur()" tabindex="-1">Password</a></li>
                <li><a href='#user_alert_subs_tab' onfocus="this.blur()" tabindex="-1">Email Notifications</a></li>
            </ul>
            <div id='user_details_tab'>
                <table class='user_detail_form validated_form'>
                    <tr><th>Username:</th><td><input name='username' type='text' readonly='readonly' value='<%= user.username %>'/></td></tr>
                    <tr><th>Email:</th><td><input name='email' type='text' value='<%= user.email %>'/></td></tr>
                    <tr><th>First name:</th><td><input name='first_name' type='text' value='<%= user.first_name %>'/></td></tr>
                    <tr><th>Last name:</th><td><input name='last_name' type='text' value='<%= user.last_name %>'/></td></tr>
                    <% if (user.is_superuser) { %>
                      <tr><th>Prompt for EULA at next login:</th><td><input type="checkbox" name="accepted_eula" <%= user.accepted_eula? '': 'checked' %> /></td></tr>
                    <% } %>
                    <tr>
                        <th>&nbsp;</th>
                        <td>
                            <button class='save_user'>Save changes</button>
                            <button class='reset_user'>Reset changes</button>
                        </td>
                    </tr>
                </table>
                <div id="user_save_result"/>
            </div>
            <div id="user_password_tab">
                <table class="user_password_form validated_form">
                    <% if ((!Login.userHasGroup('superusers')) || user.id == Login.getUser().id) { %>
                    <tr><th>Old password:</th><td><input name='old_password' type='password'/></td></tr>
                    <% } %>
                    <tr><th>New password:</th><td><input name='new_password1' type='password'/></td></tr>
                    <tr><th>Confirm new password:</th><td><input name='new_password2' type='password'/></td></tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>
                            <button class='change_password'>Change Password</button>
                        </td>
                    </tr>
                </table>
                <div id="password_change_result"/>
            </div>
            <div id="user_alert_subs_tab"/>
        </div>
    </div>
</script>

<script type='text/template' id='user_alert_subs_form'>
    Select the types of event for which you wish to receive emailed notifications:
    <ul class="alert_selection_list" id="user_alerts_form">
        <% _.each(subscriptions, function(vals, id) { %>
            <li><input type='checkbox' name=<%= vals.type.safe_name %> <%= vals.subscribed ? 'checked' : '' %>/>&nbsp;<%= vals.type.description %></li>
        <% }) %>
    </ul>
    <table>
        <tr>
            <td><button class='select_all_subscriptions'>Select All</button></td>
            <td><button class='update_subscriptions'>Save Selections</button></td>
        </tr>
        <tr>
            <td><button class='clear_subscriptions'>Clear All</button></td>
            <td><button class='reset_subscriptions'>Reset Form</button></td>
        </tr>
    </table>
    <div id="subscriptions_change_result"/>
</script>
