<script>
  var UserView = function() {
    var initialized = false;
    function init() {
      $('#user_list').dataTable( {
        bServerSide: true,
        bProcessing: true,
        bJQueryUI: true,
        bAutoWidth: false,
        bFilter: false,
        sAjaxSource: 'user/',
        fnServerData: function(url, data, callback, settings) {
          Api.get_datatables(url, data, function(data) {
            $.each(data.aaData, function(i, row) {
              // Stash a copy of the true object
              row.user = jQuery.extend(true, {}, row);

              var group_names = [];
              $.each(row.groups, function(i, group) {
                group_names.push(group.name);
              });
              /*
              if (row.is_superuser) {
                group_names.push('superusers')
              }
              */
              row.groups = group_names.join(",");
              row.buttons = "";
            });
            callback(data);
          }, settings);
        },
        fnRowCallback: function(nRow, row, iDisplayIndex, iDisplayIndexFull) {
          var buttons = []
          if (row.id != Login.getUser().id) {
            buttons.push($("<button>Delete</button>").click(function(){
              deleteUser(row.user);
            }))
          }
          buttons.push($("<button>Edit</button>").click(function() {
            Backbone.history.navigate("/user/" + row.user.id + "/", true);
          }));
          $.each(buttons, function(i, button) {
            $('td:eq(4)', nRow).prepend(button);
          });
          return nRow;
        },
        aoColumns: [
          {mDataProp: 'username', bSortable: true},
          {mDataProp: 'full_name', bSortable: false},
          {mDataProp: 'email', bSortable: true},
          {mDataProp: 'groups', bSortable: false},
          {mDataProp: 'buttons', bSortable: false}
        ]
      });

      $('div.create_user_dialog').dialog({
        resizable: false,
        draggable: false,
        autoOpen: false,
        width: 'auto',
        modal: true,
        title: 'Create user',
        buttons: {
          "Cancel":{
            'text': "Cancel",
            'class': "cancel_button",
            'click': function(){$(this).dialog('close');}
          },
          "Create":{
            "text":"Create",
            "class":"create_button",
            "click": function(){
              var dialog = $(this);
              var user = {}
              //user.groups = [{pk: $('div.create_user_dialog select[name=group]').val()}]
              user.groups = [$('div.create_user_dialog select[name=group]').val()]

              ValidatedForm.save(dialog, Api.post, "user/", user, function ()
              {
                dialog.dialog('close');
                reloadTable();
              });
            }
          }
        }
      });

      Api.get("group/", {limit: 0, order_by: 'name'}, success_callback = function(data) {
        $.each(data.objects, function(i, group) {
          /* HYD-2914: Remove filesystem_adminstrators group from IML
           * This is phase 1 -- remove the option of creating a user with
           * the group. Phase 2 will be to go through the codebase and
           * completely excise all mentions of the group. Or perhaps
           * overhaul the entire concept of group/user roles into something
           * more useful.
           */
          if (group.name !== 'filesystem_administrators') {
            var option = "<option value='" + group.resource_uri + "'>"+ group.name + "</option>";
            $('div.create_user_dialog select[name=group]').prepend(option)
          }
        });
      });

      $('#create_user').click(function() {
        UserView.create()
      });
    }

    function createUser()
    {
      ValidatedForm.clear($('div.create_user_dialog'))
      $('div.create_user_dialog').dialog('open');
    }

    function deleteUser(user) {
      $("<div class='delete_user_dialog'>Delete user '" + user.username + "'?</div>").dialog({
        resizable: false,
        width: 'auto',
        buttons: {
          "Cancel": function() {$(this).dialog('close')},
          "Delete": {
            "text": "Delete",
            "class": "delete_button",
            "click": function(){
              var dialog = $(this);
              Api.delete('user/' + user.id + '/', {}, success_callback = function() {
                dialog.dialog('destroy');
                reloadTable();
              });
           }
          }
        }
      });
    }

    function reloadTable() {
      $('#user_list').dataTable().fnDraw();
    }

    function draw() {
      if (!initialized) {
        init();
        initialized = true;
      } else {
        reloadTable();
      }
      angular.element('html').injector().get('pageTitle').set('Configuration - Users');

    }

    return {
      draw: draw,
      create: createUser,
      refresh: reloadTable
    }
  }();
</script>
<h1 class='page-header'><i class="icon-group"></i> Users</h1>
<div class="content">
<h2 class='section_header'>User Administration</h2>
<div class="buttonspacer">
  <span class="first-child">
  <button class='add' type="button" id="create_user">Create user</button>
  </span></span>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="user_list" width="100%">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="create_user_dialog">
  <table class='validated_form'>
    <tr>
      <th>Role:</th><td><select name='group'></select></td>
    </tr>
    <tr>
      <th>Username:</th><td><input type='entry' name='username' width=16/></td>
    </tr>
    <tr>
      <th>First name:</th><td><input type='entry' name='first_name'/></td>
    </tr>
    <tr>
      <th>Last name:</th><td><input type='entry' name='last_name'/></td>
    </tr>
    <tr>
      <th>Email:</th><td><input type='entry' name='email'/></td>
    </tr>
    <tr>
      <th>Password:</th><td><input type='password' name='password1'/></td>
    </tr>
    <tr>
      <th>Confirm password:</th><td><input type='password' name='password2'/></td>
    </tr>
  </table>
</div>
</div>
