<script type='text/template' id='volume_chooser_template'>
  <table class='display tight_lines' id='<%- table_id %>'>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Capacity</th>
        <th><a data-topic='_type' class='help_hover'>Type</a></th>
        <th><a data-topic='_status' class='help_hover'>Status</a></th>
        <th>Primary server</th>
        <th>Failover server</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</script>

<script type='text/template' id='volume_chooser_buttons_template'>
  <div class='btn-group'>
    <a class='volume_chooser_all_btn btn btn-mini'>Select All</a>
    <a class='volume_chooser_invert_btn btn btn-mini'>Invert Selection</a>
    <a class='volume_chooser_none_btn btn btn-mini'>Select None</a>
  </div>
</script>
