[Unit]
Description=EMF Block Device Populator
After=device-scanner.socket

[Service]
ExecStart=/usr/bin/udevadm trigger --action=change --subsystem-match=block
Type=oneshot

[Install]
WantedBy=device-scanner.target
