[Unit]
Description=Device Scanner Services

Requires=device-scanner.socket
After=device-scanner.socket
Requires=block-device-populator.service
Requires=swap-emitter.service
Requires=mount-emitter.service

[Install]
WantedBy=multi-user.target
Also=device-scanner.socket
Also=block-device-populator.service
Also=swap-emitter.service
Also=mount-emitter.service