[Unit]
Description=EMF Device Scanner Socket
DefaultDependencies=false
PartOf=device-scanner.target

[Socket]
ListenStream=/var/run/device-scanner.sock
RemoveOnStop=true

[Install]
WantedBy=sockets.target
WantedBy=device-scanner.target