<div class="confirm-action-modal">
    <div class="modal-header">
        <h4><i class="icon-exclamation-sign"></i> <span class='confirm_dialog_title'>((confirmDialog.title))</span></h4>
    </div>
    <div class="modal-body">((confirmDialog.message))</div>
    <div class="modal-footer">
      <a ng-click="confirmDialog.cancelAction()" class="btn">((confirmDialog.cancelText))</a>
      <a ng-click="confirmDialog.confirmAction()" class="btn btn-primary">((confirmDialog.confirmText))</a>
    </div>
</div>
