<div class="create-pdu">
    <div class="modal-header">
        <h4>((createPduCtrl.title))</h4>
    </div>
    <div class="modal-body">
      <alert ng-repeat="alert in createPduCtrl.err.__all__" type="'error'" close="createPduCtrl.closeAlert($index)">((alert))</alert>
      <form name="pduForm" class="form form-horizontal">
        <div class="control-group">
          <label class="control-label">Device type:</label>
          <div class="controls">
            <select ng-model="createPduCtrl.form.device_type" ng-options="value.name for value in createPduCtrl.powerControlTypes | orderBy: 'name'" ng-disabled="createPduCtrl.type == 'edit'"></select>
          </div>
        </div>
        <div class="control-group" ng-hide="createPduCtrl.ipmi">
          <label class="control-label">Name:</label>
          <div class="controls">
            <input ng-model="createPduCtrl.form.name" type="text" placeholder="name"/>
          </div>
        </div>
        <fieldset>
          <div class="control-group" ng-class="{error: createPduCtrl.err.address != null}" ng-hide="createPduCtrl.ipmi">
            <label class="control-label">Management address:</label>

            <div class="controls">
              <input name="address" ng-model="createPduCtrl.form.address" type="text" placeholder="0.0.0.0" />
              <span class="help-block" ng-repeat="err in createPduCtrl.err.address">((err))</span>
            </div>
          </div>
          <div class="control-group" ng-class="{error: createPduCtrl.err.port != null}" ng-hide="createPduCtrl.ipmi">
            <label class="control-label">Port:</label>

            <div class="controls">
              <input name="port" ng-model="createPduCtrl.form.port" type="text" placeholder="23"/>
              <span class="help-block" ng-repeat="err in createPduCtrl.err.port">((err))</span>
            </div>
          </div>
        </fieldset>
        <div class="control-group">
          <label class="control-label">Management username:</label>
          <div class="controls">
            <input ng-model="createPduCtrl.form.username" type="text" placeholder="username"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Management password:</label>
          <div class="controls">
            <input name="password" ng-model="createPduCtrl.form.password" type="password"/>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a ng-click="createPduCtrl.close()" class="btn">Close</a>
      <a ng-click="createPduCtrl.submit(createPduCtrl.form)" class="btn btn-primary">Save</a>
    </div>
</div>
