
div.jGrowl div.job_cancelled div.jGrowl-message {
  background-image: 			url(../images/gtk-cancel.png);
  background-repeat: no-repeat;
  background-position: 			4px 4px;
  padding-left: 24px;
  padding-top: 4px;
  min-height: 24px;
}


div.jGrowl div.job_success div.jGrowl-message {
  background-image: 			url(../images/icon_tick.png);
  background-repeat: no-repeat;
  background-position: 			4px 4px;
  padding-left: 24px;
  padding-top: 4px;
  min-height: 24px;
}

div.jGrowl div.job_errored div.jGrowl-message {
  background-image: 			url(../images/dialog-error.png);
  background-repeat: no-repeat;
  background-position: 			4px 4px;
  padding-left: 24px;
  padding-top: 4px;
  min-height: 24px;
}

span.notification_object_icon {
}

.busy_icon {
  display: inline-block;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  width: 24px;
  height: 24px;
}

.locked_icon {
  display: inline-block;
  background-image: url(../images/lock.png);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  width: 24px;
  height: 24px;
}
