
div.jGrowl div.job_cancelled div.jGrowl-message {
  background-image: 			url(../images/gtk-cancel.png);
  background-repeat: no-repeat;
  background-position: 			4px 4px;
  padding-left: 24px;
  padding-top: 4px;
  min-height: 24px;
}


div.jGrowl div.job_success div.jGrowl-message {
  background-image: 			url(../images/icon_tick.png);
  background-repeat: no-repeat;
  background-position: 			4px 4px;
  padding-left: 24px;
  padding-top: 4px;
  min-height: 24px;
}

div.jGrowl div.job_errored div.jGrowl-message {
  background-image: 			url(../images/dialog-error.png);
  background-repeat: no-repeat;
  background-position: 			4px 4px;
  padding-left: 24px;
  padding-top: 4px;
  min-height: 24px;
}

div.jGrowl div.alert_raised div.jGrowl-message {
  background-image: 			url(../images/dialog-warning.png);
  background-repeat: no-repeat;
  background-position: 			4px 4px;
  padding-left: 24px;
  padding-top: 4px;
  min-height: 24px;
}

span.alert_indicator {
  display: inline-block;
  width: 64px;
  height: 16px;
  padding-left: 24px;
  padding-top: 2px;
  font-size: 12px;
  text-align: left;
  border-radius: 3px;

  background-repeat: no-repeat;
  background-position: 2px;
}


span.alert_indicator_active {
  color: #664f00;
  border: 1px solid #664f00;
  background-color: #FFBF00;
  font-weight: bold;

  background-image: url(../images/dialog-warning.png);
}

span.alert_indicator_inactive {
  color: #444;
  background-color: #efe;
  border: 1px solid #ded;

  background-image: url(../images/icon_tick.png);
}

span.notification_object_icon {
}

.busy_icon {
  display: inline-block;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  width: 24px;
  height: 24px;
}

.locked_icon {
  display: inline-block;
  background-image: url(../images/lock.png);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  width: 24px;
  height: 24px;
}
