
table.storage_attributes {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    margin-top: 12px;
}

table.storage_attributes tr.odd {
    background: #ccc;
}

table.storage_attributes tr.even {
    background: #ddd;
}

table.storage_attributes th {
    font-weight: bold;
    text-align: left;
    padding-left: 3px;
}

table.storage_attributes td {
    font-weight: normal;
    text-align: left;
}

ul.stats {
    margin-top: 12px;
    list-style-type: none;
}

ul.stats li {
    margin-top: 6px;
    padding-left: 0px;
}

span.resource_name {
    font-size: 10;
    font-weight: bold;
}
