button.configure-lnet-button {
  font-size: 11px;
}

button.configure-lnet-button,
.configure-lnet button {
  font-family: Verdana, Arial, sans-serif;
}

button.configure-lnet-button:focus,
.configure-lnet button:focus {
  outline: none;
}

.configure-lnet .modal-body {
  overflow: visible;
}

.configure-lnet .alert.alert-info {
  background-color: #3A87AD;
  border-color: transparent;
  color: #EEEEEE;
  text-shadow: none;
}

.configure-lnet .well {
  height: 290px;
  overflow: auto;
}

.configure-lnet .well.loading {
  font-size: 25px;
  padding-top: 140px;
  box-sizing: border-box;
  text-align: center;
  color: #BBBBBB;
}

.configure-lnet table td, .configure-lnet table th {
  font-size: 14px;
  color: #444444;
}

.configure-lnet .dropdown-menu a {
  font-size: 12px;
}
