<span>
  <span class="record-state" ng-if="!recordState.isInErrorState()">
    <i class="fa fa-check-circle" tooltip="{{recordState.getTooltipMessage()}}" tooltip-placement="right"></i>
    <span ng-include="'common/status/assets/html/state-label.html'"></span>
  </span>

  <span class="record-state" ng-if="recordState.isInErrorState()">
     <i class="fa fa-exclamation-circle activate-popover" tooltip="{{recordState.getTooltipMessage()}}"
        tooltip-placement="right"></i>
    <iml-popover placement="bottom" title="Alerts" work="recordState.work(actions)"
                 on-toggle="recordState.onToggle(state)">
      <ul>
        <li ng-repeat="alert in recordState.getAlerts()">{{alert}}</li>
        <li ng-repeat="alert in recordState.getMessageDifference()"><s>{{alert}}</s></li>
      </ul>
    </iml-popover>
    <span ng-include="'common/status/assets/html/state-label.html'"></span>
  </span>
</span>
