
<script language="javascript">
  // Globals for Create new fs Page.
  var ERR_FSNAME_EMPTY = "Please enter valid File system name";
  var ERR_OST_EMPTY = "Please select at least one device for OST creation";
  $(document).ready(function() {
    /* Populate existing MGT list */
    $.ajax({type: 'POST', url: "/api/get_targets/", dataType: 'json', data: JSON.stringify({
        "filesystem": null,
        "kinds": ["MGT"]
    }), contentType:"application/json; charset=utf-8"})
    .success(function(data, textStatus, jqXHR) {
      var options_markup = "<option value=''></option>";
      var count = 0;
      $.each(data.response, function(i, target_info) {
        options_markup += "<option value='" + target_info.id + "'>" + target_info.primary_server_name + "</option>"
        count += 1;
      });
      if (count == 0) {
        $('#existing_or_new_mgt_options').hide();
      } else {
        $('#mgt_existing_dropdown').html(options_markup);
      }
      
    });

    fvc_button($('#mgt_chooser'), {change: function() {
        $('#mgt_existing_dropdown').val('');
    }})
    $('#mgt_existing_dropdown').change(function() {
      if ($('#mgt_existing_dropdown option:selected').val()) {
        fvc_clear($('#mgt_chooser'));
      }
    });

    //  Create FS Handler for create new FS 
    $('#btnCreateFS').click(function()
    {
      var fs_name = $('#txtfsnameid').val();
      var mgt_lun_id = fvc_get_value($('#mgt_chooser'))
      var mgt_id = $('#mgt_existing_dropdown').val()
      var mdt_lun_id = fvc_get_value($('#mdt_chooser'))
      var ost_lun_ids = fvc_get_value($('#ost_chooser'))
      if(fs_name=="")
      {
        jAlert(ERR_FSNAME_EMPTY);
      }
      else if(ost_lun_ids.length==0)
      {
        jAlert(ERR_OST_EMPTY);
      }
      else if (!mdt_lun_id)
      {
        jAlert("You must choose an MDT");
      }
      else if (!(mgt_id || mgt_lun_id))
      {
        jAlert("You must choose an MGT");
      }
      else
      {
        CreateFS(fs_name, mgt_id, mgt_lun_id, mdt_lun_id, ost_lun_ids, function(fs_id) {
          $.address.value('filesystems_edit_' + fs_id);
        });  
      }
    });
    //Advance Options button click handler.
    $('#advance_opts').click(function()
    {
      GetConfigurationParam("",["FS","FSC"]);
    });
  });

</script>
<table style="font-size:12px; padding-top:15px;">
  <tr>
    <td width="30%" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">1.</span> <span class="step_caption">Filesystem options</span><br>
      </div>
      <div class='step_body'>
        <label>Filesystem name:</label> <input type="text" name="txtfsname" id="txtfsnameid" style="width:100px;" maxlength="8"/>
              <button class='advanced' type="button" id="advance_opts">Advanced...</button>
      </div>
    </td>
    <!--
    <td width="70%" align="left" valign="top">
      <table width="51%" border="0" cellspacing="1" cellpadding="0" bgcolor="#848484" class="fs">
        <tr class="greybgcol">
          <td width="25%" align="right" class="spaceright"><strong>File Used:</strong></td>
          <td class="spaceleft" width="17%" align="left"><div id="mdt_file"></div></td>
          <td width="32%" align="right" class="spaceright"><strong>Total Capacity:</strong></td>
          <td class="spaceleft" width="26%" align="left"><div id="total_capacity"></div></td>
        </tr>
        <tr class="greybgcol">
          <td class="spaceright" align="right"><div id="mdt_file"><strong>Inodes:</strong></div></td>
          <td class="spaceleft" align="left"><div id="inodes"></div></td>
          <td class="spaceright" align="right"><div id="total_capacity"><strong>Total no OSS:</strong></div></td>
          <td class="spaceleft" align="left"><div id="total_oss"></div></td>
        </tr>
        <tr class="greybgcol">
          <td class="spaceright" align="right">&nbsp;</td>
          <td class="spaceleft" align="left">&nbsp;</td>
          <td align="right" class="spaceright"><strong>Total no OST:</strong></td>
          <td class="spaceleft" align="left"><div id="total_ost"></div></td>
        </tr>
      </table>
    </td>-->
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">2.</span> <span class="step_caption">Choose MGT</span><br>
      </div>
      <div class='step_body'>

        <ul id='existing_or_new_mgt_options'>
          <li id="existing_mgt_field">
            Use existing: <select id="mgt_existing_dropdown"></select>
          </li>
          <li>
          Create new:
          </li>
        </ul>
        <button id='mgt_chooser'></button>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">3.</span> <span class="step_caption">Choose MDT</span><br>
      </div>
      <div class='step_body'>
        <button id='mdt_chooser'></button>
        <script type='text/javascript'>$(document).ready(function(){fvc_button($('#mdt_chooser'))});</script>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">4.</span> <span class="step_caption">Choose OSTs</span><br>
      </div>
      <div class='step_body'>
        <button id='ost_chooser'></button>
        <script type='text/javascript'>$(document).ready(function(){fvc_button($('#ost_chooser'), {multi_select: true})});</script>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
      <div class='step_header'>
        <span class="step_number">5.</span> <span class="step_caption">Finish</span><br>
      </div>
      <div class='step_body'>
        <button class='back_button'/>
        <button class='submit' id='btnCreateFS'>Create filesystem now</button>
      </div>
    </td>
  </tr>
</table>

