<script language="javascript">
	$(document).ready(function() {
	var ERR_FSNAME_EMPTY = "Please enter valid File system name";
	var ERR_OST_EMPTY = "Please select at least one device for OST creation";
	
	var oMgt = $('#mdt').dataTable( {
			"bProcessing": true,
			"bJQueryUI": true,
			"bFilter": false,
			"bPaginate": false,
			"bDestroy":true,
			"oLanguage": {
					"sEmptyTable": "No MDT to display"
			},
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtright' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' }
			]
		} );
				
		var oNewOst = $('#ost').dataTable( {
			"bProcessing": true,
			"bJQueryUI": true,
			"bAutoWidth": false,
			"oLanguage": {
					"sEmptyTable": "No OST to display"
			},
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtright'},
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' }
			]
		} );
		CreateOST_EditFS();
		  // Dialog Link
		  $('#btnNewMDT').click(function()
		  {
			$('#newMDT').dialog('open');
			CreateNewMDT_EditFS();
			return false;
		  });
		  
		  // Dialog Link
		  $('#btnNewMGT').click(function()
		  {
			$('#newMGT').dialog('open');
			$('#createfs_existing_mgt').css('display','none');
			CreateNewMGT_EditFS(); 
			return false;
		  });
		  
		  // Dialog Link
		  $('#btnExistingMGT').click(function()
		  {
				$('#existingMGT').dialog('open');
				LoadExistingMGT_EditFS(); 
		  });
      
			//	Create FS Handloer		
			$('#btnCreateFS').click(function()
			{
					var fsname = $('#txtfsnameid').val();
					if(fsname=="")
					{
						jAlert(ERR_FSNAME_EMPTY);
					}
					else if(arrOSS_Id.length==0)
					{
						jAlert(ERR_OST_EMPTY);
					}
					else if (mgs_id =="")
					{
						CreateFS(fsname,"", mgt_node_id, mdt_node_id, arrOSS_Id);	
					}
					else if(mgt_node_id =="")
					{
						CreateFS(fsname,mgs_id, "", mdt_node_id, arrOSS_Id);	
					}
			});
			
		  // Dialog Link
		  $('#launch_instance_btn-button').click(function()
		  {
			$('#configParam').dialog('open');
			return false;
		  });
		  
		  $('#cancel_editfs').click(function() {
	 			$('#lusterFS_content').empty();
				$('#lusterFS_content').load('/hydracm/fstab');
		});
	});


function Initialise_MGT(type)
{
	$('#mgt_container').empty();
	if(type == 0) //from existing mgt
	{
		$('#mgt_container').html(GetExistingMGTTable());
		var oTable = $('#createfs_existing_mgt').dataTable( {
			"bProcessing": true,
			"bJQueryUI": true,
			"bFilter": false,
			"bPaginate": false,
			"bDestroy":true,
			"oLanguage": {
					"sEmptyTable": "No MGT to display"
			},
			"aoColumns": [
				{ "sClass": 'txtleft'},
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' }
			]
		});
		SetExtMGTTableContent('createfs_existing_mgt',oExistingMGT_RowData);
	}
	else //from new mgt
	{
		$('#mgt_container').html(GetNewMGTTable());
		var oNewMgt = $('#createfs_mgt').dataTable( {
			"bProcessing": true,
			"bJQueryUI": true,
			"bAutoWidth": false,
			"bDestroy":true,
			"oLanguage": {
					"sEmptyTable": "No MGT to display"
			},
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtright' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft'},
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' }
			]
		});
		SetNewMGTTableContent('createfs_mgt',oNewMGT_RowData);		//populate table with row selected
	}
}

</script>
<style type="text/css">
</style>
<table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; padding-top:15px;">
  <tr>
    <td width="30%" height="56" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="26%" height="56" align="left" valign="top" class="KeyTable" style="font-size:12px;">FS name :</td>
          <td width="27%" align="left" valign="top"><form id="form1" name="form1" method="post" action="">
              <label>
              <input type="text" name="txtfsname" id="txtfsnameid" style="width:100px;" />
              </label>
            </form></td>
          <td width="37%" align="left" valign="top"><span id="launch_instance_btn"><span class="first-child">
            <button class='add' type="button" id="launch_instance_btn-button">Advanced Options</button>
            </span></span></td>
        </tr>
      </table></td>
    <td width="70%" align="left" valign="top"><fieldset>
      <legend class="legendClass">
      </legend>
      <table width="51%" border="0" cellspacing="1" cellpadding="0" bgcolor="#848484" class="fs">
        <tr class="greybgcol">
          <td width="25%" align="right" class="spaceright"><strong>File Used:</strong></td>
          <td class="spaceleft" width="17%" align="left"><div id="mdt_file"></div></td>
          <td width="32%" align="right" class="spaceright"><strong>Total Capacity:</strong></td>
          <td class="spaceleft" width="26%" align="left"><div id="total_capacity"></div></td>
        </tr>
        <tr class="greybgcol">
          <td class="spaceright" align="right"><div id="mdt_file"><strong>Inodes:</strong></div></td>
          <td class="spaceleft" align="left"><div id="inodes"></div></td>
          <td class="spaceright" align="right"><div id="total_capacity"><strong>Total no OSS:</strong></div></td>
          <td class="spaceleft" align="left"><div id="total_oss"></div></td>
        </tr>
        <tr class="greybgcol">
          <td class="spaceright" align="right">&nbsp;</td>
          <td class="spaceleft" align="left">&nbsp;</td>
          <td align="right" class="spaceright"><strong>Total no OST:</strong></td>
          <td class="spaceleft" align="left"><div id="total_ost"></div></td>
        </tr>
      </table>
      </fieldset></td>
  </tr>
  <tr>
    <td height="104" colspan="2" align="left" valign="top"><fieldset>
      <legend class="legendClass">Select MGT Configuration</legend>
      <div class="buttonspacer"> <span id="launch_instance_btn"><span class="first-child">
        <button class='add' type="button" id="btnExistingMGT">Select From Existing MGT</button>
        </span></span> <span id="launch_instance_btn"><span class="first-child">
        <button class='add' type="button" id="btnNewMGT">Create new MGT</button>
        </span></span></div>
        <div id="mgt_container"></div>
      <div class="spacer"></div>
      </fieldset></td>
  </tr>
  <tr>
    <td height="109" colspan="2" align="left" valign="top" style="display:none" id="mdt_container"><br /><br /><fieldset>
      <legend class="legendClass">Select MDT Configuration</legend>
      <div class="buttonspacer"><span id="launch_instance_btn"><span class="first-child">
        <button class='add' type="button" id="btnNewMDT">Create new MDT</button>
        </span></span></div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="mdt" width="100%">
        <thead>
          <tr>
            <th width="15%">Target Path</th>
            <th width="10%">Capacity</th>
            <th width="20%">Kind</th>
            <th width="19%">Status</th>
            <th width="20%">Primary Server</th>
            <th width="16%">Failover</th>
          </tr>
        </thead>
        <tbody id="mdt_content">
        </tbody>
      </table>
      <div class="spacer"></div>
      </fieldset></td>
  </tr>
  <tr>
    <td height="54" colspan="2" align="left" valign="top" id="ost_container" style="display:none"><br /><br /><fieldset>
      <legend class="legendClass">Select OST Configuration</legend>
     <table cellpadding="0" cellspacing="0" border="0" class="display" id="ost" width="100%">
    <thead>
      <tr>
        <th width="8%">Select</th>
        <th width="15%">Target Path</th>
        <th width="10%">Capacity</th>
        <th width="20%">Kind</th>
        <th width="17%">Status</th>
        <th width="15%">Primary Server</th>
        <th width="15%">Failover</th>
      </tr>
    </thead>
    <tbody id="popup-new-ost_content">
    </tbody>
  </table><div class="spacer"></div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="82%">&nbsp;</td>
          <td width="11%" align="right"><span id="launch_instance_btn2"><span class="first-child">
           <button class='add' type="button" id="btnCreateFS">Create</button>
          </span></span></td>
          <td width="7%" align="right"><label> <span id="launch_instance_btn2"><span class="first-child">
             <button class='add' type="button" id="cancel_editfs">Cancel</button>
          </span></span> </label></td>
        </tr>
      </table></fieldset>
      </td>
  </tr>
</table>