<script language="javascript">
	$(document).ready(function() {
		LoadFSData_EditFS();
		
		
		var oTable = $('#createfs_mgt').dataTable( {
			"bProcessing": true,
			"bFilter": false,
			"bPaginate": false,
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
			]
		} );
		
		var oMgt = $('#mdt').dataTable( {
			"bProcessing": true,
			"bFilter": false,
			"bPaginate": false,
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
			]
		} );
		
		var oOst = $('#ost').dataTable( {
			"bProcessing": true,
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
			]
		} );
			// Dialog Link
		  $('#btnNewOST').click(function()
		  {
			$('#newOST').dialog('open');
			CreateOST_EditFS();
			return false;
		  });
		  
		  // Dialog Link
		  $('#btnNewMDT').click(function()
		  {
			$('#newMDT').dialog('open');
			CreateNewMDT_EditFS();
			return false;
		  });
		  
		  // Dialog Link
		  $('#btnNewMGT').click(function()
		  {
			$('#newMGT').dialog('open');
			CreateNewMGT_EditFS(); 
			return false;
		  });
		  
		  // Dialog Link
		  $('#btnExistingMGT').click(function()
		  {
			$('#existingMGT').dialog('open');
			LoadExistingMGT_EditFS(); 
		  });
		  
		  // Dialog Link
		  $('#launch_instance_btn-button').click(function()
		  {
			$('#configParam').dialog('open');
			return false;
		  });
		  
		  $('#cancel_editfs').click(function() {
	 			$('#lusterFS_content').empty();
				$('#lusterFS_content').load('/hydracm/fstab');
		});
	} );
	</script>
<style type="text/css">
<!--
a:link {
	color: #003366;
}
-->
</style>
<table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; padding-top:15px;">
  <tr>
    <td width="30%" height="56" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="26%" height="56" align="left" valign="top" class="KeyTable" style="font-size:12px;">FS name :</td>
          <td width="27%" align="left" valign="top"><form id="form1" name="form1" method="post" action="">
              <label>
              <input type="text" name="textfield" id="textfield" style="width:100px;" />
              </label>
            </form></td>
          <td width="37%" align="left" valign="top"><span id="launch_instance_btn"><span class="first-child">
            <button type="button" id="launch_instance_btn-button">Advanced Options</button>
            </span></span></td>
        </tr>
      </table></td>
    <td width="70%" align="left" valign="top"><fieldset>
      <legend class="legendClass">
      <!--<a href="#"><img src="{{STATIC_URL}}images/close.png" class="closebutton"></a> | 
                &nbsp;avg <input name="" type="checkbox" value="" style="margin-top:5px;" />&nbsp;&nbsp;-->
      </legend>
      <table width="51%" border="0" cellspacing="1" cellpadding="0" bgcolor="#848484" class="fs">
        <tr class="greybgcol">
          <td width="25%" align="right" class="spaceright"><strong>File Used:</strong></td>
          <td class="spaceleft" width="17%" align="left"><div id="mdt_file"></div></td>
          <td width="32%" align="right" class="spaceright"><strong>Total Capacity:</strong></td>
          <td class="spaceleft" width="26%" align="left"><div id="total_capacity"></div></td>
        </tr>
        <tr class="greybgcol">
          <td class="spaceright" align="right"><div id="mdt_file"><strong>Inodes:</strong></div></td>
          <td class="spaceleft" align="left"><div id="inodes"></div></td>
          <td class="spaceright" align="right"><div id="total_capacity"><strong>Total no OSS:</strong></div></td>
          <td class="spaceleft" align="left"><div id="total_oss"></div></td>
        </tr>
        <tr class="greybgcol">
          <td class="spaceright" align="right">&nbsp;</td>
          <td class="spaceleft" align="left">&nbsp;</td>
          <td align="right" class="spaceright"><strong>Total no OST:</strong></td>
          <td class="spaceleft" align="left"><div id="total_ost"></div></td>
        </tr>
      </table>
      </fieldset></td>
  </tr>
  <tr>
    <td height="104" colspan="2" align="left" valign="top"><fieldset>
      <legend class="legendClass">Select MGT Configuration</legend>
      <div class="buttonspacer"> <span id="launch_instance_btn"><span class="first-child">
        <button type="button" id="btnExistingMGT">Select From Existing MGT</button>
        </span></span> <span id="launch_instance_btn"><span class="first-child">
        <button type="button" id="btnNewMGT">Create new MGT</button>
        </span></span></div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="createfs_mgt" width="100%">
        <thead>
          <tr>
            <th width="15%">Target Path</th>
            <th width="12%">Target Name</th>
            <th width="7%">Server Name</th>
            <th width="7%">Failover Partner</th>
          </tr>
        </thead>
        <tbody id="example_content">
        </tbody>
      </table>
      <div class="spacer"></div>
      </fieldset></td>
  </tr>
  <tr>
    <td height="109" colspan="2" align="left" valign="top"><fieldset>
      <legend class="legendClass">Select MDT Configuration</legend>
      <div class="buttonspacer"><span id="launch_instance_btn"><span class="first-child">
        <button type="button" id="btnNewMDT">Create new MDT</button>
        </span></span></div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="mdt" width="100%">
        <thead>
          <tr>
            <th width="15%">Target Path</th>
            <th width="12%">Target Name</th>
            <th width="7%">Server Name</th>
            <th width="7%">Failover Partner</th>
          </tr>
        </thead>
        <tbody id="mdt_content">
        </tbody>
      </table>
      <div class="spacer"></div>
      </fieldset></td>
  </tr>
  <tr>
    <td height="54" colspan="2" align="left" valign="top"><fieldset>
      <legend class="legendClass">Select OST Configuration</legend>
      <div class="buttonspacer"><span id="launch_instance_btn"><span class="first-child">
        <button type="button" id="btnNewOST">Create new OST</button>
        </span></span></div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="ost" width="100%">
        <thead>
          <tr>
            <th width="15%">Target Path</th>
            <th width="12%">Target Name</th>
            <th width="7%">Server Name</th>
            <th width="7%">Failover Partner</th>
          </tr>
        </thead>
        <tbody id="ost_content">
        </tbody>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="82%">&nbsp;</td>
          <td width="9%" align="right"><span id="launch_instance_btn2"><span class="first-child">
            <input type="submit" name="button2" id="button2" value="Create">
            </span></span></td>
          <td width="9%" align="left"><label> <span id="launch_instance_btn2"><span class="first-child">
            <input type="submit" name="button" id="cancel_editfs" value="Cancel">
            </span></span> </label></td>
        </tr>
      </table>
      <div class="spacer"></div>
      </fieldset></td>
  </tr>
</table>