<script language="javascript">
  $(document).ready(function() {
    // Loading the File system summary data in Table fs_summary_tbl
    // data is loaded in divs defined in table.    
    LoadFSData_EditFS();

    var target_table_elements = ['#mgt_configuration_view', '#ost', '#mdt'];
    $.each(target_table_elements, function(i, selector) {
      $(selector).dataTable( {
        bInfo: false,
        "bProcessing": true,
        "bJQueryUI": true,
        "bFilter": false,
        "bPaginate": false,
        "oLanguage": {
            "sEmptyTable": "No MGT to display"
        },
        "aoColumns": [
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtcenter', bSortable: false},
          { "sClass": 'txtcenter', bSortable: false}
        ]
      });
    });

    LoadTargets_EditFS($('#fs_id').val());
    // Create new OST button click handler. 
    fvc_button($("#new_ost_chooser"), {multi_select: true});
    $('#btnNewOST').click(function() {
      $('#new_ost_dialog').dialog('open');
      $('#new_ost_dialog').find('table').width("100%");
    });
    // Advance Options button click handler.
    $('#advance_opts').click(function()
    {
      GetConfigurationParam("",["FS","FSC"]);
    });
    //Load Pie Charts for a selected File system
    LoadFSGraph_EditFS( $("#fs_id").val());
  });
   $(document).ajaxComplete(function() {
      $('button.close').button({icons: {primary: 'ui-icon-closethick'}});
    });
</script>
<input type="hidden" id="fs" value="{{fs_name}}"/>
<input type="hidden" id="fs_id" value="{{fs_id}}"/>

<h2 class='section_header' id='edit_fs_title'>Filesystem <span id='fs_name'/></h2>

<div style='float:left;'>
  <table class='fs'>
    <tr>
      <th>Status:</th><td id='fs_status'></td>
    </tr>
    <tr>
      <th>MGS:</th><td id='mgs_name'></td>
    </tr>
    <tr>
      <th>MDS:</th><td id='mds_name'></td>
    </tr>
    <tr>
      <th>No. OST:</th><td id='ost_count'></td>
    </tr>
    <tr>
      <th>No. OSS:</th><td id='oss_count'></td>
    </tr>
    <tr>
      <th></th><td id='fs_alerts'></td>
    </tr>
  </table>
  <p>
    <button class='advanced' type="button" id="advance_opts">Advanced...</button>
  </p>
</div>

<div style='float:left; margin-left: 12px;'>
  <div id="editfs_space_usage"></div>
  <p align=center><span id="bytes_used"/>/<span id="bytes_total"/></p>
</div>
<div style='float:left; margin-left: 12px;'>
  <div id="editfs_inode_usage"></div>
  <p align=center><span id="inodes_used"/>/<span id="inodes_total"/>&nbsp;inodes</p>
</div>

<div style='clear:both;'></div>

<h2 class='section_header'>Management target</h2>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="mgt_configuration_view" width="100%">
  <thead>
    <tr>
      <th width="12%">Name</th>
      <th width="15%">Volume</th>
      <th width="7%">Primary&nbsp;server</th>
      <th width="7%">Failover&nbsp;server</th>
      <th width="12%">Started&nbsp;on</th>
      <th width='1%'></th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody id="example_content">
  </tbody>
</table>

<h2 class='section_header'>Metadata target</h2>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="mdt" width="100%">
  <thead>
    <tr>
      <th width="12%">Name</th>
      <th width="15%">Volume</th>
      <th width="7%">Primary&nbsp;server</th>
      <th width="7%">Failover&nbsp;server</th>
      <th width="12%">Started&nbsp;on</th>
      <th width='1%'></th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody id="mdt_content">
  </tbody>
</table>

<h2 class="section_header">Object store targets</h2>
<p><button class='add' type="button" id="btnNewOST">Create new OST</button></p>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="ost" width="100%">
  <thead>
    <tr>
      <th width="12%">Name</th>
      <th width="15%">Volume</th>
      <th width="7%">Primary&nbsp;server</th>
      <th width="7%">Failover&nbsp;server</th>
      <th width="12%">Started&nbsp;on</th>
      <th width='1%'></th>
      <th width='1%'></th>
    </tr>
  </thead>
  <tbody id="ost_content">
  </tbody>
</table>

<p align='right'>
  <a class='address_link button' href="filesystems">Back to filesystems</a>
</p>

</div>
