<script language="javascript">
  $(document).ready(function() {
    // Loading the File system summary data in Table fs_summary_tbl
    // data is loaded in divs defined in table.    
    LoadFSData_EditFS();
    //Edit fs view show MGT JQuery data table init()
    if (typeof oTable == 'undefined')
    {
      var oTable = $('#mgt_configuration_view').dataTable( {
        "bProcessing": true,
        "bJQueryUI": true,
        "bFilter": false,
        "bPaginate": false,
        "oLanguage": {
            "sEmptyTable": "No MGT to display"
        },
        "aoColumns": [
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtcenter' }
        ]
      });
    }
    else
    {
      oTable.fnClearTable();
      oTable.fnDraw();
    }
    //Edit fs view show MDT JQuery data table init()
    if (typeof oMgt == 'undefined')
    {
      var oMgt = $('#mdt').dataTable( {
        "bProcessing": true,
        "bJQueryUI": true,
        "bFilter": false,
        "bPaginate": false,
        "oLanguage": {
            "sEmptyTable": "No MDT to display"
        },
        "aoColumns": [
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtcenter' }
        ]
      } );
    }
    else
    {
      oMgt.fnClearTable();
      oMgt.fnDraw();
    }
    //Edit fs view show OST JQuery data table init()
    if (typeof oOst == 'undefined')
    {
      var oOst = $('#ost').dataTable( {
        "bProcessing": true,
        "bJQueryUI": true,
        "oLanguage": {
            "sEmptyTable": "No OST to display"
        },
        "aoColumns": [
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtcenter' }
        ]
      });
    }
    else
    {
      oOst.fnClearTable();
      oOst.fnDraw();
    }

    LoadTargets_EditFS($("#fs_id").val()); 
    // Create new OST button click handler. 
    $('#btnNewOST').click(function()
      {
      $('#newOST').dialog('open');
      SelectOST_EditFS();
      return false;
      });
    // Advance Options button click handler.
    $('#advance_opts').click(function()
    {
      $('#configParam').dialog('open');
       return false;
    });
    // Cancel button click handler for Edit FS view
    $('#cancel_editfs').click(function() {
       $('#lusterFS_content').empty();
      $('#lusterFS_content').load('/hydracm/fstab');
    });
    //Load Pie Charts for a selected File system
    LoadFSGraph_EditFS( $("#fs_id").val());
  });
   $(document).ajaxComplete(function() {
      $('button.close').button({icons: {primary: 'ui-icon-closethick'}});
    });
</script>
<input type="hidden" id="fs" value="{{fs_name}}"/>
<input type="hidden" id="fs_id" value="{{fs_id}}"/>

<div style="font-weight:bold;">
  <table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; padding-top:15px;">
    <tr>
      <td width="30%" height="138" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="26%" height="56" align="left" valign="top" class="KeyTable" style="font-size:12px;">FS name :</td>
            <td width="27%" align="left" valign="top"><form id="form1" name="form1" method="post" action="">
                <label>
                <input type="text" name="txtfsname" id="txtfsnameid" style="width:100px;" />
                </label>
              </form></td>
            <td width="37%" align="left" valign="top"><span id="launch_instance_btn"><span class="first-child">
              <button class='add' type="button" id="advance_opts">Options</button>
              </span></span></td>
          </tr>
        </table></td>
      <td width="36%" align="left" valign="top"><fieldset>
        <legend class="legendClass">
        </legend>
        <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#848484" class="fs" id="fs_summary_tbl">
          <tr class="greybgcol">
            <td width="25%" align="right" class="spaceright"><strong>Files Total:</strong></td>
            <td class="spaceleft" width="17%" align="left"><div id="mdt_file_used"></div></td>
            <td width="32%" align="right" class="spaceright"><strong>Total Capacity:</strong></td>
            <td class="spaceleft" width="26%" align="left"><div id="total_capacity"></div></td>
          </tr>
          <tr class="greybgcol">
            <td class="spaceright" align="right"><strong>Files Free:</strong></td>
            <td class="spaceleft" align="left"><div id="mdt_file_free"></div></td>
            <td class="spaceright" align="right"><strong>Total Free:</strong></td>
            <td class="spaceleft" align="left"><div id="total_free"></div></td>
          </tr>
          <tr class="greybgcol">
            <td class="spaceright" align="right"></td>
            <td class="spaceleft" align="left"></td>
            <td class="spaceright" align="right"><div id="total_capacity"><strong>Total no OSS:</strong></div></td>
            <td class="spaceleft" align="left"><div id="total_oss"></div></td>
          </tr>
          <tr class="greybgcol">
            <td class="spaceright" align="right">&nbsp;</td>
            <td class="spaceleft" align="left">&nbsp;</td>
            <td align="right" class="spaceright"><strong>Total no OST:</strong></td>
            <td class="spaceleft" align="left"><div id="total_ost"></div></td>
          </tr>
        </table>
        </fieldset></td>
      <td width="19%" align="center" valign="top"><div id="editfs_container2" class="round-table-editfs"></div></td>
      <td width="15%" align="left" valign="top"><div id="editfs_container3" class="round-table-editfs"></div></td>
    </tr>
    <tr>
      <td height="104" colspan="4" align="left" valign="top"><fieldset>
        <legend class="legendClass">MGT Configuration</legend>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="mgt_configuration_view" width="100%">
          <thead>
            <tr>
              <th width="12%">Name</th>
              <th width="15%">Volume</th>
              <th width="7%">Primary server</th>
              <th width="7%">Failover server</th>
              <th width="12%">Started on</th>
              <th width='10%'>Action</th>
            </tr>
          </thead>
          <tbody id="example_content">
          </tbody>
        </table>
        <div class="spacer"></div>
        </fieldset></td>
    </tr>
    <tr>
      <td height="109" colspan="4" align="left" valign="top"><fieldset>
        <legend class="legendClass">MDT Configuration</legend>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="mdt" width="100%">
          <thead>
            <tr>
              <th width="12%">Name</th>
              <th width="15%">Volume</th>
              <th width="7%">Primary server</th>
              <th width="7%">Failover server</th>
              <th width="12%">Started on</th>
              <th width='10%'>Action</th>
            </tr>
          </thead>
          <tbody id="mdt_content">
          </tbody>
        </table>
        <div class="spacer"></div>
        </fieldset></td>
    </tr>
    <tr>
      <td height="54" colspan="4" align="left" valign="top"><fieldset>
        <legend class="legendClass">OST Configuration</legend>
        <div class="buttonspacer">
          <span class="first-child">
            <button class='add' type="button" id="btnNewOST">Create new OST</button>
          </span>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="ost" width="100%">
          <thead>
            <tr>
              <th width="12%">Name</th>
              <th width="15%">Volume</th>
              <th width="7%">Primary server</th>
              <th width="7%">Failover server</th>
              <th width="12%">Started on</th>
              <th width='10%'>Action</th>
            </tr>
          </thead>
          <tbody id="ost_content">
          </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right" style="padding-top:5px;">
             <span class="first-child">
               <button class='close' type="button" id="cancel_editfs">Cancel</button>
             </span>
            </td>
          </tr>
        </table>
        <div class="spacer"></div>
        </fieldset></td>
    </tr>
  </table>
</div>
