<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="{{STATIC_URL}}css/clo_Base.css" type="text/css" />
<link href="{{STATIC_URL}}css/tabs.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tab_config_js.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.idTabs.min.js"></script>
<link href="{{STATIC_URL}}css/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cm-json_table_data.js"></script>
<link href="{{STATIC_URL}}css/demo_page.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/demo_table.css" rel="stylesheet" type="text/css" />
<script>
	$(document).ready(function() {
		LoadFSList_FSList();
		$('#name').keyup( function() { oTable.fnDraw(); } );
		var oTable = $('#example').dataTable( {
			"bProcessing": true,
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtright' },
				{ "sClass": 'txtright' },
				{ "sClass": 'txtright' },
				{ "sClass": 'txtright' },
				{ "sClass": 'txtcenter' }
			]
		} );
	} );
	</script>
</head>
<link rel="icon" href="{{STATIC_URL}}images/whamcloud.ico" />
<body>
<div class="buttonspacer"><span id="launch_instance_btn"><span class="first-child">
  <button type="button" id="launch_instance_btn-button" onclick="location.href='/hydracm/newfstab'">Create new Lustre File System</button>
  </span></span></div>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" class="cpanel-border" align="center">
  <tr>
    <td height="22" class="cpanel-header" style="line-height:0px">&nbsp;Luster Filesystem Configuration</td>
  </tr>
  <tr>
    <td align="left" valign="top"><!-- Data table starts here --->
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
          <tr>
            <th width="10%">Lustre FS Name</th>
            <th width="10%">MGS Name</th>
            <th width="10%">MDS Name</th>
            <th width="7%">No of OSS</th>
            <th width="7%">No of OST</th>
            <th width="5%">Used</th>
            <th width="5%">Free</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody id="example_content">
        </tbody>
      </table>
      <div class="spacer"></div>
      <!--- data table ends here -->
    </td>
  </tr>
</table>
</body>
</html>
