<script type='text/javascript'>
  $(document).ready(function() {
    //cm-json_table_data => load existing file system list
    LoadFSList_FSList();
    
    $('#name').keyup( function() { oTable.fnDraw(); } );
    // List File system JQuery Data Table init()
      var oTable = $('#fs_list').dataTable( {
        "bProcessing": true,
        "bJQueryUI": true,
        "bAutoWidth":false,
        "oLanguage": {
            "sEmptyTable": "No filesystems"
        },
        bPaginate: false,
        bFilter: false,
        bInfo: false,
        "aoColumns": [
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtleft' },
          { "sClass": 'txtright' },
          { "sClass": 'txtright' },
          { "sClass": 'txtright' },
          { "sClass": 'txtright' },
          { "sClass": 'txtcenter' }
        ]
      });
    //Create New FS button click handler      
    $('#create_new_fs').click(function() {
      $('#lustreFS_content').empty();
      $('#lustreFS_content').load('/hydracm/newfstab/');
    });
  });
</script>

<h2 class='section_header'>Filesystem Configuration</h2>
<p>
  <button class='add' type="button" id="create_new_fs">New filesystem...</button>
</p>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="fs_list" width="100%">
  <thead>
    <tr>
      <th width="9%">FS Name</th>
      <th width="10%">MGS Name</th>
      <th width="10%">MDS Name</th>
      <th width="9%">No of OSS</th>
      <th width="9%">No of OST</th>
      <th width="5%">Total</th>
      <th width="5%">Free</th>
      <th width="17%">Action</th>
    </tr>
  </thead>
  <tbody id="example_content">
  </tbody>
</table>
