<script>
  $(document).ready(function() {
    //cm-json_table_data => load existing MGT list. 
    LoadMGTConfiguration_MGTConf();

    // List Existing MGT JQuery Table init()
    var oMgtConfiguration = $('#mgt_configuration').dataTable( {
      bPaginate: false,
      bFilter: false,
      bInfo: false,
      "bProcessing": true,
      "bJQueryUI": true,
      "bDestory": true,
      "oLanguage": {
          "sEmptyTable": "No MGT to display"
      },
      "aoColumns": [
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtcenter' },
        { "sClass": 'txtleft', bSortable: false}
      ]
    } );

    $('#btnNewMGT').attr('disabled', true);
    fvc_button($('#new_mgt_chooser'), {
      change: function() {
        var val = fvc_get_value($('#new_mgt_chooser'));
        $('#btnNewMGT').button('option', 'disabled', val == null);
      }
    });

    $('#btnNewMGT').click(function(){
      CreateMGT(fvc_get_value($('#new_mgt_chooser')), function() {
        console.log('callback');
        fvc_clear($('#new_mgt_chooser'));
        LoadMGTConfiguration_MGTConf();
      })
    });
    
  });
</script>

<h2 class='section_header'>MGT Configuration</h2>
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="mgt_configuration" width="100%">
    <thead>
      <tr>
        <th width='19%' class="blueheader" bgcolor="#990000">Filesystems</th>
        <th width='15%'>Volume</th>
        <th width='15%'>Primary server</th>
        <th width='15%'>Failover server</th>
        <th width='15%'>Started on</th>
        <th width='21%'></th>
        <th width='1%'></th>
      </tr>
    </thead>
    <tbody id="mgt_configuration_content">
    </tbody>
  </table>
<h2 class='section_header'>New MGT</h2>
<button id='new_mgt_chooser'></button>
<button type="button" class='add' id="btnNewMGT">Create new MGT</button>
