<script>
	$(document).ready(function() {
		LoadMGTConfiguration_MGTConf();
		CreateMGT_MGTConf();
		var oNewMgt = $('#mgt_configuration').dataTable( {
      bPaginate: false,
      bFilter: false,
      bInfo: false,
			"bProcessing": true,
			"bJQueryUI": true,
			"oLanguage": {
					"sEmptyTable": "No MGT to display"
			},
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtcenter' }
			]
		} );
		
		var oNewOst = $('#popup-new-ost').dataTable( {
			"bProcessing": true,
			"bJQueryUI": true,
			"oLanguage": {
					"sEmptyTable": "No OST to display"
			},
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' }
			]
		} );
		
		// Dialog Link
 		('#mgtConfig_btnNewMGT').click(function()
		{
			$('#mgtConfig_newMGT').dialog('open');
		    return false;
		});
	} );
	
	</script>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:15px;">
  <tr>
    <td width="100%" height="68" align="left" valign="top"><fieldset>
      <legend class="legendClass">MGT Configuration</legend>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="mgt_configuration" width="100%">
        <thead>
          <tr>
            <th width='19%' class="blueheader" bgcolor="#990000">Filesystem</th>
            <th width='20%'>Target Path</th>
            <th width='20%'>Server Name</th>
            <th width='19%'>Failover</th>
            <th width='21%'>Action</th>
          </tr>
        </thead>
        <tbody id="mgt_configuration_content">
        </tbody>
      </table>
      <div class="spacer"></div>
      </fieldset></td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td height="124" align="left" valign="middle"><fieldset>
      <legend class="legendClass">Select Target</legend>
      <div class="buttonspacer"><span id="launch_instance_btn"><span class="first-child">
        <button type="button" id="mgtConfig_btnNewMGT">Create new MGT</button>
        </span></span></div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="popup-new-ost" width="100%">
        <thead>
          <tr>
            <th width="9%">Select</th>
            <th width="15%">Target Path</th>
            <th width="15%">Server Name</th>
            <th width="19%">Failover</th>
            <th width="13%">Capacity</th>
            <th width="17%">Status</th>
          </tr>
        </thead>
        <tbody id="popup-new-ost_content">
        </tbody>
      </table>
      </fieldset></td>
  </tr>
</table>
<!-- exsting mgt popup -->
