<script>
	$(document).ready(function() {
		LoadServerConf_ServerConfig();
		var oNewMgt = $('#server_configuration').dataTable( {
			"bProcessing": true,
			"bJQueryUI": true,
			"bAutoWidth":false,
			"aoColumns": [
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtleft' },
				{ "sClass": 'txtcenter' },
				{ "sClass": 'txtcenter' },
				{ "sClass": 'txtcenter' },
			]
		} );
		
		 $('#btnAddNewHost').click(function()
 		 {
    		$('#addNewHost').dialog('open');
  		 });
	} );	
	</script>
</head>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:15px;">
  <tr>
    <td width="100%" height="152" align="left" valign="top"><fieldset>
      <legend class="legendClass"> MGT Configuration </legend>
      <div class="buttonspacer"><span class="first-child">
        <button type="button" id="btnAddNewHost">Add/Host Server</button>
        </span></span></div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="server_configuration" width="100%">
        <thead>
          <tr>
            <th width="20%">Server Name</th>
            <th width="15%">Fail Node</th>
            <th width="12%">Status</th>
            <th width="18%">Lnet Status</th>
            <th width="35%"></th>
          </tr>
        </thead>
        <tbody id="server_configuration_content">
        </tbody>
      </table>
      <div class="spacer"></div>
      </fieldset></td>
  </tr>
  <tr>
    <td height="21" align="right" valign="top"><label></label></td>
  </tr>
</table>
<!-- exsting mgt popup -->
