<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/server_configuration.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/server_configuration.js"/>
<script>
  $(document).ready(function() {
    //cm-json_table_data => load server list
    LoadServerConf_ServerConfig();
    // Server JQuery Data table init()
    var oServer_Configuration = $('#server_configuration').dataTable( {
      "bProcessing": true,
      "bJQueryUI": true,
      "bAutoWidth":false,
      "oLanguage": {
          "sEmptyTable": "No Servers to display"
      },
      "aoColumns": [
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtcenter' },
        { "sClass": 'txtcenter' },
        { "sClass": 'txtcenter', bSortable: false},
      ]
    } );
    $('#btnAddNewHost').click(function()
    {
      $('#add_host_dialog').dialog('open');
    });
  } );  
  </script>
</head>

<h2 class='section_header'>Server configuration</h2>
<div class="buttonspacer"><span class="first-child">
  <button class='add' type="button" id="btnAddNewHost">Add Server</button>
  </span></span></div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="server_configuration" width="100%">
  <thead>
    <tr>
      <th width="28%">Server Name</th>
      <th width="20%">Fail Node</th>
      <th width="12%">Status</th>
      <th width="40%"></th>
      <th width="2%"></th>
    </tr>
  </thead>
  <tbody id="server_configuration_content">
  </tbody>
</table>

<div id="add_host_dialog">
    <div id="add_host_tabs">
        <ul style="display:none;">
            <li><a href="#add_host_prompt">foo</a></li>
            <li> <a href="#add_host_loading">foo</a></li>
            <li> <a href="#add_host_confirm">foo</a></li>
            <li> <a href="#add_host_complete">foo</a></li>
            <li> <a href="#add_host_error">foo</a></li>
        </ul>
    <div id="add_host_prompt">
        <form style="margin-bottom:0px;">
            <label style="margin-right: 6px;" for='add_host_address'>Hostname:</label><input style="width:100%;" type='entry' id='add_host_address'/>
            <div style="text-align: right;">
                <a style="margin-top: 6px;" class="add_host_submit_button" type='submit'>Continue</a>
            </div>
        </form>
    </div>
    <div id="add_host_loading">
        <img src='{{STATIC_URL}}/images/ajax-loader.gif'/>
        <span class='loading_placeholder'>Checking connectivity...</span>
    </div>
    <div id='add_host_confirm'>
        <p style="margin-bottom: 0px;margin-top:0px;">Host: <span style="font-weight: bold;" id="add_host_address_label"></span></p>
        <table style="margin-bottom: 6px;">
            <tr><td>Resolve: </td>     <td id="add_host_resolve">&nbsp;</td></tr>
            <tr><td>Ping: </td>        <td id="add_host_ping">&nbsp;</td></tr>
            <tr><td>Invoke agent: </td><td id="add_host_agent">&nbsp;</td></tr>
        </table>
        <a href="#" class="add_host_back_button">Back</a>
        <a href="#" class="add_host_confirm_button">Confirm</a>
    </div>
    <div id='add_host_complete'>
        <p>Host added.</p>
        <a href='#' class="add_host_close_button">Close</a>
        <a href='#' class="add_host_back_button">Add another</a>
    </div>
    <div id='add_host_error'>
        <p style="margin-bottom: 6px;"><span style='font-weight: bold;' id="add_host_error_message"></span></p>
        <a href='#' class="add_host_back_button">Back</a>
    </div>
    </div>
</div>
