
<script type='text/javascript'>
    /* Populate table of storage resources */
    var resourceTable = null;
    function load_resource_table() {
        var selected = $('#resource_class_select option:selected').val()
        var tokens = selected.split(",")
        var module_name = tokens[0]
        var class_name = tokens[1]

        console.log("Loading resources...");
        $.get("/api/get_resources/", {'module_name': module_name, 'class_name': class_name})
         .success(function(data, textStatus, jqXHR) {
            if (data.success) {
                console.log("... done loading resources...");
                if (resourceTable) {
                    resourceTable.fnDestroy();
                    resourceTable = null;
                    $('#resource_table').html("")
                } 
                data.response.aoColumns.push({mDataProp: '_alert_markup', sWidth: "1%", bSortable: false})
                for (var i=0, iLen=data.response.aaData.length; i<iLen; i++) {
                  data.response.aaData[i]._alert_markup = alert_indicator_markup(
                    data.response.aaData[i].id, data.response.aaData[i].content_type_id); 
                }
                resourceTable = $('#resource_table').dataTable({
                    "bJQueryUI": true,
                    "bPaginate": true,
                    "bAutoWidth": false,
                    "aaData": data.response['aaData'],
                    "iDisplayLength":25,
                    "aoColumns": data.response['aoColumns'],
                    fnInitComplete: function(oSettings) {
                      for (var i=0, iLen=oSettings.aoData.length; i<iLen; i++) {
                        if (oSettings.aoData[i]._aData._alerts.length > 0) {
                          oSettings.aoData[i].nTr.className += " resource_alert";
                        }
                      }
                    }
                }); 

                $('#resource_table tbody tr').live('click', function() {
                    var aPos = resourceTable.fnGetPosition(this);
                    var data = resourceTable.fnGetData(aPos);
                    var resource_record_id = data.id
                });
            }
        });
    }

    $(document).ready(function() {
        $('#resource_class_select').change(function() {
            load_resource_table();
        });
        /* Initial population of dropdown of resource classes */
        $.get('/api/get_resource_classes/').success(function(data, textStatus, jqXHR) {
            if (data.success) {
                var response = data.response;
                options = ""
                $.each(response.options, function(i, res_class_pair) {
                    options += "<option value='" + res_class_pair[0] + "'>" + res_class_pair[1] + "</option>"
                });
                $('#resource_class_select').html(options);

                /* Select the default resource class */
                $('#resource_class_select option[value="' + response.default + '"]').attr('selected', 'selected');

                /* Initial population of table once we know our default-selected class */
                load_resource_table();
            }
        });

    });
</script>


<h2 class='section_header'>Storage resources</h2>
<p><button class='add storage_resource_create_link'>Add storage device...</button></p>
<p>Filter: <select id='resource_class_select'></select>&nbsp;</p>
<table class='display tight_lines' id='resource_table' width="100%">
</table>
