<script>
  $(document).ready(function() {
    //cm-json_table_data = > load list of unused luns 
    LoadUnused_VolumeConf();
    //Volume JQuery data table init()
    var oVolumeConfiguration = $('#volume_configuration').dataTable( {
      "bProcessing": true,
      "bJQueryUI": true,
      iDisplayLength: 25,
      "oLanguage": {
          "sEmptyTable": "No Volumes to display"
      },
      "aoColumns": [
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtright' },
        { "sClass": 'txtright' }
      ]
    });
  });
</script>
</head>
<h2 class='section_header'>Volume configuration</h2>
<table class="display tight_lines" id="volume_configuration" width="100%">
  <thead>
    <tr>
      <th width="19%">Name</th>
      <th width="15%">Primary server</th>
      <th width="19%">Failover server</th>
      <th width="17%">Size</th>
      <th width="17%">Status</th>
    </tr>
  </thead>
  <tbody id="volume_configuration_content">
  </tbody>
</table>
