<script>
  $(document).ready(function() {
    //cm-json_table_data = > load list of unused luns 
    LoadUnused_VolumeConf();
    //Volume JQuery data table init()
    var oVolumeConfiguration = $('#volume_configuration').dataTable( {
      "bProcessing": true,
      "bJQueryUI": true,
      iDisplayLength: 25,
      "oLanguage": {
          "sEmptyTable": "No Volumes to display"
      },
      "aoColumns": [
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtleft' },
        { "sClass": 'txtright' },
        { "sClass": 'txtright' },
        { "sClass": 'txtright', "bVisible": false },
        { "sClass": 'txtright', "bVisible": false },
      ]
    });

	$("#btnApplyConfig").click(function ()
	{
	    var oSetting = $('#volume_configuration').dataTable().fnSettings();
	    var confirmation_markup = "This action will have the following consequences: <br /><br />";
	    var api_params;
	    for (var i=1, iLen=oSetting.aoData.length; i<iLen; i++) 
		{
		  var ids = oSetting.aoData[i]._aData[6].split("value=")[1].substring(0,oSetting.aoData[i]._aData[6].split("value=")[1].length-1);
	      if(oSetting.aoData[i]._aData[5] != ids)
		  {
			api_params = {
			  lun_ids: ids.split("_")[0],
			  primary_host_ids: ids.split("_")[1],
			  secondary_host_ids: ids.split("_")[2],
			};

			confirmation_markup += "- Volume configuration change for "+oSetting.aoData[i]._aData[0]+"<br />";
		  }
		}

		save_primary_failover_server(confirmation_markup, api_params);
	});

	$('select[id *="_host"]').live('change', function ()
    {
	  var id = $(this).attr("id").split("_")[2];
	  var oSetting = $('#volume_configuration').dataTable().fnSettings();
	  for (var i=1, iLen=oSetting.aoData.length; i<iLen; i++)
	  {
	    var s1 = "id='"+id+"'";
	    var s2 = oSetting.aoData[i]._aData[6];
	    var spl = oSetting.aoData[i]._aData[6].split("value=")[1].substring(0,oSetting.aoData[i]._aData[6].split("value=")[1].length-1);
	    var arr = spl.split("_");
	    if(s2.indexOf(s1) > 0)
	    {
		    if($(this).attr("id").indexOf("primary_host") == 0)
		      arr[1] = $(this).val();
		    else
		      arr[2] = $(this).val();
		    
		    oSetting.aoData[i]._aData[6] = "<input type='text' id='"+id+"' value="+arr.join("_")+">";
		}
      }
	});
  });
</script>
</head>
<h2 class='section_header'>Volume configuration</h2>
<table class="display tight_lines" id="volume_configuration" width="100%">
  <thead>
    <tr>
      <th width="19%">Name</th>
      <th width="15%">Primary server</th>
      <th width="19%">Failover server</th>
      <th width="17%">Size</th>
      <th width="17%">Status</th>
      <th style="display:hidden"></th>
      <th style="display:hidden"></th>
    </tr>
  </thead>
  <tbody id="volume_configuration_content">
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>
<div align="right">
	<button type="button" id="btnApplyConfig">Apply</button>
	<button type="button" id="btnCancelConfig">Cancel</button>
</div>
