<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hydra Configuration</title>
<link rel="stylesheet" href="{{STATIC_URL}}css/clo_Base.css" type="text/css" />
<link href="{{STATIC_URL}}css/tabs.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tab_config_js.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cm-json_table_data.js"></script>
<link href="{{STATIC_URL}}css/demo_page.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/demo_table.css" rel="stylesheet" type="text/css" />
<script>
	$(document).ready(function() {
		loadUnusedVolumeList();
		var oNewMgt = $('#volume_configuration').dataTable( {
			"bProcessing": true,
		} );
	} );
	
	</script>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%" height="152" align="left" valign="top"><fieldset>
      <legend class="legendClass"> MGT Configuration </legend>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="volume_configuration" width="100%">
        <thead>
          <tr>
            <th width='16%'>Name</th>
            <th width='5%'>Size</th>
            <th width='8%'>Kind</th>
            <th width='8%'>Status</th>
            <th width='17%'>Primary server</th>
            <th width='16%'>Secondary server</th>
          </tr>
        </thead>
        <tbody id="volume_configuration_content">
        </tbody>
      </table>
      <div class="spacer"></div>
      </fieldset></td>
  </tr>
  <tr>
    <td height="21" align="right" valign="top"><table width="13%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right"><span id="launch_instance_btn"><span class="first-child">
            <button type="button" id="mgtConfig_btnNewMGT">Apply</button>
            </span></span></td>
          <td align="left"><span id="launch_instance_btn"><span class="first-child">
            <button type="button" id="mgtConfig_btnNewMGT">Cancel</button>
            </span></span></td>
        </tr>
      </table>
      <label></label></td>
  </tr>
</table>
<!-- exsting mgt popup -->
</body>
</html>
