[Unit]
Description=EMF Agent Daemon
After=network.target
After=device-scanner.target
PartOf=emf-storage-server.target

[Service]
Type=simple
ExecStart=/usr/bin/chroma-agent-daemon
EnvironmentFile=/etc/emf/manager-url.conf
EnvironmentFile=-/etc/emf/overrides.conf
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
WantedBy=emf-storage-server.target
