
<div class="modal-header">
  <h3 class="modal-title">NID Configuration for {{ configureLnet.host.nodename }}</h3>
</div>
<div class="modal-body">
  <div ng-if="configureLnet.message" class="alert alert-info">
    {{ configureLnet.message }} <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div ng-if="configureLnet.host.member_of_available_filesystem" class="alert alert-info">
    <i class="fa fa-info-sign"></i> To edit this NID configuration, ensure this host is not a member of an active file system.
  </div>
  <div ng-if="!configureLnet.resolved" class="well loading">
    Loading... <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div ng-if="configureLnet.resolved" class="well">
    <table class="table">
      <thead>
        <tr>
          <th>Interface</th>
          <th>IP Address</th>
          <th>Lustre Network</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="networkInterface in configureLnet.networkInterfaces | orderBy:'name' track by networkInterface.id">
          <td>{{ networkInterface.name }}</td>
          <td>{{ networkInterface.inet4_address }}</td>
          <td ng-if="configureLnet.host.member_of_available_filesystem">{{ networkInterface.nid.lnd_network }}</td>
          <td ng-if="!configureLnet.host.member_of_available_filesystem" ng-class="configureLnet.getDiff(networkInterface).type">
            <select
              ng-model="networkInterface.nid.lnd_network"
              ng-change="configureLnet.onChange(networkInterface)"
              ng-options="option.value as option.name for option in configureLnet.options | removeUsedLnetOptions:configureLnet.networkInterfaces:networkInterface"
            ></select>
            <a ng-if="configureLnet.getDiff(networkInterface) != null" class="clean-record" ng-click="configureLnet.clean(networkInterface)" tooltip="{{ configureLnet.getDiff(networkInterface).type + '_diff' | insertHelp : configureLnet.getDiff(networkInterface).params }}">
              <i class="fa fa-times-circle"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <div class="save-button btn-group" dropdown ng-if="!configureLnet.host.member_of_available_filesystem">
    <button type="button" ng-click="configureLnet.save()" class="btn btn-success" ng-disabled="configureLnet.message">Save <i class="fa" ng-class="{'fa-spinner fa-spin': configureLnet.message, 'fa-check-circle-o': !configureLnet.message }"></i></button>
    <button type="button" class="btn btn-success dropdown-toggle" ng-disabled="configureLnet.message">
      <span class="caret"></span>
      <span class="sr-only">Split button</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-click="configureLnet.save(true)">Save and skip command view</a></li>
    </ul>
  </div>
  <button ng-click="configureLnet.close()" class="btn btn-danger" ng-disabled="configureLnet.message">Close <i class="fa fa-times-circle-o"></i></button>
</div>
